<a href="https://colab.research.google.com/github/mooglol/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
##### Begin Working Here #####

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-05 20:12:18--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.58M   804KB/s    in 28s

2019-09-05 20:12:46 (799 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22631049]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [53]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv('LoanStats_2018Q4.csv.zip', header=1, skipfooter=2)
df.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.000000,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.960000,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,23000,23000,23000.0,60 months,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.450000,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,8000,8000,8000.0,36 months,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.850000,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,32075,32075,32075.0,60 months,11.80%,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29228.12,29228.12,4940.280000,4940.28,2846.88,2093.40,0.0,0.0,0.0,Jul-2019,710.26,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,9600,9600,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8012.51,8012.51,2287.830000,2287.83,1587.49,700.34,0.0,0.0,0.0,Aug-2019,323.37,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,19969.40,19969.40,12893.260000,12893.26,10030.60,2862.66,0.0,0.0,0.0,Jul-2019,777.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,12000,12000,12000.0,60 months,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,10979.70,10979.70,1921.870000,1921.87,1020.30,901.57,0.0,0.0,0.0,Jul-2019,276.49,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df.shape

(128412, 144)

In [55]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
desc                                          128412
member_id                                     128412
url                                           128412
orig_projected_additional_accrued_interest    128386
hardship_type                                 128385
hardship_last_payment_amount                  128385
hardship_payoff_balance_amount                128385
hardship_reason                               128385
hardship_loan_status                          128385
hardship_dpd                                  128385
hardship_length                               128385
payment_plan_start_date                       128385
hardship_end_date                             128385
hardship_start_date                           128385
hardship_amount                               128385
deferral_term                                 128385
hardship_status                               128385
settlement_percentage                         128301
settlement_term                               128301
settlement_status                             128301
settlement_amount                             128301
settlement_date                               128301
debt_settlement_flag_date                     128301
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
next_pymnt_d                                   16123
mths_since_recent_inq                          16047
emp_length                                     11704
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
df = df.drop(columns=['id', 'member_id', 'desc', 'url'])

In [57]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,23000,23000,23000.0,60 months,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,8000,8000,8000.0,36 months,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.isnull().sum().sort_values(ascending=False)

orig_projected_additional_accrued_interest    128386
hardship_loan_status                          128385
hardship_dpd                                  128385
hardship_reason                               128385
hardship_status                               128385
deferral_term                                 128385
hardship_amount                               128385
hardship_start_date                           128385
hardship_end_date                             128385
payment_plan_start_date                       128385
hardship_length                               128385
hardship_type                                 128385
hardship_payoff_balance_amount                128385
hardship_last_payment_amount                  128385
settlement_percentage                         128301
debt_settlement_flag_date                     128301
settlement_status                             128301
settlement_date                               128301
settlement_amount                             128301
settlement_term                               128301
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
annual_inc_joint                              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
next_pymnt_d                                   16123
mths_since_recent_inq                          16047
emp_length                                     11704
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
out_prncp                                          0
total_rec_prncp                                    0
total_rec_late_fee                                 0
initial_list_status                                0
recoveries                                         0
total_acc                                          0
collection_recovery_fee                            0
last_pymnt_amnt                                    0
total_rec_int                                      0
loan_status                                        0
revol_bal                                          0
verification_status                                0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
home_ownership                                     0
annual_inc                                         0
issue_d                                            0
pub_rec                                            0
pymnt_plan                                         0
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
open_acc                                           0
collections_12_mths_ex_med                         0
inq_last_12m                                       0
policy_code                                        0
num_tl_90g_dpd_24m                                 0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_30dpd                                       0
num_tl_op_past_12m                                 0
application_type                                   0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
hardship_flag                                      0
debt_settlement_flag                               0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
loan_amnt                                          0
dtype: int64

In [0]:
def remove_percent_to_float(string):
  return float(string.strip('%'))

In [0]:
df['int_rate'] = pd.Series([remove_percent_to_float(item) for item in list (df['int_rate'])])

In [61]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,23000,23000,23000.0,60 months,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,8000,8000,8000.0,36 months,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [64]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,23000,23000,23000.0,60 months,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,8000,8000,8000.0,36 months,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
def remove_month_to_int(string):
  return int(string.strip('months'))

In [0]:
df['term'] = pd.Series([remove_month_to_int(item) for item in list (df['term'])])

In [67]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,4000,4000,4000.0,36,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,23000,23000,23000.0,60,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,8000,8000,8000.0,36,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                            int64
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [69]:
df['loan_status_is_great'] = True
df['loan_status_is_great']

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
30        True
31        True
32        True
33        True
34        True
35        True
36        True
37        True
38        True
39        True
40        True
41        True
42        True
43        True
44        True
45        True
46        True
47        True
48        True
49        True
50        True
51        True
52        True
53        True
54        True
55        True
56        True
57        True
58        True
59        True
60        True
61        True
62        True
63        True
64        True
65        True
66        True
67        True
68        True
69        True
70        True
71        True
72        True
73        True
74        True
75        True
76        True
77        True
78        True
79        True
80        True
81        True
82        True
83        True
84        True
85        True
86        True
87        True
88        True
89        True
90        True
91        True
92        True
93        True
94        True
95        True
96        True
97        True
98        True
99        True
100       True
101       True
102       True
103       True
104       True
105       True
106       True
107       True
108       True
109       True
110       True
111       True
112       True
113       True
114       True
115       True
116       True
117       True
118       True
119       True
120       True
121       True
122       True
123       True
124       True
125       True
126       True
127       True
128       True
129       True
130       True
131       True
132       True
133       True
134       True
135       True
136       True
137       True
138       True
139       True
140       True
141       True
142       True
143       True
144       True
145       True
146       True
147       True
148       True
149       True
150       True
151       True
152       True
153       True
154       True
155       True
156       True
157       True
158       True
159       True
160       True
161       True
162       True
163       True
164       True
165       True
166       True
167       True
168       True
169       True
170       True
171       True
172       True
173       True
174       True
175       True
176       True
177       True
178       True
179       True
180       True
181       True
182       True
183       True
184       True
185       True
186       True
187       True
188       True
189       True
190       True
191       True
192       True
193       True
194       True
195       True
196       True
197       True
198       True
199       True
200       True
201       True
202       True
203       True
204       True
205       True
206       True
207       True
208       True
209       True
210       True
211       True
212       True
213       True
214       True
215       True
216       True
217       True
218       True
219       True
220       True
221       True
222       True
223       True
224       True
225       True
226       True
227       True
228       True
229       True
230       True
231       True
232       True
233       True
234       True
235       True
236       True
237       True
238       True
239       True
240       True
241       True
242       True
243       True
244       True
245       True
246       True
247       True
248       True
249       True
          ...
128162    True
128163    True
128164    True
128165    True
128166    True
128167    True
128168    True
128169    True
128170    True
128171    True
128172    True
128173    True
128174    True
128175    True
128176    True
128177    True
128178    True
128179    True
128180    True
128181    True
128182    True
128183    True
128184    True
128185    True
128186    True
128187    True
128188    True
128189    True
128190    True
128191    True
128192    True
128193    True
128194    True
128195    True
128196    True
128197    True
128198    True
128199    True
128200    True
128201    True
128202    True
128203    True
128204    True
128205    True
128206    True
128207    True
128208    True
128209    True
128210    True
128211    True
128212    True
128213    True
128214    True
128215    True
128216    True
128217    True
128218    True
128219    True
128220    True
128221    True
128222    True
128223    True
128224    True
128225    True
128226    True
128227    True
128228    True
128229    True
128230    True
128231    True
128232    True
128233    True
128234    True
128235    True
128236    True
128237    True
128238    True
128239    True
128240    True
128241    True
128242    True
128243    True
128244    True
128245    True
128246    True
128247    True
128248    True
128249    True
128250    True
128251    True
128252    True
128253    True
128254    True
128255    True
128256    True
128257    True
128258    True
128259    True
128260    True
128261    True
128262    True
128263    True
128264    True
128265    True
128266    True
128267    True
128268    True
128269    True
128270    True
128271    True
128272    True
128273    True
128274    True
128275    True
128276    True
128277    True
128278    True
128279    True
128280    True
128281    True
128282    True
128283    True
128284    True
128285    True
128286    True
128287    True
128288    True
128289    True
128290    True
128291    True
128292    True
128293    True
128294    True
128295    True
128296    True
128297    True
128298    True
128299    True
128300    True
128301    True
128302    True
128303    True
128304    True
128305    True
128306    True
128307    True
128308    True
128309    True
128310    True
128311    True
128312    True
128313    True
128314    True
128315    True
128316    True
128317    True
128318    True
128319    True
128320    True
128321    True
128322    True
128323    True
128324    True
128325    True
128326    True
128327    True
128328    True
128329    True
128330    True
128331    True
128332    True
128333    True
128334    True
128335    True
128336    True
128337    True
128338    True
128339    True
128340    True
128341    True
128342    True
128343    True
128344    True
128345    True
128346    True
128347    True
128348    True
128349    True
128350    True
128351    True
128352    True
128353    True
128354    True
128355    True
128356    True
128357    True
128358    True
128359    True
128360    True
128361    True
128362    True
128363    True
128364    True
128365    True
128366    True
128367    True
128368    True
128369    True
128370    True
128371    True
128372    True
128373    True
128374    True
128375    True
128376    True
128377    True
128378    True
128379    True
128380    True
128381    True
128382    True
128383    True
128384    True
128385    True
128386    True
128387    True
128388    True
128389    True
128390    True
128391    True
128392    True
128393    True
128394    True
128395    True
128396    True
128397    True
128398    True
128399    True
128400    True
128401    True
128402    True
128403    True
128404    True
128405    True
128406    True
128407    True
128408    True
128409    True
128410    True
128411    True
Name: loan_status_is_great, Length: 128412, dtype: bool

In [70]:
df['loan_status_is_great'] = df['loan_status'].str.contains('Current|Fully Paid')
df['loan_status_is_great']

0          True
1          True
2         False
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
30         True
31         True
32         True
33         True
34         True
35         True
36         True
37         True
38         True
39         True
40         True
41         True
42         True
43         True
44         True
45         True
46         True
47         True
48         True
49         True
50         True
51         True
52         True
53         True
54         True
55         True
56         True
57         True
58        False
59         True
60         True
61         True
62         True
63         True
64         True
65         True
66         True
67         True
68         True
69         True
70         True
71         True
72         True
73         True
74         True
75         True
76         True
77         True
78         True
79         True
80         True
81         True
82        False
83         True
84         True
85         True
86         True
87         True
88         True
89         True
90         True
91         True
92         True
93         True
94         True
95         True
96         True
97         True
98         True
99         True
100        True
101        True
102        True
103        True
104        True
105        True
106        True
107        True
108        True
109        True
110        True
111        True
112       False
113        True
114        True
115        True
116        True
117        True
118        True
119        True
120        True
121        True
122        True
123        True
124        True
125        True
126        True
127        True
128        True
129        True
130        True
131        True
132        True
133        True
134        True
135       False
136        True
137        True
138        True
139        True
140        True
141        True
142        True
143        True
144       False
145        True
146        True
147        True
148        True
149        True
150        True
151        True
152        True
153        True
154        True
155        True
156        True
157        True
158        True
159        True
160        True
161        True
162        True
163        True
164        True
165        True
166        True
167        True
168        True
169        True
170        True
171        True
172        True
173        True
174        True
175        True
176        True
177        True
178        True
179        True
180        True
181        True
182        True
183        True
184        True
185       False
186        True
187        True
188        True
189        True
190        True
191        True
192        True
193        True
194        True
195        True
196        True
197        True
198        True
199        True
200        True
201        True
202        True
203        True
204        True
205        True
206        True
207        True
208        True
209        True
210        True
211       False
212        True
213        True
214        True
215        True
216        True
217        True
218       False
219        True
220        True
221        True
222        True
223        True
224        True
225        True
226        True
227        True
228        True
229        True
230        True
231        True
232        True
233        True
234        True
235        True
236        True
237        True
238        True
239        True
240        True
241        True
242        True
243        True
244        True
245        True
246        True
247        True
248        True
249        True
          ...
128162     True
128163     True
128164     True
128165     True
128166     True
128167     True
128168     True
128169     True
128170     True
128171     True
128172     True
128173     True
128174     True
128175     True
128176     True
128177     True
128178     True
128179     True
128180     True
128181     True
128182     True
128183     True
128184     True
128185     True
128186     True
128187     True
128188     True
128189     True
128190     True
128191     True
128192     True
128193    False
128194     True
128195     True
128196    False
128197     True
128198     True
128199     True
128200     True
128201     True
128202     True
128203    False
128204     True
128205     True
128206     True
128207     True
128208     True
128209     True
128210     True
128211     True
128212     True
128213     True
128214    False
128215     True
128216     True
128217     True
128218     True
128219     True
128220     True
128221     True
128222     True
128223     True
128224     True
128225     True
128226     True
128227    False
128228     True
128229     True
128230     True
128231     True
128232     True
128233     True
128234     True
128235     True
128236     True
128237     True
128238     True
128239     True
128240     True
128241     True
128242     True
128243    False
128244     True
128245     True
128246     True
128247    False
128248     True
128249     True
128250     True
128251     True
128252     True
128253     True
128254     True
128255     True
128256     True
128257     True
128258     True
128259     True
128260     True
128261     True
128262    False
128263     True
128264     True
128265     True
128266     True
128267     True
128268     True
128269     True
128270     True
128271     True
128272     True
128273     True
128274    False
128275     True
128276     True
128277     True
128278     True
128279     True
128280     True
128281     True
128282     True
128283    False
128284     True
128285     True
128286     True
128287     True
128288     True
128289     True
128290     True
128291     True
128292     True
128293    False
128294     True
128295     True
128296     True
128297     True
128298     True
128299     True
128300     True
128301     True
128302     True
128303     True
128304     True
128305     True
128306     True
128307     True
128308    False
128309    False
128310     True
128311     True
128312     True
128313     True
128314    False
128315     True
128316     True
128317     True
128318     True
128319    False
128320    False
128321     True
128322     True
128323     True
128324     True
128325     True
128326     True
128327     True
128328     True
128329     True
128330     True
128331     True
128332     True
128333     True
128334     True
128335     True
128336     True
128337    False
128338     True
128339     True
128340     True
128341     True
128342     True
128343     True
128344     True
128345     True
128346     True
128347     True
128348     True
128349     True
128350     True
128351     True
128352     True
128353     True
128354     True
128355     True
128356     True
128357     True
128358     True
128359     True
128360     True
128361     True
128362     True
128363     True
128364     True
128365     True
128366     True
128367     True
128368     True
128369     True
128370     True
128371     True
128372     True
128373     True
128374     True
128375     True
128376     True
128377     True
128378     True
128379     True
128380     True
128381     True
128382     True
128383     True
128384     True
128385     True
128386     True
128387     True
128388     True
128389    False
128390    False
128391     True
128392     True
128393     True
128394     True
128395     True
128396     True
128397     True
128398     True
128399     True
128400     True
128401     True
128402     True
128403     True
128404     True
128405     True
128406     True
128407    False
128408     True
128409     True
128410     True
128411     True
Name: loan_status_is_great, Length: 128412, dtype: bool

In [71]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,10000,10000,10000.0,36,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
1,4000,4000,4000.0,36,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
2,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,23000,23000,23000.0,60,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
4,8000,8000,8000.0,36,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True

In [0]:
df['loan_status_is_great'] = df['loan_status_is_great'].astype(int)

In [73]:
df.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,10000,10000,10000.0,36,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.000000,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,4000,4000,4000.0,36,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.960000,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0
3,23000,23000,23000.0,60,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.450000,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,8000,8000,8000.0,36,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.850000,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
5,32075,32075,32075.0,60,11.80,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29228.12,29228.12,4940.280000,4940.28,2846.88,2093.40,0.0,0.0,0.0,Jul-2019,710.26,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
6,9600,9600,9600.0,36,12.98,323.37,B,B5,Unknown,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8012.51,8012.51,2287.830000,2287.83,1587.49,700.34,0.0,0.0,0.0,Aug-2019,323.37,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
7,30000,30000,30000.0,60,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,19969.40,19969.40,12893.260000,12893.26,10030.60,2862.66,0.0,0.0,0.0,Jul-2019,777.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
8,2500,2500,2500.0,36,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
9,12000,12000,12000.0,60,13.56,276.49,C,C1,Unknown,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,10979.70,10979.70,1921.870000,1921.87,1020.30,901.57,0.0,0.0,0.0,Jul-2019,276.49,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1

In [74]:
df['last_pymnt_d']

0         Jul-2019
1         Jul-2019
2         Jun-2019
3         Jul-2019
4         Jul-2019
5         Jul-2019
6         Aug-2019
7         Jul-2019
8         May-2019
9         Jul-2019
10        Jul-2019
11        Jul-2019
12        Jul-2019
13        Jul-2019
14        Jul-2019
15        Aug-2019
16        Aug-2019
17        Jul-2019
18        Jul-2019
19        Apr-2019
20        Jul-2019
21        Jul-2019
22        Jul-2019
23        Jul-2019
24        Jul-2019
25        Jul-2019
26        Jul-2019
27        Jul-2019
28        Jul-2019
29        Jul-2019
30        Jul-2019
31        Aug-2019
32        Jul-2019
33        Jul-2019
34        Jul-2019
35        Jul-2019
36        Apr-2019
37        Jul-2019
38        Jul-2019
39        Jul-2019
40        Jul-2019
41        Jul-2019
42        Jul-2019
43        Jul-2019
44        Jul-2019
45        Jul-2019
46        Jul-2019
47        Aug-2019
48        Aug-2019
49        Jul-2019
50        Jul-2019
51        Jul-2019
52        Jul-2019
53        Jul-2019
54        Jul-2019
55        Jul-2019
56        Jul-2019
57        Jul-2019
58        Apr-2019
59        Jul-2019
60        Jul-2019
61        Jul-2019
62        Aug-2019
63        Jul-2019
64        Jul-2019
65        Jul-2019
66        Apr-2019
67        May-2019
68        Jul-2019
69        May-2019
70        Aug-2019
71        Jul-2019
72        Aug-2019
73        Jul-2019
74        Jul-2019
75        Aug-2019
76        Apr-2019
77        Aug-2019
78        Jul-2019
79        Jul-2019
80        Jul-2019
81        Feb-2019
82        Jul-2019
83        Jul-2019
84        Jul-2019
85        Jul-2019
86        Jul-2019
87        Jul-2019
88        Jul-2019
89        Aug-2019
90        Jul-2019
91        Aug-2019
92        Jul-2019
93        Aug-2019
94        Aug-2019
95        Aug-2019
96        Jul-2019
97        Aug-2019
98        Feb-2019
99        Jul-2019
100       Jul-2019
101       Jul-2019
102       Aug-2019
103       Aug-2019
104       Jul-2019
105       Aug-2019
106       Jul-2019
107       Jul-2019
108       Jul-2019
109       Jul-2019
110       Jul-2019
111       Jul-2019
112       Apr-2019
113       Jul-2019
114       Jul-2019
115       Aug-2019
116       Jul-2019
117       Jul-2019
118       Feb-2019
119       Jul-2019
120       Aug-2019
121       Jul-2019
122       Jul-2019
123       Jul-2019
124       Jul-2019
125       Jul-2019
126       Jul-2019
127       Jul-2019
128       Jul-2019
129       Aug-2019
130       Jul-2019
131       Jul-2019
132       Jul-2019
133       Jul-2019
134       Jul-2019
135       Apr-2019
136       Jul-2019
137       Jul-2019
138       May-2019
139       Feb-2019
140       Aug-2019
141       Jul-2019
142       Jul-2019
143       Jul-2019
144       Apr-2019
145       Jul-2019
146       Jul-2019
147       Aug-2019
148       Jul-2019
149       Jul-2019
150       Jul-2019
151       Jul-2019
152       Aug-2019
153       Jul-2019
154       Jul-2019
155       Aug-2019
156       Aug-2019
157       Apr-2019
158       Aug-2019
159       Jul-2019
160       Jul-2019
161       Aug-2019
162       Jul-2019
163       Aug-2019
164       Jul-2019
165       Jul-2019
166       Jul-2019
167       Jul-2019
168       Jul-2019
169       Aug-2019
170       Jul-2019
171       Jul-2019
172       Jul-2019
173       Jul-2019
174       Jul-2019
175       Jul-2019
176       Jul-2019
177       Jul-2019
178       Apr-2019
179       Jul-2019
180       Jul-2019
181       Jan-2019
182       Aug-2019
183       Aug-2019
184       Jul-2019
185       May-2019
186       Jul-2019
187       Apr-2019
188       Jul-2019
189       Jul-2019
190       Jul-2019
191       Aug-2019
192       Apr-2019
193       Jul-2019
194       Aug-2019
195       Jul-2019
196       Jul-2019
197       Jul-2019
198       Jul-2019
199       Jul-2019
200       May-2019
201       Jul-2019
202       Jul-2019
203       Jul-2019
204       Jul-2019
205       Jul-2019
206       Aug-2019
207       Jul-2019
208       Jul-2019
209       Aug-2019
210       Jul-2019
211       Jun-2019
212       Jul-2019
213       Apr-2019
214       Aug-2019
215       Jul-2019
216       May-2019
217       Jul-2019
218       Jul-2019
219       Jul-2019
220       Apr-2019
221       Apr-2019
222       Jul-2019
223       Jul-2019
224       Jul-2019
225       Aug-2019
226       Aug-2019
227       Jul-2019
228       Aug-2019
229       Jul-2019
230       Feb-2019
231       Aug-2019
232       Jul-2019
233       Jul-2019
234       Aug-2019
235       Aug-2019
236       Jul-2019
237       Jul-2019
238       Jul-2019
239       Jul-2019
240       Jul-2019
241       Aug-2019
242       Jul-2019
243       Jul-2019
244       Jul-2019
245       Aug-2019
246       May-2019
247       Jul-2019
248       Jul-2019
249       Jul-2019
            ...
128162    Aug-2019
128163    Aug-2019
128164    Aug-2019
128165    Jan-2019
128166    Aug-2019
128167    Aug-2019
128168    Aug-2019
128169    Aug-2019
128170    Aug-2019
128171    Aug-2019
128172    Aug-2019
128173    Aug-2019
128174    Aug-2019
128175    Aug-2019
128176    Aug-2019
128177    Aug-2019
128178    Aug-2019
128179    May-2019
128180    Aug-2019
128181    Aug-2019
128182    Aug-2019
128183    Aug-2019
128184    Aug-2019
128185    Aug-2019
128186    Aug-2019
128187    Aug-2019
128188    Aug-2019
128189    Aug-2019
128190    Aug-2019
128191    Aug-2019
128192    Aug-2019
128193    Aug-2019
128194    Aug-2019
128195    Aug-2019
128196         NaN
128197    Aug-2019
128198    Aug-2019
128199    Aug-2019
128200    Aug-2019
128201    Aug-2019
128202    Aug-2019
128203    Dec-2018
128204    Aug-2019
128205    Aug-2019
128206    Aug-2019
128207    Aug-2019
128208    Aug-2019
128209    Aug-2019
128210    Aug-2019
128211    Aug-2019
128212    Aug-2019
128213    Aug-2019
128214    Jun-2019
128215    Aug-2019
128216    Aug-2019
128217    Aug-2019
128218    Aug-2019
128219    Aug-2019
128220    Aug-2019
128221    Aug-2019
128222    Aug-2019
128223    Aug-2019
128224    Aug-2019
128225    Jul-2019
128226    Aug-2019
128227    Jul-2019
128228    Aug-2019
128229    Aug-2019
128230    Aug-2019
128231    Aug-2019
128232    Aug-2019
128233    Aug-2019
128234    Aug-2019
128235    Aug-2019
128236    Aug-2019
128237    Aug-2019
128238    Aug-2019
128239    Aug-2019
128240    Aug-2019
128241    Aug-2019
128242    Mar-2019
128243    Jun-2019
128244    Mar-2019
128245    Apr-2019
128246    Aug-2019
128247    Jan-2019
128248    Aug-2019
128249    Aug-2019
128250    Aug-2019
128251    Aug-2019
128252    Aug-2019
128253    Aug-2019
128254    Aug-2019
128255    Aug-2019
128256    Aug-2019
128257    Aug-2019
128258    Aug-2019
128259    Aug-2019
128260    Aug-2019
128261    Aug-2019
128262    Feb-2019
128263    Aug-2019
128264    Aug-2019
128265    Aug-2019
128266    Aug-2019
128267    Aug-2019
128268    May-2019
128269    Aug-2019
128270    Aug-2019
128271    Aug-2019
128272    Nov-2018
128273    Aug-2019
128274    Mar-2019
128275    Aug-2019
128276    Aug-2019
128277    Aug-2019
128278    Aug-2019
128279    Aug-2019
128280    May-2019
128281    Aug-2019
128282    Aug-2019
128283    Feb-2019
128284    Aug-2019
128285    Aug-2019
128286    Aug-2019
128287    Aug-2019
128288    Aug-2019
128289    Aug-2019
128290    Aug-2019
128291    Aug-2019
128292    Aug-2019
128293    Jan-2019
128294    Aug-2019
128295    Aug-2019
128296    Aug-2019
128297    Aug-2019
128298    Aug-2019
128299    Aug-2019
128300    Aug-2019
128301    Aug-2019
128302    Aug-2019
128303    Aug-2019
128304    Aug-2019
128305    Aug-2019
128306    Aug-2019
128307    Aug-2019
128308    Apr-2019
128309    Mar-2019
128310    Aug-2019
128311    Aug-2019
128312    Aug-2019
128313    Aug-2019
128314    Apr-2019
128315    Aug-2019
128316    Aug-2019
128317    Aug-2019
128318    Aug-2019
128319    Apr-2019
128320    Mar-2019
128321    Aug-2019
128322    Aug-2019
128323    Aug-2019
128324    Aug-2019
128325    Aug-2019
128326    Apr-2019
128327    Oct-2018
128328    Aug-2019
128329    Aug-2019
128330    Aug-2019
128331    Aug-2019
128332    Aug-2019
128333    Aug-2019
128334    Aug-2019
128335    Aug-2019
128336    Aug-2019
128337         NaN
128338    Aug-2019
128339    Aug-2019
128340    Aug-2019
128341    Aug-2019
128342    Aug-2019
128343    Aug-2019
128344    Aug-2019
128345    Aug-2019
128346    Aug-2019
128347    Aug-2019
128348    Aug-2019
128349    Aug-2019
128350    Mar-2019
128351    Jul-2019
128352    Aug-2019
128353    Aug-2019
128354    Aug-2019
128355    Sep-2019
128356    Aug-2019
128357    Aug-2019
128358    May-2019
128359    Aug-2019
128360    Aug-2019
128361    Sep-2019
128362    Aug-2019
128363    Aug-2019
128364    Aug-2019
128365    Aug-2019
128366    Aug-2019
128367    Jul-2019
128368    Aug-2019
128369    Aug-2019
128370    Aug-2019
128371    Nov-2018
128372    Aug-2019
128373    Aug-2019
128374    May-2019
128375    Aug-2019
128376    Aug-2019
128377    Aug-2019
128378    Aug-2019
128379    Aug-2019
128380    Aug-2019
128381    Aug-2019
128382    Aug-2019
128383    Aug-2019
128384    Aug-2019
128385    Aug-2019
128386    Aug-2019
128387    Aug-2019
128388    Aug-2019
128389    Mar-2019
128390    Jun-2019
128391    Jan-2019
128392    Aug-2019
128393    Aug-2019
128394    Aug-2019
128395    Aug-2019
128396    Aug-2019
128397    Aug-2019
128398    Aug-2019
128399    Aug-2019
128400    Aug-2019
128401    Aug-2019
128402    Aug-2019
128403    Aug-2019
128404    Apr-2019
128405    Aug-2019
128406    Aug-2019
128407    Dec-2018
128408    Aug-2019
128409    Aug-2019
128410    Aug-2019
128411    Aug-2019
Name: last_pymnt_d, Length: 128412, dtype: object

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [76]:
df['last_pymnt_d'].dt.month

0          7.0
1          7.0
2          6.0
3          7.0
4          7.0
5          7.0
6          8.0
7          7.0
8          5.0
9          7.0
10         7.0
11         7.0
12         7.0
13         7.0
14         7.0
15         8.0
16         8.0
17         7.0
18         7.0
19         4.0
20         7.0
21         7.0
22         7.0
23         7.0
24         7.0
25         7.0
26         7.0
27         7.0
28         7.0
29         7.0
30         7.0
31         8.0
32         7.0
33         7.0
34         7.0
35         7.0
36         4.0
37         7.0
38         7.0
39         7.0
40         7.0
41         7.0
42         7.0
43         7.0
44         7.0
45         7.0
46         7.0
47         8.0
48         8.0
49         7.0
50         7.0
51         7.0
52         7.0
53         7.0
54         7.0
55         7.0
56         7.0
57         7.0
58         4.0
59         7.0
60         7.0
61         7.0
62         8.0
63         7.0
64         7.0
65         7.0
66         4.0
67         5.0
68         7.0
69         5.0
70         8.0
71         7.0
72         8.0
73         7.0
74         7.0
75         8.0
76         4.0
77         8.0
78         7.0
79         7.0
80         7.0
81         2.0
82         7.0
83         7.0
84         7.0
85         7.0
86         7.0
87         7.0
88         7.0
89         8.0
90         7.0
91         8.0
92         7.0
93         8.0
94         8.0
95         8.0
96         7.0
97         8.0
98         2.0
99         7.0
100        7.0
101        7.0
102        8.0
103        8.0
104        7.0
105        8.0
106        7.0
107        7.0
108        7.0
109        7.0
110        7.0
111        7.0
112        4.0
113        7.0
114        7.0
115        8.0
116        7.0
117        7.0
118        2.0
119        7.0
120        8.0
121        7.0
122        7.0
123        7.0
124        7.0
125        7.0
126        7.0
127        7.0
128        7.0
129        8.0
130        7.0
131        7.0
132        7.0
133        7.0
134        7.0
135        4.0
136        7.0
137        7.0
138        5.0
139        2.0
140        8.0
141        7.0
142        7.0
143        7.0
144        4.0
145        7.0
146        7.0
147        8.0
148        7.0
149        7.0
150        7.0
151        7.0
152        8.0
153        7.0
154        7.0
155        8.0
156        8.0
157        4.0
158        8.0
159        7.0
160        7.0
161        8.0
162        7.0
163        8.0
164        7.0
165        7.0
166        7.0
167        7.0
168        7.0
169        8.0
170        7.0
171        7.0
172        7.0
173        7.0
174        7.0
175        7.0
176        7.0
177        7.0
178        4.0
179        7.0
180        7.0
181        1.0
182        8.0
183        8.0
184        7.0
185        5.0
186        7.0
187        4.0
188        7.0
189        7.0
190        7.0
191        8.0
192        4.0
193        7.0
194        8.0
195        7.0
196        7.0
197        7.0
198        7.0
199        7.0
200        5.0
201        7.0
202        7.0
203        7.0
204        7.0
205        7.0
206        8.0
207        7.0
208        7.0
209        8.0
210        7.0
211        6.0
212        7.0
213        4.0
214        8.0
215        7.0
216        5.0
217        7.0
218        7.0
219        7.0
220        4.0
221        4.0
222        7.0
223        7.0
224        7.0
225        8.0
226        8.0
227        7.0
228        8.0
229        7.0
230        2.0
231        8.0
232        7.0
233        7.0
234        8.0
235        8.0
236        7.0
237        7.0
238        7.0
239        7.0
240        7.0
241        8.0
242        7.0
243        7.0
244        7.0
245        8.0
246        5.0
247        7.0
248        7.0
249        7.0
          ...
128162     8.0
128163     8.0
128164     8.0
128165     1.0
128166     8.0
128167     8.0
128168     8.0
128169     8.0
128170     8.0
128171     8.0
128172     8.0
128173     8.0
128174     8.0
128175     8.0
128176     8.0
128177     8.0
128178     8.0
128179     5.0
128180     8.0
128181     8.0
128182     8.0
128183     8.0
128184     8.0
128185     8.0
128186     8.0
128187     8.0
128188     8.0
128189     8.0
128190     8.0
128191     8.0
128192     8.0
128193     8.0
128194     8.0
128195     8.0
128196     NaN
128197     8.0
128198     8.0
128199     8.0
128200     8.0
128201     8.0
128202     8.0
128203    12.0
128204     8.0
128205     8.0
128206     8.0
128207     8.0
128208     8.0
128209     8.0
128210     8.0
128211     8.0
128212     8.0
128213     8.0
128214     6.0
128215     8.0
128216     8.0
128217     8.0
128218     8.0
128219     8.0
128220     8.0
128221     8.0
128222     8.0
128223     8.0
128224     8.0
128225     7.0
128226     8.0
128227     7.0
128228     8.0
128229     8.0
128230     8.0
128231     8.0
128232     8.0
128233     8.0
128234     8.0
128235     8.0
128236     8.0
128237     8.0
128238     8.0
128239     8.0
128240     8.0
128241     8.0
128242     3.0
128243     6.0
128244     3.0
128245     4.0
128246     8.0
128247     1.0
128248     8.0
128249     8.0
128250     8.0
128251     8.0
128252     8.0
128253     8.0
128254     8.0
128255     8.0
128256     8.0
128257     8.0
128258     8.0
128259     8.0
128260     8.0
128261     8.0
128262     2.0
128263     8.0
128264     8.0
128265     8.0
128266     8.0
128267     8.0
128268     5.0
128269     8.0
128270     8.0
128271     8.0
128272    11.0
128273     8.0
128274     3.0
128275     8.0
128276     8.0
128277     8.0
128278     8.0
128279     8.0
128280     5.0
128281     8.0
128282     8.0
128283     2.0
128284     8.0
128285     8.0
128286     8.0
128287     8.0
128288     8.0
128289     8.0
128290     8.0
128291     8.0
128292     8.0
128293     1.0
128294     8.0
128295     8.0
128296     8.0
128297     8.0
128298     8.0
128299     8.0
128300     8.0
128301     8.0
128302     8.0
128303     8.0
128304     8.0
128305     8.0
128306     8.0
128307     8.0
128308     4.0
128309     3.0
128310     8.0
128311     8.0
128312     8.0
128313     8.0
128314     4.0
128315     8.0
128316     8.0
128317     8.0
128318     8.0
128319     4.0
128320     3.0
128321     8.0
128322     8.0
128323     8.0
128324     8.0
128325     8.0
128326     4.0
128327    10.0
128328     8.0
128329     8.0
128330     8.0
128331     8.0
128332     8.0
128333     8.0
128334     8.0
128335     8.0
128336     8.0
128337     NaN
128338     8.0
128339     8.0
128340     8.0
128341     8.0
128342     8.0
128343     8.0
128344     8.0
128345     8.0
128346     8.0
128347     8.0
128348     8.0
128349     8.0
128350     3.0
128351     7.0
128352     8.0
128353     8.0
128354     8.0
128355     9.0
128356     8.0
128357     8.0
128358     5.0
128359     8.0
128360     8.0
128361     9.0
128362     8.0
128363     8.0
128364     8.0
128365     8.0
128366     8.0
128367     7.0
128368     8.0
128369     8.0
128370     8.0
128371    11.0
128372     8.0
128373     8.0
128374     5.0
128375     8.0
128376     8.0
128377     8.0
128378     8.0
128379     8.0
128380     8.0
128381     8.0
128382     8.0
128383     8.0
128384     8.0
128385     8.0
128386     8.0
128387     8.0
128388     8.0
128389     3.0
128390     6.0
128391     1.0
128392     8.0
128393     8.0
128394     8.0
128395     8.0
128396     8.0
128397     8.0
128398     8.0
128399     8.0
128400     8.0
128401     8.0
128402     8.0
128403     8.0
128404     4.0
128405     8.0
128406     8.0
128407    12.0
128408     8.0
128409     8.0
128410     8.0
128411     8.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [82]:
df['last_pymnt_d_month']

0          7.0
1          7.0
2          6.0
3          7.0
4          7.0
5          7.0
6          8.0
7          7.0
8          5.0
9          7.0
10         7.0
11         7.0
12         7.0
13         7.0
14         7.0
15         8.0
16         8.0
17         7.0
18         7.0
19         4.0
20         7.0
21         7.0
22         7.0
23         7.0
24         7.0
25         7.0
26         7.0
27         7.0
28         7.0
29         7.0
30         7.0
31         8.0
32         7.0
33         7.0
34         7.0
35         7.0
36         4.0
37         7.0
38         7.0
39         7.0
40         7.0
41         7.0
42         7.0
43         7.0
44         7.0
45         7.0
46         7.0
47         8.0
48         8.0
49         7.0
50         7.0
51         7.0
52         7.0
53         7.0
54         7.0
55         7.0
56         7.0
57         7.0
58         4.0
59         7.0
60         7.0
61         7.0
62         8.0
63         7.0
64         7.0
65         7.0
66         4.0
67         5.0
68         7.0
69         5.0
70         8.0
71         7.0
72         8.0
73         7.0
74         7.0
75         8.0
76         4.0
77         8.0
78         7.0
79         7.0
80         7.0
81         2.0
82         7.0
83         7.0
84         7.0
85         7.0
86         7.0
87         7.0
88         7.0
89         8.0
90         7.0
91         8.0
92         7.0
93         8.0
94         8.0
95         8.0
96         7.0
97         8.0
98         2.0
99         7.0
100        7.0
101        7.0
102        8.0
103        8.0
104        7.0
105        8.0
106        7.0
107        7.0
108        7.0
109        7.0
110        7.0
111        7.0
112        4.0
113        7.0
114        7.0
115        8.0
116        7.0
117        7.0
118        2.0
119        7.0
120        8.0
121        7.0
122        7.0
123        7.0
124        7.0
125        7.0
126        7.0
127        7.0
128        7.0
129        8.0
130        7.0
131        7.0
132        7.0
133        7.0
134        7.0
135        4.0
136        7.0
137        7.0
138        5.0
139        2.0
140        8.0
141        7.0
142        7.0
143        7.0
144        4.0
145        7.0
146        7.0
147        8.0
148        7.0
149        7.0
150        7.0
151        7.0
152        8.0
153        7.0
154        7.0
155        8.0
156        8.0
157        4.0
158        8.0
159        7.0
160        7.0
161        8.0
162        7.0
163        8.0
164        7.0
165        7.0
166        7.0
167        7.0
168        7.0
169        8.0
170        7.0
171        7.0
172        7.0
173        7.0
174        7.0
175        7.0
176        7.0
177        7.0
178        4.0
179        7.0
180        7.0
181        1.0
182        8.0
183        8.0
184        7.0
185        5.0
186        7.0
187        4.0
188        7.0
189        7.0
190        7.0
191        8.0
192        4.0
193        7.0
194        8.0
195        7.0
196        7.0
197        7.0
198        7.0
199        7.0
200        5.0
201        7.0
202        7.0
203        7.0
204        7.0
205        7.0
206        8.0
207        7.0
208        7.0
209        8.0
210        7.0
211        6.0
212        7.0
213        4.0
214        8.0
215        7.0
216        5.0
217        7.0
218        7.0
219        7.0
220        4.0
221        4.0
222        7.0
223        7.0
224        7.0
225        8.0
226        8.0
227        7.0
228        8.0
229        7.0
230        2.0
231        8.0
232        7.0
233        7.0
234        8.0
235        8.0
236        7.0
237        7.0
238        7.0
239        7.0
240        7.0
241        8.0
242        7.0
243        7.0
244        7.0
245        8.0
246        5.0
247        7.0
248        7.0
249        7.0
          ...
128162     8.0
128163     8.0
128164     8.0
128165     1.0
128166     8.0
128167     8.0
128168     8.0
128169     8.0
128170     8.0
128171     8.0
128172     8.0
128173     8.0
128174     8.0
128175     8.0
128176     8.0
128177     8.0
128178     8.0
128179     5.0
128180     8.0
128181     8.0
128182     8.0
128183     8.0
128184     8.0
128185     8.0
128186     8.0
128187     8.0
128188     8.0
128189     8.0
128190     8.0
128191     8.0
128192     8.0
128193     8.0
128194     8.0
128195     8.0
128196     NaN
128197     8.0
128198     8.0
128199     8.0
128200     8.0
128201     8.0
128202     8.0
128203    12.0
128204     8.0
128205     8.0
128206     8.0
128207     8.0
128208     8.0
128209     8.0
128210     8.0
128211     8.0
128212     8.0
128213     8.0
128214     6.0
128215     8.0
128216     8.0
128217     8.0
128218     8.0
128219     8.0
128220     8.0
128221     8.0
128222     8.0
128223     8.0
128224     8.0
128225     7.0
128226     8.0
128227     7.0
128228     8.0
128229     8.0
128230     8.0
128231     8.0
128232     8.0
128233     8.0
128234     8.0
128235     8.0
128236     8.0
128237     8.0
128238     8.0
128239     8.0
128240     8.0
128241     8.0
128242     3.0
128243     6.0
128244     3.0
128245     4.0
128246     8.0
128247     1.0
128248     8.0
128249     8.0
128250     8.0
128251     8.0
128252     8.0
128253     8.0
128254     8.0
128255     8.0
128256     8.0
128257     8.0
128258     8.0
128259     8.0
128260     8.0
128261     8.0
128262     2.0
128263     8.0
128264     8.0
128265     8.0
128266     8.0
128267     8.0
128268     5.0
128269     8.0
128270     8.0
128271     8.0
128272    11.0
128273     8.0
128274     3.0
128275     8.0
128276     8.0
128277     8.0
128278     8.0
128279     8.0
128280     5.0
128281     8.0
128282     8.0
128283     2.0
128284     8.0
128285     8.0
128286     8.0
128287     8.0
128288     8.0
128289     8.0
128290     8.0
128291     8.0
128292     8.0
128293     1.0
128294     8.0
128295     8.0
128296     8.0
128297     8.0
128298     8.0
128299     8.0
128300     8.0
128301     8.0
128302     8.0
128303     8.0
128304     8.0
128305     8.0
128306     8.0
128307     8.0
128308     4.0
128309     3.0
128310     8.0
128311     8.0
128312     8.0
128313     8.0
128314     4.0
128315     8.0
128316     8.0
128317     8.0
128318     8.0
128319     4.0
128320     3.0
128321     8.0
128322     8.0
128323     8.0
128324     8.0
128325     8.0
128326     4.0
128327    10.0
128328     8.0
128329     8.0
128330     8.0
128331     8.0
128332     8.0
128333     8.0
128334     8.0
128335     8.0
128336     8.0
128337     NaN
128338     8.0
128339     8.0
128340     8.0
128341     8.0
128342     8.0
128343     8.0
128344     8.0
128345     8.0
128346     8.0
128347     8.0
128348     8.0
128349     8.0
128350     3.0
128351     7.0
128352     8.0
128353     8.0
128354     8.0
128355     9.0
128356     8.0
128357     8.0
128358     5.0
128359     8.0
128360     8.0
128361     9.0
128362     8.0
128363     8.0
128364     8.0
128365     8.0
128366     8.0
128367     7.0
128368     8.0
128369     8.0
128370     8.0
128371    11.0
128372     8.0
128373     8.0
128374     5.0
128375     8.0
128376     8.0
128377     8.0
128378     8.0
128379     8.0
128380     8.0
128381     8.0
128382     8.0
128383     8.0
128384     8.0
128385     8.0
128386     8.0
128387     8.0
128388     8.0
128389     3.0
128390     6.0
128391     1.0
128392     8.0
128393     8.0
128394     8.0
128395     8.0
128396     8.0
128397     8.0
128398     8.0
128399     8.0
128400     8.0
128401     8.0
128402     8.0
128403     8.0
128404     4.0
128405     8.0
128406     8.0
128407    12.0
128408     8.0
128409     8.0
128410     8.0
128411     8.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].astype(pd.Int32Dtype())

In [84]:
df['last_pymnt_d_month']

0           7
1           7
2           6
3           7
4           7
5           7
6           8
7           7
8           5
9           7
10          7
11          7
12          7
13          7
14          7
15          8
16          8
17          7
18          7
19          4
20          7
21          7
22          7
23          7
24          7
25          7
26          7
27          7
28          7
29          7
30          7
31          8
32          7
33          7
34          7
35          7
36          4
37          7
38          7
39          7
40          7
41          7
42          7
43          7
44          7
45          7
46          7
47          8
48          8
49          7
50          7
51          7
52          7
53          7
54          7
55          7
56          7
57          7
58          4
59          7
60          7
61          7
62          8
63          7
64          7
65          7
66          4
67          5
68          7
69          5
70          8
71          7
72          8
73          7
74          7
75          8
76          4
77          8
78          7
79          7
80          7
81          2
82          7
83          7
84          7
85          7
86          7
87          7
88          7
89          8
90          7
91          8
92          7
93          8
94          8
95          8
96          7
97          8
98          2
99          7
100         7
101         7
102         8
103         8
104         7
105         8
106         7
107         7
108         7
109         7
110         7
111         7
112         4
113         7
114         7
115         8
116         7
117         7
118         2
119         7
120         8
121         7
122         7
123         7
124         7
125         7
126         7
127         7
128         7
129         8
130         7
131         7
132         7
133         7
134         7
135         4
136         7
137         7
138         5
139         2
140         8
141         7
142         7
143         7
144         4
145         7
146         7
147         8
148         7
149         7
150         7
151         7
152         8
153         7
154         7
155         8
156         8
157         4
158         8
159         7
160         7
161         8
162         7
163         8
164         7
165         7
166         7
167         7
168         7
169         8
170         7
171         7
172         7
173         7
174         7
175         7
176         7
177         7
178         4
179         7
180         7
181         1
182         8
183         8
184         7
185         5
186         7
187         4
188         7
189         7
190         7
191         8
192         4
193         7
194         8
195         7
196         7
197         7
198         7
199         7
200         5
201         7
202         7
203         7
204         7
205         7
206         8
207         7
208         7
209         8
210         7
211         6
212         7
213         4
214         8
215         7
216         5
217         7
218         7
219         7
220         4
221         4
222         7
223         7
224         7
225         8
226         8
227         7
228         8
229         7
230         2
231         8
232         7
233         7
234         8
235         8
236         7
237         7
238         7
239         7
240         7
241         8
242         7
243         7
244         7
245         8
246         5
247         7
248         7
249         7
         ...
128162      8
128163      8
128164      8
128165      1
128166      8
128167      8
128168      8
128169      8
128170      8
128171      8
128172      8
128173      8
128174      8
128175      8
128176      8
128177      8
128178      8
128179      5
128180      8
128181      8
128182      8
128183      8
128184      8
128185      8
128186      8
128187      8
128188      8
128189      8
128190      8
128191      8
128192      8
128193      8
128194      8
128195      8
128196    NaN
128197      8
128198      8
128199      8
128200      8
128201      8
128202      8
128203     12
128204      8
128205      8
128206      8
128207      8
128208      8
128209      8
128210      8
128211      8
128212      8
128213      8
128214      6
128215      8
128216      8
128217      8
128218      8
128219      8
128220      8
128221      8
128222      8
128223      8
128224      8
128225      7
128226      8
128227      7
128228      8
128229      8
128230      8
128231      8
128232      8
128233      8
128234      8
128235      8
128236      8
128237      8
128238      8
128239      8
128240      8
128241      8
128242      3
128243      6
128244      3
128245      4
128246      8
128247      1
128248      8
128249      8
128250      8
128251      8
128252      8
128253      8
128254      8
128255      8
128256      8
128257      8
128258      8
128259      8
128260      8
128261      8
128262      2
128263      8
128264      8
128265      8
128266      8
128267      8
128268      5
128269      8
128270      8
128271      8
128272     11
128273      8
128274      3
128275      8
128276      8
128277      8
128278      8
128279      8
128280      5
128281      8
128282      8
128283      2
128284      8
128285      8
128286      8
128287      8
128288      8
128289      8
128290      8
128291      8
128292      8
128293      1
128294      8
128295      8
128296      8
128297      8
128298      8
128299      8
128300      8
128301      8
128302      8
128303      8
128304      8
128305      8
128306      8
128307      8
128308      4
128309      3
128310      8
128311      8
128312      8
128313      8
128314      4
128315      8
128316      8
128317      8
128318      8
128319      4
128320      3
128321      8
128322      8
128323      8
128324      8
128325      8
128326      4
128327     10
128328      8
128329      8
128330      8
128331      8
128332      8
128333      8
128334      8
128335      8
128336      8
128337    NaN
128338      8
128339      8
128340      8
128341      8
128342      8
128343      8
128344      8
128345      8
128346      8
128347      8
128348      8
128349      8
128350      3
128351      7
128352      8
128353      8
128354      8
128355      9
128356      8
128357      8
128358      5
128359      8
128360      8
128361      9
128362      8
128363      8
128364      8
128365      8
128366      8
128367      7
128368      8
128369      8
128370      8
128371     11
128372      8
128373      8
128374      5
128375      8
128376      8
128377      8
128378      8
128379      8
128380      8
128381      8
128382      8
128383      8
128384      8
128385      8
128386      8
128387      8
128388      8
128389      3
128390      6
128391      1
128392      8
128393      8
128394      8
128395      8
128396      8
128397      8
128398      8
128399      8
128400      8
128401      8
128402      8
128403      8
128404      4
128405      8
128406      8
128407     12
128408      8
128409      8
128410      8
128411      8
Name: last_pymnt_d_month, Length: 128412, dtype: Int32

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [86]:
df['last_pymnt_d_year']

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
5         2019.0
6         2019.0
7         2019.0
8         2019.0
9         2019.0
10        2019.0
11        2019.0
12        2019.0
13        2019.0
14        2019.0
15        2019.0
16        2019.0
17        2019.0
18        2019.0
19        2019.0
20        2019.0
21        2019.0
22        2019.0
23        2019.0
24        2019.0
25        2019.0
26        2019.0
27        2019.0
28        2019.0
29        2019.0
30        2019.0
31        2019.0
32        2019.0
33        2019.0
34        2019.0
35        2019.0
36        2019.0
37        2019.0
38        2019.0
39        2019.0
40        2019.0
41        2019.0
42        2019.0
43        2019.0
44        2019.0
45        2019.0
46        2019.0
47        2019.0
48        2019.0
49        2019.0
50        2019.0
51        2019.0
52        2019.0
53        2019.0
54        2019.0
55        2019.0
56        2019.0
57        2019.0
58        2019.0
59        2019.0
60        2019.0
61        2019.0
62        2019.0
63        2019.0
64        2019.0
65        2019.0
66        2019.0
67        2019.0
68        2019.0
69        2019.0
70        2019.0
71        2019.0
72        2019.0
73        2019.0
74        2019.0
75        2019.0
76        2019.0
77        2019.0
78        2019.0
79        2019.0
80        2019.0
81        2019.0
82        2019.0
83        2019.0
84        2019.0
85        2019.0
86        2019.0
87        2019.0
88        2019.0
89        2019.0
90        2019.0
91        2019.0
92        2019.0
93        2019.0
94        2019.0
95        2019.0
96        2019.0
97        2019.0
98        2019.0
99        2019.0
100       2019.0
101       2019.0
102       2019.0
103       2019.0
104       2019.0
105       2019.0
106       2019.0
107       2019.0
108       2019.0
109       2019.0
110       2019.0
111       2019.0
112       2019.0
113       2019.0
114       2019.0
115       2019.0
116       2019.0
117       2019.0
118       2019.0
119       2019.0
120       2019.0
121       2019.0
122       2019.0
123       2019.0
124       2019.0
125       2019.0
126       2019.0
127       2019.0
128       2019.0
129       2019.0
130       2019.0
131       2019.0
132       2019.0
133       2019.0
134       2019.0
135       2019.0
136       2019.0
137       2019.0
138       2019.0
139       2019.0
140       2019.0
141       2019.0
142       2019.0
143       2019.0
144       2019.0
145       2019.0
146       2019.0
147       2019.0
148       2019.0
149       2019.0
150       2019.0
151       2019.0
152       2019.0
153       2019.0
154       2019.0
155       2019.0
156       2019.0
157       2019.0
158       2019.0
159       2019.0
160       2019.0
161       2019.0
162       2019.0
163       2019.0
164       2019.0
165       2019.0
166       2019.0
167       2019.0
168       2019.0
169       2019.0
170       2019.0
171       2019.0
172       2019.0
173       2019.0
174       2019.0
175       2019.0
176       2019.0
177       2019.0
178       2019.0
179       2019.0
180       2019.0
181       2019.0
182       2019.0
183       2019.0
184       2019.0
185       2019.0
186       2019.0
187       2019.0
188       2019.0
189       2019.0
190       2019.0
191       2019.0
192       2019.0
193       2019.0
194       2019.0
195       2019.0
196       2019.0
197       2019.0
198       2019.0
199       2019.0
200       2019.0
201       2019.0
202       2019.0
203       2019.0
204       2019.0
205       2019.0
206       2019.0
207       2019.0
208       2019.0
209       2019.0
210       2019.0
211       2019.0
212       2019.0
213       2019.0
214       2019.0
215       2019.0
216       2019.0
217       2019.0
218       2019.0
219       2019.0
220       2019.0
221       2019.0
222       2019.0
223       2019.0
224       2019.0
225       2019.0
226       2019.0
227       2019.0
228       2019.0
229       2019.0
230       2019.0
231       2019.0
232       2019.0
233       2019.0
234       2019.0
235       2019.0
236       2019.0
237       2019.0
238       2019.0
239       2019.0
240       2019.0
241       2019.0
242       2019.0
243       2019.0
244       2019.0
245       2019.0
246       2019.0
247       2019.0
248       2019.0
249       2019.0
           ...
128162    2019.0
128163    2019.0
128164    2019.0
128165    2019.0
128166    2019.0
128167    2019.0
128168    2019.0
128169    2019.0
128170    2019.0
128171    2019.0
128172    2019.0
128173    2019.0
128174    2019.0
128175    2019.0
128176    2019.0
128177    2019.0
128178    2019.0
128179    2019.0
128180    2019.0
128181    2019.0
128182    2019.0
128183    2019.0
128184    2019.0
128185    2019.0
128186    2019.0
128187    2019.0
128188    2019.0
128189    2019.0
128190    2019.0
128191    2019.0
128192    2019.0
128193    2019.0
128194    2019.0
128195    2019.0
128196       NaN
128197    2019.0
128198    2019.0
128199    2019.0
128200    2019.0
128201    2019.0
128202    2019.0
128203    2018.0
128204    2019.0
128205    2019.0
128206    2019.0
128207    2019.0
128208    2019.0
128209    2019.0
128210    2019.0
128211    2019.0
128212    2019.0
128213    2019.0
128214    2019.0
128215    2019.0
128216    2019.0
128217    2019.0
128218    2019.0
128219    2019.0
128220    2019.0
128221    2019.0
128222    2019.0
128223    2019.0
128224    2019.0
128225    2019.0
128226    2019.0
128227    2019.0
128228    2019.0
128229    2019.0
128230    2019.0
128231    2019.0
128232    2019.0
128233    2019.0
128234    2019.0
128235    2019.0
128236    2019.0
128237    2019.0
128238    2019.0
128239    2019.0
128240    2019.0
128241    2019.0
128242    2019.0
128243    2019.0
128244    2019.0
128245    2019.0
128246    2019.0
128247    2019.0
128248    2019.0
128249    2019.0
128250    2019.0
128251    2019.0
128252    2019.0
128253    2019.0
128254    2019.0
128255    2019.0
128256    2019.0
128257    2019.0
128258    2019.0
128259    2019.0
128260    2019.0
128261    2019.0
128262    2019.0
128263    2019.0
128264    2019.0
128265    2019.0
128266    2019.0
128267    2019.0
128268    2019.0
128269    2019.0
128270    2019.0
128271    2019.0
128272    2018.0
128273    2019.0
128274    2019.0
128275    2019.0
128276    2019.0
128277    2019.0
128278    2019.0
128279    2019.0
128280    2019.0
128281    2019.0
128282    2019.0
128283    2019.0
128284    2019.0
128285    2019.0
128286    2019.0
128287    2019.0
128288    2019.0
128289    2019.0
128290    2019.0
128291    2019.0
128292    2019.0
128293    2019.0
128294    2019.0
128295    2019.0
128296    2019.0
128297    2019.0
128298    2019.0
128299    2019.0
128300    2019.0
128301    2019.0
128302    2019.0
128303    2019.0
128304    2019.0
128305    2019.0
128306    2019.0
128307    2019.0
128308    2019.0
128309    2019.0
128310    2019.0
128311    2019.0
128312    2019.0
128313    2019.0
128314    2019.0
128315    2019.0
128316    2019.0
128317    2019.0
128318    2019.0
128319    2019.0
128320    2019.0
128321    2019.0
128322    2019.0
128323    2019.0
128324    2019.0
128325    2019.0
128326    2019.0
128327    2018.0
128328    2019.0
128329    2019.0
128330    2019.0
128331    2019.0
128332    2019.0
128333    2019.0
128334    2019.0
128335    2019.0
128336    2019.0
128337       NaN
128338    2019.0
128339    2019.0
128340    2019.0
128341    2019.0
128342    2019.0
128343    2019.0
128344    2019.0
128345    2019.0
128346    2019.0
128347    2019.0
128348    2019.0
128349    2019.0
128350    2019.0
128351    2019.0
128352    2019.0
128353    2019.0
128354    2019.0
128355    2019.0
128356    2019.0
128357    2019.0
128358    2019.0
128359    2019.0
128360    2019.0
128361    2019.0
128362    2019.0
128363    2019.0
128364    2019.0
128365    2019.0
128366    2019.0
128367    2019.0
128368    2019.0
128369    2019.0
128370    2019.0
128371    2018.0
128372    2019.0
128373    2019.0
128374    2019.0
128375    2019.0
128376    2019.0
128377    2019.0
128378    2019.0
128379    2019.0
128380    2019.0
128381    2019.0
128382    2019.0
128383    2019.0
128384    2019.0
128385    2019.0
128386    2019.0
128387    2019.0
128388    2019.0
128389    2019.0
128390    2019.0
128391    2019.0
128392    2019.0
128393    2019.0
128394    2019.0
128395    2019.0
128396    2019.0
128397    2019.0
128398    2019.0
128399    2019.0
128400    2019.0
128401    2019.0
128402    2019.0
128403    2019.0
128404    2019.0
128405    2019.0
128406    2019.0
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_pymnt_d_year, Length: 128412, dtype: float64

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d_year'].astype(pd.Int32Dtype())

In [88]:
df['last_pymnt_d_year']

0         2019
1         2019
2         2019
3         2019
4         2019
5         2019
6         2019
7         2019
8         2019
9         2019
10        2019
11        2019
12        2019
13        2019
14        2019
15        2019
16        2019
17        2019
18        2019
19        2019
20        2019
21        2019
22        2019
23        2019
24        2019
25        2019
26        2019
27        2019
28        2019
29        2019
30        2019
31        2019
32        2019
33        2019
34        2019
35        2019
36        2019
37        2019
38        2019
39        2019
40        2019
41        2019
42        2019
43        2019
44        2019
45        2019
46        2019
47        2019
48        2019
49        2019
50        2019
51        2019
52        2019
53        2019
54        2019
55        2019
56        2019
57        2019
58        2019
59        2019
60        2019
61        2019
62        2019
63        2019
64        2019
65        2019
66        2019
67        2019
68        2019
69        2019
70        2019
71        2019
72        2019
73        2019
74        2019
75        2019
76        2019
77        2019
78        2019
79        2019
80        2019
81        2019
82        2019
83        2019
84        2019
85        2019
86        2019
87        2019
88        2019
89        2019
90        2019
91        2019
92        2019
93        2019
94        2019
95        2019
96        2019
97        2019
98        2019
99        2019
100       2019
101       2019
102       2019
103       2019
104       2019
105       2019
106       2019
107       2019
108       2019
109       2019
110       2019
111       2019
112       2019
113       2019
114       2019
115       2019
116       2019
117       2019
118       2019
119       2019
120       2019
121       2019
122       2019
123       2019
124       2019
125       2019
126       2019
127       2019
128       2019
129       2019
130       2019
131       2019
132       2019
133       2019
134       2019
135       2019
136       2019
137       2019
138       2019
139       2019
140       2019
141       2019
142       2019
143       2019
144       2019
145       2019
146       2019
147       2019
148       2019
149       2019
150       2019
151       2019
152       2019
153       2019
154       2019
155       2019
156       2019
157       2019
158       2019
159       2019
160       2019
161       2019
162       2019
163       2019
164       2019
165       2019
166       2019
167       2019
168       2019
169       2019
170       2019
171       2019
172       2019
173       2019
174       2019
175       2019
176       2019
177       2019
178       2019
179       2019
180       2019
181       2019
182       2019
183       2019
184       2019
185       2019
186       2019
187       2019
188       2019
189       2019
190       2019
191       2019
192       2019
193       2019
194       2019
195       2019
196       2019
197       2019
198       2019
199       2019
200       2019
201       2019
202       2019
203       2019
204       2019
205       2019
206       2019
207       2019
208       2019
209       2019
210       2019
211       2019
212       2019
213       2019
214       2019
215       2019
216       2019
217       2019
218       2019
219       2019
220       2019
221       2019
222       2019
223       2019
224       2019
225       2019
226       2019
227       2019
228       2019
229       2019
230       2019
231       2019
232       2019
233       2019
234       2019
235       2019
236       2019
237       2019
238       2019
239       2019
240       2019
241       2019
242       2019
243       2019
244       2019
245       2019
246       2019
247       2019
248       2019
249       2019
          ...
128162    2019
128163    2019
128164    2019
128165    2019
128166    2019
128167    2019
128168    2019
128169    2019
128170    2019
128171    2019
128172    2019
128173    2019
128174    2019
128175    2019
128176    2019
128177    2019
128178    2019
128179    2019
128180    2019
128181    2019
128182    2019
128183    2019
128184    2019
128185    2019
128186    2019
128187    2019
128188    2019
128189    2019
128190    2019
128191    2019
128192    2019
128193    2019
128194    2019
128195    2019
128196     NaN
128197    2019
128198    2019
128199    2019
128200    2019
128201    2019
128202    2019
128203    2018
128204    2019
128205    2019
128206    2019
128207    2019
128208    2019
128209    2019
128210    2019
128211    2019
128212    2019
128213    2019
128214    2019
128215    2019
128216    2019
128217    2019
128218    2019
128219    2019
128220    2019
128221    2019
128222    2019
128223    2019
128224    2019
128225    2019
128226    2019
128227    2019
128228    2019
128229    2019
128230    2019
128231    2019
128232    2019
128233    2019
128234    2019
128235    2019
128236    2019
128237    2019
128238    2019
128239    2019
128240    2019
128241    2019
128242    2019
128243    2019
128244    2019
128245    2019
128246    2019
128247    2019
128248    2019
128249    2019
128250    2019
128251    2019
128252    2019
128253    2019
128254    2019
128255    2019
128256    2019
128257    2019
128258    2019
128259    2019
128260    2019
128261    2019
128262    2019
128263    2019
128264    2019
128265    2019
128266    2019
128267    2019
128268    2019
128269    2019
128270    2019
128271    2019
128272    2018
128273    2019
128274    2019
128275    2019
128276    2019
128277    2019
128278    2019
128279    2019
128280    2019
128281    2019
128282    2019
128283    2019
128284    2019
128285    2019
128286    2019
128287    2019
128288    2019
128289    2019
128290    2019
128291    2019
128292    2019
128293    2019
128294    2019
128295    2019
128296    2019
128297    2019
128298    2019
128299    2019
128300    2019
128301    2019
128302    2019
128303    2019
128304    2019
128305    2019
128306    2019
128307    2019
128308    2019
128309    2019
128310    2019
128311    2019
128312    2019
128313    2019
128314    2019
128315    2019
128316    2019
128317    2019
128318    2019
128319    2019
128320    2019
128321    2019
128322    2019
128323    2019
128324    2019
128325    2019
128326    2019
128327    2018
128328    2019
128329    2019
128330    2019
128331    2019
128332    2019
128333    2019
128334    2019
128335    2019
128336    2019
128337     NaN
128338    2019
128339    2019
128340    2019
128341    2019
128342    2019
128343    2019
128344    2019
128345    2019
128346    2019
128347    2019
128348    2019
128349    2019
128350    2019
128351    2019
128352    2019
128353    2019
128354    2019
128355    2019
128356    2019
128357    2019
128358    2019
128359    2019
128360    2019
128361    2019
128362    2019
128363    2019
128364    2019
128365    2019
128366    2019
128367    2019
128368    2019
128369    2019
128370    2019
128371    2018
128372    2019
128373    2019
128374    2019
128375    2019
128376    2019
128377    2019
128378    2019
128379    2019
128380    2019
128381    2019
128382    2019
128383    2019
128384    2019
128385    2019
128386    2019
128387    2019
128388    2019
128389    2019
128390    2019
128391    2019
128392    2019
128393    2019
128394    2019
128395    2019
128396    2019
128397    2019
128398    2019
128399    2019
128400    2019
128401    2019
128402    2019
128403    2019
128404    2019
128405    2019
128406    2019
128407    2018
128408    2019
128409    2019
128410    2019
128411    2019
Name: last_pymnt_d_year, Length: 128412, dtype: Int32

In [89]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,10000,10000,10000.0,36,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,2019-07-01,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7,2019
1,4000,4000,4000.0,36,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,2019-07-01,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7,2019
2,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,2019-06-01,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0,6,2019
3,23000,23000,23000.0,60,20.89,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,2019-07-01,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7,2019
4,8000,8000,8000.0,36,23.40,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,2019-07-01,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7,2019

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01