<a href="https://colab.research.google.com/github/lechemrc/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-19 01:44:45--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [    <=>             ]  19.30M   884KB/s    in 23s

2019-07-19 01:45:08 (876 KB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20240936]

In [2]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [3]:
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19254.76","19254.76","1459.1","1459.10","745.24","713.86","0.0","0.0","0.0","Jun-2019","499.1","Jul-2019","Jun-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 16.40%","424.26","C","C4","Executive Director","4 years","MORTGAGE","95000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","436xx","OH","29.5","0","Nov-1992","0","29","","19","0","16619","64.9%","36","w","11475.92","11475.92","826.65","826.65","524.08","302.57","0.0","0.0","0.0","May-2019","424.26","Jul-2019","Jun-2019","0","30","1","Individual","","","","0","0","176551","1","5","2","5","7","35115","65","3","6","4899","65","25600","4","0","3","12","9292","3231","82.5","0","0","316","269","5","5","2","12","58","7","29","1","6","8","6","9","10","13","23","8","19","0","0","0","6","80.6","66.7","0","0","209488","51734","18500","54263","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 14.74%","103.62","C","C2","Office Manager","4 years","MORTGAGE","58750","Verified","Mar-2019","Current","n","","","medical","Medical expenses","327xx","FL","30.91","0","Jun-2004","0","24","","16","0","20502","60.1%","25","f","2865.64","2865.64","202.33","202.33","134.36","67.97","0.0","0.0","0.0","May-2019","103.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","37816","0","3","0","0","27","17314","48","0","0","3962","54","34100","0","1","0","0","2364","1208","89.4","0","0","177","164","35","27","4","40","24","","24","0","7","12","7","8","6","13","15","12","16","0","0","0","0","96","71.4","0","0","69911","37816","11400","35811","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 36 months"," 15.57%","1223.08","C","C3","Store Manager ","10+ years","RENT","122000","Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","333xx","FL","22","1","Dec-2009","0","20","","5","0","1441","24.4%","18","w","33459.43","33459.43","2446.76","2446.76","1540.57","845.04","61.15","0.0","0.0","Jun-2019","1223.08","Jul-2019","Jun-2019","0","20","1","Individual","","","","0","0","24471","0","3","0","0","26","23030","39","0","0","1441","37","5900","2","4","1","1","4894","159","90.1","0","0","108","111","52","24","0","85","","9","","1","1","1","1","3","10","2","7","1","5","0","0","1","0","94.4","100","0","0","65640","24471","1600","59740","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 15.57%","174.73","C","C3","Area Manager","3 years","OWN","65000","Verified","Mar-2019","Current","n","","","house","Home buying","640xx","MO","16.28","1","Jul-2001","0","7","","9","0","5604","64.4%","25","w","4778.86","4778.86","340.81","340.81","221.14","119.67","0.0","0.0","0.0","May-2019","174.73","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","29775","0","1","0","1","17","24171","82","1","6","1824","78","8700","1","0","0","7","3722","1070","75.7","0","0","111","212","10","10","4","17","69","17","69","4","3","5","5","9","7","8","14","5","9","0","0","1","1","76","50","0","0","38190","29775","4400","29490","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 12.40%","897.89","B","B4","SVP","10+ years","MORTGAGE","515000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","117xx","NY","18.19","0","Feb-1993","1","","","24","0","130490","86.4%","49","w","39025.88","39025.88","1740.67","1740.67","974.12","766.55","0.0","0.0","0.0","May-2019","897.89","Jul-2019","Jun-2019","0","","1","Individual","","","","0","205","569565","3","6","2","3","4","72207","39","3","3","20896","67","151100","1","6","2","7","23732","4733","94.8","0","0","160","304","3","3","6","10","","0","","0","10","14","10","17","12","15","28","14","24","0","0","0","5","100","100","0","0","752911","204997","90800","144678","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 11.02%","870.1","B","B2","VP of Sales","3 years","MORTGAGE","288000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","843xx","UT","19.74","0","May-2002","0","","","20","0","66240","43.9%","34","w","38989.85","38989.85","1691.22","1691.22","1010.15","681.07","0.0","0.0","0.0","May-2019","870.1","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","390598","0","5","0","2","16","140633","58","0","2","22577","49","150900","0","6","1","4","19530","81923","43.1","0","0","136","202","17","16","1","17","","3","","0","8","9","10","15","11","13","22","10","20","0","0","0","0","100","20","0","0","543401","206873","143900","197751","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.40%","448.95","B","B4","Sales","1 year","MORTGAGE","70000","Source Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","481xx","MI","32.33","0","May-1995","0","","","12","0","31036","56.7%","32","w","19512.93","19512.93","870.34","870.34","487.07","383.27","0.0","0.0","0.0","May-2019","448.95","Jul-2019","Jun-2019","0","","1","Joint App","102400","31.16","Source Verified","0","0","204292","0","3","0","1","14","16305","33","0","0","17389","46","54700","1","3","0","2","17024","268","98.9","0","0","133","286","41","14","4","84","","15","","0","3","7","3","7","9","8","19","7","12","0","0","0","0","100","100","0","0","267991","47341","24800","49291","56647","May-1995","0","4","15","61.3","1","31","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [110]:
import pandas as pd 

df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115677, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0.0,Sep-2006,1.0,50.0,NaN,15.0,0.0,10687.0,19.7%,53.0,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0.0,50.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,31546.0,3.0,2.0,1.0,2.0,10.0,20859.0,97.0,4.0,9.0,5909.0,42.0,54300.0,6.0,1.0,3.0,11.0,2103.0,23647.0,30.0,0.0,0.0,150.0,100.0,1.0,1.0,0.0,5.0,NaN,3.0,50.0,3.0,3.0,4.0,8.0,19.0,19.0,13.0,33.0,4.0,15.0,0.0,0.0,0.0,5.0,98.0,12.5,0.0,0.0,75824.0,31546.0,33800.0,21524.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000.0,12000.0,12000.0,36 months,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0.0,Nov-1992,0.0,29.0,NaN,19.0,0.0,16619.0,64.9%,36.0,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,176551.0,1.0,5.0,2.0,5.0,7.0,35115.0,65.0,3.0,6.0,4899.0,65.0,25600.0,4.0,0.0,3.0,12.0,9292.0,3231.0,82.5,0.0,0.0,316.0,269.0,5.0,5.0,2.0,12.0,58.0,7.0,29.0,1.0,6.0,8.0,6.0,9.0,10.0,13.0,23.0,8.0,19.0,0.0,0.0,0.0,6.0,80.6,66.7,0.0,0.0,209488.0,51734.0,18500.0,54263.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000.0,3000.0,3000.0,36 months,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0.0,Jun-2004,0.0,24.0,NaN,16.0,0.0,20502.0,60.1%,25.0,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,37816.0,0.0,3.0,0.0,0.0,27.0,17314.0,48.0,0.0,0.0,3962.0,54.0,34100.0,0.0,1.0,0.0,0.0,2364.0,1208.0,89.4,0.0,0.0,177.0,164.0,35.0,27.0,4.0,40.0,24.0,NaN,24.0,0.0,7.0,12.0,7.0,8.0,6.0,13.0,15.0,12.0,16.0,0.0,0.0,0.0,0.0,96.0,71.4,0.0,0.0,69911.0,37816.0,11400.0,35811.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000.0,35000.0,35000.0,36 months,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1.0,Dec-2009,0.0,20.0,NaN,5.0,0.0,1441.0,24.4%,18.0,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0.0,20.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,24471.0,0.0,3.0,0.0,0.0,26.0,23030.0,39.0,0.0,0.0,1441.0,37.0,5900.0,2.0,4.0,1.0,1.0,4894.0,159.0,90.1,0.0,0.0,108.0,111.0,52.0,24.0,0.0,85.0,NaN,9.0,NaN,1.0,1.0,1.0,1.0,3.0,10.0,2.0,7.0,1.0,5.0,0.0,0.0,1.0,0.0,94.4,100.0,0.0,0.0,65640.0,24471.0,1600.0,59740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000.0,5000.0,5000.0,36 months,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1.0,Jul-2001,0.0,7.0,NaN,9.0,0.0,5604.0,64.4%,25.0,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0.0,7.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,29775.0,0.0,1.0,0.0,1.0,17.0,24171.0,82.0,1.0,6.0,1824.0,78.0,8700.0,1.0,0.0,0.0,7.0,3722.0,1070.0,75.7,0.0,0.0,111.0,212.0,10.0,10.0,4.0,17.0,69.0,17.0,69.0,4.0,3.0,5.0,5.0,9.0,7.0,8.0,14.0,5.0,9.0,0.0,0.0,1.0,1.0,76.0,50.0,0.0,0.0,38190.0,29775.0,4400.0,29490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df.isna().sum()

id                                            115675
member_id                                     115677
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      19520
emp_length                                     11103
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           115677
desc                                          115677
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              259
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         65801
mths_since_last_record                        102254
open_acc                                           2
pub_rec                                            2
revol_bal                                          2
revol_util                                       131
total_acc                                          2
initial_list_status                                2
out_prncp                                          2
out_prncp_inv                                      2
total_pymnt                                        2
total_pymnt_inv                                    2
total_rec_prncp                                    2
total_rec_int                                      2
total_rec_late_fee                                 2
recoveries                                         2
collection_recovery_fee                            2
last_pymnt_d                                     232
last_pymnt_amnt                                    2
next_pymnt_d                                    4908
last_credit_pull_d                                 4
collections_12_mths_ex_med                         2
mths_since_last_major_derog                    90679
policy_code                                        2
application_type                                   2
annual_inc_joint                               98996
dti_joint                                      98996
verification_status_joint                     101053
acc_now_delinq                                     2
tot_coll_amt                                       2
tot_cur_bal                                        2
open_acc_6m                                        2
open_act_il                                        2
open_il_12m                                        2
open_il_24m                                        2
mths_since_rcnt_il                              3519
total_bal_il                                       2
il_util                                        17321
open_rv_12m                                        2
open_rv_24m                                        2
max_bal_bc                                         2
all_util                                          26
total_rev_hi_lim                                   2
inq_fi                                             2
total_cu_tl                                        2
inq_last_12m                                       2
acc_open_past_24mths                               2
avg_cur_bal                                        9
bc_open_to_buy                                  1325
bc_util                                         1380
chargeoff_within_12_mths                           2
delinq_amnt                                        2
mo_sin_old_il_acct                              3519
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
mths_since_recent_bc                            1260
mths_since_recent_bc_dlq                       93079
mths_since_recent_inq                          14359
mths_since_recent_revol_delinq                 82781
num_accts_ever_120_pd                              2
num_actv_bc_tl                                     2
num_actv_rev_tl                                    2
num_bc_sats                                        2
num_bc_tl                                          2
num_il_tl                                          2
num_op_rev_tl                                      2
num_rev_accts                                      2
num_rev_tl_bal_gt_0                                2
num_sats                                           2
num_tl_120dpd_2m                                3148
num_tl_30dpd                                       2
num_tl_90g_dpd_24m                                 2
num_tl_op_past_12m                                 2
pct_tl_nvr_dlq                                     2
percent_bc_gt_75                                1331
pub_rec_bankruptcies                               2
tax_liens                                          2
tot_hi_cred_lim                                    2
total_bal_ex_mort                                  2
total_bc_limit                                     2
total_il_high_credit_limit                         2
revol_bal_joint                                98996
sec_app_earliest_cr_line                       98996
sec_app_inq_last_6mths                         98996
sec_app_mort_acc                               98996
sec_app_open_acc                               98996
sec_app_revol_util                             99226
sec_app_open_act_il                            98996
sec_app_num_rev_accts                          98996
sec_app_chargeoff_within_12_mths               98996
sec_app_collections_12_mths_ex_med             98996
sec_app_mths_since_last_major_derog           110776
hardship_flag                                      2
hardship_type                                 115676
hardship_reason                               115676
hardship_status                               115676
deferral_term                                 115676
hardship_amount                               115676
hardship_start_date                           115676
hardship_end_date                             115676
payment_plan_start_date                       115676
hardship_length                               115676
hardship_dpd                                  115676
hardship_loan_status                          115676
orig_projected_additional_accrued_interest    115676
hardship_payoff_balance_amount                115676
hardship_last_payment_amount                  115676
debt_settlement_flag                               2
debt_settlement_flag_date                     115676
settlement_status                             115676
settlement_date                               115676
settlement_amount                             115676
settlement_percentage                         115676
settlement_term                               115676
dtype: int64

In [112]:
df[df['loan_amnt'].isna()]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
115675,Total amount funded in policy code 1: 1928448350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115676,Total amount funded in policy code 2: 799372035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
!tail LoanStats_2019Q1.csv

"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","","n/a","MORTGAGE","48000","Not Verified","Jan-2019","Current","n","","","home_improvement","Home improvement","338xx","FL","8.28","2","May-2006","0","11","","8","0","3846","13.6%","21","w","4420.40","4420.40","841.62","841.62","579.60","262.02","0.0","0.0","0.0","Jun-2019","169.83","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","35666","0","1","0","0","49","5336","47","0","2","0","23","28200","0","3","0","2","4458","","","0","0","99","151","13","13","1","","","","11","0","0","3","0","1","4","6","16","3","8","0","0","0","0","90.5","","0","0","88613","9182","0","11413","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 36 months","  6.46%","1225.24","A","A1","President - North America","4 years","MORTGAGE","520000","Verified","Jan-2019","Current","n","","","credit_card","Credit card refinancing","752xx","TX","9.96","0","Sep-2006","1","43","","21","0","59529","29.6%","57","f","34895.81","34895.81","6111.84","6111.84","5104.19","1007.65","0.0","0.0","0.0","Jun-2019","1225.24","Jul-2019","Jun-2019","0","43","1","Individual","","","","0","0","864480","2","3","0","0","28","27151","35","3","5","38479","34","111100","1","0","3","7","41166","41467","34.3","0","0","147","146","2","2","9","3","43","3","43","0","4","5","8","16","10","14","36","5","21","0","0","0","3","98.2","12.5","0","0","1033574","95958","100800","78634","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months","  6.46%","183.79","A","A1","","< 1 year","MORTGAGE","96000","Not Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","060xx","CT","0.31","0","May-1993","0","","91","16","1","50","0.1%","36","w","5234.35","5234.35","916.8","916.80","765.65","151.15","0.0","0.0","0.0","Jun-2019","183.79","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","50","0","0","0","1","15","0","","1","4","50","0","33500","1","1","1","5","3","14850","0.3","0","0","15","306","7","7","0","45","","7","","0","1","1","3","12","1","16","35","1","16","0","0","0","1","100","0","1","0","33500","50","14900","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 36 months"," 16.14%","563.62","C","C4","Estimator/Supervisor","10+ years","MORTGAGE","32000","Source Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","20.89","0","Dec-2010","0","35","117","13","1","17066","49.9%","15","f","14210.40","14210.40","2803.75","2803.75","1789.60","1014.15","0.0","0.0","0.0","Jun-2019","563.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","17066","1","0","0","0","55","0","","3","3","2353","50","34200","0","0","1","3","1313","6446","60.7","0","0","55","96","1","1","0","1","35","12","35","0","7","8","8","8","1","13","14","8","13","0","0","0","3","93.3","37.5","1","0","34200","17066","16400","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 11.31%","350.36","B","B3","MATERIAL HANDLER","5 years","MORTGAGE","72000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","850xx","AZ","7.02","2","Sep-2005","0","8","64","12","1","11882","37.1%","39","w","3227.04","3227.04","13441.75","13441.75","12772.96","668.79","0.0","0.0","0.0","Jun-2019","350.36","Jul-2019","Jun-2019","0","8","1","Individual","","","","0","0","225413","0","2","0","0","28","62953","79","0","0","5568","45","32000","2","2","4","1","18784","11705","49.1","2","0","159","129","25","24","3","25","","1","9","2","4","5","5","9","20","9","16","5","12","0","0","2","0","94.3","0","1","0","251486","74835","23000","63090","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29250","29250","29250"," 60 months"," 18.94%","757.8","D","D2","sr register csa","7 years","MORTGAGE","65000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","774xx","TX","29.52","0","Jan-2011","0","","","20","0","38465","69%","22","w","27721.83","27721.83","3727.44","3727.44","1528.17","2199.27","0.0","0.0","0.0","Jun-2019","757.8","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","204764","0","1","0","1","17","20323","79","1","3","13874","69","55505","0","0","0","4","10238","2985","87","0","0","78","95","7","7","1","19","","13","","0","13","18","13","13","3","18","18","18","20","","0","0","1","100","76.9","0","0","237833","58788","38800","25728","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 1928448350
Total amount funded in policy code 2: 799372035

In [114]:
df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

#trying another import with skipfooter ... 
# throws the warning: /usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: 
# ParserWarning: Falling back to the 'python' engine because the 'c' engine does 
#   not support skipfooter; you can avoid this warning by specifying engine='python'.
#   Entry point for launching an IPython kernel.

(115675, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       129
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     230
last_pymnt_amnt                                    0
next_pymnt_d                                    4906
last_credit_pull_d                                 2
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    90677
policy_code                                        0
application_type                                   0
annual_inc_joint                               98994
dti_joint                                      98994
verification_status_joint                     101051
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              3517
total_bal_il                                       0
il_util                                        17319
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          24
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                        7
bc_open_to_buy                                  1323
bc_util                                         1378
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              3517
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1258
mths_since_recent_bc_dlq                       93077
mths_since_recent_inq                          14357
mths_since_recent_revol_delinq                 82779
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                3146
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1329
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                                98994
sec_app_earliest_cr_line                       98994
sec_app_inq_last_6mths                         98994
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
dtype: int64

In [116]:
df['home_ownership'].unique()

array(['RENT', 'MORTGAGE', 'OWN', 'ANY', 'NONE'], dtype=object)

In [117]:
df['purpose'].unique()

array(['debt_consolidation', 'medical', 'credit_card', 'house',
       'major_purchase', 'car', 'small_business', 'home_improvement',
       'other', 'moving', 'vacation', 'renewable_energy'], dtype=object)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 144 entries, id to settlement_term
dtypes: float64(56), int64(52), object(36)
memory usage: 127.1+ MB

In [0]:
pd.options.display.max_columns = 150
pd.options.display.max_rows = 150

In [120]:
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,12000,3000,35000,5000
funded_amnt,20000,12000,3000,35000,5000
funded_amnt_inv,20000,12000,3000,35000,5000
term,60 months,36 months,36 months,36 months,36 months
int_rate,17.19%,16.40%,14.74%,15.57%,15.57%
installment,499.1,424.26,103.62,1223.08,174.73
grade,C,C,C,C,C
sub_grade,C5,C4,C2,C3,C3
emp_title,Front desk supervisor,Executive Director,Office Manager,Store Manager,Area Manager
emp_length,6 years,4 years,4 years,10+ years,3 years
home_ownership,RENT,MORTGAGE,MORTGAGE,RENT,OWN
annual_inc,47000,95000,58750,122000,65000
verification_status,Source Verified,Not Verified,Verified,Verified,Verified
issue_d,Mar-2019,Mar-2019,Mar-2019,Mar-2019,Mar-2019
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,medical,credit_card,house
title,Debt consolidation,Debt consolidation,Medical expenses,Credit card refinancing,Home buying
zip_code,958xx,436xx,327xx,333xx,640xx
addr_state,CA,OH,FL,FL,MO
dti,14.02,29.5,30.91,22,16.28
delinq_2yrs,0,0,0,1,1
earliest_cr_line,Sep-2006,Nov-1992,Jun-2004,Dec-2009,Jul-2001
inq_last_6mths,1,0,0,0,0
mths_since_last_delinq,50,29,24,20,7
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,15,19,16,5,9
pub_rec,0,0,0,0,0
revol_bal,10687,16619,20502,1441,5604
revol_util,19.7%,64.9%,60.1%,24.4%,64.4%
total_acc,53,36,25,18,25
initial_list_status,w,w,f,w,w
out_prncp,19254.8,11475.9,2865.64,33459.4,4778.86
out_prncp_inv,19254.8,11475.9,2865.64,33459.4,4778.86
total_pymnt,1459.1,826.65,202.33,2446.76,340.81
total_pymnt_inv,1459.1,826.65,202.33,2446.76,340.81
total_rec_prncp,745.24,524.08,134.36,1540.57,221.14
total_rec_int,713.86,302.57,67.97,845.04,119.67
total_rec_late_fee,0,0,0,61.15,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Jun-2019,May-2019,May-2019,Jun-2019,May-2019
last_pymnt_amnt,499.1,424.26,103.62,1223.08,174.73
next_pymnt_d,Jul-2019,Jul-2019,Jul-2019,Jul-2019,Jul-2019
last_credit_pull_d,Jun-2019,Jun-2019,Jun-2019,Jun-2019,Jun-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,50,30,NaN,20,7
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,0,0
tot_cur_bal,31546,176551,37816,24471,29775
open_acc_6m,3,1,0,0,0
open_act_il,2,5,3,3,1
open_il_12m,1,2,0,0,0
open_il_24m,2,5,0,0,1
mths_since_rcnt_il,10,7,27,26,17
total_bal_il,20859,35115,17314,23030,24171
il_util,97,65,48,39,82
open_rv_12m,4,3,0,0,1
open_rv_24m,9,6,0,0,6
max_bal_bc,5909,4899,3962,1441,1824
all_util,42,65,54,37,78
total_rev_hi_lim,54300,25600,34100,5900,8700
inq_fi,6,4,0,2,1
total_cu_tl,1,0,1,4,0
inq_last_12m,3,3,0,1,0
acc_open_past_24mths,11,12,0,1,7
avg_cur_bal,2103,9292,2364,4894,3722
bc_open_to_buy,23647,3231,1208,159,1070
bc_util,30,82.5,89.4,90.1,75.7
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,150,316,177,108,111
mo_sin_old_rev_tl_op,100,269,164,111,212
mo_sin_rcnt_rev_tl_op,1,5,35,52,10
mo_sin_rcnt_tl,1,5,27,24,10
mort_acc,0,2,4,0,4
mths_since_recent_bc,5,12,40,85,17
mths_since_recent_bc_dlq,NaN,58,24,NaN,69
mths_since_recent_inq,3,7,NaN,9,17
mths_since_recent_revol_delinq,50,29,24,NaN,69
num_accts_ever_120_pd,3,1,0,1,4
num_actv_bc_tl,3,6,7,1,3
num_actv_rev_tl,4,8,12,1,5
num_bc_sats,8,6,7,1,5
num_bc_tl,19,9,8,3,9
num_il_tl,19,10,6,10,7
num_op_rev_tl,13,13,13,2,8
num_rev_accts,33,23,15,7,14
num_rev_tl_bal_gt_0,4,8,12,1,5
num_sats,15,19,16,5,9
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,1
num_tl_op_past_12m,5,6,0,0,1
pct_tl_nvr_dlq,98,80.6,96,94.4,76
percent_bc_gt_75,12.5,66.7,71.4,100,50
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,75824,209488,69911,65640,38190
total_bal_ex_mort,31546,51734,37816,24471,29775
total_bc_limit,33800,18500,11400,1600,4400
total_il_high_credit_limit,21524,54263,35811,59740,29490
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [121]:
df.describe(include='object')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,115675,115675,115675,115675,96157,104574,115675,115675,115675,115675,115675,115675,115675,115675,115675,115675,115546,115675,115445,110769,115673,115675,14624,16681,115675,1,1,1,1,1,1,1,115675,1,1,1
unique,2,53,7,33,39387,11,5,3,3,6,1,12,12,877,50,652,1055,2,7,3,7,2,3,577,2,1,1,1,1,1,1,1,2,1,1,1
top,36 months,8.19%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Jan-2019,Current,n,debt_consolidation,Debt consolidation,750xx,CA,Aug-2006,0%,w,Jun-2019,Jul-2019,Jun-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,ACTIVE,Jun-2019,Sep-2019,Jul-2019,In Grace Period,N,May-2019,ACTIVE,May-2019
freq,78429,11314,37060,11314,2037,34490,58578,54608,43584,109176,115675,63747,63747,1162,15902,1033,1054,101423,102101,110738,111240,98994,6395,150,115674,1,1,1,1,1,1,1,115674,1,1,1

In [122]:
df['grade'].value_counts()

A    37060
B    33129
C    27277
D    14797
E     3364
F       31
G       17
Name: grade, dtype: int64

In [123]:
df.isna().mean().round(4) * 100 # to see percentage of NaNs

id                                            100.00
member_id                                     100.00
loan_amnt                                       0.00
funded_amnt                                     0.00
funded_amnt_inv                                 0.00
term                                            0.00
int_rate                                        0.00
installment                                     0.00
grade                                           0.00
sub_grade                                       0.00
emp_title                                      16.87
emp_length                                      9.60
home_ownership                                  0.00
annual_inc                                      0.00
verification_status                             0.00
issue_d                                         0.00
loan_status                                     0.00
pymnt_plan                                      0.00
url                                           100.00
desc                                          100.00
purpose                                         0.00
title                                           0.00
zip_code                                        0.00
addr_state                                      0.00
dti                                             0.22
delinq_2yrs                                     0.00
earliest_cr_line                                0.00
inq_last_6mths                                  0.00
mths_since_last_delinq                         56.88
mths_since_last_record                         88.40
open_acc                                        0.00
pub_rec                                         0.00
revol_bal                                       0.00
revol_util                                      0.11
total_acc                                       0.00
initial_list_status                             0.00
out_prncp                                       0.00
out_prncp_inv                                   0.00
total_pymnt                                     0.00
total_pymnt_inv                                 0.00
total_rec_prncp                                 0.00
total_rec_int                                   0.00
total_rec_late_fee                              0.00
recoveries                                      0.00
collection_recovery_fee                         0.00
last_pymnt_d                                    0.20
last_pymnt_amnt                                 0.00
next_pymnt_d                                    4.24
last_credit_pull_d                              0.00
collections_12_mths_ex_med                      0.00
mths_since_last_major_derog                    78.39
policy_code                                     0.00
application_type                                0.00
annual_inc_joint                               85.58
dti_joint                                      85.58
verification_status_joint                      87.36
acc_now_delinq                                  0.00
tot_coll_amt                                    0.00
tot_cur_bal                                     0.00
open_acc_6m                                     0.00
open_act_il                                     0.00
open_il_12m                                     0.00
open_il_24m                                     0.00
mths_since_rcnt_il                              3.04
total_bal_il                                    0.00
il_util                                        14.97
open_rv_12m                                     0.00
open_rv_24m                                     0.00
max_bal_bc                                      0.00
all_util                                        0.02
total_rev_hi_lim                                0.00
inq_fi                                          0.00
total_cu_tl                                     0.00
inq_last_12m                                    0.00
acc_open_past_24mths                            0.00
avg_cur_bal                                     0.01
bc_open_to_buy                                  1.14
bc_util                                         1.19
chargeoff_within_12_mths                        0.00
delinq_amnt                                     0.00
mo_sin_old_il_acct                              3.04
mo_sin_old_rev_tl_op                            0.00
mo_sin_rcnt_rev_tl_op                           0.00
mo_sin_rcnt_tl                                  0.00
mort_acc                                        0.00
mths_since_recent_bc                            1.09
mths_since_recent_bc_dlq                       80.46
mths_since_recent_inq                          12.41
mths_since_recent_revol_delinq                 71.56
num_accts_ever_120_pd                           0.00
num_actv_bc_tl                                  0.00
num_actv_rev_tl                                 0.00
num_bc_sats                                     0.00
num_bc_tl                                       0.00
num_il_tl                                       0.00
num_op_rev_tl                                   0.00
num_rev_accts                                   0.00
num_rev_tl_bal_gt_0                             0.00
num_sats                                        0.00
num_tl_120dpd_2m                                2.72
num_tl_30dpd                                    0.00
num_tl_90g_dpd_24m                              0.00
num_tl_op_past_12m                              0.00
pct_tl_nvr_dlq                                  0.00
percent_bc_gt_75                                1.15
pub_rec_bankruptcies                            0.00
tax_liens                                       0.00
tot_hi_cred_lim                                 0.00
total_bal_ex_mort                               0.00
total_bc_limit                                  0.00
total_il_high_credit_limit                      0.00
revol_bal_joint                                85.58
sec_app_earliest_cr_line                       85.58
sec_app_inq_last_6mths                         85.58
sec_app_mort_acc                               85.58
sec_app_open_acc                               85.58
sec_app_revol_util                             85.78
sec_app_open_act_il                            85.58
sec_app_num_rev_accts                          85.58
sec_app_chargeoff_within_12_mths               85.58
sec_app_collections_12_mths_ex_med             85.58
sec_app_mths_since_last_major_derog            95.76
hardship_flag                                   0.00
hardship_type                                 100.00
hardship_reason                               100.00
hardship_status                               100.00
deferral_term                                 100.00
hardship_amount                               100.00
hardship_start_date                           100.00
hardship_end_date                             100.00
payment_plan_start_date                       100.00
hardship_length                               100.00
hardship_dpd                                  100.00
hardship_loan_status                          100.00
orig_projected_additional_accrued_interest    100.00
hardship_payoff_balance_amount                100.00
hardship_last_payment_amount                  100.00
debt_settlement_flag                            0.00
debt_settlement_flag_date                     100.00
settlement_status                             100.00
settlement_date                               100.00
settlement_amount                             100.00
settlement_percentage                         100.00
settlement_term                               100.00
dtype: float64

In [124]:
df['emp_length'].value_counts()

10+ years    34490
< 1 year     15044
2 years       9695
3 years       8719
1 year        7919
5 years       7189
4 years       6777
6 years       4636
7 years       3913
8 years       3625
9 years       2567
Name: emp_length, dtype: int64

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [125]:
x = '12.5%'
float(x.strip('%')) # example for a function

12.5

In [0]:
# Bruno's example

x = '12.5%'


def remove_percent_sign(string):
  '''This function takes a string as input, strips the trailing percent sign,
  and returns float interest rate'''
  return float(string.strip('%'))

remove_percent_sign(x)

12.5

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent_sign)
df['int_rate'].head()

0    17.19
1    16.40
2    14.74
3    15.57
4    15.57
Name: int_rate, dtype: float64

In [0]:
def remove_str(col, remove, change):
  '''This function imputs a column name, what you want to remove, and what type 
  you want to change the string to and applies it to the dataframe column'''
  df[col] = df[col].str.strip(remove).astype(change)

Apply the function to the `int_rate` column

In [127]:
remove_str('int_rate', '%', float)
df.head()

# this works only if you don't use Bruno's code first

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

### Clean `emp_title`

Look at top 20 titles

In [128]:
df['emp_title'].value_counts().head(20)

Teacher                     2037
Manager                     1626
Registered Nurse             898
Driver                       857
Supervisor                   655
RN                           623
Sales                        586
Office Manager               574
Project Manager              540
General Manager              486
Owner                        449
Director                     374
Operations Manager           313
Engineer                     309
Truck Driver                 308
Sales Manager                288
Nurse                        281
Administrative Assistant     267
Supervisor                   260
Accountant                   259
Name: emp_title, dtype: int64

In [129]:
df['emp_title'].value_counts(dropna=False)

NaN                                         19518
Teacher                                      2037
Manager                                      1626
Registered Nurse                              898
Driver                                        857
Supervisor                                    655
RN                                            623
Sales                                         586
Office Manager                                574
Project Manager                               540
General Manager                               486
Owner                                         449
Director                                      374
Operations Manager                            313
Engineer                                      309
Truck Driver                                  308
Sales Manager                                 288
Nurse                                         281
Administrative Assistant                      267
Supervisor                                    260
Accountant                                    259
Server                                        258
Account Manager                               254
manager                                       246
President                                     242
Technician                                    240
Vice President                                238
Police Officer                                237
Attorney                                      226
teacher                                       225
Manager                                       221
Truck driver                                  219
Store Manager                                 213
Software Engineer                             209
Mechanic                                      200
driver                                        199
Controller                                    199
Electrician                                   194
Foreman                                       193
Executive Assistant                           183
Registered nurse                              168
Assistant Manager                             168
Paralegal                                     166
Analyst                                       161
Operator                                      155
Branch Manager                                151
Teacher                                       149
Bartender                                     149
supervisor                                    144
owner                                         143
Program Manager                               140
Executive Director                            136
Superintendent                                135
CEO                                           134
Consultant                                    126
Administrator                                 124
Laborer                                       119
Director of Operations                        113
sales                                         111
Customer Service                              111
Principal                                     110
Professor                                     110
Service Manager                               107
Chef                                          107
Machinist                                     104
Cashier                                       103
LPN                                           103
Account Executive                             102
Pharmacist                                    102
Maintenance                                   102
IT Manager                                    102
Cook                                          101
truck driver                                  101
Business Analyst                              100
Welder                                        100
                                            ...
Contracts Assistant II                          1
Commander                                       1
Solar Sales                                     1
Assigner                                        1
Senior Vice President Commercial Banking        1
head security                                   1
 Social Media Coordinator                       1
Psychiatric technician                          1
Dist. Clerk                                     1
Software Design Engineer                        1
Service Delivery Specialist                     1
ELR                                             1
Mortgage department                             1
Campaign Strategist                             1
Process Control Engineer                        1
Pellet load out                                 1
IT Specialists                                  1
Tax Senior Associate                            1
Personal loan specialists                       1
Community & Business Liaison                    1
ultrasound technologist                         1
Sr, Programmer Analyst                          1
Sr. Business Development Consultant             1
C Packer                                        1
Truck Driver/ Owner                             1
NOC Support Tech                                1
Eng. Manager                                    1
Senior Systems Application Engineer             1
ITS Applications Specialist                     1
Cert. Ophthalmology Assistant                   1
Associate Managed Assets                        1
Glass worker                                    1
Customer success advocate                       1
Room Service Server                             1
VP of Program Management                        1
Teller Manger                                   1
loan officer                                    1
Surgery Tech                                    1
Assistant Athletic Director                     1
P1                                              1
Protective Services Officer                     1
Vice President Property Tax                     1
Distribution Office                             1
Nuisance Wildlife Tech                          1
Bilingual Aide                                  1
international servicing rep                     1
Construction wireman                            1
Sonagrapher                                     1
Information Security                            1
pt                                              1
Sales man.                                      1
IL Specialist                                   1
corrugated Mashinist                            1
Chemistry Technician                            1
Inventory/SAP Process Manager                   1
MENTAL HEALTH FACILITATOR                       1
Senior Transportation Planner                   1
Educational Specialist                          1
Sr.VP                                           1
Pathology Office Manager                        1
LIFE CARE COORDINATOR                           1
Sales/Nutritionist                              1
Reearcher                                       1
Sr. Business Operations Coordinator             1
Patient Assistance Specialist                   1
Manager-Contracts & Legal Administration        1
Inventory control specialist II                 1
electrical maintenance                          1
Deployment Associate                            1
Certified Applicator                            1
Lead Case Manager                               1
Rewinder                                        1
Import manager                                  1
Finishing Department                            1
Fortlift Driver                                 1
Name: emp_title, Length: 39388, dtype: int64

How often is `emp_title` null?

In [130]:
print(df['emp_title'].isna().sum())
df['emp_title'].isna().sum() / len(df) # for percent

19518

0.1687313594121461

In [131]:
df.shape

(115675, 144)

In [132]:
df['emp_title'].nunique()

39387

Clean the title and handle missing values
- Capitalize
- Strip spaces
- Replace 'NaN' with missing

In [0]:
import numpy as np

In [134]:
isinstance('dog', str)

True

In [135]:
isinstance(np.nan, str)

False

In [136]:
import numpy as np
example = ['owner', 'Supervisor ', ' Project manager', np.nan]

def clean_emp_title(x):
  '''This will clean the titles and capitalize them as well as update NaNs'''
  if isinstance(x, str):
    return x.strip().title() # strips leading space and capitalizes
  else: 
    return 'Missing'
  
# normal for loop to clean the values
# for ex in example:
#   print(clean_emp_title(ex))
  
# more pythonic way to do this via list comprehension:
[clean_emp_title(x) for x in example]

['Owner', 'Supervisor', 'Project Manager', 'Missing']

In [137]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)
df['emp_title'].head(20)

# interestingly, it changed things like SVP or CEO to Svp and Ceo

0       Front Desk Supervisor
1          Executive Director
2              Office Manager
3               Store Manager
4                Area Manager
5                         Svp
6                 Vp Of Sales
7                       Sales
8                          Rn
9             Project Manager
10          Custom Applicator
11                 Av Manager
12    Human Resources Liaison
13                    Missing
14                      Agent
15            Sales/Marketing
16                        Ceo
17                  Route Rep
18                Maintenance
19        Executive Assistant
Name: emp_title, dtype: object

In [138]:
df['emp_title'].nunique() 
# the number of unique values, as opposed to listing them

31429

In [139]:
df['emp_title'].value_counts()

Missing                                     19518
Teacher                                      2465
Manager                                      2172
Registered Nurse                             1306
Driver                                       1194
Supervisor                                   1109
Office Manager                                834
Sales                                         806
Truck Driver                                  767
General Manager                               737
Rn                                            724
Owner                                         695
Project Manager                               688
Sales Manager                                 468
Director                                      467
Operations Manager                            439
Administrative Assistant                      412
Police Officer                                385
Technician                                    381
Engineer                                      377
Store Manager                                 366
Nurse                                         363
Account Manager                               338
Server                                        327
Vice President                                319
Accountant                                    319
President                                     317
Mechanic                                      317
Assistant Manager                             308
Electrician                                   293
Foreman                                       274
Attorney                                      263
Software Engineer                             256
Customer Service                              249
Executive Assistant                           246
Machine Operator                              237
Operator                                      233
Controller                                    233
Superintendent                                227
Branch Manager                                225
Maintenance                                   214
Paralegal                                     212
Bartender                                     209
Service Manager                               196
Analyst                                       194
Program Manager                               170
Nurse Practitioner                            167
Clerk                                         165
Laborer                                       165
Director Of Operations                        162
Cashier                                       161
Executive Director                            160
Carpenter                                     160
Machinist                                     160
Medical Assistant                             156
Legal Assistant                               155
Ceo                                           154
Sales Associate                               150
Consultant                                    149
Administrator                                 147
Cna                                           147
Correctional Officer                          146
Account Executive                             144
Lpn                                           143
Chef                                          139
Social Worker                                 137
Bus Driver                                    136
Business Analyst                              135
Pharmacist                                    135
Secretary                                     135
Security Officer                              132
Welder                                        132
Custodian                                     132
Cook                                          131
Principal                                     131
                                            ...
Nurse Midwife                                   1
Jw                                              1
Contract And Executive Services Administ        1
Senior Security Services Engineer               1
District Asset Protection Manager               1
Principal Project Mgr.                          1
Hoisting Engineer                               1
Admissions Assistant                            1
Director Of Sdpm                                1
Inventory Purchaser                             1
Senior Data Base Administrator                  1
Customer Support Analyst                        1
Cardivalscular Tech.                            1
Pres/General Mgr.                               1
Sr Creeit Manager                               1
Senior Production Planner                       1
Colonel                                         1
Snack Bar                                       1
Managing  Partner                               1
Utilization Review Team Lead                    1
Senior Nurse Leader                             1
Customer Services Supervisor                    1
Resident Field Mechanic                         1
Bilingual Aide                                  1
Csa Ii                                          1
Tooling Supervisor                              1
Programmer Analyst Iii                          1
Yard Manger                                     1
Level Ii Ndt Technition (Non-Film)              1
Safety And Health Officer                       1
Service Tevhnician                              1
Waitress And Bartender                          1
Curriculum And Program Specialist               1
Asst. Director Of I.T.                          1
Onsite Tech                                     1
Vp Of Lending                                   1
Skilled Machine Operator                        1
Body  Paint And Mechanic                        1
Independent Support Coordinator                 1
Administrative Director, Des Pad                1
Nuisance Wildlife Tech                          1
Validation/Software Admin Specialist            1
Store Admin                                     1
Sales/Nutritionist                              1
Senior Financial Planning Assistant             1
Reearcher                                       1
Sr. Business Operations Coordinator             1
Leasing Specialists                             1
Paraprofessionals                               1
Listing Coordinator                             1
International Logistics Mgr                     1
Business Support                                1
Vp, Recovery Operations                         1
Svp Claims                                      1
Service  Manjer                                 1
Machinist 3                                     1
Environment Care Supervisor                     1
Magisterial District Judge                      1
Access Condultant                               1
Soc Design Engineer                             1
Children & Youth Supervisor                     1
House Parent                                    1
Branch Banker I                                 1
Cash Management Teller                          1
Sign Langauge Interpreter                       1
Sap Business Analsyt                            1
Dietary Cook                                    1
Attendance Clerk                                1
Or Nurse                                        1
Chief Of Staff, Sheriff Department              1
Film Facilitator                                1
Administrative/Reports Manager                  1
Financial Wellness Coach                        1
Realtor/Investor                                1
English As A Second Language Tutor              1
Name: emp_title, Length: 31429, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [140]:
print(df['emp_title'].str.contains('Manager').sum())
# case=False makes it not case sensitive
df['emp_title'].str.contains('manager', case=False).head(10)

15962

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9     True
Name: emp_title, dtype: bool

In [141]:
df['emp_title'].iloc[0:10]

0    Front Desk Supervisor
1       Executive Director
2           Office Manager
3            Store Manager
4             Area Manager
5                      Svp
6              Vp Of Sales
7                    Sales
8                       Rn
9          Project Manager
Name: emp_title, dtype: object

In [142]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager') 
# this creates the column with boolean values
df['emp_title_manager'].value_counts()
# this just counts the column

False    99713
True     15962
Name: emp_title_manager, dtype: int64

In [143]:
round(df.groupby('emp_title_manager')['int_rate'].mean(), 3)

emp_title_manager
False    12.744
True     12.570
Name: int_rate, dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [144]:
df['issue_d'].describe()

count       115675
unique           3
top       Jan-2019
freq         43584
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

# you can specify whether or not you show time, look it up! 
# The answer is adding .dt.date to the end and it specifies only date, no time

In [151]:
df['issue_d'].describe()

count                  115675
unique                      3
top       2019-01-01 00:00:00
freq                    43584
first     2019-01-01 00:00:00
last      2019-03-01 00:00:00
Name: issue_d, dtype: object

In [165]:
# here is only the date without time
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df['issue_d'].describe()

count                  115675
unique                      3
top       2019-01-01 00:00:00
freq                    43584
first     2019-01-01 00:00:00
last      2019-03-01 00:00:00
Name: issue_d, dtype: object

In [154]:
# if making it only date, these following .dt methods do not work correctly

df['issue_d'].iloc[0:5].dt.month

0    3
1    3
2    3
3    3
4    3
Name: issue_d, dtype: int64

In [155]:
df['issue_d'].iloc[0:5].dt.year

0    2019
1    2019
2    2019
3    2019
4    2019
Name: issue_d, dtype: int64

In [156]:
df['issue_d'].iloc[0:5].dt.day

0    1
1    1
2    1
3    1
4    1
Name: issue_d, dtype: int64

In [160]:
df['issue_month'] = df['issue_d'].dt.month
df['issue_month'].value_counts()

1    43584
3    36106
2    35985
Name: issue_month, dtype: int64

In [162]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_month
0,NaN,NaN,20000,20000,20000,60 months,17.19,499.10,C,C5,Front Desk Supervisor,6 years,RENT,47000.0,Source Verified,2019-03-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,3
1,NaN,NaN,12000,12000,12000,36 months,16.40,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,2019-03-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,3
2,NaN,NaN,3000,3000,3000,36 months,14.74,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,2019-03-01,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3
3,NaN,NaN,35000,35000,35000,36 months,15.57,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,2019-03-01,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3
4,NaN,NaN,5000,5000,5000,36 months,15.57,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,2019-03-01,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'])

In [166]:
df['days_since_earliest_cr_line'] = (df['issue_d'] - df['earliest_cr_line']).dt.days
df['days_since_earliest_cr_line'].describe()

count    115675.000000
mean       5972.244634
std        2904.216417
min        1124.000000
25%        4141.000000
50%        5358.000000
75%        7367.000000
max       27453.000000
Name: days_since_earliest_cr_line, dtype: float64

In [167]:
 1124/365 # credit age in years

3.0794520547945203

In [168]:
27453/365 # credit age

75.21369863013699

In [169]:
# find all the columns with dates

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col])

In [171]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,115675,115675,115445,110769,115673
unique,3,652,7,3,7
top,2019-01-01 00:00:00,2006-08-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-06-01 00:00:00
freq,43584,1033,102101,110738,111240
first,2019-01-01 00:00:00,1944-01-01 00:00:00,2019-01-01 00:00:00,2019-06-01 00:00:00,2018-12-01 00:00:00
last,2019-03-01 00:00:00,2016-02-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-06-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

### Changing Term column

In [172]:
df['term'].value_counts()

 36 months    78429
 60 months    37246
Name: term, dtype: int64

In [0]:
# reposting my function to remove section of string from column(s). 

def remove_str(col, remove, change):
  '''This function imputs a column name, what you want to remove, and what type 
  you want to change the string to and applies it to the dataframe column'''
  df[col] = df[col].str.strip(remove).astype(change)

In [174]:
remove_str('term', ' months', int)
df['term'].head()

0    60
1    36
2    36
3    36
4    36
Name: term, dtype: int64

### Creating Loan Status Column

In [175]:
df['loan_status'].value_counts()

Current               109176
Fully Paid              4730
Late (31-120 days)       795
In Grace Period          538
Late (16-30 days)        260
Charged Off              176
Name: loan_status, dtype: int64

In [176]:
df['loan_status_is_great'] = df['loan_status'].str.contains('Current').astype(int)
df['loan_status']

0                    Current
1                    Current
2                    Current
3                    Current
4                    Current
5                    Current
6                    Current
7                    Current
8                    Current
9                    Current
10                   Current
11                   Current
12                   Current
13                   Current
14                   Current
15                   Current
16                   Current
17                   Current
18                   Current
19                   Current
20                   Current
21                   Current
22                   Current
23                   Current
24                   Current
25                   Current
26                   Current
27                   Current
28                   Current
29                   Current
30                   Current
31                   Current
32                   Current
33                   Current
34                   Current
35                   Current
36                   Current
37                   Current
38                   Current
39                   Current
40                   Current
41                   Current
42                   Current
43                   Current
44                   Current
45                   Current
46                   Current
47                   Current
48                   Current
49                   Current
50                   Current
51                   Current
52                   Current
53                   Current
54                   Current
55                   Current
56                   Current
57                   Current
58                   Current
59                   Current
60                   Current
61                   Current
62                   Current
63                   Current
64                Fully Paid
65                   Current
66                   Current
67                   Current
68                   Current
69                   Current
70                   Current
71                   Current
72                   Current
73                   Current
74                   Current
                 ...
115600               Current
115601               Current
115602    Late (31-120 days)
115603               Current
115604               Current
115605               Current
115606               Current
115607               Current
115608            Fully Paid
115609            Fully Paid
115610            Fully Paid
115611               Current
115612               Current
115613               Current
115614       In Grace Period
115615               Current
115616               Current
115617               Current
115618               Current
115619               Current
115620               Current
115621               Current
115622               Current
115623               Current
115624            Fully Paid
115625               Current
115626               Current
115627               Current
115628               Current
115629               Current
115630               Current
115631               Current
115632               Current
115633               Current
115634               Current
115635               Current
115636               Current
115637               Current
115638               Current
115639               Current
115640               Current
115641               Current
115642               Current
115643               Current
115644               Current
115645               Current
115646               Current
115647               Current
115648               Current
115649               Current
115650               Current
115651               Current
115652               Current
115653               Current
115654               Current
115655               Current
115656    Late (31-120 days)
115657            Fully Paid
115658               Current
115659               Current
115660               Current
115661               Current
115662               Current
115663               Current
115664               Current
115665               Current
115666               Current
115667               Current
115668               Current
115669               Current
115670               Current
115671               Current
115672               Current
115673               Current
115674               Current
Name: loan_status, Length: 115675, dtype: object

In [177]:
df['loan_status'][115600:115620]

115600               Current
115601               Current
115602    Late (31-120 days)
115603               Current
115604               Current
115605               Current
115606               Current
115607               Current
115608            Fully Paid
115609            Fully Paid
115610            Fully Paid
115611               Current
115612               Current
115613               Current
115614       In Grace Period
115615               Current
115616               Current
115617               Current
115618               Current
115619               Current
Name: loan_status, dtype: object

In [178]:
df['loan_status_is_great'][115600:115620]

115600    1
115601    1
115602    0
115603    1
115604    1
115605    1
115606    1
115607    1
115608    0
115609    0
115610    0
115611    1
115612    1
115613    1
115614    0
115615    1
115616    1
115617    1
115618    1
115619    1
Name: loan_status_is_great, dtype: int64

### Date Columns

In [179]:
df['last_pymnt_d'].head()

0   2019-06-01
1   2019-05-01
2   2019-05-01
3   2019-06-01
4   2019-05-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [180]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_month'].head(10)

0    6.0
1    5.0
2    5.0
3    6.0
4    5.0
5    5.0
6    5.0
7    5.0
8    5.0
9    6.0
Name: last_pymnt_d_month, dtype: float64

In [181]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_year'].head(10)

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
5    2019.0
6    2019.0
7    2019.0
8    2019.0
9    2019.0
Name: last_pymnt_d_year, dtype: float64

# STRETCH OPTION - Lending Club

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

In [182]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_month,days_since_earliest_cr_line,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60,17.19,499.10,C,C5,Front Desk Supervisor,6 years,RENT,47000.0,Source Verified,2019-03-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,2006-09-01,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,2019-06-01,499.10,2019-07-01,2019-06-01,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,3,4564,1,6.0,2019.0
1,NaN,NaN,12000,12000,12000,36,16.40,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,2019-03-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,1992-11-01,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,2019-05-01,424.26,2019-07-01,2019-06-01,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,3,9616,1,5.0,2019.0
2,NaN,NaN,3000,3000,3000,36,14.74,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,2019-03-01,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,2004-06-01,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,2019-05-01,103.62,2019-07-01,2019-06-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3,5386,1,5.0,2019.0
3,NaN,NaN,35000,35000,35000,36,15.57,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,2019-03-01,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,2009-12-01,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,2019-06-01,1223.08,2019-07-01,2019-06-01,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3,3377,1,6.0,2019.0
4,NaN,NaN,5000,5000,5000,36,15.57,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,2019-03-01,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,2001-07-01,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,2019-05-01,174.73,2019-07-01,2019-06-01,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,3,6452,1,5.0,2019.0

### Remove %

In [190]:
df['revol_util'].head()

0    19.7%
1    64.9%
2    60.1%
3    24.4%
4    64.4%
Name: revol_util, dtype: object

In [191]:
remove_str('revol_util', '%', float)
df['revol_util'].head()

0    19.7
1    64.9
2    60.1
3    24.4
4    64.4
Name: revol_util, dtype: float64

### Modify emp_title

In [208]:
print(df['emp_title'].value_counts().head(30))
list1 = df['emp_title'].value_counts().head(20)

Missing                     19518
Teacher                      2465
Manager                      2172
Registered Nurse             1306
Driver                       1194
Supervisor                   1109
Office Manager                834
Sales                         806
Truck Driver                  767
General Manager               737
Rn                            724
Owner                         695
Project Manager               688
Sales Manager                 468
Director                      467
Operations Manager            439
Administrative Assistant      412
Police Officer                385
Technician                    381
Engineer                      377
Store Manager                 366
Nurse                         363
Account Manager               338
Server                        327
Vice President                319
Accountant                    319
President                     317
Mechanic                      317
Assistant Manager             308
Electrician                   293
Name: emp_title, dtype: int64

In [209]:
print(list1) # just testing to see if the values pass into the list

Missing                     19518
Teacher                      2465
Manager                      2172
Registered Nurse             1306
Driver                       1194
Supervisor                   1109
Office Manager                834
Sales                         806
Truck Driver                  767
General Manager               737
Rn                            724
Owner                         695
Project Manager               688
Sales Manager                 468
Director                      467
Operations Manager            439
Administrative Assistant      412
Police Officer                385
Technician                    381
Engineer                      377
Name: emp_title, dtype: int64

Not gonna lie, this one is getting the best of me.

In [225]:
top_20 = df['emp_title'].value_counts().head(20).index.to_list()
print(top_20)

'''I passed the top 20 value counts into a list so that I could use those to 
test against the other values in the entire column '''

['Missing', 'Teacher', 'Manager', 'Registered Nurse', 'Driver', 'Supervisor', 'Office Manager', 'Sales', 'Truck Driver', 'General Manager', 'Rn', 'Owner', 'Project Manager', 'Sales Manager', 'Director', 'Operations Manager', 'Administrative Assistant', 'Police Officer', 'Technician', 'Engineer']

In [227]:
# for i in df['emp_title']:
#   if top_20.str.contains(i):
#     pass
#   else: 
#     i = 'Other'
    
    
[i for i in df['emp_title'] if i in top_20 else i = 'Other']
    
df['emp_title'].value_counts()

''' This was my first attempt at changing the column... it clearly didn't work '''

SyntaxError: ignored

In [228]:
[x for x in 'MATHEMATICS' if x in ['A','E','I','O','U']]
''' I was testing out list comprehension to see if I truly understood
how it worked. I searched extensively to find out how to do an 'if else'
in a list comprehension and finally figured it out... 
Below is the working code'''

['A', 'E', 'A', 'I']

In [235]:
''' 
This is my complete working function for changing anything not in the 
top 20 value counts to 'Other'... I DID IT!! 
''' 


top_20 = df['emp_title'].value_counts().head(20).index.to_list()
print(top_20)


df['emp_title'] = [i if i in top_20 else 'Other' for i in df['emp_title']]
df['emp_title'].value_counts()

Other                       80108
Missing                     19518
Teacher                      2465
Manager                      2172
Registered Nurse             1306
Driver                       1194
Supervisor                   1109
Office Manager                834
Sales                         806
Truck Driver                  767
General Manager               737
Rn                            724
Owner                         695
Project Manager               688
Sales Manager                 468
Director                      467
Operations Manager            439
Administrative Assistant      412
Police Officer                385
Technician                    381
Name: emp_title, dtype: int64

### Modifying 'Purpose' in the dataframe

# STRECH OPTION - Instacart
Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01