<a href="https://colab.research.google.com/github/FuriouStyles/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

#The code cells below will download, unpack, and load the data into a manageable Pandas dataframe

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-13 16:59:57--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [              <=>   ]  21.58M   885KB/s    in 26s

2019-09-13 17:00:24 (842 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22631049]

In [0]:
!unzip LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

## Convert The 'term' Column to an Integer

In [0]:
# Find out what it looks like in the console
print(df['term'][1])

 36 months

In [0]:
# Convert 'term' column from string to an integer using a function
def remove_months(x):
  return x[:-7]

In [0]:
# On second thought, I decided to boil it down to one line with a lambda function
df['term'] = df['term'].apply(lambda x: int(x[:-7]))

In [0]:
# Check my output
df['term'][:5]

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

## Create The 'loan_status_is_great' Column

In [0]:
# Create the 'loan_status_is_great' column
search_for = ['Current', 'Fully Paid']
df['loan_status_is_great'] = df['loan_status'].str.contains('|'.join(search_for)).astype(int)

In [0]:
# Check my output
df['loan_status_is_great'][:5]

0    1
1    1
2    0
3    1
4    1
Name: loan_status_is_great, dtype: int64

## Create 'last_pymnt_d_month' & 'last_pymnt_d_year' Columns

In [0]:
# Convert 'issue_d' to an date/time format
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'][:5]

0   2019-07-01
1   2019-07-01
2   2019-06-01
3   2019-07-01
4   2019-07-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [0]:
df[['last_pymnt_d_month', 'last_pymnt_d_year']][:5]

   last_pymnt_d_month  last_pymnt_d_year
0                 7.0             2019.0
1                 7.0             2019.0
2                 6.0             2019.0
3                 7.0             2019.0
4                 7.0             2019.0

In [0]:
df['installment'].iloc[5]

710.26

## A Stretch Goal of my Own Making

In [0]:
# Stretch - Calculate the payoff date based on the number of installments with help from relativedelta
from datetime import date
from dateutil.relativedelta import relativedelta

# First we have to get 'issue_d' into a date/time format
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

# Then we have to get 'installment' into an integer
df['installment'] = np.ceil(df['installment']).astype(int)

# Use a list comprehension to build the 'payoff_date' column
df['payoff_date'] = [y + relativedelta(months=+x) for y, x in zip(df['issue_d'], df['installment'])]

In [0]:
df['payoff_date'][:5]

0   2046-01-01
1   2031-12-01
2   2034-01-01
3   2070-09-01
4   2044-12-01
Name: payoff_date, dtype: datetime64[ns]

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

##LendingClub Stretch Goals

### Remove Percent Signs From 'revol_util'

In [0]:
# Fill missing values with NaN
df['revol_util'].fillna(np.NaN)

0           38%
1         19.2%
2         19.1%
3           13%
4         81.3%
5           32%
6         11.5%
7         24.2%
8         10.3%
9         55.5%
10        73.7%
11        24.8%
12        65.5%
13        37.2%
14        83.1%
15        37.5%
16        33.5%
17        54.4%
18        82.2%
19        58.2%
20          74%
21        82.2%
22         7.2%
23        26.5%
24        84.1%
25        69.5%
26        70.5%
27         3.6%
28        78.1%
29        48.1%
          ...
128382    36.4%
128383    56.2%
128384      84%
128385      25%
128386    98.9%
128387     7.7%
128388    42.5%
128389       0%
128390      58%
128391    25.3%
128392    80.9%
128393    74.6%
128394     2.8%
128395    47.9%
128396      45%
128397      55%
128398    40.7%
128399    35.8%
128400    76.3%
128401    87.3%
128402     5.4%
128403    15.7%
128404    62.2%
128405    14.3%
128406    34.5%
128407    43.6%
128408    37.1%
128409    27.3%
128410    13.1%
128411    30.8%
Name: revol_util, Length: 128412, dtype: object

In [0]:
df['revol_util'] = df['revol_util'].apply(lambda x: x if pd.isnull(x) else x.replace('%', ''))
df['revol_util'].tail(25)

128387     7.7
128388    42.5
128389       0
128390      58
128391    25.3
128392    80.9
128393    74.6
128394     2.8
128395    47.9
128396      45
128397      55
128398    40.7
128399    35.8
128400    76.3
128401    87.3
128402     5.4
128403    15.7
128404    62.2
128405    14.3
128406    34.5
128407    43.6
128408    37.1
128409    27.3
128410    13.1
128411    30.8
Name: revol_util, dtype: object

### Top Twenty 'emp_title' Occurances

In [41]:
 #Single line attempt - identify the most frequent occurances up to twenty
  emp_freq = df['emp_title'].value_counts()[:20].index.tolist()
  emp_freq_r = [r'^' + x + '$' for x in emp_freq]
  emp_freq_r

['^other$',
 '^Teacher$',
 '^Manager$',
 '^Registered Nurse$',
 '^Driver$',
 '^RN$',
 '^Supervisor$',
 '^Sales$',
 '^Project Manager$',
 '^General Manager$',
 '^Office Manager$',
 '^Owner$',
 '^Director$',
 '^Truck Driver$',
 '^Operations Manager$',
 '^Nurse$',
 '^Engineer$',
 '^Sales Manager$',
 '^manager$',
 '^Supervisor $']

In [42]:
# Use list comprehension to create fill less frequent occurances with 'other'
#df['emp_title'] = df['emp_title'].apply(lambda x: other if df.iloc[~df['emp_title'].str.contains('|'.join(emp_freq)) else pass)

df['emp_title'][~df['emp_title'].str.contains('|'.join(emp_freq_r), na=True)] = 'other'
df['emp_title'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

other                 95031
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

## Instacart Stretch Goal

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-13 17:00:52--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.186.45
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.186.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  83.6MB/s    in 2.3s

2019-09-13 17:00:54 (83.6 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01