<a href="https://colab.research.google.com/github/connorpheraty/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Connor_Heraty_LS_DS3_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 22:39:10--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.166.109
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.166.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.5’

instacart_online_gr 100%[===================>] 196.03M  44.7MB/s    in 4.8s

2019-03-26 22:39:15 (40.6 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.5’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [7]:
aisles.shape

(134, 2)

In [8]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [9]:
display(example)

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [11]:
departments.shape

(21, 2)

In [12]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [13]:
display(example)

departments doesn't have any columns we need

### order_products__prior

In [0]:
order_products = pd.read_csv('order_products__prior.csv')

In [15]:
order_products.shape

(32434489, 4)

In [16]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
display(example)

order_products__prior contains 3 columns that we need: order_id, product_id, add_to_cart_order

In [18]:
order_products.groupby('order_id')['product_id'].count().mean()

10.088883421247614

** order_products_prior** has:
- order_id
- product_id
- add_to_cart_order

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [20]:
order_products__train.shape

(1384617, 4)

In [21]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

** order_products_prior** and **order_products__train** have the exact same columns.

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [23]:
orders.shape

(3421083, 7)

In [24]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [25]:
display(example)

**Orders** has:
- user id
- order_id
- order_number
- order_hour_of_day
- order_dow

### products

In [0]:
products = pd.read_csv('products.csv')

In [27]:
products.shape

(49688, 4)

In [28]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [29]:
display(example)

**Products** has:
- product_name
- product_id

## Concatenate order_products__prior and order_products__train

In [30]:
order_products = pd.concat([order_products__prior, order_products__train])

NameError: ignored

In [0]:
order_products.head()

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert (len(order_products.columns) == 
        len(order_products__prior.columns) ==
        len(order_products__train.columns))

In [0]:
rows, columns = order_products.shape

In [0]:
print('rows:',rows)
print('columns:', columns)

## Get a subset of orders — the first two orders for user id 1

In [0]:
order_products[order_id]

In [0]:
condition = order_products['order_id']==2539329
order_products[condition]

From 'orders' dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders[(orders['user_id']==1) & (orders['order_number']<=2)]

In [0]:
display(example)

## Merge dataframes

Merge the subset from orders with columns from order_products

In [0]:
orders.head()

In [0]:
order_products.head()

In [0]:
pd.merge(subset,
         order_products[['order_id', 'add_to_cart_order', 'product_id']])

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

To complete our objective we will need to find which dataframes contain the **product_id** and **product_name** columns.

In [31]:
# Checking the headers of all our dataframes for the relevant columns
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [32]:
order_products.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

In [33]:
order_products__train.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1

In [34]:
orders.head(1)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN

In [35]:
products.head(1)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19

**product_id** and **product_name **are in the **order_products** and **products** dataframes. We will merge them into one dataframe for analysis.

In [0]:
quant_prod = pd.merge(order_products, products, on='product_id')

In [37]:
quant_prod.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

## Top 10 Most Ordered Products

In [38]:
top10_prod = quant_prod['product_name'].value_counts()[:10]
top10_prod

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

In [39]:
# Corresponding product_id showing same results
top10_prod_id = quant_prod['product_id'].value_counts()[:10]
top10_prod_id

24852    472565
13176    379450
21137    264683
21903    241921
47209    213584
47766    176815
47626    152657
16797    142951
26209    140627
27845    137905
Name: product_id, dtype: int64

## Stretch Goal - The Dumb Way!

Create popular products dataframe (>2900)
- prod_id 
- product_name
- order_hour_of_day

My first objective will be drop all unnecessary columns from target dataframes. This will make the data load more manageable when creating the master dataframe.

In [307]:
products.head(1)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19

In [0]:
simp_products = products.drop(['aisle_id','department_id'], axis=1)

In [309]:
simp_products.head(1)

   product_id                product_name
0           1  Chocolate Sandwich Cookies

In [310]:
orders.head(1)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN

In [0]:
simp_orders = orders.drop(['user_id', 'eval_set', 'order_number', 'order_dow', 'days_since_prior_order'], axis=1)

In [312]:
simp_orders.head(1)

   order_id  order_hour_of_day
0   2539329                  8

In [313]:
order_products.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

In [0]:
simp_order_id = order_products.drop(['add_to_cart_order', 'reordered'], axis=1)

In [315]:
simp_order_id.head(1)

   order_id  product_id
0         2       33120

Now I will merge all my simplified dataframes into one master dataframe for analysis.

In [0]:
temp_df = pd.merge(simp_products, simp_order_id, on='product_id')

In [0]:
master_df = pd.merge(temp_df, simp_orders, on='order_id')

We now have all the relevant features for our stretch goal!

In [318]:
master_df.head()

   product_id                product_name  order_id  order_hour_of_day
0           1  Chocolate Sandwich Cookies      1107                 11
1         769      Sliced American Cheese      1107                 11
2        6184                 Clementines      1107                 11
3        8048     Packaged Grape Tomatoes      1107                 11
4        9007              Frosted Flakes      1107                 11

Create a series that counts all products sold in the morning

In [0]:
morn_prod = master_df[master_df['order_hour_of_day'] <= 12]

In [0]:
morn_prod_agg = morn_prod['product_name'].value_counts()

Create a series that counts all products sold in aggregate

In [0]:
most_pop_prod = master_df['product_name'].value_counts()

Create individual dataframes out of the two series created above.

In [0]:
# Dataframe containing all purchases
temp_all_df = pd.DataFrame(most_pop_prod)

In [0]:
temp_all_df = temp_all_df.reset_index()

In [0]:
temp_all_df = temp_all_df.rename(columns={'index':'product_name','product_name':'all_day_counts'})

In [0]:
# Dataframe containing only morning purchases
temp_morn_df = pd.DataFrame(morn_prod_agg)

In [0]:
temp_morn_df = temp_morn_df.reset_index()

In [0]:
temp_morn_df = temp_morn_df.rename(columns={'index':'product_name','product_name':'morning_counts'})

Merge two dataframes together.

In [0]:
dumb_master_df = pd.merge(temp_all_df, temp_morn_df, on='product_name')

In [0]:
dumb_master_df = dumb_master_df.sort_values('all_day_counts', ascending=False)

In [0]:
popular_late_prod = dumb_master_df[:3000]

Create night count column by subtracting morning columns from the all day column.

In [336]:
popular_late_prod['night_counts'] = popular_late_prod['all_day_counts'] - popular_late_prod['morning_counts']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Create night frequency column to determine the relative increase in popularity for items purchased at night.

In [338]:
popular_late_prod['night_frequency'] = popular_late_prod['night_counts'] / popular_late_prod['morning_counts']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
# Sort % values from high to low
popular_late_prod = popular_late_prod.sort_values('night_frequency', ascending=False)

In [342]:
# Similar list to article but out of order
popular_late_prod.head(25)

,product_name,all_day_counts,morning_counts,night_counts,night_frequency
2433,Chocolate Fudge Brownie Ice Cream,2346,708,1638,2.313559
1916,The Tonight Dough™ Ice Cream,2973,911,2062,2.263447
2000,Half Baked Frozen Yogurt,2844,875,1969,2.250286
885,Americone Dream® Ice Cream,6155,1928,4227,2.192427
2843,Caribbean Coconut Gelato,1967,620,1347,2.172581
2872,Mint Chocolate Cookie Ice Cream,1944,613,1331,2.171289
919,Half Baked® Ice Cream,5928,1891,4037,2.134849
1303,Chocolate Peanut Butter Cup Gelato,4324,1390,2934,2.110791
1881,Phish Food® Ice Cream,3028,984,2044,2.077236
1093,Milk and Cookies Ice Cream,5003,1637,3366,2.056200
2319,Malbec,2451,802,1649,2.056110
1314,Cherry Garcia Ice Cream,4283,1405,2878,2.048399
978,Caramel Cookie Crunch Gelato,5517,1813,3704,2.043023
2226,Lemon Cake Ice Cream,2574,849,1725,2.031802
891,Strawberry Ice Cream,6129,2028,4101,2.022189
1148,Vanilla Bean Light Ice Cream,4813,1594,3219,2.019448
2491,S'mores Chocolate Ice Cream,2279,756,1523,2.014550
985,Mint Chip,5502,1834,3668,2.000000
1063,Birthday Cake Light Ice Cream,5129,1710,3419,1.999415
1880,Sicilian Pistachio,3029,1011,2018,1.996044
720,Mediterranean Mint Gelato,7319,2446,4873,1.992232
1891,Roman Raspberry Sorbetto,3016,1009,2007,1.989098
1507,Coffee Ice Cream,3770,1264,2506,1.982595
1772,Coconut Almond Minis Frozen Dessert Bars,3213,1082,2131,1.969501
2371,Mocha Almond Fudge Minis Almond Milk Frozen De...,2414,814,1600,1.965602