<a href="https://colab.research.google.com/github/danhorsley/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_LS_DS_112_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Loading Data

Data comes in many shapes and sizes - we'll start by loading tabular data, usually in csv format.

Data set sources:

- https://archive.ics.uci.edu/ml/datasets.html
- https://github.com/awesomedata/awesome-public-datasets
- https://registry.opendata.aws/ (beyond scope for now, but good to be aware of)

Let's start with an example - [data about flags](https://archive.ics.uci.edu/ml/datasets/Flags).

## Lecture example - flag data

In [16]:
# Step 1 - find the actual file to download

# From navigating the page, clicking "Data Folder"
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

Afghanistan,5,1,648,16,10,2,0,3,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,0,1,0,0,black,green
Albania,3,1,29,3,6,6,0,0,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,0,1,0,red,red
Algeria,4,1,2388,20,8,2,2,0,3,1,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,green,white
American-Samoa,6,3,0,0,1,1,0,0,5,1,0,1,1,1,0,1,blue,0,0,0,0,0,0,1,1,1,0,blue,red
Andorra,3,1,0,0,6,0,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Angola,4,2,1247,7,10,5,0,2,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,1,0,0,red,black
Anguilla,1,4,0,0,1,1,0,1,3,0,0,1,0,1,0,1,white,0,0,0,0,0,0,0,0,1,0,white,blue
Antigua-Barbuda,1,4,0,0,1,1,0,1,5,1,0,1,1,1,1,0,red,0,0,0,0,1,0,1,0,0,0,black,red
Argentina,2,3,2777,28,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Argentine,2,3,2777,28,2,0,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Australia,6,2,7690,15,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,6,0,0,0,0,0,white,blue
Austria,3,1,84,8,4,0,0,3,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Bahamas,1,4,19,0,1,1,0,3,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
Bahrain,5,1,1,0,8,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,red
Bangladesh,5,1,143,90,6,2,0,0,2,1,1,0,0,0,0,0,green,1,0,0,0,0,0,0,0,0,0,green,green
Barbados,1,4,0,0,1,1,3,0,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Belgium,3,1,31,10,6,0,3,0,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,0,0,0,black,red
Belize,1,4,23,0,1,1,0,2,8,1,1,1,1,1,1,1,blue,1,0,0,0,0,0,0,1,1,1,red,red
Benin,4,1,113,3,3,5,0,0,2,1,1,0,0,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,green
Bermuda,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,red,1,1,1,1,0,0,0,1,1,0,white,red
Bhutan,5,1,47,1,10,3,0,0,4,1,0,0,0,1,1,1,orange,4,0,0,0,0,0,0,0,1,0,orange,red
Bolivia,2,3,1099,6,2,0,0,3,3,1,1,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Botswana,4,2,600,1,10,5,0,5,3,0,0,1,0,1,1,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Brazil,2,3,8512,119,6,0,0,0,4,0,1,1,1,1,0,0,green,1,0,0,0,22,0,0,0,0,1,green,green
British-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,1,white,blue
Brunei,5,1,6,0,10,2,0,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,1,1,1,1,white,gold
Bulgaria,3,1,111,9,5,6,0,3,5,1,1,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,white,red
Burkina,4,4,274,7,3,5,0,2,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Burma,5,1,678,35,10,3,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,14,0,0,1,1,0,blue,red
Burundi,4,2,28,4,10,5,0,0,3,1,1,0,0,1,0,0,red,1,0,1,0,3,0,0,0,0,0,white,white
Cameroon,4,1,474,8,3,1,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,1,0,0,0,0,0,green,gold
Canada,1,4,9976,24,1,1,2,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,1,0,red,red
Cape-Verde-Islands,4,4,4,0,6,0,1,2,5,1,1,0,1,0,1,1,gold,0,0,0,0,1,0,0,0,1,0,red,green
Cayman-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,4,0,0,1,1,1,white,blue
Central-African-Republic,4,1,623,2,10,5,1,0,5,1,1,1,1,1,0,0,gold,0,0,0,0,1,0,0,0,0,0,blue,gold
Chad,4,1,1284,4,3,5,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Chile,2,3,757,11,2,0,0,2,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
China,5,1,9561,1008,7,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,5,0,0,0,0,0,red,red
Colombia,2,4,1139,28,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Comorro-Islands,4,2,2,0,3,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,4,1,0,0,0,0,green,green
Congo,4,2,342,2,10,5,0,0,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,1,1,0,red,red
Cook-Islands,6,3,0,0,1,1,0,0,4,1,0,1,0,1,0,0,blue,1,1,1,1,15,0,0,0,0,0,white,blue
Costa-Rica,1,4,51,2,2,0,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Cuba,1,4,115,10,2,6,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,blue,blue
Cyprus,3,1,9,1,6,1,0,0,3,0,1,0,1,1,0,0,white,0,0,0,0,0,0,0,1,1,0,white,white
Czechoslovakia,3,1,128,15,5,6,0,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,1,0,0,0,white,red
Denmark,3,1,43,5,6,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Djibouti,4,1,22,0,3,2,0,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,white,green
Dominica,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,green,1,0,0,0,10,0,0,0,1,0,green,green
Dominican-Republic,1,4,49,6,2,0,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Ecuador,2,3,284,8,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Egypt,4,1,1001,47,8,2,0,3,4,1,0,0,1,1,1,0,black,0,0,0,0,0,0,0,0,1,1,red,black
El-Salvador,1,4,21,5,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Equatorial-Guinea,4,1,28,0,10,5,0,3,4,1,1,1,0,1,0,0,green,0,0,0,0,0,0,1,0,0,0,green,red
Ethiopia,4,1,1222,31,10,1,0,3,3,1,1,0,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Faeroes,3,4,1,0,6,1,0,0,3,1,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
Falklands-Malvinas,2,3,12,0,1,1,0,0,6,1,1,1,1,1,0,0,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Fiji,6,2,18,1,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Finland,3,1,337,5,9,1,0,0,2,0,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
France,3,1,547,54,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Guiana,2,4,91,0,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Polynesia,6,3,4,0,3,0,0,3,5,1,0,1,1,1,1,0,red,1,0,0,0,1,0,0,1,0,0,red,red
Gabon,4,2,268,1,10,5,0,3,3,0,1,1,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Gambia,4,4,10,1,1,5,0,5,4,1,1,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Germany-DDR,3,1,108,17,4,6,0,3,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,1,0,0,black,gold
Germany-FRG,3,1,249,61,4,1,0,3,3,1,0,0,1,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,gold
Ghana,4,4,239,14,1,5,0,3,4,1,1,0,1,0,1,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Gibraltar,3,4,0,0,1,1,0,1,3,1,0,0,1,1,0,0,white,0,0,0,0,0,0,0,1,0,0,white,red
Greece,3,1,132,10,6,1,0,9,2,0,0,1,0,1,0,0,blue,0,1,0,1,0,0,0,0,0,0,blue,blue
Greenland,1,4,2176,0,6,1,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,0,0,0,0,0,0,white,red
Grenada,1,4,0,0,1,1,0,0,3,1,1,0,1,0,0,0,gold,1,0,0,0,7,0,1,0,1,0,red,red
Guam,6,1,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,0,0,0,0,0,0,1,1,1,red,red
Guatemala,1,4,109,8,2,0,3,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Guinea,4,4,246,6,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,red,green
Guinea-Bissau,4,4,36,1,6,5,1,2,4,1,1,0,1,0,1,0,gold,0,0,0,0,1,0,0,0,0,0,red,green
Guyana,2,4,215,1,1,4,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,0,0,1,0,0,0,black,green
Haiti,1,4,28,6,3,0,2,0,2,1,0,0,0,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,red
Honduras,1,4,112,4,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,5,0,0,0,0,0,blue,blue
Hong-Kong,5,1,1,5,7,3,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Hungary,3,1,93,11,9,6,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Iceland,3,4,103,0,6,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
India,5,1,3268,684,6,4,0,3,4,0,1,1,0,1,0,1,orange,1,0,0,0,0,0,0,1,0,0,orange,green
Indonesia,6,2,1904,157,10,2,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Iran,5,1,1648,39,6,2,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,1,green,red
Iraq,5,1,435,14,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,3,0,0,0,0,0,red,black
Ireland,3,4,70,3,1,0,3,0,3,0,1,0,0,1,0,1,white,0,0,0,0,0,0,0,0,0,0,green,orange
Israel,5,1,21,4,10,7,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,1,0,0,0,0,0,blue,blue
Italy,3,1,301,57,6,0,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,green,red
Ivory-Coast,4,4,323,7,3,5,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,red,green
Jamaica,1,4,11,2,1,1,0,0,3,0,1,0,1,0,1,0,green,0,0,1,0,0,0,1,0,0,0,gold,gold
Japan,5,1,372,118,9,7,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,1,0,0,0,0,0,white,white
Jordan,5,1,98,2,8,2,0,3,4,1,1,0,0,1,1,0,black,0,0,0,0,1,0,1,0,0,0,black,green
Kampuchea,5,1,181,6,10,3,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,red,red
Kenya,4,1,583,17,10,5,0,5,4,1,1,0,0,1,1,0,red,1,0,0,0,0,0,0,1,0,0,black,green
Kiribati,6,1,0,0,1,1,0,0,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,red,blue
Kuwait,5,1,18,2,8,2,0,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Laos,5,1,236,3,10,6,0,3,3,1,0,1,0,1,0,0,red,1,0,0,0,0,0,0,0,0,0,red,red
Lebanon,5,1,10,3,8,2,0,2,4,1,1,0,0,1,0,1,red,0,0,0,0,0,0,0,0,1,0,red,red
Lesotho,4,2,30,1,10,5,2,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,0,0,0,1,0,0,green,blue
Liberia,4,4,111,1,10,5,0,11,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
Libya,4,1,1760,3,8,2,0,0,1,0,1,0,0,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Liechtenstein,3,1,0,0,4,0,0,2,3,1,0,1,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,blue,red
Luxembourg,3,1,3,0,4,0,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Malagasy,4,2,587,9,10,1,1,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,green
Malawi,4,2,118,6,10,5,0,3,3,1,1,0,0,0,1,0,red,0,0,0,0,1,0,0,0,0,0,black,green
Malaysia,5,1,333,13,10,2,0,14,4,1,0,1,1,1,0,0,red,0,0,0,1,1,1,0,0,0,0,blue,white
Maldive-Islands,5,1,0,0,10,2,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,1,0,0,0,0,red,red
Mali,4,4,1240,7,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,green,red
Malta,3,1,0,0,10,0,2,0,3,1,0,0,0,1,1,0,red,0,1,0,0,0,0,0,1,0,0,white,red
Marianas,6,1,0,0,10,1,0,0,3,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,1,0,0,blue,blue
Mauritania,4,4,1031,2,8,2,0,0,2,0,1,0,1,0,0,0,green,0,0,0,0,1,1,0,0,0,0,green,green
Mauritius,4,2,2,1,1,4,0,4,4,1,1,1,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Mexico,1,4,1973,77,2,0,3,0,4,1,1,0,0,1,0,1,green,0,0,0,0,0,0,0,0,1,0,green,red
Micronesia,6,1,1,0,10,1,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,4,0,0,0,0,0,blue,blue
Monaco,3,1,0,0,3,0,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Mongolia,5,1,1566,2,10,6,3,0,3,1,0,1,1,0,0,0,red,2,0,0,0,1,1,1,1,0,0,red,red
Montserrat,1,4,0,0,1,1,0,0,7,1,1,1,1,1,1,0,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Morocco,4,4,447,20,8,2,0,0,2,1,1,0,0,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Mozambique,4,2,783,12,10,5,0,5,5,1,1,0,1,1,1,0,gold,0,0,0,0,1,0,1,1,0,0,green,gold
Nauru,6,2,0,0,10,1,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Nepal,5,1,140,16,10,4,0,0,3,0,0,1,0,1,0,1,brown,0,0,0,0,2,1,0,0,0,0,blue,blue
Netherlands,3,1,41,14,6,1,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Netherlands-Antilles,1,4,0,0,6,1,0,1,3,1,0,1,0,1,0,0,white,0,0,0,0,6,0,0,0,0,0,white,white
New-Zealand,6,2,268,2,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,4,0,0,0,0,0,white,blue
Nicaragua,1,4,128,3,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Niger,4,1,1267,5,3,2,0,3,3,0,1,0,0,1,0,1,orange,1,0,0,0,0,0,0,0,0,0,orange,green
Nigeria,4,1,925,56,10,2,3,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Niue,6,3,0,0,1,1,0,0,4,1,0,1,1,1,0,0,gold,1,1,1,1,5,0,0,0,0,0,white,gold
North-Korea,5,1,121,18,10,6,0,5,3,1,0,1,0,1,0,0,blue,1,0,0,0,1,0,0,0,0,0,blue,blue
North-Yemen,5,1,195,9,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,1,0,0,0,0,0,red,black
Norway,3,1,324,4,6,1,0,0,3,1,0,1,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Oman,5,1,212,1,8,2,0,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,0,red,green
Pakistan,5,1,804,84,6,2,1,0,2,0,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,white,green
Panama,2,4,76,2,2,0,0,0,3,1,0,1,0,1,0,0,red,0,0,0,4,2,0,0,0,0,0,white,white
Papua-New-Guinea,6,2,463,3,1,5,0,0,4,1,0,0,1,1,1,0,black,0,0,0,0,5,0,1,0,1,0,red,black
Parguay,2,3,407,3,2,0,0,3,6,1,1,1,1,1,1,0,red,1,0,0,0,1,0,0,1,1,1,red,blue
Peru,2,3,1285,14,2,0,3,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Philippines,6,1,300,48,10,0,0,0,4,1,0,1,1,1,0,0,blue,0,0,0,0,4,0,1,0,0,0,blue,red
Poland,3,1,313,36,5,6,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,red
Portugal,3,4,92,10,6,0,0,0,5,1,1,1,1,1,0,0,red,1,0,0,0,0,0,0,1,0,0,green,red
Puerto-Rico,1,4,9,3,2,0,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,1,0,1,0,0,0,red,red
Qatar,5,1,11,0,8,2,0,0,2,0,0,0,0,1,0,1,brown,0,0,0,0,0,0,0,0,0,0,white,brown
Romania,3,1,237,22,6,6,3,0,7,1,1,1,1,1,0,1,red,0,0,0,0,2,0,0,1,1,1,blue,red
Rwanda,4,2,26,5,10,5,3,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,0,0,0,1,red,green
San-Marino,3,1,0,0,6,0,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,blue
Sao-Tome,4,1,0,0,6,0,0,3,4,1,1,0,1,0,1,0,green,0,0,0,0,2,0,1,0,0,0,green,green
Saudi-Arabia,5,1,2150,9,8,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,1,0,1,green,green
Senegal,4,4,196,6,3,2,3,0,3,1,1,0,1,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,red
Seychelles,4,2,0,0,1,1,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Sierra-Leone,4,4,72,3,1,5,0,3,3,0,1,1,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Singapore,5,1,1,3,7,3,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,5,1,0,0,0,0,red,white
Soloman-Islands,6,2,30,0,1,1,0,0,4,0,1,1,1,1,0,0,green,0,0,0,0,5,0,1,0,0,0,blue,green
Somalia,4,1,637,5,10,2,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
South-Africa,4,2,1221,29,6,1,0,3,5,1,1,1,0,1,0,1,orange,0,1,1,0,0,0,0,0,0,0,orange,blue
South-Korea,5,1,99,39,10,7,0,0,4,1,0,1,0,1,1,0,white,1,0,0,0,0,0,0,1,0,0,white,white
South-Yemen,5,1,288,2,8,2,0,3,4,1,0,1,0,1,1,0,red,0,0,0,0,1,0,1,0,0,0,red,black
Spain,3,4,505,38,2,0,0,3,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Sri-Lanka,5,1,66,15,10,3,2,0,4,0,1,0,1,0,0,1,gold,0,0,0,0,0,0,0,1,1,0,gold,gold
St-Helena,4,3,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,0,0,white,blue
St-Kitts-Nevis,1,4,0,0,1,1,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,2,0,1,0,0,0,green,red
St-Lucia,1,4,0,0,1,1,0,0,4,0,0,1,1,1,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
St-Vincent,1,4,0,0,1,1,5,0,4,0,1,1,1,1,0,0,green,0,0,0,0,0,0,0,1,1,1,blue,green
Sudan,4,1,2506,20,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,red,black
Surinam,2,4,63,0,6,1,0,5,4,1,1,0,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,green,green
Swaziland,4,2,17,1,10,1,0,5,7,1,0,1,1,1,1,1,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Sweden,3,1,450,8,6,1,0,0,2,0,0,1,1,0,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Switzerland,3,1,41,6,4,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Syria,5,1,185,10,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,2,0,0,0,0,0,red,black
Taiwan,5,1,36,18,7,3,0,0,3,1,0,1,0,1,0,0,red,1,0,0,1,1,0,0,0,0,0,blue,red
Tanzania,4,2,945,18,10,5,0,0,4,0,1,1,1,0,1,0,green,0,0,0,0,0,0,1,0,0,0,green,blue
Thailand,5,1,514,49,10,3,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Togo,4,1,57,2,3,7,0,5,4,1,1,0,1,1,0,0,green,0,0,0,1,1,0,0,0,0,0,red,green
Tonga,6,2,1,0,10,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,1,0,0,0,0,0,0,white,red
Trinidad-Tobago,2,4,5,1,1,1,0,0,3,1,0,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,white,white
Tunisia,4,1,164,7,8,2,0,0,2,1,0,0,0,1,0,0,red,1,0,0,0,1,1,0,0,0,0,red,red
Turkey,5,1,781,45,9,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,1,1,0,0,0,0,red,red
Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,0,white,blue
Tuvalu,6,2,0,0,1,1,0,0,5,1,0,1,1,1,0,0,blue,0,1,1,1,9,0,0,0,0,0,white,blue
UAE,5,1,84,1,8,2,1,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,red,black
Uganda,4,1,236,13,10,5,0,6,5,1,0,0,1,1,1,0,gold,1,0,0,0,0,0,0,0,1,0,black,red
UK,3,4,245,56,1,1,0,0,3,1,0,1,0,1,0,0,red,0,1,1,0,0,0,0,0,0,0,white,red
Uruguay,2,3,178,3,2,0,0,9,3,0,0,1,1,1,0,0,white,0,0,0,1,1,0,0,0,0,0,white,white
US-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,0,white,0,0,0,0,0,0,0,1,1,1,white,white
USA,1,4,9363,231,1,1,0,13,3,1,0,1,0,1,0,0,white,0,0,0,1,50,0,0,0,0,0,blue,red
USSR,5,1,22402,274,5,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,1,0,0,red,red
Vanuatu,6,2,15,0,6,1,0,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,1,0,1,0,black,green
Vatican-City,3,1,0,0,6,0,2,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,0,1,0,0,gold,white
Venezuela,2,4,912,15,2,0,0,3,7,1,1,1,1,1,1,1,red,0,0,0,0,7,0,0,1,1,0,gold,red
Vietnam,5,1,333,60,10,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Western-Samoa,6,3,3,0,1,1,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,5,0,0,0,0,0,blue,red
Yugoslavia,3,1,256,22,6,6,0,3,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,blue,red
Zaire,4,2,905,28,10,5,0,0,4,1,1,0,1,0,0,1,green,1,0,0,0,0,0,0,1,1,0,green,green
Zambia,4,2,753,6,10,5,3,0,4,1,1,0,0,0,1,1,green,0,0,0,0,0,0,0,0,1,0,green,brown
Zimbabwe,4,2,391,8,10,5,0,7,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,1,1,1,0,green,green

In [0]:
# Step 2 - load the data

# How to deal with a csv? üêº
import pandas as pd
flag_data = pd.read_csv(flag_data_url)

In [0]:
# Step 3 - verify we've got *something*
flag_data.head()

,Afghanistan,5,1,648,16,10,2,0,3,5.1,...,0.5,0.6,1.6,0.7,0.8,1.7,0.9,0.10,black,green.1
0,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
1,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
2,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
3,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
4,Angola,4,2,1247,7,10,5,0,2,3,...,0,0,1,0,0,1,0,0,red,black

In [18]:
# Step 4 - Looks a bit odd - verify that it is what we want
flag_data.count()

Afghanistan    193
5              193
1              193
648            193
16             193
10             193
2              193
0              193
3              193
5.1            193
1.1            193
1.2            193
0.1            193
1.3            193
1.4            193
1.5            193
0.2            193
green          193
0.3            193
0.4            193
0.5            193
0.6            193
1.6            193
0.7            193
0.8            193
1.7            193
0.9            193
0.10           193
black          193
green.1        193
dtype: int64

In [19]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15240  100 15240    0     0   103k      0 --:--:-- --:--:-- --:--:--  104k
    194     194   15240

In [20]:
# So we have 193 observations with funny names, file has 194 rows
# Looks like the file has no header row, but read_csv assumes it does
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        .. deprecated:: 0.19.0
           Please call `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        .. deprecated:: 0.19.0
           Use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        .. deprecated:: 0.19.0
           This argument is not respected by the parser
    compact_ints : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [21]:
# Alright, we can pass header=None to fix this
flag_data = pd.read_csv(flag_data_url, header=None)
flag_data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [22]:
flag_data.count()

0     194
1     194
2     194
3     194
4     194
5     194
6     194
7     194
8     194
9     194
10    194
11    194
12    194
13    194
14    194
15    194
16    194
17    194
18    194
19    194
20    194
21    194
22    194
23    194
24    194
25    194
26    194
27    194
28    194
29    194
dtype: int64

In [23]:
flag_data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

### Yes, but what does it *mean*?

This data is fairly nice - it was "donated" and is already "clean" (no missing values). But there are no variable names - so we have to look at the codebook (also from the site).

```
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
```

Exercise - read the help for `read_csv` and figure out how to load the data with the above variable names. One pitfall to note - with `header=None` pandas generated variable names starting from 0, but the above list starts from 1...

## Your assignment - pick a dataset and do something like the above

This is purposely open-ended - you can pick any data set you wish. It is highly advised you pick a dataset from UCI or a similar "clean" source.

If you get that done and want to try more challenging or exotic things, go for it! Use documentation as illustrated above, and follow the 20-minute rule (that is - ask for help if you're stuck).

If you have loaded a few traditional datasets, see the following section for suggested stretch goals.

In [24]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd
import numpy as np

zoo_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data'


#i had to put in this attirbute list manually as i couldn't work out an easy way to get it from the site
attributes = ['animal name','hair','feathers','eggs','milk','airborne','aquatic',
              'predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type']
df = pd.read_csv(zoo_data_url,header=None,names = attributes)
df.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [25]:
#the data has no missing values
sum(df.isna().sum())

0

In [26]:
#here i am going to use one of the APIs from the resource below.  I randomly chose Oxford Dictionaries API and read how to use it
#  to look up words they have to be stripped down to their 'lemma', i.e. their root so 'sorting' would become'sort'
#to do this i will have to download nltk to tokenize and lemmatise a random block of text i generated from www.randomtext.me

import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
nltk.download('punkt') #this import was required after an error message
nltk.download('wordnet') #this import was required after an error message

random_text = '''Hey hello one more tapir while more away when much vulture that jeez some as near more one
                crud much and despite jeez bounced due far freely far until wherever and together oh much dove 
                hey some stupid far vain juggled perceptible because some less on alas 
                jeepers crane strove crud the shark quetzal contrary inconsiderate 
                mocking shut gecko however much '''

text_words = nltk.word_tokenize(random_text)
lemma_list = []
for word in text_words:
  lemmaword = WordNetLemmatizer().lemmatize(word, pos="v")
  lemma_list.append(lemmaword)
  
lemma_list[:5]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

['Hey', 'hello', 'one', 'more', 'tapir']

In [0]:
#makign funtions to look up and parse entries in dictionaries.  i only requested a few features, but could have retreived many more
#many of the entries have missing values

import ast
import requests
import json


def oxlookup(word):
  app_id = 'dbb2134d'
  app_key = '5c84de9b610305a7944afa6820f97a06'
  language = 'en'
  word_id = word
  url = 'https://od-api.oxforddictionaries.com:443/api/v1/entries/' + language + '/' + word_id.lower()
  r = requests.get(url, headers = {'app_id': app_id, 'app_key': app_key})
  
  return (json.dumps(r.json()))

def parselookup(jsondump):
  
  my_dict = ast.literal_eval(jsondump)
  results_dict = my_dict['results'][0]
  lexical_entries = results_dict['lexicalEntries']
  idnum = results_dict['id']
  language = results_dict['language']
  no_entries = len(lexical_entries)
  try:
    primary_definition_domain = lexical_entries[0]['entries'][0]['senses'][0]['domains'][0]
  except:
    primary_definition_domain=np.nan
    
  try:
    etymologies = lexical_entries[0]['entries'][0]['etymologies'][0]
  except:
    etymologies=np.nan
  
  primary_definition = lexical_entries[0]['entries'][0]['senses'][0]['short_definitions'][0]
  try:
    example = lexical_entries[0]['entries'][0]['senses'][0]['examples'][0]['text']
    
  except:
    example = np.nan
  
  returnlist = [idnum,no_entries,etymologies,primary_definition_domain,primary_definition,example]
  
  return returnlist

column_list = ['id_number','number_lexical_entries','etymologies','primary_definition_domain','primary_definition','example']

In [14]:
#looking up each word in the lemmatized random text list and slowing down the api so we don't violate the terms of service
import time
dictlist=[]

for word in lemma_list :
  time.sleep(-time.time()%1)
  templookup = oxlookup(word)
  dictlist.append(templookup)
  
dictlist[:5]

['{"metadata": {"provider": "Oxford University Press"}, "results": [{"id": "hey", "language": "en", "lexicalEntries": [{"entries": [{"etymologies": ["natural exclamation: first recorded in Middle English"], "homographNumber": "000", "senses": [{"definitions": ["used to attract attention, to express surprise, interest, or annoyance, or to elicit agreement"], "examples": [{"text": "hey, what\'s going on here?"}], "id": "m_en_gbus0465500.005", "short_definitions": ["used to attract attention, to express surprise, interest, or annoyance"], "subsenses": [{"definitions": ["used as a friendly greeting"], "examples": [{"text": "I just called to say hey"}], "id": "m_en_gbus0465500.007", "regions": ["US"], "short_definitions": ["used as friendly greeting"]}]}]}], "language": "en", "lexicalCategory": "Interjection", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/hey_gb_2.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "he\\u026a"}], "text": "hey"}], "type": "headword", "word": "hey"}]}',
 '{"metadata": {"provider": "Oxford University Press"}, "results": [{"id": "hello", "language": "en", "lexicalEntries": [{"entries": [{"etymologies": ["early 19th century: variant of earlier hollo; related to holla"], "homographNumber": "000", "senses": [{"definitions": ["used as a greeting or to begin a telephone conversation"], "examples": [{"text": "hello there, Katie!"}], "id": "m_en_gbus0460730.012", "short_definitions": ["used as greeting"], "subsenses": [{"definitions": ["used to express surprise"], "examples": [{"text": "hello, what\'s all this then?"}], "id": "m_en_gbus0460730.017", "regions": ["British"], "short_definitions": ["used to express surprise"]}, {"definitions": ["used as a cry to attract someone\'s attention"], "examples": [{"text": "\\u2018Hello below!\\u2019 he cried"}], "id": "m_en_gbus0460730.018", "short_definitions": ["used attract attention"]}, {"definitions": ["used informally to express sarcasm or anger"], "examples": [{"text": "Hello! Did you even get what the play was about?"}], "id": "m_en_gbus0460730.019", "short_definitions": ["used informally to express sarcasm or anger"]}]}], "variantForms": [{"text": "hallo"}, {"text": "hullo"}]}], "language": "en", "lexicalCategory": "Interjection", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/hello_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u0259\\u02c8l\\u0259\\u028a"}, {"dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u025b\\u02c8l\\u0259\\u028a"}], "text": "hello"}, {"entries": [{"grammaticalFeatures": [{"text": "Singular", "type": "Number"}], "homographNumber": "001", "senses": [{"definitions": ["an utterance of \\u2018hello\\u2019; a greeting"], "examples": [{"text": "she was getting polite nods and hellos from people"}], "id": "m_en_gbus0460730.025", "short_definitions": ["utterance of \\u2018hello\\u2019"], "thesaurusLinks": [{"entry_id": "acknowledgement", "sense_id": "t_en_gb0000184.002"}]}], "variantForms": [{"text": "hullo"}, {"text": "hallo"}]}], "language": "en", "lexicalCategory": "Noun", "pronunciations": [{"dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u025b\\u02c8l\\u0259\\u028a"}, {"audioFile": "http://audio.oxforddictionaries.com/en/mp3/hello_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u0259\\u02c8l\\u0259\\u028a"}], "text": "hello"}, {"entries": [{"grammaticalFeatures": [{"text": "Intransitive", "type": "Subcategorization"}, {"text": "Present", "type": "Tense"}], "homographNumber": "002", "senses": [{"definitions": ["say or shout \\u2018hello\\u2019"], "examples": [{"text": "I pressed the phone button and helloed"}], "id": "m_en_gbus0460730.034", "short_definitions": ["say or shout \\u2018hello\\u2019"]}], "variantForms": [{"text": "hullo"}, {"text": "hallo"}]}], "language": "en", "lexicalCategory": "Verb", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/hello_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u0259\\u02c8l\\u0259\\u028a"}, {"dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "h\\u025b\\u02c8l\\u0259\\u028a"}], "text": "hello"}], "type": "headword", "word": "hello"}]}',
 '{"metadata": {"provider": "Oxford University Press"}, "results": [{"id": "one", "language": "en", "lexicalEntries": [{"entries": [{"etymologies": ["Old English \\u0101n, of Germanic origin; related to Dutch een and German ein, from an Indo-European root shared by Latin unus. The initial w sound developed before the 15th century and was occasionally represented in the spelling; it was not accepted into standard English until the late 17th century"], "grammaticalFeatures": [{"text": "Cardinal", "type": "Numeral"}], "homographNumber": "000", "notes": [{"text": "In modern English the use of one as a pronoun to mean \\u2018anyone\\u2019 or \\u2018me and people in general\\u2019, as in one must try one\'s best, is generally restricted to formal contexts, outside which it is likely to be regarded as rather pompous or old-fashioned. In informal and spoken contexts the normal alternative is you, as in you have to do what you can, don\'t you?", "type": "editorialNote"}], "senses": [{"definitions": ["the lowest cardinal number; half of two; 1"], "examples": [{"text": "there\'s only room for one person"}, {"text": "one hundred miles"}, {"text": "a one-bedroom flat"}, {"text": "two could live as cheaply as one"}], "id": "m_en_gbus0718910.006", "short_definitions": ["lowest cardinal number"], "subsenses": [{"definitions": ["a single person or thing"], "examples": [{"text": "they would straggle home in ones and twos"}], "id": "m_en_gbus0718910.010", "short_definitions": ["single person or thing"], "thesaurusLinks": [{"entry_id": "one", "sense_id": "t_en_gb0010297.002"}]}, {"definitions": ["just one as opposed to any more or to none at all; single (used for emphasis)"], "examples": [{"text": "her one concern is to save her daughter"}], "id": "m_en_gbus0718910.012", "short_definitions": ["single"], "thesaurusLinks": [{"entry_id": "one", "sense_id": "t_en_gb0010297.003"}]}, {"definitions": ["denoting a particular item of a pair or number of items"], "examples": [{"text": "electronics is one of his hobbies"}, {"text": "a glass tube closed at one end"}], "id": "m_en_gbus0718910.013", "short_definitions": ["denoting particular item of several"]}, {"definitions": ["denoting a particular but unspecified occasion or period"], "examples": [{"text": "one afternoon in late October"}], "id": "m_en_gbus0718910.014", "short_definitions": ["denoting particular but unspecified occasion"], "thesaurusLinks": [{"entry_id": "one", "sense_id": "t_en_gb0010297.004"}]}, {"definitions": ["used before a name to denote a person who is not known to the reader or hearer; a certain"], "examples": [{"text": "he worked as a clerk for one Mr Ming"}], "id": "m_en_gbus0718910.016", "short_definitions": ["certain"]}, {"definitions": ["a noteworthy example of (used for emphasis)"], "examples": [{"text": "the actor was one smart-mouthed troublemaker"}, {"text": "he was one hell of a snappy dresser"}], "id": "m_en_gbus0718910.017", "regions": ["North American"], "registers": ["informal"], "short_definitions": ["noteworthy example of"]}, {"definitions": ["one year old."], "id": "m_en_gbus0718910.018", "short_definitions": ["one year old"]}, {"definitions": ["one o\'clock"], "examples": [{"text": "I\'ll be there at one"}], "id": "m_en_gbus0718910.019", "short_definitions": ["one o\'clock"]}, {"definitions": ["a size of garment or other merchandise denoted by one."], "domains": ["Clothing"], "id": "m_en_gbus0718910.020", "short_definitions": ["size of garment denoted by one"]}, {"definitions": ["a domino or dice with one spot."], "domains": ["Games"], "id": "m_en_gbus0718910.023", "short_definitions": ["domino or dice with one spot"]}], "thesaurusLinks": [{"entry_id": "one", "sense_id": "t_en_gb0010297.002"}], "variantForms": [{"text": "i"}, {"text": "I"}]}, {"definitions": ["the same; identical"], "examples": [{"text": "all types of training meet one common standard"}], "id": "m_en_gbus0718910.025", "short_definitions": ["same"], "thesaurusLinks": [{"entry_id": "one", "sense_id": "t_en_gb0010297.003"}]}, {"definitions": ["a joke or story"], "examples": [{"text": "the one about the Englishman, the Irishman, and the Yank"}], "id": "m_en_gbus0718910.029", "registers": ["informal"], "short_definitions": ["joke or story"]}, {"definitions": ["an alcoholic drink"], "domains": ["Alcoholic"], "examples": [{"text": "a cool one after a day on the water"}], "id": "m_en_gbus0718910.032", "registers": ["informal"], "short_definitions": ["alcoholic drink"]}, {"definitions": ["alone"], "examples": [{"text": "the time when you one tackled a field of cane and finished before the others had even started"}], "id": "m_en_gbus0718910.034", "regions": ["West Indian"], "short_definitions": ["alone"]}]}], "language": "en", "lexicalCategory": "Numeral", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/one_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "w\\u028cn"}], "text": "one"}, {"entries": [{"homographNumber": "001", "notes": [{"text": "In modern English the use of one as a pronoun to mean \\u2018anyone\\u2019 or \\u2018me and people in general\\u2019, as in one must try one\'s best, is generally restricted to formal contexts, outside which it is likely to be regarded as rather pompous or old-fashioned. In informal and spoken contexts the normal alternative is you, as in you have to do what you can, don\'t you?", "type": "editorialNote"}], "senses": [{"definitions": ["referring to a person or thing previously mentioned or easily identified"], "examples": [{"text": "do you want one?"}, {"text": "her best apron, the white one"}, {"text": "her mood changed from one of moroseness to one of joy"}], "id": "m_en_gbus0718910.064", "short_definitions": ["referring to person or thing previously mentioned"]}, {"definitions": ["a person of a specified kind"], "examples": [{"text": "my friends and loved ones"}, {"text": "you\'re the one who ruined her life"}], "id": "m_en_gbus0718910.068", "short_definitions": ["person of specified kind"], "subsenses": [{"definitions": ["a person who is remarkable in some way"], "examples": [{"text": "you never saw such a one for figures"}], "id": "m_en_gbus0718910.069", "short_definitions": ["remarkable person"]}]}, {"definitions": ["used to refer to the speaker, or any person, as representing people in general"], "examples": [{"text": "one must admire him for his willingness"}, {"text": "one gets the impression that he is ahead"}], "id": "m_en_gbus0718910.071", "notes": [{"text": "third person singular", "type": "grammaticalNote"}], "short_definitions": ["i, or people in general"]}]}], "language": "en", "lexicalCategory": "Pronoun", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/one_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "w\\u028cn"}], "text": "one"}], "type": "headword", "word": "one"}]}',
 '{"metadata": {"provider": "Oxford University Press"}, "results": [{"id": "more", "language": "en", "lexicalEntries": [{"entries": [{"etymologies": ["Old English m\\u0101ra, of Germanic origin; related to Dutch meer and German mehr"], "grammaticalFeatures": [{"text": "Comparative", "type": "Degree"}], "homographNumber": "000", "notes": [{"text": "It is incorrect to use more with an adjective that is already in a comparative form (more hungrier, more better); the correct usage is simply hungrier (or more hungry) or better", "type": "editorialNote"}], "senses": [{"definitions": ["a greater or additional amount or degree"], "examples": [{"text": "tell me more"}, {"text": "I poured myself more coffee"}, {"text": "they proved more of a hindrance than a help"}], "id": "m_en_gbus0660470.005", "short_definitions": ["a greater amount or degree"], "thesaurusLinks": [{"entry_id": "more", "sense_id": "t_en_gb0009670.001"}]}]}], "language": "en", "lexicalCategory": "Determiner", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/more_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "m\\u0254\\u02d0"}], "text": "more"}, {"entries": [{"etymologies": ["Old English m\\u0101ra, of Germanic origin; related to Dutch meer and German mehr"], "grammaticalFeatures": [{"text": "Comparative", "type": "Degree"}], "homographNumber": "001", "notes": [{"text": "It is incorrect to use more with an adjective that is already in a comparative form (more hungrier, more better); the correct usage is simply hungrier (or more hungry) or better", "type": "editorialNote"}], "senses": [{"definitions": ["a greater or additional amount or degree"], "examples": [{"text": "tell me more"}, {"text": "I poured myself more coffee"}, {"text": "they proved more of a hindrance than a help"}], "id": "m_en_gbus0660470.005-pos-2", "short_definitions": ["a greater amount or degree"], "thesaurusLinks": [{"entry_id": "more", "sense_id": "t_en_gb0009670.001"}]}]}], "language": "en", "lexicalCategory": "Pronoun", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/more_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "m\\u0254\\u02d0"}], "text": "more"}, {"entries": [{"grammaticalFeatures": [{"text": "Positive", "type": "Degree"}, {"text": "Comparative", "type": "Degree"}], "homographNumber": "002", "notes": [{"text": "It is incorrect to use more with an adjective that is already in a comparative form (more hungrier, more better); the correct usage is simply hungrier (or more hungry) or better", "type": "editorialNote"}], "senses": [{"definitions": ["forming the comparative of adjectives and adverbs, especially those of more than one syllable"], "examples": [{"text": "for them enthusiasm is more important than talent"}], "id": "m_en_gbus0660470.017", "short_definitions": ["forming comparative of adjectives and adverbs"]}, {"definitions": ["to a greater extent"], "examples": [{"text": "I like chicken more than turkey"}], "id": "m_en_gbus0660470.020", "short_definitions": ["to greater extent"], "subsenses": [{"definitions": ["extremely (used before an adjective conveying a positive feeling or attitude)"], "examples": [{"text": "she is more than happy to oblige"}], "id": "m_en_gbus0660470.021", "notes": [{"text": "\\"more than\\"", "type": "wordFormNote"}], "short_definitions": ["extremely"]}], "thesaurusLinks": [{"entry_id": "more", "sense_id": "t_en_gb0009670.002"}]}, {"definitions": ["again"], "examples": [{"text": "repeat once more"}], "id": "m_en_gbus0660470.023", "short_definitions": ["again"]}, {"definitions": ["moreover"], "examples": [{"text": "he was rich, and more, he was handsome"}], "id": "m_en_gbus0660470.025", "short_definitions": ["moreover"], "thesaurusLinks": [{"entry_id": "more", "sense_id": "t_en_gb0009670.003"}]}]}], "language": "en", "lexicalCategory": "Adverb", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/more_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "m\\u0254\\u02d0"}], "text": "more"}, {"entries": [{"etymologies": ["the name in More"], "grammaticalFeatures": [{"text": "Mass", "type": "Countability"}, {"text": "Singular", "type": "Number"}], "homographNumber": "003", "senses": [{"definitions": ["the language of the Mossi people of Burkina Faso, a member of the Gur family of languages with about 4 million speakers."], "domains": ["Language"], "id": "m_en_gbus0660480.004", "short_definitions": ["language of Mossi people of Burkina Faso"]}], "variantForms": [{"text": "Moor\\u00e9"}]}], "language": "en", "lexicalCategory": "Noun", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/more_1_gb_2.mp3", "phoneticNotation": "IPA", "phoneticSpelling": "\\u02c8m\\u0254\\u02d0ri"}], "text": "More"}], "type": "headword", "word": "more"}]}',
 '{"metadata": {"provider": "Oxford University Press"}, "results": [{"id": "tapir", "language": "en", "lexicalEntries": [{"derivatives": [{"id": "tapiroid", "text": "tapiroid"}], "entries": [{"etymologies": ["late 18th century: via Spanish and Portuguese from Tupi tapyra"], "grammaticalFeatures": [{"text": "Singular", "type": "Number"}], "homographNumber": "000", "senses": [{"definitions": ["a nocturnal hoofed mammal with a stout body, sturdy limbs, and a short flexible proboscis, native to the forests of tropical America and Malaysia."], "domains": ["Mammal"], "id": "m_en_gbus1030790.008", "notes": [{"text": "Family Tapiridae and genus Tapirus: four species, including the black and white Malayan tapir (T. indicus)", "type": "technicalNote"}], "short_definitions": ["nocturnal hoofed mammal with stout body, sturdy limbs, and short flexible proboscis, native to forests of tropical America and Malaysia"]}]}], "language": "en", "lexicalCategory": "Noun", "pronunciations": [{"audioFile": "http://audio.oxforddictionaries.com/en/mp3/tapir_gb_1.mp3", "dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "\\u02c8te\\u026ap\\u0259"}, {"dialects": ["British English"], "phoneticNotation": "IPA", "phoneticSpelling": "\\u02c8te\\u026ap\\u026a\\u0259"}], "text": "tapir"}], "type": "headword", "word": "tapir"}]}']

In [28]:
#parsing dictionary and turning it into dataframe
blist=[]
for entry in dictlist:
  bbb=parselookup(entry)
  blist.append(bbb)

column_list = ['id_number','number_lexical_entries','etymologies','primary_definition_domain','primary_definition','example']
bdf = pd.DataFrame.from_records(blist,columns=column_list)
bdf.head(30)

,id_number,number_lexical_entries,etymologies,primary_definition_domain,primary_definition,example
0,hey,1,natural exclamation: first recorded in Middle ...,NaN,"used to attract attention, to express surprise...","hey, what's going on here?"
1,hello,3,early 19th century: variant of earlier hollo; ...,NaN,used as greeting,"hello there, Katie!"
2,one,2,"Old English ƒÅn, of Germanic origin; related to...",NaN,lowest cardinal number,there's only room for one person
3,more,4,"Old English mƒÅra, of Germanic origin; related ...",NaN,a greater amount or degree,tell me more
4,tapir,1,late 18th century: via Spanish and Portuguese ...,Mammal,"nocturnal hoofed mammal with stout body, sturd...",NaN
5,while,5,"Old English hwƒ´l ‚Äòperiod of time‚Äô, of Germanic...",NaN,period of time,we chatted for a while
6,more,4,"Old English mƒÅra, of Germanic origin; related ...",NaN,a greater amount or degree,tell me more
7,away,3,"Old English onweg, aweg ‚Äòon one's way‚Äô (see a-...",NaN,to or at a distance,"she landed badly, and crawled away"
8,when,2,"Old English hwanne, hwenne; of Germanic origin...",NaN,at what time,when did you last see him?
9,much,3,"Middle English: shortened from muchel, from Ol...",NaN,large amount,I didn't get much sleep that night
10,vulture,1,late Middle English: from Anglo-Norman French ...,Bird,large bird of prey with head and neck more or ...,NaN
11,that,4,"Old English th√¶t, nominative and accusative si...",NaN,used to identify specific person or thing obse...,"hello, is that Ben?"
12,jeez,1,1920s: abbreviation of Jesus,NaN,mild expression used to show surprise or annoy...,Jeez! It's not fair!
13,some,3,"Old English sum, of Germanic origin, from an I...",NaN,unspecified amount or number of,he played some records for me
14,as,6,NaN,Language,Anglo-Saxon,NaN
15,near,4,"Middle English: from Old Norse n√¶r ‚Äònearer‚Äô, c...",NaN,nearby,a bomb exploded somewhere near
16,more,4,"Old English mƒÅra, of Germanic origin; related ...",NaN,a greater amount or degree,tell me more
17,one,2,"Old English ƒÅn, of Germanic origin; related to...",NaN,lowest cardinal number,there's only room for one person
18,crud,1,late Middle English: variant of curd (the orig...,NaN,unpleasantly dirty substance,use a good soap compound to remove accumulated...
19,much,3,"Middle English: shortened from muchel, from Ol...",NaN,large amount,I didn't get much sleep that night
20,and,3,"Old English and, ond, of Germanic origin; rela...",NaN,"used to connect words of same part of speech, ...",a hundred and fifty
21,despite,2,Middle English (originally used as a noun mean...,NaN,without being affected by,he remains a great leader despite age and infi...
22,jeez,1,1920s: abbreviation of Jesus,NaN,mild expression used to show surprise or annoy...,Jeez! It's not fair!
23,bounce,2,"Middle English bunsen ‚Äòbeat, thump‚Äô, perhaps i...",NaN,rebound after hitting something,he was bouncing the ball against the wall
24,due,3,Middle English (in the sense ‚Äòpayable‚Äô): from ...,NaN,expected at certain time,the baby's due in August
25,far,2,"Old English feorr, of Germanic origin; related...",NaN,at or to great distance,the house was not too far away
26,freely,1,NaN,NaN,as one wishes,I roamed freely
27,far,2,"Old English feorr, of Germanic origin; related...",NaN,at or to great distance,the house was not too far away
28,until,2,Middle English: from Old Norse und ‚Äòas far as‚Äô...,NaN,up to,the kidnappers have given us until October 11t...
29,wherever,2,NaN,NaN,in or to whatever place,meet me wherever you like

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.