<a href="https://colab.research.google.com/github/wjarvis2/DS-Sprint-01-Dealing-With-Data/blob/master/Copy_of_Module4_making_features_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-01-17 23:24:54--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip.1’

LoanStats_2018Q3.cs     [        <=>         ]  21.42M  1.67MB/s    in 13s

2019-01-17 23:25:08 (1.66 MB/s) - ‘LoanStats_2018Q3.csv.zip.1’ saved [22461905]

In [2]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
replace LoanStats_2018Q3.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [3]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.97%","507.55","D","D1","Motor Vehicle Operator","7 years","RENT","68000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","254xx","WV","15.8","0","Feb-2009","1","30","118","11","1","13483","69.1%","26","w","19580.78","19580.78","975.17","975.17","419.22","555.95","0.0","0.0","0.0","Dec-2018","507.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","194908","0","2","0","2","17","45299","93","0","1","9815","86","19500","1","4","2","5","19491","2185","81.8","0","0","115","94","13","7","4","25","","2","30","0","1","3","2","4","11","8","10","3","11","0","0","0","1","92.3","50","1","0","205625","58782","12000","48733","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 13.56%","576.02","C","C1","Firefighter","7 years","MORTGAGE","61000","Verified","Sep-2018","Current","n","","","major_purchase","Major purchase","770xx","TX","16.74","0","Jan-2009","0","","","5","0","6299","48.5%","14","w","24109.45","24109.45","1567.98","1567.98","890.55","677.43","0.0","0.0","0.0","Dec-2018","576.02","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","204007","1","2","0","1","19","13862","37","0","0","0","40","13000","0","7","4","2","40801","1500","0","0","0","54","116","26","3","1","74","","4","","0","0","1","1","2","5","2","8","1","5","0","0","0","1","100","0","0","0","234573","20161","1500","37273","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 36 months"," 18.94%","1098.78","D","D2","","< 1 year","RENT","100000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","300xx","GA","16.07","0","Mar-2008","1","","114","6","1","14574","70.1%","9","w","28739.57","28739.57","2134.43","2134.43","1260.43","874.00","0.0","0.0","0.0","Dec-2018","1098.78","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","44048","1","2","1","1","1","29474","69","1","2","8521","69","20800","1","0","2","3","8810","5226","73.6","0","0","126","104","11","1","0","17","","1","","0","2","2","2","2","4","4","5","2","6","0","0","0","2","100","0","1","0","63636","44048","19800","42836","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months","  7.84%","187.58","A","A4","","n/a","RENT","30000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","923xx","CA","5.44","0","Apr-2000","0","","104","8","1","5936","34.5%","11","w","5702.27","5702.27","369.93","369.93","297.73","72.20","0.0","0.0","0.0","Dec-2018","187.58","Jan-2019","Dec-2018","0","","1","Individual","","","","0","350","5936","0","0","0","1","23","0","","1","4","2913","35","17200","2","0","0","5","848","7698","35.9","0","0","139","221","7","7","0","7","","18","","0","2","3","4","4","2","8","9","3","8","0","0","0","1","100","33.3","1","0","17200","5936","12000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","10650","10650","10650"," 36 months","  7.84%","332.95","A","A4","","n/a","RENT","28000","Verified","Sep-2018","Current","n","","","medical","Medical expenses","430xx","OH","16.89","0","Nov-2002","0","","","3","0","37","0.3%","3","w","10121.54","10121.54","656.62","656.62","528.46","128.16","0.0","0.0","0.0","Dec-2018","332.95","Jan-2019","Dec-2018","0","","1","Joint App","43000","14.01","Source Verified","0","0","18254","0","1","0","1","16","18217","81","0","0","0","54","11500","1","1","0","1","6085","","","0","0","16","190","113","16","0","","","16","","0","0","1","0","0","1","2","2","2","3","0","0","0","0","100","","0","0","33876","18254","0","22376","2024","Oct-1996","0","0","8","18.7","1","9","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9000","9000","9000"," 36 months","  6.11%","274.25","A","A1","","n/a","OWN","25000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","224xx","VA","12.1","0","Apr-1999","0","56","","6","0","8996","33.8%","18","w","8541.98","8541.98","550.03","550.03","458.02","92.01","0.0","0.0","0.0","Dec-2018","274.25","Jan-2019","Dec-2018","0","56","1","Individual","","","","0","160","8996","0","0","0","0","66","0","","0","1","6920","34","26600","0","0","0","1","1799","13466","35.3","0","0","66","233","14","14","2","77","","14","56","2","2","4","3","4","1","6","15","4","6","0","0","0","0","83.3","0","0","0","26600","8996","20800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","20000","20000","20000"," 36 months","  6.67%","614.53","A","A2","General Manager","< 1 year","MORTGAGE","125000","Not Verified","Sep-2018","Current","n","","","house","Home buying","750xx","TX","15.55","1","Jul-2003","0","21","","24","0","5832","11.4%","36","w","18990.48","18990.48","1214.24","1214.24","1009.52","204.72","0.0","0.0","0.0","Dec-2018","614.53","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","63577","2","1","0","1","22","54244","","2","4","3048","17","51100","1","0","6","6","3027","36050","11.9","0","0","148","182","6","6","2","24","21","1","21","0","5","6","16","19","6","22","26","6","24","0","0","0","2","97.2","7.7","0","0","133998","63577","40900","78764","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.84%","625.26","A","A4","Teacher","10+ years","MORTGAGE","48186","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","641xx","MO","24.68","0","Aug-1996","0","","","17","0","23822","58.8%","38","w","18506.50","18506.50","1803.14","1803.14","1493.50","309.64","0.0","0.0","0.0","Dec-2018","625.26","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","191246","0","9","0","2","16","14800","48","1","1","11800","54","40500","1","0","0","3","11250","13078","57.8","0","0","265","239","8","8","2","8","","16","","0","3","4","6","7","27","7","9","4","17","0","0","0","1","100","16.7","0","0","234182","38622","31000","30832","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [4]:
!tail LoanStats_2018Q3.csv

"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","10618.01","10618.01","2037.52","2037.52","1381.99","655.53","0.0","0.0","0.0","Dec-2018","410.31","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","4443.20","4443.20","875.51","875.51","556.80","318.71","0.0","0.0","0.0","Dec-2018","176.93","Jan-2019","Dec-2018","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","4359.64","4359.64","759.31","759.31","640.36","118.95","0.0","0.0","0.0","Dec-2018","152.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","17742.70","17742.70","3456.18","3456.18","2257.30","1198.88","0.0","0.0","0.0","Dec-2018","698.12","Jan-2019","Dec-2018","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","8800.60","8800.60","1628.94","1628.94","1199.40","429.54","0.0","0.0","0.0","Dec-2018","327.63","Jan-2019","Dec-2018","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","3554.58","3554.58","700.38","700.38","445.42","254.96","0.0","0.0","0.0","Dec-2018","141.54","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

In [0]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [7]:
df.shape

(128194, 145)

In [8]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.97%,507.55,D,D1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,25000,25000,25000,60 months,13.56%,576.02,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,30000,30000,30000,36 months,18.94%,1098.78,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,6000,6000,6000,36 months,7.84%,187.58,A,A4,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10650,10650,10650,36 months,7.84%,332.95,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
pd.options.display.max_columns=500

In [0]:
pd.options.display.max_rows = 500

In [11]:
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,25000,30000,6000,10650
funded_amnt,20000,25000,30000,6000,10650
funded_amnt_inv,20000,25000,30000,6000,10650
term,60 months,60 months,36 months,36 months,36 months
int_rate,17.97%,13.56%,18.94%,7.84%,7.84%
installment,507.55,576.02,1098.78,187.58,332.95
grade,D,C,D,A,A
sub_grade,D1,C1,D2,A4,A4
emp_title,Motor Vehicle Operator,Firefighter,NaN,NaN,NaN
emp_length,7 years,7 years,< 1 year,NaN,NaN
home_ownership,RENT,MORTGAGE,RENT,RENT,RENT
annual_inc,68000,61000,100000,30000,28000
verification_status,Source Verified,Verified,Source Verified,Not Verified,Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,major_purchase,debt_consolidation,debt_consolidation,medical
title,Debt consolidation,Major purchase,Debt consolidation,Debt consolidation,Medical expenses
zip_code,254xx,770xx,300xx,923xx,430xx
addr_state,WV,TX,GA,CA,OH
dti,15.8,16.74,16.07,5.44,16.89
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Feb-2009,Jan-2009,Mar-2008,Apr-2000,Nov-2002
inq_last_6mths,1,0,1,0,0
mths_since_last_delinq,30,NaN,NaN,NaN,NaN
mths_since_last_record,118,NaN,114,104,NaN
open_acc,11,5,6,8,3
pub_rec,1,0,1,1,0
revol_bal,13483,6299,14574,5936,37
revol_util,69.1%,48.5%,70.1%,34.5%,0.3%
total_acc,26,14,9,11,3
initial_list_status,w,w,w,w,w
out_prncp,19580.8,24109.5,28739.6,5702.27,10121.5
out_prncp_inv,19580.8,24109.5,28739.6,5702.27,10121.5
total_pymnt,975.17,1567.98,2134.43,369.93,656.62
total_pymnt_inv,975.17,1567.98,2134.43,369.93,656.62
total_rec_prncp,419.22,890.55,1260.43,297.73,528.46
total_rec_int,555.95,677.43,874,72.2,128.16
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
last_pymnt_amnt,507.55,576.02,1098.78,187.58,332.95
next_pymnt_d,Jan-2019,Jan-2019,Jan-2019,Jan-2019,Jan-2019
last_credit_pull_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Joint App
annual_inc_joint,NaN,NaN,NaN,NaN,43000
dti_joint,NaN,NaN,NaN,NaN,14.01
verification_status_joint,NaN,NaN,NaN,NaN,Source Verified
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,350,0
tot_cur_bal,194908,204007,44048,5936,18254
open_acc_6m,0,1,1,0,0
open_act_il,2,2,2,0,1
open_il_12m,0,0,1,0,0
open_il_24m,2,1,1,1,1
mths_since_rcnt_il,17,19,1,23,16
total_bal_il,45299,13862,29474,0,18217
il_util,93,37,69,NaN,81
open_rv_12m,0,0,1,1,0
open_rv_24m,1,0,2,4,0
max_bal_bc,9815,0,8521,2913,0
all_util,86,40,69,35,54
total_rev_hi_lim,19500,13000,20800,17200,11500
inq_fi,1,0,1,2,1
total_cu_tl,4,7,0,0,1
inq_last_12m,2,4,2,0,0
acc_open_past_24mths,5,2,3,5,1
avg_cur_bal,19491,40801,8810,848,6085
bc_open_to_buy,2185,1500,5226,7698,NaN
bc_util,81.8,0,73.6,35.9,NaN
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,115,54,126,139,16
mo_sin_old_rev_tl_op,94,116,104,221,190
mo_sin_rcnt_rev_tl_op,13,26,11,7,113
mo_sin_rcnt_tl,7,3,1,7,16
mort_acc,4,1,0,0,0
mths_since_recent_bc,25,74,17,7,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,2,4,1,18,16
mths_since_recent_revol_delinq,30,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,1,0,2,2,0
num_actv_rev_tl,3,1,2,3,1
num_bc_sats,2,1,2,4,0
num_bc_tl,4,2,2,4,0
num_il_tl,11,5,4,2,1
num_op_rev_tl,8,2,4,8,2
num_rev_accts,10,8,5,9,2
num_rev_tl_bal_gt_0,3,1,2,3,2
num_sats,11,5,6,8,3
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,1,1,2,1,0
pct_tl_nvr_dlq,92.3,100,100,100,100
percent_bc_gt_75,50,0,0,33.3,NaN
pub_rec_bankruptcies,1,0,1,1,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,205625,234573,63636,17200,33876
total_bal_ex_mort,58782,20161,44048,5936,18254
total_bc_limit,12000,1500,19800,12000,0
total_il_high_credit_limit,48733,37273,42836,0,22376
revol_bal_joint,NaN,NaN,NaN,NaN,2024
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,Oct-1996
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,0
sec_app_mort_acc,NaN,NaN,NaN,NaN,0
sec_app_open_acc,NaN,NaN,NaN,NaN,8
sec_app_revol_util,NaN,NaN,NaN,NaN,18.7
sec_app_open_act_il,NaN,NaN,NaN,NaN,1
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,9
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,0
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,0
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,DirectPay,Cash,Cash,DirectPay,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

In [12]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

In [13]:
test_string = '17.97%'
def remove_percent(string):
    return float(string.strip('%'))
remove_percent(test_string)

17.97

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [15]:
df['int_rate'].head()

0    17.97
1    13.56
2    18.94
3     7.84
4     7.84
Name: int_rate, dtype: float64

In [16]:
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

In [17]:
df['emp_title'].isnull().sum()

13437

In [18]:
examples = ['owner', 'Supervisor ',
            'Project manager', np.nan]
def clean_title(x):
    if isinstance(x, str):
        return x.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print (clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [20]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Administrative Assistant      466
Store Manager                 466
President                     464
Name: emp_title, dtype: int64

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [23]:
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

In [24]:
df['issue_d'] = pd.to_datetime(df['issue_d'],
                              infer_datetime_format=True)
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [25]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month
df['issue_month'].sample(n=10).values

array([8, 7, 8, 8, 8, 8, 9, 8, 8, 8])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'],
                                       infer_datetime_format=True)

In [27]:
(df['issue_d'] - df['earliest_cr_line']).head()

0   3499 days
1   3530 days
2   3836 days
3   6727 days
4   5783 days
dtype: timedelta64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [29]:
df['days_from_earliest_credit_to_issue'].head().values

array([3499, 3530, 3836, 6727, 5783])

In [30]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(
        df[col],
        infer_datetime_format=True)

In [32]:
df['term'].value_counts(dropna=False)

 36 months    89574
 60 months    38620
Name: term, dtype: int64

In [0]:
df['term'] = df['term'].str.strip('months').astype(int)

In [34]:
df['term'].value_counts(dropna=False)

36    89574
60    38620
Name: term, dtype: int64

In [35]:
df['loan_status'].value_counts(dropna=False)

Current               121082
Fully Paid              4786
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

In [0]:
def great(loan_status):
    if loan_status == 'Current' or loan_status =='Fully Paid':
        return 1
    else:
        return 0
    
df['loan_status_is_great'] = df['loan_status'].apply(great)

In [37]:
df['loan_status_is_great'].value_counts(dropna=False)

1    125868
0      2326
Name: loan_status_is_great, dtype: int64

In [38]:
df['last_pymnt_d'].values[0]

numpy.datetime64('2018-12-01T00:00:00.000000000')

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [40]:
df['last_pymnt_d_month'].values[0], df['last_pymnt_d_year'].values[0]

(12.0, 2018.0)

In [41]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 30 columns):
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    128194 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(30)
memory usage: 29.3+ MB

In [42]:
# I am going to guess 'revol_util' shows what % of revolving credit is 
# in use right now
df['revol_util'].head()
# looks right

0    69.1%
1    48.5%
2    70.1%
3    34.5%
4     0.3%
Name: revol_util, dtype: object

In [43]:
#df['revol_util'] = df['revol_util'].apply(remove_percent)
df['revol_util'].dtypes
df['revol_util'].isnull().sum()

129

In [44]:
#129 null values. I'll need to fill them.
df['revol_util'].shape
print('Print the df before fillna and strip %:',df['revol_util'])
df['revol_util'] = df['revol_util'].fillna('0').str.strip('%').astype(float)
print('Print the df after fillna and strip %:',df['revol_util'])

Print the df before fillna and strip %: 0         69.1%
1         48.5%
2         70.1%
3         34.5%
4          0.3%
5         33.8%
6         11.4%
7         58.8%
8         17.5%
9         66.5%
10        46.2%
11        11.8%
12        28.3%
13          40%
14        13.2%
15        26.7%
16        55.6%
17        30.5%
18        34.6%
19          34%
20         6.2%
21        55.5%
22        59.4%
23        24.1%
24        72.3%
25        26.6%
26        33.3%
27        45.2%
28        19.2%
29        68.3%
30        15.6%
31        27.2%
32        33.1%
33        35.2%
34        59.3%
35        79.1%
36        11.6%
37        28.1%
38        73.6%
39        16.8%
40        47.8%
41        23.5%
42        25.9%
43         8.1%
44         2.9%
45        51.8%
46         3.2%
47        17.3%
48          79%
49        96.1%
50          79%
51        87.2%
52        70.3%
53        29.5%
54        11.5%
55        25.7%
56        58.1%
57        65.5%
58          48%
59        23.2%
60        53.1%
61        43.5%
62        28.2%
63        98.7%
64           6%
65        62.4%
66        44.6%
67         6.2%
68        26.2%
69        70.7%
70        22.1%
71        64.7%
72        37.7%
73        32.9%
74          36%
75        40.6%
76        36.1%
77          53%
78         7.2%
79        21.8%
80        66.2%
81        33.4%
82          58%
83        76.2%
84        38.9%
85        59.2%
86        70.1%
87        52.1%
88        19.8%
89        10.8%
90         9.6%
91         3.8%
92          14%
93        45.1%
94        53.2%
95           0%
96        52.4%
97        48.1%
98        35.9%
99         7.2%
100       73.6%
101       63.4%
102       45.9%
103       56.6%
104        4.3%
105       14.9%
106       18.7%
107       50.2%
108        6.4%
109       65.5%
110       81.3%
111       74.1%
112       40.7%
113       29.2%
114       42.8%
115         30%
116       52.9%
117       26.3%
118       19.7%
119       49.1%
120         61%
121       21.1%
122       39.7%
123       90.6%
124         19%
125       56.4%
126       20.5%
127       34.4%
128       62.8%
129       96.5%
130       64.1%
131       42.8%
132          8%
133       17.6%
134       12.7%
135       48.8%
136       27.7%
137       74.2%
138       22.3%
139       73.9%
140       42.7%
141       18.3%
142          0%
143       44.7%
144        7.6%
145       38.2%
146       16.7%
147       28.1%
148         50%
149       42.4%
150       28.3%
151         36%
152        8.2%
153       29.1%
154       40.8%
155       69.2%
156       33.5%
157        7.6%
158       29.7%
159        6.5%
160       30.5%
161       69.1%
162         13%
163       52.2%
164       44.6%
165       11.8%
166       31.7%
167       25.2%
168       34.2%
169       72.1%
170       63.1%
171       32.5%
172       12.8%
173       36.6%
174       15.3%
175       36.1%
176       10.6%
177       26.5%
178       19.5%
179       48.1%
180       37.7%
181       70.2%
182       10.3%
183       59.9%
184       45.7%
185       15.3%
186       18.6%
187       34.4%
188          5%
189       17.2%
190       26.2%
191         44%
192       21.1%
193         35%
194       33.7%
195       37.2%
196       60.3%
197       63.3%
198       15.3%
199       51.8%
200        9.1%
201       49.4%
202       83.4%
203       62.7%
204         25%
205        1.8%
206       34.5%
207       12.7%
208       17.3%
209       36.9%
210        5.3%
211       10.3%
212       25.5%
213       84.8%
214       50.5%
215         14%
216       51.1%
217       12.2%
218         10%
219        3.5%
220        9.8%
221       47.1%
222       18.4%
223         43%
224       67.7%
225       11.7%
226       23.5%
227       42.2%
228       46.2%
229       40.5%
230       51.8%
231       46.6%
232       93.7%
233       31.9%
234       34.3%
235       37.5%
236         42%
237       70.8%
238         21%
239       20.9%
240       60.2%
241       51.4%
242       49.7%
243       37.7%
244       91.6%
245        6.7%
246        0.3%
247       69.9%
248        1.5%
249       62.4%
          ...
127944    31.5%
127945     3.1%
127946    65.3%
127947    56.8%
127948    85.9%
127949    37.3%
127950      22%
127951    42.1%
127952      51%
127953    42.1%
127954    33.7%
127955    25.3%
127956    30.5%
127957    52.7%
127958    37.7%
127959    27.7%
127960    92.1%
127961     3.6%
127962    96.3%
127963    74.7%
127964    41.9%
127965    69.4%
127966    42.9%
127967    31.4%
127968    39.5%
127969      79%
127970    26.2%
127971    65.1%
127972    49.6%
127973    35.8%
127974    48.4%
127975    56.3%
127976    24.6%
127977    37.7%
127978    28.6%
127979    79.1%
127980    44.8%
127981    37.8%
127982    78.1%
127983    74.6%
127984      24%
127985    34.8%
127986    46.5%
127987    49.7%
127988      46%
127989    25.9%
127990      37%
127991    43.6%
127992    43.9%
127993    70.3%
127994    50.1%
127995    23.9%
127996    37.9%
127997    16.4%
127998    21.7%
127999     6.7%
128000    34.7%
128001    59.2%
128002    40.1%
128003      68%
128004    87.5%
128005    69.1%
128006    30.6%
128007    40.5%
128008    84.9%
128009    73.8%
128010    45.5%
128011    90.9%
128012    54.9%
128013     8.3%
128014      79%
128015    30.9%
128016    61.2%
128017    76.6%
128018      44%
128019    28.7%
128020    46.6%
128021    49.9%
128022    66.2%
128023    34.4%
128024    48.9%
128025    60.7%
128026    57.1%
128027    22.5%
128028      11%
128029    60.6%
128030    52.3%
128031    56.4%
128032    48.2%
128033    15.1%
128034       0%
128035    15.8%
128036    68.1%
128037    46.7%
128038    23.2%
128039    25.8%
128040    69.6%
128041    31.1%
128042    49.9%
128043    47.7%
128044    52.7%
128045    41.3%
128046    32.7%
128047      32%
128048    35.9%
128049    29.4%
128050    55.9%
128051    30.1%
128052    13.9%
128053    32.2%
128054    60.1%
128055    50.6%
128056    48.9%
128057    44.8%
128058    82.4%
128059    34.8%
128060     8.2%
128061     1.7%
128062    19.4%
128063    40.3%
128064    45.1%
128065    12.1%
128066    30.7%
128067    63.2%
128068    68.7%
128069    26.6%
128070    44.8%
128071    17.6%
128072    63.9%
128073    59.3%
128074    30.3%
128075    44.6%
128076      30%
128077    44.3%
128078    31.5%
128079    54.2%
128080    49.9%
128081    11.7%
128082    47.7%
128083      34%
128084    41.2%
128085    55.4%
128086     7.6%
128087    45.5%
128088    41.2%
128089    19.1%
128090    26.9%
128091    41.6%
128092    47.4%
128093    17.5%
128094     3.8%
128095    33.5%
128096     0.9%
128097    61.9%
128098    40.6%
128099    77.3%
128100    22.4%
128101    53.3%
128102    32.9%
128103    46.5%
128104    41.2%
128105    35.7%
128106    99.6%
128107    48.5%
128108    34.9%
128109    68.8%
128110    27.9%
128111      78%
128112    18.2%
128113    66.6%
128114    57.7%
128115    35.2%
128116    49.9%
128117    55.7%
128118       0%
128119    30.5%
128120    43.9%
128121    40.7%
128122    33.9%
128123    56.5%
128124      36%
128125    63.1%
128126      61%
128127    95.7%
128128    21.3%
128129    51.7%
128130    48.3%
128131    67.9%
128132    66.9%
128133    40.2%
128134    62.5%
128135    41.7%
128136    33.4%
128137    54.9%
128138    41.1%
128139    74.9%
128140      81%
128141    26.7%
128142    46.3%
128143    61.3%
128144    14.8%
128145    68.7%
128146    38.3%
128147      73%
128148    25.3%
128149    84.3%
128150    35.5%
128151    33.9%
128152    20.3%
128153    35.7%
128154    33.2%
128155    69.1%
128156    34.7%
128157    64.4%
128158     8.6%
128159    29.9%
128160    54.2%
128161    71.5%
128162    41.3%
128163    44.8%
128164     4.9%
128165    50.1%
128166    80.3%
128167    45.2%
128168      36%
128169    48.6%
128170    44.4%
128171    43.2%
128172      27%
128173    16.4%
128174    28.9%
128175    14.2%
128176    56.4%
128177    22.8%
128178    10.9%
128179      55%
128180    37.9%
128181    79.9%
128182       0%
128183    23.2%
128184    12.1%
128185    23.7%
128186    55.2%
128187    38.9%
128188    44.4%
128189    41.4%
128190    23.3%
128191      63%
128192    28.1%
128193    45.4%
Name: revol_util, Length: 128194, dtype: object
Print the df after fillna and strip %: 0         69.1
1         48.5
2         70.1
3         34.5
4          0.3
5         33.8
6         11.4
7         58.8
8         17.5
9         66.5
10        46.2
11        11.8
12        28.3
13        40.0
14        13.2
15        26.7
16        55.6
17        30.5
18        34.6
19        34.0
20         6.2
21        55.5
22        59.4
23        24.1
24        72.3
25        26.6
26        33.3
27        45.2
28        19.2
29        68.3
30        15.6
31        27.2
32        33.1
33        35.2
34        59.3
35        79.1
36        11.6
37        28.1
38        73.6
39        16.8
40        47.8
41        23.5
42        25.9
43         8.1
44         2.9
45        51.8
46         3.2
47        17.3
48        79.0
49        96.1
50        79.0
51        87.2
52        70.3
53        29.5
54        11.5
55        25.7
56        58.1
57        65.5
58        48.0
59        23.2
60        53.1
61        43.5
62        28.2
63        98.7
64         6.0
65        62.4
66        44.6
67         6.2
68        26.2
69        70.7
70        22.1
71        64.7
72        37.7
73        32.9
74        36.0
75        40.6
76        36.1
77        53.0
78         7.2
79        21.8
80        66.2
81        33.4
82        58.0
83        76.2
84        38.9
85        59.2
86        70.1
87        52.1
88        19.8
89        10.8
90         9.6
91         3.8
92        14.0
93        45.1
94        53.2
95         0.0
96        52.4
97        48.1
98        35.9
99         7.2
100       73.6
101       63.4
102       45.9
103       56.6
104        4.3
105       14.9
106       18.7
107       50.2
108        6.4
109       65.5
110       81.3
111       74.1
112       40.7
113       29.2
114       42.8
115       30.0
116       52.9
117       26.3
118       19.7
119       49.1
120       61.0
121       21.1
122       39.7
123       90.6
124       19.0
125       56.4
126       20.5
127       34.4
128       62.8
129       96.5
130       64.1
131       42.8
132        8.0
133       17.6
134       12.7
135       48.8
136       27.7
137       74.2
138       22.3
139       73.9
140       42.7
141       18.3
142        0.0
143       44.7
144        7.6
145       38.2
146       16.7
147       28.1
148       50.0
149       42.4
150       28.3
151       36.0
152        8.2
153       29.1
154       40.8
155       69.2
156       33.5
157        7.6
158       29.7
159        6.5
160       30.5
161       69.1
162       13.0
163       52.2
164       44.6
165       11.8
166       31.7
167       25.2
168       34.2
169       72.1
170       63.1
171       32.5
172       12.8
173       36.6
174       15.3
175       36.1
176       10.6
177       26.5
178       19.5
179       48.1
180       37.7
181       70.2
182       10.3
183       59.9
184       45.7
185       15.3
186       18.6
187       34.4
188        5.0
189       17.2
190       26.2
191       44.0
192       21.1
193       35.0
194       33.7
195       37.2
196       60.3
197       63.3
198       15.3
199       51.8
200        9.1
201       49.4
202       83.4
203       62.7
204       25.0
205        1.8
206       34.5
207       12.7
208       17.3
209       36.9
210        5.3
211       10.3
212       25.5
213       84.8
214       50.5
215       14.0
216       51.1
217       12.2
218       10.0
219        3.5
220        9.8
221       47.1
222       18.4
223       43.0
224       67.7
225       11.7
226       23.5
227       42.2
228       46.2
229       40.5
230       51.8
231       46.6
232       93.7
233       31.9
234       34.3
235       37.5
236       42.0
237       70.8
238       21.0
239       20.9
240       60.2
241       51.4
242       49.7
243       37.7
244       91.6
245        6.7
246        0.3
247       69.9
248        1.5
249       62.4
          ...
127944    31.5
127945     3.1
127946    65.3
127947    56.8
127948    85.9
127949    37.3
127950    22.0
127951    42.1
127952    51.0
127953    42.1
127954    33.7
127955    25.3
127956    30.5
127957    52.7
127958    37.7
127959    27.7
127960    92.1
127961     3.6
127962    96.3
127963    74.7
127964    41.9
127965    69.4
127966    42.9
127967    31.4
127968    39.5
127969    79.0
127970    26.2
127971    65.1
127972    49.6
127973    35.8
127974    48.4
127975    56.3
127976    24.6
127977    37.7
127978    28.6
127979    79.1
127980    44.8
127981    37.8
127982    78.1
127983    74.6
127984    24.0
127985    34.8
127986    46.5
127987    49.7
127988    46.0
127989    25.9
127990    37.0
127991    43.6
127992    43.9
127993    70.3
127994    50.1
127995    23.9
127996    37.9
127997    16.4
127998    21.7
127999     6.7
128000    34.7
128001    59.2
128002    40.1
128003    68.0
128004    87.5
128005    69.1
128006    30.6
128007    40.5
128008    84.9
128009    73.8
128010    45.5
128011    90.9
128012    54.9
128013     8.3
128014    79.0
128015    30.9
128016    61.2
128017    76.6
128018    44.0
128019    28.7
128020    46.6
128021    49.9
128022    66.2
128023    34.4
128024    48.9
128025    60.7
128026    57.1
128027    22.5
128028    11.0
128029    60.6
128030    52.3
128031    56.4
128032    48.2
128033    15.1
128034     0.0
128035    15.8
128036    68.1
128037    46.7
128038    23.2
128039    25.8
128040    69.6
128041    31.1
128042    49.9
128043    47.7
128044    52.7
128045    41.3
128046    32.7
128047    32.0
128048    35.9
128049    29.4
128050    55.9
128051    30.1
128052    13.9
128053    32.2
128054    60.1
128055    50.6
128056    48.9
128057    44.8
128058    82.4
128059    34.8
128060     8.2
128061     1.7
128062    19.4
128063    40.3
128064    45.1
128065    12.1
128066    30.7
128067    63.2
128068    68.7
128069    26.6
128070    44.8
128071    17.6
128072    63.9
128073    59.3
128074    30.3
128075    44.6
128076    30.0
128077    44.3
128078    31.5
128079    54.2
128080    49.9
128081    11.7
128082    47.7
128083    34.0
128084    41.2
128085    55.4
128086     7.6
128087    45.5
128088    41.2
128089    19.1
128090    26.9
128091    41.6
128092    47.4
128093    17.5
128094     3.8
128095    33.5
128096     0.9
128097    61.9
128098    40.6
128099    77.3
128100    22.4
128101    53.3
128102    32.9
128103    46.5
128104    41.2
128105    35.7
128106    99.6
128107    48.5
128108    34.9
128109    68.8
128110    27.9
128111    78.0
128112    18.2
128113    66.6
128114    57.7
128115    35.2
128116    49.9
128117    55.7
128118     0.0
128119    30.5
128120    43.9
128121    40.7
128122    33.9
128123    56.5
128124    36.0
128125    63.1
128126    61.0
128127    95.7
128128    21.3
128129    51.7
128130    48.3
128131    67.9
128132    66.9
128133    40.2
128134    62.5
128135    41.7
128136    33.4
128137    54.9
128138    41.1
128139    74.9
128140    81.0
128141    26.7
128142    46.3
128143    61.3
128144    14.8
128145    68.7
128146    38.3
128147    73.0
128148    25.3
128149    84.3
128150    35.5
128151    33.9
128152    20.3
128153    35.7
128154    33.2
128155    69.1
128156    34.7
128157    64.4
128158     8.6
128159    29.9
128160    54.2
128161    71.5
128162    41.3
128163    44.8
128164     4.9
128165    50.1
128166    80.3
128167    45.2
128168    36.0
128169    48.6
128170    44.4
128171    43.2
128172    27.0
128173    16.4
128174    28.9
128175    14.2
128176    56.4
128177    22.8
128178    10.9
128179    55.0
128180    37.9
128181    79.9
128182     0.0
128183    23.2
128184    12.1
128185    23.7
128186    55.2
128187    38.9
128188    44.4
128189    41.4
128190    23.3
128191    63.0
128192    28.1
128193    45.4
Name: revol_util, Length: 128194, dtype: float64

In [45]:
df['emp_title'].nunique()

35265

In [0]:
common20 = df['emp_title'].value_counts().head(20).index

In [0]:
def title_sorter(title):
  if title in common20:
    return title
  else:
    return 'Other'
df['emp_title'] = df['emp_title'].apply(title_sorter)

In [50]:
df['emp_title'].nunique()

21