<a href="https://colab.research.google.com/github/beverast/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [0]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [0]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [0]:
phone_population_merge = pd.merge(cell_phones, population, how='inner', on=['geo', 'time'])

In [0]:
# The resulting dataframe's shape should be: (8590, 4)
phone_population_merge.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [0]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [0]:
'''
I chose 'df' instead of 'final' or 'merged' because of ambiguity about
what 'final' and 'merged' connote. 'final' could represent a state where 
no more DataFrame reshaping needs to happen, and 'merged' could imply an
intermediary state of DataFrame joins. I think 'df' best encapsulates the understanding 
that the DataFrame is done with joins and is in a form ready for standard operations.
'''
df = pd.merge(phone_population_merge, geo_country_codes[['geo', 'country']], how='inner', on='geo')

In [0]:
# The resulting dataframe's shape should be: (8590, 5)
df.shape

(8590, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
df.loc[df['time'] == 2017, ['cell_phones_total', 'population_total', 'country']].tail(10)

      cell_phones_total  population_total                         country
8134        395881000.0         324459463                   United States
8180         24265460.0          31910641                      Uzbekistan
8225           116161.0            109897  St. Vincent and the Grenadines
8271         24493687.0          31977065                       Venezuela
8317        120016181.0          95540800                         Vietnam
8363           228016.0            276244                         Vanuatu
8406           124211.0            196440                           Samoa
8497         91878275.0          56717156                    South Africa
8543         13438539.0          17094130                          Zambia
8589         14092104.0          16529904                        Zimbabwe

In [0]:
df['phones_per_person'] = df['cell_phones_total'] / df['population_total']

In [0]:
df.loc[df['country'] == 'United States', ['country', 'phones_per_person', 'time']] \
     .loc[df['time'] == 2017, ['country', 'phones_per_person', 'time']]

            country  phones_per_person  time
8134  United States           1.220125  2017

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [0]:
df['geo'] = df['geo'].str.upper()

In [0]:
df['geo'].sample(n=10).tolist()

['MOZ', 'ZAF', 'SWZ', 'IRL', 'MMR', 'AUS', 'ISR', 'COG', 'BLZ', 'KIR']

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [0]:
df.describe()

              time  cell_phones_total  population_total  phones_per_person
count  8590.000000       8.590000e+03      8.590000e+03        8590.000000
mean   1994.193481       9.004950e+06      2.983823e+07           0.279639
std      14.257975       5.573408e+07      1.161284e+08           0.454247
min    1960.000000       0.000000e+00      4.433000e+03           0.000000
25%    1983.000000       0.000000e+00      1.456148e+06           0.000000
50%    1995.000000       6.200000e+03      5.725062e+06           0.001564
75%    2006.000000       1.697652e+06      1.810581e+07           0.461149
max    2017.000000       1.474097e+09      1.409517e+09           2.490243

In [0]:
df.describe(exclude='number')

         geo country
count   8590    8590
unique   195     195
top      CYP   Sudan
freq      46      46

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [0]:
df[['country', 'cell_phones_total']].sort_values('cell_phones_total', ascending=False)[:5]

     country  cell_phones_total
1496   China    1,474,097,000.0
1495   China    1,364,934,000.0
1494   China    1,291,984,200.0
1493   China    1,286,093,000.0
1492   China    1,229,113,000.0

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [0]:
df[df.cell_phones_total > df.population_total] \
  .loc[df.country == 'United States', df.columns][:1]

,geo,time,cell_phones_total,population_total,country,phones_per_person
8131,USA,2014,"355,500,000.0",317718779,United States,1.118914031833164

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [0]:
country_list = ['China', 'India', 'United States', 'Indonesia', 'Brazil']
country_mask = df['country'].isin(country_list)
time_mask = df['time'] >= 2007

In [0]:
pivot_subset = pd.pivot_table(data=df, 
                              columns=df[time_mask].time, 
                              values='cell_phones_total', 
                              index=df[mask].country)

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

In [0]:
pivot_subset.head()

time,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
country,,,,,,,,,,,
Brazil,"120,980,103.0","150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"
China,"547,306,000.0","641,245,000.0","747,214,000.0","859,003,000.0","986,253,000.0","1,112,155,000.0","1,229,113,000.0","1,286,093,000.0","1,291,984,200.0","1,364,934,000.0","1,474,097,000.0"
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0"
Indonesia,"93,386,881.0","140,578,243.0","163,676,961.0","211,290,235.0","249,805,619.0","281,963,665.0","313,226,914.0","325,582,819.0","338,948,340.0","385,573,398.0","458,923,202.0"
United States,"249,300,000.0","261,300,000.0","274,283,000.0","285,118,000.0","297,404,000.0","304,838,000.0","310,698,000.0","355,500,000.0","382,307,000.0","395,881,000.0","395,881,000.0"

In [0]:
pivot_subset['cell_phone_growth'] = pivot_subset[2017.0] - pivot_subset[2007.0]

In [0]:
pivot_subset.sort_values('cell_phone_growth', ascending=False)[:1]

time,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,cell_phone_growth
country,,,,,,,,,,,,
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0","935,282,277.0"

If you have the time and curiosity, what other questions can you ask and answer with this data?

In [0]:
# I'm very close to hitting the time limit, otherwise I'd continue on!