<a href="https://colab.research.google.com/github/DanielleRomanoff/DS-Sprint-01-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [0]:
# From provided archive
breast_cancer = 'http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data'

In [0]:
df = pd.read_csv(breast_cancer)
df.head()

In [0]:
df.count()

In [0]:
!curl http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data | wc

In [17]:
df = pd.read_csv(breast_cancer, header=None)
df.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

In [29]:
breast_cancer_headers = ['Age of patient', 'Year of operation','Number of positive nodes detected', 'Survival status']
df = pd.read_csv(breast_cancer, header=None, names=breast_cancer_headers)
df.head()

,Age of patient,Year of operation,Number of positive nodes detected,Survival status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1

In [30]:
# Check the data for...? missing values!
df.isna().sum().sum()

0

In [32]:
df.replace({'Survival status': {2: 0}})

,Age of patient,Year of operation,Number of positive nodes detected,Survival status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
5,33,58,10,1
6,33,60,0,1
7,34,59,0,0
8,34,66,9,0
9,34,58,30,1
10,34,60,1,1
11,34,61,10,1
12,34,67,7,1
13,34,60,0,1
14,35,64,13,1
15,35,63,0,1
16,36,60,1,1
17,36,69,0,1
18,37,60,0,1
19,37,63,0,1
20,37,58,0,1
21,37,59,6,1
22,37,60,15,1
23,37,63,0,1
24,38,69,21,0
25,38,59,2,1
26,38,60,0,1
27,38,60,0,1
28,38,62,3,1
29,38,64,1,1
...,...,...,...,...
276,67,66,0,1
277,67,61,0,1
278,67,65,0,1
279,68,67,0,1
280,68,68,0,1
281,69,67,8,0
282,69,60,0,1
283,69,65,0,1
284,69,66,0,1
285,70,58,0,0
286,70,58,4,0
287,70,66,14,1
288,70,67,0,1
289,70,68,0,1
290,70,59,8,1
291,70,63,0,1
292,71,68,2,1
293,72,63,0,0
294,72,58,0,1
295,72,64,0,1
296,72,67,3,1
297,73,62,0,1
298,73,68,0,1
299,74,65,3,0
300,74,63,0,1
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,0
305,83,58,2,0

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

In [0]:
# TODO

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive correlation with survival?
- What is at least one feature that looks to have a negative correlation with survival?
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.