<a href="https://colab.research.google.com/github/Granero0011/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [2]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [3]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [5]:
#Let's merge the specific tables
jointtable = pd.merge(cell_phones[["cell_phones_total",'geo', 'time']], 
              population[['geo','time', 'population_total']])
jointtable.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [6]:
jointtable.head()

   cell_phones_total  geo  time  population_total
0                0.0  afg  1960           8996351
1                0.0  afg  1965           9938414
2                0.0  afg  1970          11126123
3                0.0  afg  1975          12590286
4                0.0  afg  1976          12840299

In [0]:
jointtable2 = pd.merge(jointtable[["cell_phones_total",'population_total','time','geo']], 
              geo_country_codes[['geo','country']])

In [8]:
#Check the shape
jointtable2.shape

(8590, 5)

In [9]:
print(jointtable2)

      cell_phones_total  population_total  time  geo      country
0                   0.0           8996351  1960  afg  Afghanistan
1                   0.0           9938414  1965  afg  Afghanistan
2                   0.0          11126123  1970  afg  Afghanistan
3                   0.0          12590286  1975  afg  Afghanistan
4                   0.0          12840299  1976  afg  Afghanistan
5                   0.0          13067538  1977  afg  Afghanistan
6                   0.0          13237734  1978  afg  Afghanistan
7                   0.0          13306695  1979  afg  Afghanistan
8                   0.0          13248370  1980  afg  Afghanistan
9                   0.0          13053954  1981  afg  Afghanistan
10                  0.0          12749645  1982  afg  Afghanistan
11                  0.0          12389269  1983  afg  Afghanistan
12                  0.0          12047115  1984  afg  Afghanistan
13                  0.0          11783050  1985  afg  Afghanistan
14                  0.0          11601041  1986  afg  Afghanistan
15                  0.0          11502761  1987  afg  Afghanistan
16                  0.0          11540888  1988  afg  Afghanistan
17                  0.0          11777609  1989  afg  Afghanistan
18                  0.0          12249114  1990  afg  Afghanistan
19                  0.0          12993657  1991  afg  Afghanistan
20                  0.0          13981231  1992  afg  Afghanistan
21                  0.0          15095099  1993  afg  Afghanistan
22                  0.0          16172719  1994  afg  Afghanistan
23                  0.0          17099541  1995  afg  Afghanistan
24                  0.0          17822884  1996  afg  Afghanistan
25                  0.0          18381605  1997  afg  Afghanistan
26                  0.0          18863999  1998  afg  Afghanistan
27                  0.0          19403676  1999  afg  Afghanistan
28                  0.0          20093756  2000  afg  Afghanistan
29                  0.0          20966463  2001  afg  Afghanistan
...                 ...               ...   ...  ...          ...
8560                0.0           9604302  1988  zwe     Zimbabwe
8561                0.0           9902540  1989  zwe     Zimbabwe
8562                0.0          10183113  1990  zwe     Zimbabwe
8563                0.0          10443043  1991  zwe     Zimbabwe
8564                0.0          10682868  1992  zwe     Zimbabwe
8565                0.0          10905756  1993  zwe     Zimbabwe
8566                0.0          11116948  1994  zwe     Zimbabwe
8567                0.0          11320346  1995  zwe     Zimbabwe
8568                0.0          11518262  1996  zwe     Zimbabwe
8569             5734.0          11709997  1997  zwe     Zimbabwe
8570            19000.0          11893272  1998  zwe     Zimbabwe
8571           174000.0          12064537  1999  zwe     Zimbabwe
8572           266441.0          12222251  2000  zwe     Zimbabwe
8573           314002.0          12366165  2001  zwe     Zimbabwe
8574           338779.0          12500525  2002  zwe     Zimbabwe
8575           363651.0          12633897  2003  zwe     Zimbabwe
8576           425745.0          12777511  2004  zwe     Zimbabwe
8577           647110.0          12940032  2005  zwe     Zimbabwe
8578           849146.0          13124267  2006  zwe     Zimbabwe
8579          1225654.0          13329909  2007  zwe     Zimbabwe
8580          1654721.0          13558469  2008  zwe     Zimbabwe
8581          3991000.0          13810599  2009  zwe     Zimbabwe
8582          7700000.0          14086317  2010  zwe     Zimbabwe
8583          9200000.0          14386649  2011  zwe     Zimbabwe
8584         12613935.0          14710826  2012  zwe     Zimbabwe
8585         13633167.0          15054506  2013  zwe     Zimbabwe
8586         11798652.0          15411675  2014  zwe     Zimbabwe
8587         12757410.0          15777451  2015  zwe     Zimbabwe
8588         12878926.0          16150362  2016  zwe     Zimbabwe
8589         14092104.0          16529904  2017  zwe     Zimbabwe

[8590 rows x 5 columns]

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
import numpy as np
#Let's calculate number of cell phones per person
jointtable2['cell_phones_per_person']=jointtable2["cell_phones_total"]/jointtable2['population_total']

In [119]:
print(jointtable2[jointtable2['country']=='United States'])

      cell_phones_total  population_total  time  geo        country  \
8092                0.0         186808228  1960  Usa  United States
8093                0.0         199815540  1965  Usa  United States
8094                0.0         209588150  1970  Usa  United States
8095                0.0         219205296  1975  Usa  United States
8096                0.0         221239215  1976  Usa  United States
8097                0.0         223324042  1977  Usa  United States
8098                0.0         225449657  1978  Usa  United States
8099                0.0         227599878  1979  Usa  United States
8100                0.0         229763052  1980  Usa  United States
8101            91600.0         238573861  1984  Usa  United States
8102           340213.0         240824120  1985  Usa  United States
8103           681825.0         243098935  1986  Usa  United States
8104          1230855.0         245402864  1987  Usa  United States
8105          2069441.0         247739582  1988  Usa  United States
8106          3508944.0         250113187  1989  Usa  United States
8107          5283055.0         252529950  1990  Usa  United States
8108          7557148.0         254974819  1991  Usa  United States
8109         11032753.0         257454273  1992  Usa  United States
8110         16009461.0         260020186  1993  Usa  United States
8111         24134421.0         262741566  1994  Usa  United States
8112         33785661.0         265658849  1995  Usa  United States
8113         44042992.0         268803424  1996  Usa  United States
8114         55312293.0         272136551  1997  Usa  United States
8115         69209321.0         275542603  1998  Usa  United States
8116         86047003.0         278862277  1999  Usa  United States
8117        109478031.0         281982778  2000  Usa  United States
8118        128500000.0         284852391  2001  Usa  United States
8119        141800000.0         287506847  2002  Usa  United States
8120        160637000.0         290027624  2003  Usa  United States
8121        184819000.0         292539324  2004  Usa  United States
8122        203700000.0         295129501  2005  Usa  United States
8123        229600000.0         297827356  2006  Usa  United States
8124        249300000.0         300595175  2007  Usa  United States
8125        261300000.0         303374067  2008  Usa  United States
8126        274283000.0         306076362  2009  Usa  United States
8127        285118000.0         308641391  2010  Usa  United States
8128        297404000.0         311051373  2011  Usa  United States
8129        304838000.0         313335423  2012  Usa  United States
8130        310698000.0         315536676  2013  Usa  United States
8131        355500000.0         317718779  2014  Usa  United States
8132        382307000.0         319929162  2015  Usa  United States
8133        395881000.0         322179605  2016  Usa  United States
8134        395881000.0         324459463  2017  Usa  United States

      cell_phones_per_person
8092                0.000000
8093                0.000000
8094                0.000000
8095                0.000000
8096                0.000000
8097                0.000000
8098                0.000000
8099                0.000000
8100                0.000000
8101                0.000384
8102                0.001413
8103                0.002805
8104                0.005016
8105                0.008353
8106                0.014029
8107                0.020921
8108                0.029639
8109                0.042853
8110                0.061570
8111                0.091856
8112                0.127177
8113                0.163848
8114                0.203252
8115                0.251175
8116                0.308565
8117                0.388244
8118                0.451111
8119                0.493206
8120                0.553868
8121                0.631775
8122                0.690205
8123                0.770916
8124                0.829355
8125                0.861313
8126                0.896126
8127                0.923784
8128                0.956125
8129                0.972881
8130                0.984665
8131                1.118914
8132                1.194974
8133                1.228759
8134                1.220125

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [11]:
#Upgrade to upper cases
jointtable2['geo']=jointtable2['geo'].str.title()
print(jointtable2.head())

   cell_phones_total  population_total  time  geo      country
0                0.0           8996351  1960  Afg  Afghanistan
1                0.0           9938414  1965  Afg  Afghanistan
2                0.0          11126123  1970  Afg  Afghanistan
3                0.0          12590286  1975  Afg  Afghanistan
4                0.0          12840299  1976  Afg  Afghanistan

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [13]:
jointtable2['cell_phones_total'].describe()

count    8.590000e+03
mean     9.004950e+06
std      5.573408e+07
min      0.000000e+00
25%      0.000000e+00
50%      6.200000e+03
75%      1.697652e+06
max      1.474097e+09
Name: cell_phones_total, dtype: float64

In [19]:
jointtable2['cell_phones_total'].value_counts()

0.0           3755
5000.0           9
300.0            9
30000.0          9
1500.0           8
2500.0           7
25000.0          7
10000.0          7
1000.0           7
15000.0          7
500.0            6
3500.0           6
4000.0           6
200000.0         6
100000.0         5
150000.0         5
12000.0          5
2300.0           5
1200.0           5
20000.0          5
75000.0          5
700.0            4
2200.0           4
65000.0          4
2000.0           4
1300.0           4
6500.0           4
2000000.0        4
600000.0         4
80000.0          4
              ...
2020637.0        1
1698536.0        1
1370.0           1
8618.0           1
23940973.0       1
211614.0         1
93666088.0       1
87000.0          1
977521.0         1
993902.0         1
12494391.0       1
23270.0          1
8562000.0        1
13633167.0       1
135000.0         1
6378095.0        1
8068.0           1
24402.0          1
236175.0         1
28190.0          1
1026611.0        1
447769.0         1
33880.0          1
3713190.0        1
1070154.0        1
649764.0         1
3254410.0        1
3713137.0        1
8343717.0        1
581700.0         1
Name: cell_phones_total, Length: 4491, dtype: int64

In [14]:
jointtable2['population_total'].describe()

count    8.590000e+03
mean     2.983823e+07
std      1.161284e+08
min      4.433000e+03
25%      1.456148e+06
50%      5.725062e+06
75%      1.810581e+07
max      1.409517e+09
Name: population_total, dtype: float64

In [18]:
jointtable2['population_total'].value_counts().describe()

count    8589.000000
mean        1.000116
std         0.010790
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: population_total, dtype: float64

In [20]:
jointtable2['time'].describe()

count    8590.000000
mean     1994.193481
std        14.257975
min      1960.000000
25%      1983.000000
50%      1995.000000
75%      2006.000000
max      2017.000000
Name: time, dtype: float64

In [24]:
jointtable2['time'].value_counts()
print(len(jointtable2['time'].value_counts()))

46

In [25]:
jointtable2['geo'].describe()

count     8590
unique     195
top        Lux
freq        46
Name: geo, dtype: object

In [26]:
jointtable2['country'].describe()

count        8590
unique        195
top       Romania
freq           46
Name: country, dtype: object

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [69]:
#Filter by date
f= jointtable2[jointtable2['time']==2017]
df=pd.DataFrame()
df['country']=f['country']
df['cell_phones_total']=f['cell_phones_total']

#Sort the values
df.sort_values("cell_phones_total", inplace = True, ascending=False) 
df.head(5)

            country  cell_phones_total
1496          China       1.474097e+09
3595          India       1.168902e+09
3549      Indonesia       4.589232e+08
8134  United States       3.958810e+08
1084         Brazil       2.364885e+08

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [87]:
import numpy as np
u=jointtable2[jointtable2['country']=='United States']
u['diff']=u['cell_phones_total']-u['population_total']
print(u[u['diff']>0].head(1))

#It is 2014

      cell_phones_total  population_total  time  geo        country  \
8131        355500000.0         317718779  2014  Usa  United States

            diff
8131  37781221.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007â€”2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [122]:
#Let's get each country's data
#Starting with China
v1=jointtable2[jointtable2['time']>=2007] 
vc1=v1[v1['country']=='China']
vc1.reset_index(inplace=True)
vc1.head()

,index,cell_phones_total,population_total,time,geo,country,cell_phones_per_person
0,1486,547306000.0,1336800506,2007,Chn,China,0.409415
1,1487,641245000.0,1344415227,2008,Chn,China,0.476969
2,1488,747214000.0,1352068091,2009,Chn,China,0.552645
3,1489,859003000.0,1359755102,2010,Chn,China,0.631734
4,1490,986253000.0,1367480264,2011,Chn,China,0.721219

In [127]:
#India
v2=jointtable2[jointtable2['time']>=2007] 
vc2=v2[v2['country']=='India']
vc2.reset_index(inplace=True)
vc2.head()

,index,cell_phones_total,population_total,time,geo,country,cell_phones_per_person
0,3585,233620000.0,1179681239,2007,Ind,India,0.198037
1,3586,346890000.0,1197146906,2008,Ind,India,0.289764
2,3587,525090000.0,1214270132,2009,Ind,India,0.432433
3,3588,752190000.0,1230980691,2010,Ind,India,0.611049
4,3589,893862478.0,1247236029,2011,Ind,India,0.716675

In [130]:
#United States
v3=jointtable2[jointtable2['time']>=2007] 
vc3=v3[v3['country']=='United States']
vc3.reset_index(inplace=True)
vc3.head()

,index,cell_phones_total,population_total,time,geo,country,cell_phones_per_person
0,8124,249300000.0,300595175,2007,Usa,United States,0.829355
1,8125,261300000.0,303374067,2008,Usa,United States,0.861313
2,8126,274283000.0,306076362,2009,Usa,United States,0.896126
3,8127,285118000.0,308641391,2010,Usa,United States,0.923784
4,8128,297404000.0,311051373,2011,Usa,United States,0.956125

In [131]:
#Indonesia
v4=jointtable2[jointtable2['time']>=2007] 
vc4=v4[v4['country']=='Indonesia']
vc4.reset_index(inplace=True)
vc4.head()

,index,cell_phones_total,population_total,time,geo,country,cell_phones_per_person
0,3539,93386881.0,232989141,2007,Idn,Indonesia,0.400821
1,3540,140578243.0,236159276,2008,Idn,Indonesia,0.595269
2,3541,163676961.0,239340478,2009,Idn,Indonesia,0.683867
3,3542,211290235.0,242524123,2010,Idn,Indonesia,0.871213
4,3543,249805619.0,245707511,2011,Idn,Indonesia,1.016679

In [132]:
#Brazil
v5=jointtable2[jointtable2['time']>=2007] 
vc5=v5[v5['country']=='Brazil']
vc5.reset_index(inplace=True)
vc5.head()

,index,cell_phones_total,population_total,time,geo,country,cell_phones_per_person
0,1074,120980103.0,191026637,2007,Bra,Brazil,0.633315
1,1075,150641403.0,192979029,2008,Bra,Brazil,0.780610
2,1076,169385584.0,194895996,2009,Bra,Brazil,0.869108
3,1077,196929978.0,196796269,2010,Bra,Brazil,1.000679
4,1078,234357507.0,198686688,2011,Bra,Brazil,1.179533

In [0]:
#Let's pack all this info into one big dataframe
frames=[vc1, vc2, vc3, vc4, vc5]
final = pd.concat(frames)
final.reset_index(inplace=True)

In [124]:
final.head()

,level_0,cell_phones_per_person,cell_phones_total,country,geo,index,population_total,time
0,0,0.409415,547306000.0,China,Chn,1486.0,1336800506,2007
1,1,0.476969,641245000.0,China,Chn,1487.0,1344415227,2008
2,2,0.552645,747214000.0,China,Chn,1488.0,1352068091,2009
3,3,0.631734,859003000.0,China,Chn,1489.0,1359755102,2010
4,4,0.721219,986253000.0,China,Chn,1490.0,1367480264,2011

In [125]:
#Let's create the pivot table
table = pd.pivot_table(final, values='cell_phones_total', index=['country'],columns=['time'])
table

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,
Brazil,120980103.0,150641403.0,169385584.0,196929978.0,234357507.0,2.483237e+08,2.710998e+08,2.807288e+08,2.578143e+08,2.440674e+08,2.364885e+08
China,547306000.0,641245000.0,747214000.0,859003000.0,986253000.0,1.112155e+09,1.229113e+09,1.286093e+09,1.291984e+09,1.364934e+09,1.474097e+09
India,233620000.0,346890000.0,525090000.0,752190000.0,893862478.0,8.647209e+08,8.863042e+08,9.440087e+08,1.001056e+09,1.127809e+09,1.168902e+09
Indonesia,93386881.0,140578243.0,163676961.0,211290235.0,249805619.0,2.819637e+08,3.132269e+08,3.255828e+08,3.389483e+08,3.855734e+08,4.589232e+08
United States,249300000.0,261300000.0,274283000.0,285118000.0,297404000.0,3.048380e+08,3.106980e+08,3.555000e+08,3.823070e+08,3.958810e+08,3.958810e+08

In [115]:
#Check the shape
table.shape

(5, 11)

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

In [153]:
bonus = pd.DataFrame({'country':['China', "India",'United States', ' Indonesia', 'Brazil' ], 'increase':[0, 0, 0, 0, 0]})
#China
bonus['increase'][0]=vc1['cell_phones_total'][len(vc1['cell_phones_total'])-1]-vc1['cell_phones_total'][0]
print(bonus['increase'][0])

926791000

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [154]:
#India
bonus['increase'][1]=vc2['cell_phones_total'][len(vc2['cell_phones_total'])-1]-vc2['cell_phones_total'][0]
print(bonus['increase'][1])
#That country is india

935282277

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [155]:
#United States
bonus['increase'][2]=vc3['cell_phones_total'][len(vc3['cell_phones_total'])-1]-vc3['cell_phones_total'][0]
print(bonus['increase'][2])

146581000

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
#United States
bonus['increase'][3]=vc4['cell_phones_total'][len(vc4['cell_phones_total'])-1]-vc4['cell_phones_total'][0]
print(bonus['increase'][3])

365536321

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [157]:
#Brazil
bonus['increase'][4]=vc5['cell_phones_total'][len(vc5['cell_phones_total'])-1]-vc5['cell_phones_total'][0]
print(bonus['increase'][4])

115508445

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [158]:
bonus.sort_values("increase", inplace = True, ascending=False) 
bonus.head()

         country   increase
1          India  935282277
0          China  926791000
3      Indonesia  365536321
2  United States  146581000
4         Brazil  115508445

If you have the time and curiosity, what other questions can you ask and answer with this data?