<a href="https://colab.research.google.com/github/will-cotton4/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

In [143]:
geo_country_codes.columns

Index(['geo', 'alt_5', 'alternative_1', 'alternative_2', 'alternative_3',
       'alternative_4_cdiac', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6',
       'g77_and_oecd_countries', 'gapminder_list', 'god_id', 'gwid',
       'income_groups', 'is--country', 'iso3166_1_alpha2', 'iso3166_1_alpha3',
       'iso3166_1_numeric', 'iso3166_2', 'landlocked', 'latitude', 'longitude',
       'main_religion_2008', 'country', 'pandg', 'un_state',
       'unicode_region_subtag', 'upper_case_name', 'world_4region',
       'world_6region'],
      dtype='object')

In [2]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [3]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [4]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [6]:
cell_user_data = pd.merge(cell_phones, population, how='inner')
cell_user_data.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [7]:
cell_user_data = pd.merge(cell_user_data,
                          geo_country_codes[['geo','country']],
                          how = 'inner')
cell_user_data.shape

(8590, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
cell_user_data['cells_per_person'] = cell_user_data['cell_phones_total']/cell_user_data['population_total']

In [14]:
cell_user_data[cell_user_data['country']=='United States']

,geo,time,cell_phones_total,population_total,country,cells_per_person
8092,usa,1960,0.0,186808228,United States,0.000000
8093,usa,1965,0.0,199815540,United States,0.000000
8094,usa,1970,0.0,209588150,United States,0.000000
8095,usa,1975,0.0,219205296,United States,0.000000
8096,usa,1976,0.0,221239215,United States,0.000000
8097,usa,1977,0.0,223324042,United States,0.000000
8098,usa,1978,0.0,225449657,United States,0.000000
8099,usa,1979,0.0,227599878,United States,0.000000
8100,usa,1980,0.0,229763052,United States,0.000000
8101,usa,1984,91600.0,238573861,United States,0.000384
8102,usa,1985,340213.0,240824120,United States,0.001413
8103,usa,1986,681825.0,243098935,United States,0.002805
8104,usa,1987,1230855.0,245402864,United States,0.005016
8105,usa,1988,2069441.0,247739582,United States,0.008353
8106,usa,1989,3508944.0,250113187,United States,0.014029
8107,usa,1990,5283055.0,252529950,United States,0.020921
8108,usa,1991,7557148.0,254974819,United States,0.029639
8109,usa,1992,11032753.0,257454273,United States,0.042853
8110,usa,1993,16009461.0,260020186,United States,0.061570
8111,usa,1994,24134421.0,262741566,United States,0.091856
8112,usa,1995,33785661.0,265658849,United States,0.127177
8113,usa,1996,44042992.0,268803424,United States,0.163848
8114,usa,1997,55312293.0,272136551,United States,0.203252
8115,usa,1998,69209321.0,275542603,United States,0.251175
8116,usa,1999,86047003.0,278862277,United States,0.308565
8117,usa,2000,109478031.0,281982778,United States,0.388244
8118,usa,2001,128500000.0,284852391,United States,0.451111
8119,usa,2002,141800000.0,287506847,United States,0.493206
8120,usa,2003,160637000.0,290027624,United States,0.553868
8121,usa,2004,184819000.0,292539324,United States,0.631775
8122,usa,2005,203700000.0,295129501,United States,0.690205
8123,usa,2006,229600000.0,297827356,United States,0.770916
8124,usa,2007,249300000.0,300595175,United States,0.829355
8125,usa,2008,261300000.0,303374067,United States,0.861313
8126,usa,2009,274283000.0,306076362,United States,0.896126
8127,usa,2010,285118000.0,308641391,United States,0.923784
8128,usa,2011,297404000.0,311051373,United States,0.956125
8129,usa,2012,304838000.0,313335423,United States,0.972881
8130,usa,2013,310698000.0,315536676,United States,0.984665
8131,usa,2014,355500000.0,317718779,United States,1.118914
8132,usa,2015,382307000.0,319929162,United States,1.194974
8133,usa,2016,395881000.0,322179605,United States,1.228759
8134,usa,2017,395881000.0,324459463,United States,1.220125

** Looks good. **

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [17]:
cell_user_data['geo'] = cell_user_data['geo'].apply(str.upper)
cell_user_data['geo'].head()

0    AFG
1    AFG
2    AFG
3    AFG
4    AFG
Name: geo, dtype: object

**Nice.**

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [18]:
import numpy as np
cell_user_data.describe(include=[np.number])

              time  cell_phones_total  population_total  cells_per_person
count  8590.000000       8.590000e+03      8.590000e+03       8590.000000
mean   1994.193481       9.004950e+06      2.983823e+07          0.279639
std      14.257975       5.573408e+07      1.161284e+08          0.454247
min    1960.000000       0.000000e+00      4.433000e+03          0.000000
25%    1983.000000       0.000000e+00      1.456148e+06          0.000000
50%    1995.000000       6.200000e+03      5.725062e+06          0.001564
75%    2006.000000       1.697652e+06      1.810581e+07          0.461149
max    2017.000000       1.474097e+09      1.409517e+09          2.490243

In [19]:
cell_user_data.describe(include=[np.object])

         geo   country
count   8590      8590
unique   195       195
top      MNG  Cambodia
freq      46        46

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [38]:
cell_groups = cell_user_data[['country', 'cell_phones_total', 'time']][cell_user_data['time']==2017].groupby(by='country')

cell_groups.sum().reset_index().sort_values('cell_phones_total', ascending=False).head()

           country  cell_phones_total  time
31           China    1,474,097,000.0  2017
67           India    1,168,902,277.0  2017
68       Indonesia      458,923,202.0  2017
160  United States      395,881,000.0  2017
21          Brazil      236,488,548.0  2017

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

**First, make a dataframe containing only the times where number of cell phones exceeds people:

In [0]:
condition = cell_user_data['cell_phones_total'] > cell_user_data['population_total']
more_phones_than_people = cell_user_data[condition]

In [42]:
more_phones_than_people.shape

(1044, 6)

In [44]:
more_phones_than_people.head()

,geo,time,cell_phones_total,population_total,country,cells_per_person
131,ALB,2011,"3,100,000.0",2926659,Albania,1.0592282872722787
132,ALB,2012,"3,500,000.0",2920039,Albania,1.198614128098974
133,ALB,2013,"3,685,983.0",2918978,Albania,1.2627649129250031
134,ALB,2014,"3,359,654.0",2920775,Albania,1.150261146442297
135,ALB,2015,"3,400,955.0",2923352,Albania,1.1633751255408176

**Now we slice it to see just the US and sort by time:**

In [45]:
more_phones_than_people[more_phones_than_people['country']=='United States'].sort_values(by='time').head()

,geo,time,cell_phones_total,population_total,country,cells_per_person
8131,USA,2014,"355,500,000.0",317718779,United States,1.118914031833164
8132,USA,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8133,USA,2016,"395,881,000.0",322179605,United States,1.228758722948959
8134,USA,2017,"395,881,000.0",324459463,United States,1.2201246847283354

** Looks like the first year was 2014. We could have also checked to see where `cells_per_person` exceeded one. As a sanity check, we'll take a look at the original DataFrame from 2000 to 2017 and see if that info matches this chart.**

In [46]:
us_after_2000 = (cell_user_data['country']=='United States') & (cell_user_data['time']>= 2000)
cell_user_data[us_after_2000].head(20)

,geo,time,cell_phones_total,population_total,country,cells_per_person
8117,USA,2000,"109,478,031.0",281982778,United States,0.3882436784845066
8118,USA,2001,"128,500,000.0",284852391,United States,0.45111083515532086
8119,USA,2002,"141,800,000.0",287506847,United States,0.4932056452902494
8120,USA,2003,"160,637,000.0",290027624,United States,0.5538679308699229
8121,USA,2004,"184,819,000.0",292539324,United States,0.6317748925952943
8122,USA,2005,"203,700,000.0",295129501,United States,0.6902054837276331
8123,USA,2006,"229,600,000.0",297827356,United States,0.7709164231374367
8124,USA,2007,"249,300,000.0",300595175,United States,0.8293546295279024
8125,USA,2008,"261,300,000.0",303374067,United States,0.8613129084629373
8126,USA,2009,"274,283,000.0",306076362,United States,0.8961260458264333
8127,USA,2010,"285,118,000.0",308641391,United States,0.9237840688710478
8128,USA,2011,"297,404,000.0",311051373,United States,0.9561250192584747
8129,USA,2012,"304,838,000.0",313335423,United States,0.9728807457559626
8130,USA,2013,"310,698,000.0",315536676,United States,0.9846652501340288
8131,USA,2014,"355,500,000.0",317718779,United States,1.118914031833164
8132,USA,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8133,USA,2016,"395,881,000.0",322179605,United States,1.228758722948959
8134,USA,2017,"395,881,000.0",324459463,United States,1.2201246847283354

**Cool beans.**

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007â€”2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [54]:
countries = ['China', 'India', 'United States', 'Indonesia', 'Brazil']
time_constraint = (cell_user_data['time'] >= 2007) & (cell_user_data['time'] <= 2017)
countries_in_time_range = (cell_user_data['country'].isin(countries))  & time_constraint
requested_pivot = pd.pivot_table(cell_user_data[countries_in_time_range], 
                                 values = 'cell_phones_total', 
                                 columns = 'time',
                                 index = ['country'])
requested_pivot.shape

(5, 11)

In [55]:
requested_pivot

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,
Brazil,"120,980,103.0","150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"
China,"547,306,000.0","641,245,000.0","747,214,000.0","859,003,000.0","986,253,000.0","1,112,155,000.0","1,229,113,000.0","1,286,093,000.0","1,291,984,200.0","1,364,934,000.0","1,474,097,000.0"
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0"
Indonesia,"93,386,881.0","140,578,243.0","163,676,961.0","211,290,235.0","249,805,619.0","281,963,665.0","313,226,914.0","325,582,819.0","338,948,340.0","385,573,398.0","458,923,202.0"
United States,"249,300,000.0","261,300,000.0","274,283,000.0","285,118,000.0","297,404,000.0","304,838,000.0","310,698,000.0","355,500,000.0","382,307,000.0","395,881,000.0","395,881,000.0"

**Nice.**

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

**Not too bad. We'll just add a new feature: namely, the increase in cell phones from 2007 to 2017, then query the result to see when that number was 935,282,277.**

In [117]:
requested_pivot['increase'] = requested_pivot[2017]-requested_pivot[2007]
requested_pivot[requested_pivot['increase']==935282277]

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,increase
country,,,,,,,,,,,,
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0","935,282,277.0"

**Looks like it was India.**

If you have the time and curiosity, what other questions can you ask and answer with this data?

# Extra Stuff:

**I'm interested in slicing this data by region, so I'll append a new column from the `geo_country_codes' DataFrame:**

In [118]:
geo_country_codes.head(10)

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,nan,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.5,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.0,66.0,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.5,18.5,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america
5,akr_a_dhe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,nan,NaN,Akrotiri and Dhekelia,NaN,False,NaN,NaN,europe,europe_central_asia
6,ala,NaN,âˆšÃ–land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.25,20.0,NaN,Ã…land,NaN,False,AX,AALAND ISLANDS,europe,europe_central_asia
7,alb,NaN,NaN,NaN,NaN,Albania,NaN,NaN,NaN,NaN,...,41.0,20.0,muslim,Albania,ALBANIA,True,AL,ALBANIA,europe,europe_central_asia
8,and,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.50779,1.52109,christian,Andorra,NaN,True,AD,ANDORRA,europe,europe_central_asia
9,ant,NaN,Neth. Antilles,NaN,NaN,Netherland Antilles,NaN,NaN,NaN,NaN,...,nan,nan,NaN,Netherlands Antilles,NaN,False,NaN,NETHERLANDS ANTILLES,americas,america

In [0]:
cell_user_data = pd.merge(cell_user_data, geo_country_codes[['world_6region', 'country']])
cell_user_data = cell_user_data.rename(columns={'world_6region':'region'})

In [0]:
region_groups = cell_user_data.groupby('region')

In [142]:
region_groups.head()

,geo,time,cell_phones_total,population_total,country,cells_per_person,region
0,AFG,1960,0.0,8996351,Afghanistan,0.0,south_asia
1,AFG,1965,0.0,9938414,Afghanistan,0.0,south_asia
2,AFG,1970,0.0,11126123,Afghanistan,0.0,south_asia
3,AFG,1975,0.0,12590286,Afghanistan,0.0,south_asia
4,AFG,1976,0.0,12840299,Afghanistan,0.0,south_asia
46,AGO,1960,0.0,5643182,Angola,0.0,sub_saharan_africa
47,AGO,1965,0.0,6203299,Angola,0.0,sub_saharan_africa
48,AGO,1970,0.0,6776381,Angola,0.0,sub_saharan_africa
49,AGO,1975,0.0,7682479,Angola,0.0,sub_saharan_africa
50,AGO,1976,0.0,7900997,Angola,0.0,sub_saharan_africa
92,ALB,1960,0.0,1636056,Albania,0.0,europe_central_asia
93,ALB,1965,0.0,1896125,Albania,0.0,europe_central_asia
94,ALB,1970,0.0,2150598,Albania,0.0,europe_central_asia
95,ALB,1975,0.0,2411229,Albania,0.0,europe_central_asia
96,ALB,1976,0.0,2464336,Albania,0.0,europe_central_asia
184,ARE,1982,"2,330.0",1189545,United Arab Emirates,0.001958732120264471,middle_east_north_africa
185,ARE,1983,"3,564.0",1253060,United Arab Emirates,0.002844237307072287,middle_east_north_africa
186,ARE,1984,"4,936.0",1318478,United Arab Emirates,0.003743710551105138,middle_east_north_africa
187,ARE,1985,"7,924.0",1391052,United Arab Emirates,0.005696408186034742,middle_east_north_africa
188,ARE,1986,"11,191.0",1472218,United Arab Emirates,0.0076014557626655835,middle_east_north_africa
220,ARG,1960,0.0,20619075,Argentina,0.0,america
221,ARG,1965,0.0,22283390,Argentina,0.0,america
222,ARG,1970,0.0,23973058,Argentina,0.0,america
223,ARG,1975,0.0,26066975,Argentina,0.0,america
224,ARG,1976,0.0,26477152,Argentina,0.0,america
351,AUS,1960,0.0,10289707,Australia,0.0,east_asia_pacific
352,AUS,1965,0.0,11363313,Australia,0.0,east_asia_pacific
353,AUS,1970,0.0,12842907,Australia,0.0,east_asia_pacific
354,AUS,1975,0.0,13831206,Australia,0.0,east_asia_pacific
355,AUS,1976,0.0,13994623,Australia,0.0,east_asia_pacific

**Now we'll do a pivot table to see the largest cell phone counts by region:**

In [148]:
time_constraint = cell_user_data['time'] >= 2010
region_cells = pd.pivot_table(cell_user_data[time_constraint],
                              values='cell_phones_total', 
                              index = ['region', 'country'],
                              columns = ['time'])
region_cells

time                                                       2010          2011  \
region             country
america            Antigua and Barbuda                167,970.0     176,008.0
                   Argentina                       57,082,298.0  60,722,729.0
                   Bahamas                            428,377.0     298,790.0
                   Barbados                           350,061.0     347,917.0
                   Belize                             194,201.0     222,407.0
                   Bolivia                          7,179,293.0   8,353,273.0
                   Brazil                         196,929,978.0 234,357,507.0
                   Canada                          25,825,400.0  26,840,000.0
                   Chile                           19,852,242.0  22,315,248.0
                   Colombia                        44,477,653.0  46,200,421.0
                   Costa Rica                       3,128,372.0   4,153,067.0
                   Cuba                             1,003,015.0   1,315,141.0
                   Dominica                           105,567.0     108,924.0
                   Dominican Republic               8,892,783.0   8,770,780.0
                   Ecuador                         14,780,730.0  15,332,715.0
                   El Salvador                      7,700,336.0   8,316,150.0
                   Grenada                            121,946.0     120,855.0
                   Guatemala                       18,067,970.0  19,479,105.0
                   Guyana                             560,397.0     528,757.0
                   Haiti                            4,000,000.0   4,200,000.0
                   Honduras                         9,505,071.0   8,062,229.0
                   Jamaica                          3,181,995.0   2,945,395.0
                   Mexico                          91,383,493.0  94,583,253.0
                   Nicaragua                        3,962,247.0   4,823,534.0
                   Panama                           6,646,348.0   6,735,429.0
                   Paraguay                         5,920,858.0   6,529,053.0
                   Peru                            29,115,149.0  32,461,415.0
                   St. Kitts and Nevis                 80,000.0      77,000.0
                   St. Lucia                          198,212.0     216,530.0
                   St. Vincent and the Grenadines     131,791.0     131,809.0
...                                                         ...           ...
sub_saharan_africa Ghana                           17,436,949.0  21,165,843.0
                   Guinea                           4,000,000.0   4,860,590.0
                   Guinea-Bissau                      677,365.0     732,634.0
                   Kenya                           24,968,891.0  28,080,771.0
                   Lesotho                            987,448.0   1,232,354.0
                   Liberia                          1,571,308.0   2,020,637.0
                   Madagascar                       7,711,721.0   8,680,772.0
                   Malawi                           3,117,364.0   3,951,572.0
                   Mali                             7,440,383.0  10,821,930.0
                   Mauritania                       2,776,050.0   3,314,767.0
                   Mauritius                        1,190,900.0   1,294,100.0
                   Mozambique                       7,224,176.0   7,855,345.0
                   Namibia                          1,950,072.0   2,194,495.0
                   Niger                            3,668,625.0   4,742,879.0
                   Nigeria                         87,297,789.0  95,167,308.0
                   Rwanda                           3,548,761.0   4,446,194.0
                   Sao Tome and Principe              102,730.0     115,038.0
                   Senegal                          8,343,717.0   9,352,868.0
                   Seychelles                         117,587.0     126,594.0
                   Sierra Leone                     2,000,000.0   2,137,000.0
                   Somalia                            648,200.0   1,800,000.0
                   South Africa                    50,372,000.0  64,000,000.0
                   South Sudan                      1,500,000.0   1,800,000.0
                   Sudan                           18,093,231.0  25,056,185.0
                   Swaziland                          725,802.0     766,540.0
                   Tanzania                        20,983,853.0  25,666,455.0
                   Togo                             2,602,283.0   2,695,335.0
                   Uganda                          12,828,264.0  16,696,992.0
                   Zambia                           5,446,991.0   8,164,553.0
                   Zimbabwe                         7,700,000.0   9,200,000.0

time                                                       2012          2013  \
region             country
america            Antigua and Barbuda                127,381.0     114,358.0
                   Argentina                       64,327,647.0  67,361,515.0
                   Bahamas                            300,000.0     287,000.0
                   Barbados                           349,296.0     307,708.0
                   Belize                             172,423.0     174,615.0
                   Bolivia                          9,493,207.0  10,425,704.0
                   Brazil                         248,323,703.0 271,099,799.0
                   Canada                          27,720,000.0  28,360,000.0
                   Chile                           23,940,973.0  23,661,339.0
                   Colombia                        49,066,359.0  50,295,114.0
                   Costa Rica                       5,378,082.0   7,111,981.0
                   Cuba                             1,681,645.0   1,995,698.0
                   Dominica                           109,300.0      93,575.0
                   Dominican Republic               8,934,196.0   9,200,410.0
                   Ecuador                         16,456,740.0  16,626,199.0
                   El Salvador                      8,649,000.0   8,991,899.0
                   Grenada                            129,912.0     133,000.0
                   Guatemala                       20,787,080.0  21,716,357.0
                   Guyana                             547,047.0     555,035.0
                   Haiti                            6,094,947.0   7,160,200.0
                   Honduras                         7,370,034.0   7,767,235.0
                   Jamaica                          2,714,938.0   2,846,196.0
                   Mexico                         100,727,228.0 106,747,373.0
                   Nicaragua                        5,851,723.0   6,808,930.0
                   Panama                           6,213,564.0   6,204,636.0
                   Paraguay                         6,793,703.0   7,053,297.0
                   Peru                            29,388,077.0  29,793,297.0
                   St. Kitts and Nevis                 76,000.0      77,000.0
                   St. Lucia                          216,000.0     212,063.0
                   St. Vincent and the Grenadines     126,992.0     125,378.0
...                                                         ...           ...
sub_saharan_africa Ghana                           25,618,427.0  28,026,482.0
                   Guinea                           5,584,700.0   7,436,471.0
                   Guinea-Bissau                    1,049,193.0     939,909.0
                   Kenya                           30,731,754.0  31,830,003.0
                   Lesotho                          1,544,815.0   1,790,295.0
                   Liberia                          2,379,900.0   2,550,775.0
                   Madagascar                       8,778,600.0   8,461,120.0
                   Malawi                           4,646,894.0   5,290,044.0
                   Mali                            14,612,835.0  19,749,371.0
                   Mauritania                       4,025,478.0   3,988,195.0
                   Mauritius                        1,485,800.0   1,533,600.0
                   Mozambique                       8,804,986.0  12,401,290.0
                   Namibia                          2,146,833.0   2,727,913.0
                   Niger                            5,395,540.0   7,006,300.0
                   Nigeria                        112,777,785.0 127,246,092.0
                   Rwanda                           5,690,751.0   6,689,158.0
                   Sao Tome and Principe              122,172.0     125,329.0
                   Senegal                         11,470,646.0  13,133,772.0
                   Seychelles                         136,480.0     136,790.0
                   Sierra Leone                     2,210,000.0   4,000,000.0
                   Somalia                          2,300,000.0   5,183,000.0
                   South Africa                    68,394,000.0  76,865,278.0
                   South Sudan                      2,300,000.0   2,853,228.0
                   Sudan                           27,658,595.0  27,657,875.0
                   Swaziland                          805,000.0     893,000.0
                   Tanzania                        27,219,283.0  27,442,823.0
                   Togo                             3,312,239.0   4,262,993.0
                   Uganda                          16,356,387.0  18,068,648.0
                   Zambia                          10,524,676.0  10,395,801.0
                   Zimbabwe                        12,613,935.0  13,633,167.0

time                                                       2014          2015  \
region             country
america            Antigua and Barbuda                120,041.0     176,000.0
                   Argentina                       61,234,216.0  61,842,011.0
                   Bahamas                            314,842.0     311,175.0
                   Barbados                           305,456.0     334,792.0
                   Belize                             172,300.0     211,946.0
                   Bolivia                         10,450,341.0  10,162,829.0
                   Brazil                         280,728,796.0 257,814,274.0
                   Canada                          28,789,000.0  29,765,000.0
                   Chile                           23,680,718.0  23,206,353.0
                   Colombia                        55,330,272.0  57,327,470.0
                   Costa Rica                       7,020,412.0   7,535,599.0
                   Cuba                             2,530,752.0   3,335,346.0
                   Dominica                            73,886.0      77,254.0
                   Dominican Republic               8,303,536.0   8,797,247.0
                   Ecuador                         16,605,737.0  12,943,791.0
                   El Salvador                      9,193,342.0   9,334,132.0
                   Grenada                            117,151.0     119,767.0
                   Guatemala                       16,911,811.0  18,121,390.0
                   Guyana                             566,905.0     542,598.0
                   Haiti                            6,769,312.0   7,300,000.0
                   Honduras                         7,725,092.0   8,048,388.0
                   Jamaica                          3,005,490.0   3,137,213.0
                   Mexico                         104,948,339.0 107,688,282.0
                   Nicaragua                        7,067,860.0   7,264,151.0
                   Panama                           6,906,090.0   5,741,929.0
                   Paraguay                         7,305,277.0   7,411,986.0
                   Peru                            31,880,043.0  34,235,810.0
                   St. Kitts and Nevis                 65,000.0      73,009.0
                   St. Lucia                          188,351.0     187,741.0
                   St. Vincent and the Grenadines     115,017.0     113,371.0
...                                                         ...           ...
sub_saharan_africa Ghana                           30,360,771.0  35,008,387.0
                   Guinea                           8,683,500.0  10,764,000.0
                   Guinea-Bissau                    1,108,297.0   1,238,493.0
                   Kenya                           33,632,631.0  37,715,944.0
                   Lesotho                          2,138,789.0   2,140,141.0
                   Liberia                          3,225,258.0   3,652,000.0
                   Madagascar                       9,713,883.0  10,693,765.0
                   Malawi                           5,632,514.0   6,566,707.0
                   Mali                            23,505,559.0  22,698,915.0
                   Mauritania                       3,753,330.0   3,644,483.0
                   Mauritius                        1,652,000.0   1,762,300.0
                   Mozambique                      18,482,638.0  20,134,932.0
                   Namibia                          2,670,983.0   2,549,817.0
                   Niger                            8,236,400.0   8,959,000.0
                   Nigeria                        138,960,320.0 150,830,089.0
                   Rwanda                           7,747,019.0   8,759,619.0
                   Sao Tome and Principe              128,500.0     184,971.0
                   Senegal                         14,379,729.0  14,959,477.0
                   Seychelles                         151,336.0     148,244.0
                   Sierra Leone                     4,756,800.0   5,657,000.0
                   Somalia                          5,500,000.0   5,836,000.0
                   South Africa                    79,280,731.0  87,999,492.0
                   South Sudan                      2,876,097.0   2,899,000.0
                   Sudan                           27,796,611.0  27,938,507.0
                   Swaziland                          916,800.0     941,000.0
                   Tanzania                        31,862,656.0  39,665,600.0
                   Togo                             4,516,114.0   4,855,206.0
                   Uganda                          20,365,941.0  20,220,273.0
                   Zambia                          10,114,867.0  11,557,725.0
                   Zimbabwe                        11,798,652.0  12,757,410.0

time                                                       2016          2017
region             country
america            Antigua and Barbuda                180,000.0           nan
                   Argentina                       63,723,692.0  61,897,379.0
                   Bahamas                            360,200.0     353,540.0
                   Barbados                           332,208.0     337,791.0
                   Belize                             227,000.0           nan
                   Bolivia                         10,106,216.0  10,963,224.0
                   Brazil                         244,067,356.0 236,488,548.0
                   Canada                          30,752,000.0  31,458,600.0
                   Chile                           23,302,603.0  23,013,147.0
                   Colombia                        58,684,924.0  62,222,011.0
                   Costa Rica                       8,330,664.0   8,840,342.0
                   Cuba                             3,987,900.0   4,613,782.0
                   Dominica                            78,444.0           nan
                   Dominican Republic               8,708,131.0   8,769,127.0
                   Ecuador                         13,882,280.0  13,881,562.0
                   El Salvador                      9,637,259.0   9,982,186.0
                   Grenada                            118,973.0     113,177.0
                   Guatemala                       18,264,520.0  19,986,482.0
                   Guyana                             584,659.0     643,210.0
                   Haiti                            6,504,010.0   6,486,549.0
                   Honduras                         7,832,802.0   8,233,499.0
                   Jamaica                          3,267,344.0   3,091,222.0
                   Mexico                         111,730,118.0 114,326,842.0
                   Nicaragua                        7,745,512.0   8,179,876.0
                   Panama                           5,141,768.0   5,977,641.0
                   Paraguay                         7,489,474.0   7,468,275.0
                   Peru                            36,933,161.0  38,915,386.0
                   St. Kitts and Nevis                 76,583.0      76,878.0
                   St. Lucia                          176,648.0     176,694.0
                   St. Vincent and the Grenadines     112,649.0     116,161.0
...                                                         ...           ...
sub_saharan_africa Ghana                           38,305,078.0  36,751,761.0
                   Guinea                          10,800,000.0           nan
                   Guinea-Bissau                    1,285,835.0   1,434,822.0
                   Kenya                           38,982,188.0  42,815,109.0
                   Lesotho                          2,282,917.0   2,380,804.0
                   Liberia                          3,117,002.0           nan
                   Madagascar                       7,998,253.0   8,730,499.0
                   Malawi                           7,178,384.0   7,772,503.0
                   Mali                            20,217,697.0           nan
                   Mauritania                       3,614,172.0   4,074,157.0
                   Mauritius                        1,814,000.0   1,839,500.0
                   Mozambique                      15,025,598.0  11,875,506.0
                   Namibia                          2,659,951.0   2,647,853.0
                   Niger                            7,471,802.0   8,778,884.0
                   Nigeria                        154,342,168.0 144,920,170.0
                   Rwanda                           8,921,533.0   8,819,217.0
                   Sao Tome and Principe              178,047.0     173,646.0
                   Senegal                         15,186,485.0  15,758,366.0
                   Seychelles                         151,857.0     167,282.0
                   Sierra Leone                     6,279,270.0           nan
                   Somalia                          6,653,040.0           nan
                   South Africa                    82,412,880.0  91,878,275.0
                   South Sudan                      2,700,000.0   1,511,529.0
                   Sudan                           27,807,293.0  28,644,139.0
                   Swaziland                          995,000.0           nan
                   Tanzania                        40,044,186.0  39,953,860.0
                   Togo                             5,505,424.0   6,219,981.0
                   Uganda                          22,838,486.0  24,948,878.0
                   Zambia                          12,017,034.0  13,438,539.0
                   Zimbabwe                        12,878,926.0  14,092,104.0

[195 rows x 8 columns]

**Neat.**

##I tried `matplotlib` below, with predictable results.

** Now we'll plot all the population growth by country, colored by region: **

In [164]:
import matplotlib.pyplot as plt
unpacked.head()

region            america  east_asia_pacific  europe_central_asia  \
time country
2010 Afghanistan      nan                nan                  nan
     Albania          nan                nan          2,692,372.0
     Algeria          nan                nan                  nan
     Andorra          nan                nan             65,495.0
     Angola           nan                nan                  nan

region            middle_east_north_africa   south_asia  sub_saharan_africa
time country
2010 Afghanistan                       nan 10,215,840.0                 nan
     Albania                           nan          nan                 nan
     Algeria                  32,780,165.0          nan                 nan
     Andorra                           nan          nan                 nan
     Angola                            nan          nan         9,403,365.0

In [0]:
def pop_plot(country, region):
    data = unpacked.loc[country, region]
    plt.plot(data.index, data.values)

In [158]:
for region in unpacked['region']:
  for country in unpacked['country']:
    pop_plot(country, region)

KeyError: ignored

##