<a href="https://colab.research.google.com/github/serinamarie/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Grill_5_Join_And_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-07-31 21:02:10--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.88.253
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.88.253|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’

instacart_online_gr 100%[===================>] 196.03M  43.1MB/s    in 4.6s

2019-07-31 21:02:15 (42.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [5]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [6]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [7]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [8]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol



```
# This is formatted as code
```

### order_products__prior

In [9]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [10]:
!free -m 
#Check your free memory
#del a_dataframe_like_this
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

              total        used        free      shared  buff/cache   available
Mem:          13022        2402        7745           0        2874       12345
Swap:             0           0           0
(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [11]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.tail(20)

(3421083, 7)

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
3421063   3292671   206208  ...                11                     3.0
3421064   3059777   206208  ...                10                    13.0
3421065   2239861   206208  ...                 4                     9.0
3421066   1285346   206208  ...                11                     5.0
3421067   1882108   206208  ...                22                     7.0
3421068    803273   206208  ...                11                     4.0
3421069   3154581   206209  ...                11                     NaN
3421070   1889163   206209  ...                17                     7.0
3421071   1542354   206209  ...                11                    30.0
3421072    688306   206209  ...                10                    30.0
3421073   2307371   206209  ...                15                     3.0
3421074   3186442   206209  ...                16                     3.0
3421075    550836   206209  ...                13                     9.0
3421076   2129269   206209  ...                17                    22.0
3421077   2558525   206209  ...                15                    22.0
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[20 rows x 7 columns]

### products

In [12]:
products = pd.read_csv('products.csv')
print(products.shape)
products.tail()

(49688, 4)

       product_id  ... department_id
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[5 rows x 4 columns]

In [13]:
del order_products_train
del departments
del aisles

NameError: ignored

## Concatenate order_products__prior and order_products__train

In [0]:
order_products__prior.isna().sum()

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)
order_products.tail(30)

In [0]:
order_products.isna().sum()

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders.head(2)

In [0]:
columns = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day']
condition = (orders.user_id == 1) & (orders.order_number <= 2)
subset = orders.loc[condition, columns]

subset

## Merge dataframes

In [0]:
display(example)

Merge the subset from `orders` with columns from `order_products`

In [0]:
order_products.head(2)
merged = pd.merge(subset, order_products[['order_id','add_to_cart_order','product_id']], how='left',on='order_id')
merged

Merge with columns from `products`

In [0]:
products.head()

In [0]:
final = pd.merge(merged, products[['product_id','product_name']], how='left', on='product_id')
final

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1 = table1.reset_index()
table1

In [0]:
tidy = table1.melt(id_vars='index')
tidy

In [0]:
tidy = tidy.rename(columns={'index': 'name', 'variable': 'trt', 'value': 'result'})
tidy

In [0]:
tidy['trt'] = tidy.trt.str.replace('treatment','')
tidy

## Table 2 --> Tidy

In [0]:
table2 = table2.reset_index()
table2

In [0]:
table2 = table2.melt(id_vars='index',value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'])
table2

In [0]:
table2 = table2.reindex(columns=['variable','index','value'])

In [0]:
table2 = table2.rename(columns={'variable':'name','index':'trt','value':'result'})

In [0]:
table2['trt'] = table2['trt'].str.replace('treatment','')
tidy2 = table2

In [0]:
tidy2

## Tidy --> Table 2

In [0]:
wide2 = tidy2.pivot_table(values='result',index='name',columns='trt')

In [0]:
wide2

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = ['Half And Half Ultra Pasteurized', 'Half Baked Frozen Yogurt']

In [0]:
products.columns.to_list()

In [0]:
orders.columns.to_list()

In [0]:
order_products.columns.to_list()

In [0]:
merged = (products[['product_id','product_name']]
         .merge(order_products[['product_id','order_id']])
         .merge(orders[['order_id','order_hour_of_day']]))
print(merged.shape)

In [0]:
merged.head()

In [0]:
condition = ((merged['product_name'] == product_names[0]) | 
            (merged['product_name'] == product_names[1]))

In [0]:
subset = merged[condition]
print(subset.shape)
subset.head()

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
subset.groupby('order_hour_of_day').product_name.value_counts().unstack().plot();

### 2. crosstab

In [0]:
(pd.crosstab(subset['order_hour_of_day'], subset['product_name'], normalize='columns')*100).plot();

### 3. Pivot Table

In [0]:
subset.pivot_table(index='order_hour_of_day', columns='product_name',values='order_id', aggfunc=len).plot();

### 4. melt

In [0]:
import seaborn as sns

In [0]:
table = pd.crosstab(subset['order_hour_of_day'], subset['product_name'], normalize='columns')
melted = table.reset_index().melt(id_vars='order_hour_of_day')
sns.relplot(x='order_hour_of_day', y='value', hue='product_name', data=melted, kind='line');

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
#dafaframes necessary: columns necessary. this will give the name of products and the number of times ordered
#order_products__prior: order_id, product_id
#products:product_id,product_name
new = pd.merge(products[['product_id','product_name']],order_products__prior[['order_id','product_id']], how='right',on='product_id')

In [0]:
new['counts'] = new['product_name'].map(new['product_name'].value_counts())

In [0]:
top_products = new[new['counts'] > 2900]

In [0]:
final = pd.merge(top_products, orders[['order_id','order_hour_of_day']], how='left', on='order_id')

In [29]:
mean_hour = final.groupby('product_name').order_hour_of_day.mean().sort_values()
early = mean_hour.head(25)
late = mean_hour.tail(25).sort_values(ascending=False)
early

product_name
Half And Half Ultra Pasteurized            11.755221
Sweet & Salty Nut Granola Bars Peanut      11.879417
Pub Mix                                    12.002780
Nutri Grain Bars Multi Pack                12.040879
Trail Mix                                  12.048392
Dry Roasted Almonds                        12.093159
Original Rice Krispies Treats              12.109356
Apples                                     12.126839
Cheez-It Baked Snack Crackers              12.128319
Zero Calorie Cola                          12.150269
Crunchy Oats 'n Honey Granola Bars         12.177233
Cheez-It Cheddar Cracker                   12.259510
Original Beef Jerky                        12.267912
Milk Chocolate Almonds                     12.272963
Popcorn                                    12.281886
0% Greek Strained Yogurt                   12.284711
Extra Fancy Unsalted Mixed Nuts            12.309507
Pink Lady Apples                           12.327839
Original Almondmilk                        12.343654
Clementines                                12.347664
with Crispy Almonds Cereal                 12.352194
French Vanilla Coffee Creamer              12.369231
Half And Half Cream                        12.370005
Cinnamon Brown Sugar Breakfast Biscuits    12.386020
Cherrios Honey Nut                         12.399490
Name: order_hour_of_day, dtype: float64

In [30]:
late

product_name
The Tonight Dough™ Ice Cream                    14.514968
Americone Dream® Ice Cream                      14.395288
Half Baked® Ice Cream                           14.386134
Phish Food® Ice Cream                           14.374505
Milk and Cookies Ice Cream                      14.357585
Birthday Cake Light Ice Cream                   14.315656
Sicilian Pistachio                              14.315616
Chocolate Peanut Butter Cup Gelato              14.312211
Strawberry Ice Cream                            14.288302
Cherry Garcia Ice Cream                         14.279944
Coffee Ice Cream                                14.255703
Roman Raspberry Sorbetto                        14.252653
Vanilla Bean Light Ice Cream                    14.251610
Mediterranean Mint Gelato                       14.242246
Caramel Cookie Crunch Gelato                    14.212616
Chocolate Chip Cookie Dough Ice Cream           14.193192
Mint Chip                                       14.185932
Coconut Almond Minis Frozen Dessert Bars        14.159353
Mint Chocolate Chip Ice Cream                   14.131663
Vanilla Milk Chocolate Almond Ice Cream Bars    14.128868
Chocolate Peanut Butter Ice Cream               14.107854
Sea Salt Caramel Gelato                         14.076750
Vanilla Bean Ice Cream                          14.018328
Rising Crust Pepperoni Pizza                    14.014529
Talenti Double Dark Chocolate Gelato            13.990662
Name: order_hour_of_day, dtype: float64

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

Banana                                                       472565

Bag of Organic Bananas                                       379450

Organic Strawberries                                         264683

Organic Baby Spinach                                         241921

Organic Hass Avocado                                         213584

Organic Avocado                                              176815

Large Lemon                                                  152657

Strawberries                                                 142951

Limes                                                        140627

Organic Whole Milk 
137905

In [0]:
flights = sns.load_dataset('flights')

In [0]:
flights.head(20)

In [0]:
flights2 = flights.pivot_table(index='year',columns='month', values='passengers')
flights2