<a href="https://colab.research.google.com/github/LilySu/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Lily_Su_Assignment_1__LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [0]:
dates = pd.date_range('20130101', periods=6)

In [0]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [0]:
 df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
 df

                   A         B         C         D
2013-01-01  1.474047 -0.897275 -0.896333  0.750337
2013-01-02 -0.169124  0.774886  2.069449  1.309192
2013-01-03 -0.431787  0.100380  0.619901  0.508499
2013-01-04 -0.067285 -0.534787  1.577672  0.649182
2013-01-05 -0.639697  1.768709 -1.772130 -0.235859
2013-01-06 -0.342460 -0.650602 -0.028520 -2.372649

In [0]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})

In [0]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [0]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [0]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [0]:
df.head()

                   A         B         C         D
2013-01-01  1.474047 -0.897275 -0.896333  0.750337
2013-01-02 -0.169124  0.774886  2.069449  1.309192
2013-01-03 -0.431787  0.100380  0.619901  0.508499
2013-01-04 -0.067285 -0.534787  1.577672  0.649182
2013-01-05 -0.639697  1.768709 -1.772130 -0.235859

In [0]:
In [15]: df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [0]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [0]:
ser = pd.Series(pd.date_range('2000', periods=2, tz="CET"))

In [0]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.474047   -0.169124   -0.431787   -0.067285   -0.639697   -0.342460
B   -0.897275    0.774886    0.100380   -0.534787    1.768709   -0.650602
C   -0.896333    2.069449    0.619901    1.577672   -1.772130   -0.028520
D    0.750337    1.309192    0.508499    0.649182   -0.235859   -2.372649

In [0]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.750337 -0.896333 -0.897275  1.474047
2013-01-02  1.309192  2.069449  0.774886 -0.169124
2013-01-03  0.508499  0.619901  0.100380 -0.431787
2013-01-04  0.649182  1.577672 -0.534787 -0.067285
2013-01-05 -0.235859 -1.772130  1.768709 -0.639697
2013-01-06 -2.372649 -0.028520 -0.650602 -0.342460

In [0]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  1.474047 -0.897275 -0.896333  0.750337
2013-01-06 -0.342460 -0.650602 -0.028520 -2.372649
2013-01-04 -0.067285 -0.534787  1.577672  0.649182
2013-01-03 -0.431787  0.100380  0.619901  0.508499
2013-01-02 -0.169124  0.774886  2.069449  1.309192
2013-01-05 -0.639697  1.768709 -1.772130 -0.235859

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.
I created a list of values in a variable. When the variable was called, each value in the list was indexed automatically. 
I then created a bunch of random dates with corresponding columns "ABCD" populated with random generated numbers.
Next, I generated a dictionary with datetimes again, but in the corresponding columns, column C were all 1's, D were all 3's, E were filled with the words "test" or "train", column F being al "foo".
Then I confirmed the type of datastructure in each column. 
After that, I took the index of my dataframe,  transposed the data, and then sorted it by index, then by ascending order for column B.

What was the most challenging part of what you did?
I could not get df.to_numpy() to work and I do not know why.

What was the most interesting thing you learned?
I did not ever think that dataframes could be matrixes. 

What area would you like to explore with more time?
I'd like to run through more pandas examples to understand why people use them.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.