<a href="https://colab.research.google.com/github/albert-h-wong/DS-Sprint-01-Dealing-With-Data/blob/master/LS_DS_112_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Loading Data

Data comes in many shapes and sizes - we'll start by loading tabular data, usually in csv format.

Data set sources:

- https://archive.ics.uci.edu/ml/datasets.html
- https://github.com/awesomedata/awesome-public-datasets
- https://registry.opendata.aws/ (beyond scope for now, but good to be aware of)

Let's start with an example - [data about flags](https://archive.ics.uci.edu/ml/datasets/Flags).

## Lecture example - flag data

In [154]:
# Step 1 - find the actual file to download

# From navigating the page, clicking "Data Folder"
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

Afghanistan,5,1,648,16,10,2,0,3,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,0,1,0,0,black,green
Albania,3,1,29,3,6,6,0,0,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,0,1,0,red,red
Algeria,4,1,2388,20,8,2,2,0,3,1,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,green,white
American-Samoa,6,3,0,0,1,1,0,0,5,1,0,1,1,1,0,1,blue,0,0,0,0,0,0,1,1,1,0,blue,red
Andorra,3,1,0,0,6,0,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Angola,4,2,1247,7,10,5,0,2,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,1,0,0,red,black
Anguilla,1,4,0,0,1,1,0,1,3,0,0,1,0,1,0,1,white,0,0,0,0,0,0,0,0,1,0,white,blue
Antigua-Barbuda,1,4,0,0,1,1,0,1,5,1,0,1,1,1,1,0,red,0,0,0,0,1,0,1,0,0,0,black,red
Argentina,2,3,2777,28,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Argentine,2,3,2777,28,2,0,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Australia,6,2,7690,15,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,6,0,0,0,0,0,white,blue
Austria,3,1,84,8,4,0,0,3,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Bahamas,1,4,19,0,1,1,0,3,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
Bahrain,5,1,1,0,8,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,red
Bangladesh,5,1,143,90,6,2,0,0,2,1,1,0,0,0,0,0,green,1,0,0,0,0,0,0,0,0,0,green,green
Barbados,1,4,0,0,1,1,3,0,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Belgium,3,1,31,10,6,0,3,0,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,0,0,0,black,red
Belize,1,4,23,0,1,1,0,2,8,1,1,1,1,1,1,1,blue,1,0,0,0,0,0,0,1,1,1,red,red
Benin,4,1,113,3,3,5,0,0,2,1,1,0,0,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,green
Bermuda,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,red,1,1,1,1,0,0,0,1,1,0,white,red
Bhutan,5,1,47,1,10,3,0,0,4,1,0,0,0,1,1,1,orange,4,0,0,0,0,0,0,0,1,0,orange,red
Bolivia,2,3,1099,6,2,0,0,3,3,1,1,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Botswana,4,2,600,1,10,5,0,5,3,0,0,1,0,1,1,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Brazil,2,3,8512,119,6,0,0,0,4,0,1,1,1,1,0,0,green,1,0,0,0,22,0,0,0,0,1,green,green
British-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,1,white,blue
Brunei,5,1,6,0,10,2,0,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,1,1,1,1,white,gold
Bulgaria,3,1,111,9,5,6,0,3,5,1,1,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,white,red
Burkina,4,4,274,7,3,5,0,2,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Burma,5,1,678,35,10,3,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,14,0,0,1,1,0,blue,red
Burundi,4,2,28,4,10,5,0,0,3,1,1,0,0,1,0,0,red,1,0,1,0,3,0,0,0,0,0,white,white
Cameroon,4,1,474,8,3,1,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,1,0,0,0,0,0,green,gold
Canada,1,4,9976,24,1,1,2,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,1,0,red,red
Cape-Verde-Islands,4,4,4,0,6,0,1,2,5,1,1,0,1,0,1,1,gold,0,0,0,0,1,0,0,0,1,0,red,green
Cayman-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,4,0,0,1,1,1,white,blue
Central-African-Republic,4,1,623,2,10,5,1,0,5,1,1,1,1,1,0,0,gold,0,0,0,0,1,0,0,0,0,0,blue,gold
Chad,4,1,1284,4,3,5,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Chile,2,3,757,11,2,0,0,2,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
China,5,1,9561,1008,7,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,5,0,0,0,0,0,red,red
Colombia,2,4,1139,28,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Comorro-Islands,4,2,2,0,3,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,4,1,0,0,0,0,green,green
Congo,4,2,342,2,10,5,0,0,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,1,1,0,red,red
Cook-Islands,6,3,0,0,1,1,0,0,4,1,0,1,0,1,0,0,blue,1,1,1,1,15,0,0,0,0,0,white,blue
Costa-Rica,1,4,51,2,2,0,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Cuba,1,4,115,10,2,6,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,blue,blue
Cyprus,3,1,9,1,6,1,0,0,3,0,1,0,1,1,0,0,white,0,0,0,0,0,0,0,1,1,0,white,white
Czechoslovakia,3,1,128,15,5,6,0,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,1,0,0,0,white,red
Denmark,3,1,43,5,6,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Djibouti,4,1,22,0,3,2,0,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,white,green
Dominica,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,green,1,0,0,0,10,0,0,0,1,0,green,green
Dominican-Republic,1,4,49,6,2,0,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Ecuador,2,3,284,8,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Egypt,4,1,1001,47,8,2,0,3,4,1,0,0,1,1,1,0,black,0,0,0,0,0,0,0,0,1,1,red,black
El-Salvador,1,4,21,5,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Equatorial-Guinea,4,1,28,0,10,5,0,3,4,1,1,1,0,1,0,0,green,0,0,0,0,0,0,1,0,0,0,green,red
Ethiopia,4,1,1222,31,10,1,0,3,3,1,1,0,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Faeroes,3,4,1,0,6,1,0,0,3,1,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
Falklands-Malvinas,2,3,12,0,1,1,0,0,6,1,1,1,1,1,0,0,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Fiji,6,2,18,1,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Finland,3,1,337,5,9,1,0,0,2,0,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
France,3,1,547,54,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Guiana,2,4,91,0,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Polynesia,6,3,4,0,3,0,0,3,5,1,0,1,1,1,1,0,red,1,0,0,0,1,0,0,1,0,0,red,red
Gabon,4,2,268,1,10,5,0,3,3,0,1,1,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Gambia,4,4,10,1,1,5,0,5,4,1,1,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Germany-DDR,3,1,108,17,4,6,0,3,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,1,0,0,black,gold
Germany-FRG,3,1,249,61,4,1,0,3,3,1,0,0,1,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,gold
Ghana,4,4,239,14,1,5,0,3,4,1,1,0,1,0,1,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Gibraltar,3,4,0,0,1,1,0,1,3,1,0,0,1,1,0,0,white,0,0,0,0,0,0,0,1,0,0,white,red
Greece,3,1,132,10,6,1,0,9,2,0,0,1,0,1,0,0,blue,0,1,0,1,0,0,0,0,0,0,blue,blue
Greenland,1,4,2176,0,6,1,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,0,0,0,0,0,0,white,red
Grenada,1,4,0,0,1,1,0,0,3,1,1,0,1,0,0,0,gold,1,0,0,0,7,0,1,0,1,0,red,red
Guam,6,1,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,0,0,0,0,0,0,1,1,1,red,red
Guatemala,1,4,109,8,2,0,3,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Guinea,4,4,246,6,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,red,green
Guinea-Bissau,4,4,36,1,6,5,1,2,4,1,1,0,1,0,1,0,gold,0,0,0,0,1,0,0,0,0,0,red,green
Guyana,2,4,215,1,1,4,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,0,0,1,0,0,0,black,green
Haiti,1,4,28,6,3,0,2,0,2,1,0,0,0,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,red
Honduras,1,4,112,4,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,5,0,0,0,0,0,blue,blue
Hong-Kong,5,1,1,5,7,3,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Hungary,3,1,93,11,9,6,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Iceland,3,4,103,0,6,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
India,5,1,3268,684,6,4,0,3,4,0,1,1,0,1,0,1,orange,1,0,0,0,0,0,0,1,0,0,orange,green
Indonesia,6,2,1904,157,10,2,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Iran,5,1,1648,39,6,2,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,1,green,red
Iraq,5,1,435,14,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,3,0,0,0,0,0,red,black
Ireland,3,4,70,3,1,0,3,0,3,0,1,0,0,1,0,1,white,0,0,0,0,0,0,0,0,0,0,green,orange
Israel,5,1,21,4,10,7,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,1,0,0,0,0,0,blue,blue
Italy,3,1,301,57,6,0,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,green,red
Ivory-Coast,4,4,323,7,3,5,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,red,green
Jamaica,1,4,11,2,1,1,0,0,3,0,1,0,1,0,1,0,green,0,0,1,0,0,0,1,0,0,0,gold,gold
Japan,5,1,372,118,9,7,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,1,0,0,0,0,0,white,white
Jordan,5,1,98,2,8,2,0,3,4,1,1,0,0,1,1,0,black,0,0,0,0,1,0,1,0,0,0,black,green
Kampuchea,5,1,181,6,10,3,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,red,red
Kenya,4,1,583,17,10,5,0,5,4,1,1,0,0,1,1,0,red,1,0,0,0,0,0,0,1,0,0,black,green
Kiribati,6,1,0,0,1,1,0,0,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,red,blue
Kuwait,5,1,18,2,8,2,0,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Laos,5,1,236,3,10,6,0,3,3,1,0,1,0,1,0,0,red,1,0,0,0,0,0,0,0,0,0,red,red
Lebanon,5,1,10,3,8,2,0,2,4,1,1,0,0,1,0,1,red,0,0,0,0,0,0,0,0,1,0,red,red
Lesotho,4,2,30,1,10,5,2,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,0,0,0,1,0,0,green,blue
Liberia,4,4,111,1,10,5,0,11,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
Libya,4,1,1760,3,8,2,0,0,1,0,1,0,0,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Liechtenstein,3,1,0,0,4,0,0,2,3,1,0,1,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,blue,red
Luxembourg,3,1,3,0,4,0,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Malagasy,4,2,587,9,10,1,1,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,green
Malawi,4,2,118,6,10,5,0,3,3,1,1,0,0,0,1,0,red,0,0,0,0,1,0,0,0,0,0,black,green
Malaysia,5,1,333,13,10,2,0,14,4,1,0,1,1,1,0,0,red,0,0,0,1,1,1,0,0,0,0,blue,white
Maldive-Islands,5,1,0,0,10,2,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,1,0,0,0,0,red,red
Mali,4,4,1240,7,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,green,red
Malta,3,1,0,0,10,0,2,0,3,1,0,0,0,1,1,0,red,0,1,0,0,0,0,0,1,0,0,white,red
Marianas,6,1,0,0,10,1,0,0,3,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,1,0,0,blue,blue
Mauritania,4,4,1031,2,8,2,0,0,2,0,1,0,1,0,0,0,green,0,0,0,0,1,1,0,0,0,0,green,green
Mauritius,4,2,2,1,1,4,0,4,4,1,1,1,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Mexico,1,4,1973,77,2,0,3,0,4,1,1,0,0,1,0,1,green,0,0,0,0,0,0,0,0,1,0,green,red
Micronesia,6,1,1,0,10,1,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,4,0,0,0,0,0,blue,blue
Monaco,3,1,0,0,3,0,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Mongolia,5,1,1566,2,10,6,3,0,3,1,0,1,1,0,0,0,red,2,0,0,0,1,1,1,1,0,0,red,red
Montserrat,1,4,0,0,1,1,0,0,7,1,1,1,1,1,1,0,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Morocco,4,4,447,20,8,2,0,0,2,1,1,0,0,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Mozambique,4,2,783,12,10,5,0,5,5,1,1,0,1,1,1,0,gold,0,0,0,0,1,0,1,1,0,0,green,gold
Nauru,6,2,0,0,10,1,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Nepal,5,1,140,16,10,4,0,0,3,0,0,1,0,1,0,1,brown,0,0,0,0,2,1,0,0,0,0,blue,blue
Netherlands,3,1,41,14,6,1,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Netherlands-Antilles,1,4,0,0,6,1,0,1,3,1,0,1,0,1,0,0,white,0,0,0,0,6,0,0,0,0,0,white,white
New-Zealand,6,2,268,2,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,4,0,0,0,0,0,white,blue
Nicaragua,1,4,128,3,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Niger,4,1,1267,5,3,2,0,3,3,0,1,0,0,1,0,1,orange,1,0,0,0,0,0,0,0,0,0,orange,green
Nigeria,4,1,925,56,10,2,3,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Niue,6,3,0,0,1,1,0,0,4,1,0,1,1,1,0,0,gold,1,1,1,1,5,0,0,0,0,0,white,gold
North-Korea,5,1,121,18,10,6,0,5,3,1,0,1,0,1,0,0,blue,1,0,0,0,1,0,0,0,0,0,blue,blue
North-Yemen,5,1,195,9,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,1,0,0,0,0,0,red,black
Norway,3,1,324,4,6,1,0,0,3,1,0,1,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Oman,5,1,212,1,8,2,0,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,0,red,green
Pakistan,5,1,804,84,6,2,1,0,2,0,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,white,green
Panama,2,4,76,2,2,0,0,0,3,1,0,1,0,1,0,0,red,0,0,0,4,2,0,0,0,0,0,white,white
Papua-New-Guinea,6,2,463,3,1,5,0,0,4,1,0,0,1,1,1,0,black,0,0,0,0,5,0,1,0,1,0,red,black
Parguay,2,3,407,3,2,0,0,3,6,1,1,1,1,1,1,0,red,1,0,0,0,1,0,0,1,1,1,red,blue
Peru,2,3,1285,14,2,0,3,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Philippines,6,1,300,48,10,0,0,0,4,1,0,1,1,1,0,0,blue,0,0,0,0,4,0,1,0,0,0,blue,red
Poland,3,1,313,36,5,6,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,red
Portugal,3,4,92,10,6,0,0,0,5,1,1,1,1,1,0,0,red,1,0,0,0,0,0,0,1,0,0,green,red
Puerto-Rico,1,4,9,3,2,0,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,1,0,1,0,0,0,red,red
Qatar,5,1,11,0,8,2,0,0,2,0,0,0,0,1,0,1,brown,0,0,0,0,0,0,0,0,0,0,white,brown
Romania,3,1,237,22,6,6,3,0,7,1,1,1,1,1,0,1,red,0,0,0,0,2,0,0,1,1,1,blue,red
Rwanda,4,2,26,5,10,5,3,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,0,0,0,1,red,green
San-Marino,3,1,0,0,6,0,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,blue
Sao-Tome,4,1,0,0,6,0,0,3,4,1,1,0,1,0,1,0,green,0,0,0,0,2,0,1,0,0,0,green,green
Saudi-Arabia,5,1,2150,9,8,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,1,0,1,green,green
Senegal,4,4,196,6,3,2,3,0,3,1,1,0,1,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,red
Seychelles,4,2,0,0,1,1,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Sierra-Leone,4,4,72,3,1,5,0,3,3,0,1,1,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Singapore,5,1,1,3,7,3,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,5,1,0,0,0,0,red,white
Soloman-Islands,6,2,30,0,1,1,0,0,4,0,1,1,1,1,0,0,green,0,0,0,0,5,0,1,0,0,0,blue,green
Somalia,4,1,637,5,10,2,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
South-Africa,4,2,1221,29,6,1,0,3,5,1,1,1,0,1,0,1,orange,0,1,1,0,0,0,0,0,0,0,orange,blue
South-Korea,5,1,99,39,10,7,0,0,4,1,0,1,0,1,1,0,white,1,0,0,0,0,0,0,1,0,0,white,white
South-Yemen,5,1,288,2,8,2,0,3,4,1,0,1,0,1,1,0,red,0,0,0,0,1,0,1,0,0,0,red,black
Spain,3,4,505,38,2,0,0,3,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Sri-Lanka,5,1,66,15,10,3,2,0,4,0,1,0,1,0,0,1,gold,0,0,0,0,0,0,0,1,1,0,gold,gold
St-Helena,4,3,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,0,0,white,blue
St-Kitts-Nevis,1,4,0,0,1,1,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,2,0,1,0,0,0,green,red
St-Lucia,1,4,0,0,1,1,0,0,4,0,0,1,1,1,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
St-Vincent,1,4,0,0,1,1,5,0,4,0,1,1,1,1,0,0,green,0,0,0,0,0,0,0,1,1,1,blue,green
Sudan,4,1,2506,20,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,red,black
Surinam,2,4,63,0,6,1,0,5,4,1,1,0,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,green,green
Swaziland,4,2,17,1,10,1,0,5,7,1,0,1,1,1,1,1,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Sweden,3,1,450,8,6,1,0,0,2,0,0,1,1,0,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Switzerland,3,1,41,6,4,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Syria,5,1,185,10,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,2,0,0,0,0,0,red,black
Taiwan,5,1,36,18,7,3,0,0,3,1,0,1,0,1,0,0,red,1,0,0,1,1,0,0,0,0,0,blue,red
Tanzania,4,2,945,18,10,5,0,0,4,0,1,1,1,0,1,0,green,0,0,0,0,0,0,1,0,0,0,green,blue
Thailand,5,1,514,49,10,3,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Togo,4,1,57,2,3,7,0,5,4,1,1,0,1,1,0,0,green,0,0,0,1,1,0,0,0,0,0,red,green
Tonga,6,2,1,0,10,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,1,0,0,0,0,0,0,white,red
Trinidad-Tobago,2,4,5,1,1,1,0,0,3,1,0,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,white,white
Tunisia,4,1,164,7,8,2,0,0,2,1,0,0,0,1,0,0,red,1,0,0,0,1,1,0,0,0,0,red,red
Turkey,5,1,781,45,9,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,1,1,0,0,0,0,red,red
Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,0,white,blue
Tuvalu,6,2,0,0,1,1,0,0,5,1,0,1,1,1,0,0,blue,0,1,1,1,9,0,0,0,0,0,white,blue
UAE,5,1,84,1,8,2,1,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,red,black
Uganda,4,1,236,13,10,5,0,6,5,1,0,0,1,1,1,0,gold,1,0,0,0,0,0,0,0,1,0,black,red
UK,3,4,245,56,1,1,0,0,3,1,0,1,0,1,0,0,red,0,1,1,0,0,0,0,0,0,0,white,red
Uruguay,2,3,178,3,2,0,0,9,3,0,0,1,1,1,0,0,white,0,0,0,1,1,0,0,0,0,0,white,white
US-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,0,white,0,0,0,0,0,0,0,1,1,1,white,white
USA,1,4,9363,231,1,1,0,13,3,1,0,1,0,1,0,0,white,0,0,0,1,50,0,0,0,0,0,blue,red
USSR,5,1,22402,274,5,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,1,0,0,red,red
Vanuatu,6,2,15,0,6,1,0,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,1,0,1,0,black,green
Vatican-City,3,1,0,0,6,0,2,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,0,1,0,0,gold,white
Venezuela,2,4,912,15,2,0,0,3,7,1,1,1,1,1,1,1,red,0,0,0,0,7,0,0,1,1,0,gold,red
Vietnam,5,1,333,60,10,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Western-Samoa,6,3,3,0,1,1,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,5,0,0,0,0,0,blue,red
Yugoslavia,3,1,256,22,6,6,0,3,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,blue,red
Zaire,4,2,905,28,10,5,0,0,4,1,1,0,1,0,0,1,green,1,0,0,0,0,0,0,1,1,0,green,green
Zambia,4,2,753,6,10,5,3,0,4,1,1,0,0,0,1,1,green,0,0,0,0,0,0,0,0,1,0,green,brown
Zimbabwe,4,2,391,8,10,5,0,7,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,1,1,1,0,green,green

In [0]:
# Step 2 - load the data

# How to deal with a csv? üêº
import pandas as pd
flag_data = pd.read_csv(flag_data_url)

In [156]:
# Step 3 - verify we've got *something*
flag_data.head()

      Afghanistan  5  1   648  16  10  2  0  3  5.1  1.1  1.2  0.1  1.3  1.4  1.5  0.2  green  0.3  0.4  0.5  0.6  1.6  0.7  0.8  1.7  0.9  0.10  black green.1
0         Albania  3  1    29   3   6  6  0  0    3    1    0    0    1    0    1    0    red    0    0    0    0    1    0    0    0    1     0    red     red
1         Algeria  4  1  2388  20   8  2  2  0    3    1    1    0    0    1    0    0  green    0    0    0    0    1    1    0    0    0     0  green   white
2  American-Samoa  6  3     0   0   1  1  0  0    5    1    0    1    1    1    0    1   blue    0    0    0    0    0    0    1    1    1     0   blue     red
3         Andorra  3  1     0   0   6  0  3  0    3    1    0    1    1    0    0    0   gold    0    0    0    0    0    0    0    0    0     0   blue     red
4          Angola  4  2  1247   7  10  5  0  2    3    1    0    0    1    0    1    0    red    0    0    0    0    1    0    0    1    0     0    red   black

In [157]:
# Step 4 - Looks a bit odd - verify that it is what we want
flag_data.count()

Afghanistan    193
5              193
1              193
648            193
16             193
10             193
2              193
0              193
3              193
5.1            193
1.1            193
1.2            193
0.1            193
1.3            193
1.4            193
1.5            193
0.2            193
green          193
0.3            193
0.4            193
0.5            193
0.6            193
1.6            193
0.7            193
0.8            193
1.7            193
0.9            193
0.10           193
black          193
green.1        193
dtype: int64

In [158]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15240  100 15240    0     0   105k      0 --:--:-- --:--:-- --:--:--  105k
    194     194   15240

In [159]:
# So we have 193 observations with funny names, file has 194 rows
# Looks like the file has no header row, but read_csv assumes it does
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        .. deprecated:: 0.19.0
           Please call `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        .. deprecated:: 0.19.0
           Use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        .. deprecated:: 0.19.0
           This argument is not respected by the parser
    compact_ints : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [160]:
# Alright, we can pass header=None to fix this
flag_data = pd.read_csv(flag_data_url, header=None)
flag_data.head()

               0   1   2     3   4   5   6   7   8   9   10  11  12  13  14  15  16     17  18  19  20  21  22  23  24  25  26  27     28     29
0     Afghanistan   5   1   648  16  10   2   0   3   5   1   1   0   1   1   1   0  green   0   0   0   0   1   0   0   1   0   0  black  green
1         Albania   3   1    29   3   6   6   0   0   3   1   0   0   1   0   1   0    red   0   0   0   0   1   0   0   0   1   0    red    red
2         Algeria   4   1  2388  20   8   2   2   0   3   1   1   0   0   1   0   0  green   0   0   0   0   1   1   0   0   0   0  green  white
3  American-Samoa   6   3     0   0   1   1   0   0   5   1   0   1   1   1   0   1   blue   0   0   0   0   0   0   1   1   1   0   blue    red
4         Andorra   3   1     0   0   6   0   3   0   3   1   0   1   1   0   0   0   gold   0   0   0   0   0   0   0   0   0   0   blue    red

In [161]:
flag_data.count()

0     194
1     194
2     194
3     194
4     194
5     194
6     194
7     194
8     194
9     194
10    194
11    194
12    194
13    194
14    194
15    194
16    194
17    194
18    194
19    194
20    194
21    194
22    194
23    194
24    194
25    194
26    194
27    194
28    194
29    194
dtype: int64

In [162]:
flag_data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

### Yes, but what does it *mean*?

This data is fairly nice - it was "donated" and is already "clean" (no missing values). But there are no variable names - so we have to look at the codebook (also from the site).

```
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
```

Exercise - read the help for `read_csv` and figure out how to load the data with the above variable names. One pitfall to note - with `header=None` pandas generated variable names starting from 0, but the above list starts from 1...

## Your assignment - pick a dataset and do something like the above

This is purposely open-ended - you can pick any data set you wish. It is highly advised you pick a dataset from UCI or a similar "clean" source.

If you get that done and want to try more challenging or exotic things, go for it! Use documentation as illustrated above, and follow the 20-minute rule (that is - ask for help if you're stuck).

If you have loaded a few traditional datasets, see the following section for suggested stretch goals.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

In [164]:
#Added auto data from the UCI database and renamed the link
auto_mpg_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

#Loaded data onto notebook
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

18.0   8   307.0      130.0      3504.      12.0   70  1	"chevrolet chevelle malibu"
15.0   8   350.0      165.0      3693.      11.5   70  1	"buick skylark 320"
18.0   8   318.0      150.0      3436.      11.0   70  1	"plymouth satellite"
16.0   8   304.0      150.0      3433.      12.0   70  1	"amc rebel sst"
17.0   8   302.0      140.0      3449.      10.5   70  1	"ford torino"
15.0   8   429.0      198.0      4341.      10.0   70  1	"ford galaxie 500"
14.0   8   454.0      220.0      4354.       9.0   70  1	"chevrolet impala"
14.0   8   440.0      215.0      4312.       8.5   70  1	"plymouth fury iii"
14.0   8   455.0      225.0      4425.      10.0   70  1	"pontiac catalina"
15.0   8   390.0      190.0      3850.       8.5   70  1	"amc ambassador dpl"
15.0   8   383.0      170.0      3563.      10.0   70  1	"dodge challenger se"
14.0   8   340.0      160.0      3609.       8.0   70  1	"plymouth 'cuda 340"
15.0   8   400.0      150.0      3761.       9.5   70  1	"chevrolet monte carlo"
14.0   8   455.0      225.0      3086.      10.0   70  1	"buick estate wagon (sw)"
24.0   4   113.0      95.00      2372.      15.0   70  3	"toyota corona mark ii"
22.0   6   198.0      95.00      2833.      15.5   70  1	"plymouth duster"
18.0   6   199.0      97.00      2774.      15.5   70  1	"amc hornet"
21.0   6   200.0      85.00      2587.      16.0   70  1	"ford maverick"
27.0   4   97.00      88.00      2130.      14.5   70  3	"datsun pl510"
26.0   4   97.00      46.00      1835.      20.5   70  2	"volkswagen 1131 deluxe sedan"
25.0   4   110.0      87.00      2672.      17.5   70  2	"peugeot 504"
24.0   4   107.0      90.00      2430.      14.5   70  2	"audi 100 ls"
25.0   4   104.0      95.00      2375.      17.5   70  2	"saab 99e"
26.0   4   121.0      113.0      2234.      12.5   70  2	"bmw 2002"
21.0   6   199.0      90.00      2648.      15.0   70  1	"amc gremlin"
10.0   8   360.0      215.0      4615.      14.0   70  1	"ford f250"
10.0   8   307.0      200.0      4376.      15.0   70  1	"chevy c20"
11.0   8   318.0      210.0      4382.      13.5   70  1	"dodge d200"
9.0    8   304.0      193.0      4732.      18.5   70  1	"hi 1200d"
27.0   4   97.00      88.00      2130.      14.5   71  3	"datsun pl510"
28.0   4   140.0      90.00      2264.      15.5   71  1	"chevrolet vega 2300"
25.0   4   113.0      95.00      2228.      14.0   71  3	"toyota corona"
25.0   4   98.00      ?          2046.      19.0   71  1	"ford pinto"
19.0   6   232.0      100.0      2634.      13.0   71  1	"amc gremlin"
16.0   6   225.0      105.0      3439.      15.5   71  1	"plymouth satellite custom"
17.0   6   250.0      100.0      3329.      15.5   71  1	"chevrolet chevelle malibu"
19.0   6   250.0      88.00      3302.      15.5   71  1	"ford torino 500"
18.0   6   232.0      100.0      3288.      15.5   71  1	"amc matador"
14.0   8   350.0      165.0      4209.      12.0   71  1	"chevrolet impala"
14.0   8   400.0      175.0      4464.      11.5   71  1	"pontiac catalina brougham"
14.0   8   351.0      153.0      4154.      13.5   71  1	"ford galaxie 500"
14.0   8   318.0      150.0      4096.      13.0   71  1	"plymouth fury iii"
12.0   8   383.0      180.0      4955.      11.5   71  1	"dodge monaco (sw)"
13.0   8   400.0      170.0      4746.      12.0   71  1	"ford country squire (sw)"
13.0   8   400.0      175.0      5140.      12.0   71  1	"pontiac safari (sw)"
18.0   6   258.0      110.0      2962.      13.5   71  1	"amc hornet sportabout (sw)"
22.0   4   140.0      72.00      2408.      19.0   71  1	"chevrolet vega (sw)"
19.0   6   250.0      100.0      3282.      15.0   71  1	"pontiac firebird"
18.0   6   250.0      88.00      3139.      14.5   71  1	"ford mustang"
23.0   4   122.0      86.00      2220.      14.0   71  1	"mercury capri 2000"
28.0   4   116.0      90.00      2123.      14.0   71  2	"opel 1900"
30.0   4   79.00      70.00      2074.      19.5   71  2	"peugeot 304"
30.0   4   88.00      76.00      2065.      14.5   71  2	"fiat 124b"
31.0   4   71.00      65.00      1773.      19.0   71  3	"toyota corolla 1200"
35.0   4   72.00      69.00      1613.      18.0   71  3	"datsun 1200"
27.0   4   97.00      60.00      1834.      19.0   71  2	"volkswagen model 111"
26.0   4   91.00      70.00      1955.      20.5   71  1	"plymouth cricket"
24.0   4   113.0      95.00      2278.      15.5   72  3	"toyota corona hardtop"
25.0   4   97.50      80.00      2126.      17.0   72  1	"dodge colt hardtop"
23.0   4   97.00      54.00      2254.      23.5   72  2	"volkswagen type 3"
20.0   4   140.0      90.00      2408.      19.5   72  1	"chevrolet vega"
21.0   4   122.0      86.00      2226.      16.5   72  1	"ford pinto runabout"
13.0   8   350.0      165.0      4274.      12.0   72  1	"chevrolet impala"
14.0   8   400.0      175.0      4385.      12.0   72  1	"pontiac catalina"
15.0   8   318.0      150.0      4135.      13.5   72  1	"plymouth fury iii"
14.0   8   351.0      153.0      4129.      13.0   72  1	"ford galaxie 500"
17.0   8   304.0      150.0      3672.      11.5   72  1	"amc ambassador sst"
11.0   8   429.0      208.0      4633.      11.0   72  1	"mercury marquis"
13.0   8   350.0      155.0      4502.      13.5   72  1	"buick lesabre custom"
12.0   8   350.0      160.0      4456.      13.5   72  1	"oldsmobile delta 88 royale"
13.0   8   400.0      190.0      4422.      12.5   72  1	"chrysler newport royal"
19.0   3   70.00      97.00      2330.      13.5   72  3	"mazda rx2 coupe"
15.0   8   304.0      150.0      3892.      12.5   72  1	"amc matador (sw)"
13.0   8   307.0      130.0      4098.      14.0   72  1	"chevrolet chevelle concours (sw)"
13.0   8   302.0      140.0      4294.      16.0   72  1	"ford gran torino (sw)"
14.0   8   318.0      150.0      4077.      14.0   72  1	"plymouth satellite custom (sw)"
18.0   4   121.0      112.0      2933.      14.5   72  2	"volvo 145e (sw)"
22.0   4   121.0      76.00      2511.      18.0   72  2	"volkswagen 411 (sw)"
21.0   4   120.0      87.00      2979.      19.5   72  2	"peugeot 504 (sw)"
26.0   4   96.00      69.00      2189.      18.0   72  2	"renault 12 (sw)"
22.0   4   122.0      86.00      2395.      16.0   72  1	"ford pinto (sw)"
28.0   4   97.00      92.00      2288.      17.0   72  3	"datsun 510 (sw)"
23.0   4   120.0      97.00      2506.      14.5   72  3	"toyouta corona mark ii (sw)"
28.0   4   98.00      80.00      2164.      15.0   72  1	"dodge colt (sw)"
27.0   4   97.00      88.00      2100.      16.5   72  3	"toyota corolla 1600 (sw)"
13.0   8   350.0      175.0      4100.      13.0   73  1	"buick century 350"
14.0   8   304.0      150.0      3672.      11.5   73  1	"amc matador"
13.0   8   350.0      145.0      3988.      13.0   73  1	"chevrolet malibu"
14.0   8   302.0      137.0      4042.      14.5   73  1	"ford gran torino"
15.0   8   318.0      150.0      3777.      12.5   73  1	"dodge coronet custom"
12.0   8   429.0      198.0      4952.      11.5   73  1	"mercury marquis brougham"
13.0   8   400.0      150.0      4464.      12.0   73  1	"chevrolet caprice classic"
13.0   8   351.0      158.0      4363.      13.0   73  1	"ford ltd"
14.0   8   318.0      150.0      4237.      14.5   73  1	"plymouth fury gran sedan"
13.0   8   440.0      215.0      4735.      11.0   73  1	"chrysler new yorker brougham"
12.0   8   455.0      225.0      4951.      11.0   73  1	"buick electra 225 custom"
13.0   8   360.0      175.0      3821.      11.0   73  1	"amc ambassador brougham"
18.0   6   225.0      105.0      3121.      16.5   73  1	"plymouth valiant"
16.0   6   250.0      100.0      3278.      18.0   73  1	"chevrolet nova custom"
18.0   6   232.0      100.0      2945.      16.0   73  1	"amc hornet"
18.0   6   250.0      88.00      3021.      16.5   73  1	"ford maverick"
23.0   6   198.0      95.00      2904.      16.0   73  1	"plymouth duster"
26.0   4   97.00      46.00      1950.      21.0   73  2	"volkswagen super beetle"
11.0   8   400.0      150.0      4997.      14.0   73  1	"chevrolet impala"
12.0   8   400.0      167.0      4906.      12.5   73  1	"ford country"
13.0   8   360.0      170.0      4654.      13.0   73  1	"plymouth custom suburb"
12.0   8   350.0      180.0      4499.      12.5   73  1	"oldsmobile vista cruiser"
18.0   6   232.0      100.0      2789.      15.0   73  1	"amc gremlin"
20.0   4   97.00      88.00      2279.      19.0   73  3	"toyota carina"
21.0   4   140.0      72.00      2401.      19.5   73  1	"chevrolet vega"
22.0   4   108.0      94.00      2379.      16.5   73  3	"datsun 610"
18.0   3   70.00      90.00      2124.      13.5   73  3	"maxda rx3"
19.0   4   122.0      85.00      2310.      18.5   73  1	"ford pinto"
21.0   6   155.0      107.0      2472.      14.0   73  1	"mercury capri v6"
26.0   4   98.00      90.00      2265.      15.5   73  2	"fiat 124 sport coupe"
15.0   8   350.0      145.0      4082.      13.0   73  1	"chevrolet monte carlo s"
16.0   8   400.0      230.0      4278.      9.50   73  1	"pontiac grand prix"
29.0   4   68.00      49.00      1867.      19.5   73  2	"fiat 128"
24.0   4   116.0      75.00      2158.      15.5   73  2	"opel manta"
20.0   4   114.0      91.00      2582.      14.0   73  2	"audi 100ls"
19.0   4   121.0      112.0      2868.      15.5   73  2	"volvo 144ea"
15.0   8   318.0      150.0      3399.      11.0   73  1	"dodge dart custom"
24.0   4   121.0      110.0      2660.      14.0   73  2	"saab 99le"
20.0   6   156.0      122.0      2807.      13.5   73  3	"toyota mark ii"
11.0   8   350.0      180.0      3664.      11.0   73  1	"oldsmobile omega"
20.0   6   198.0      95.00      3102.      16.5   74  1	"plymouth duster"
21.0   6   200.0      ?          2875.      17.0   74  1	"ford maverick"
19.0   6   232.0      100.0      2901.      16.0   74  1	"amc hornet"
15.0   6   250.0      100.0      3336.      17.0   74  1	"chevrolet nova"
31.0   4   79.00      67.00      1950.      19.0   74  3	"datsun b210"
26.0   4   122.0      80.00      2451.      16.5   74  1	"ford pinto"
32.0   4   71.00      65.00      1836.      21.0   74  3	"toyota corolla 1200"
25.0   4   140.0      75.00      2542.      17.0   74  1	"chevrolet vega"
16.0   6   250.0      100.0      3781.      17.0   74  1	"chevrolet chevelle malibu classic"
16.0   6   258.0      110.0      3632.      18.0   74  1	"amc matador"
18.0   6   225.0      105.0      3613.      16.5   74  1	"plymouth satellite sebring"
16.0   8   302.0      140.0      4141.      14.0   74  1	"ford gran torino"
13.0   8   350.0      150.0      4699.      14.5   74  1	"buick century luxus (sw)"
14.0   8   318.0      150.0      4457.      13.5   74  1	"dodge coronet custom (sw)"
14.0   8   302.0      140.0      4638.      16.0   74  1	"ford gran torino (sw)"
14.0   8   304.0      150.0      4257.      15.5   74  1	"amc matador (sw)"
29.0   4   98.00      83.00      2219.      16.5   74  2	"audi fox"
26.0   4   79.00      67.00      1963.      15.5   74  2	"volkswagen dasher"
26.0   4   97.00      78.00      2300.      14.5   74  2	"opel manta"
31.0   4   76.00      52.00      1649.      16.5   74  3	"toyota corona"
32.0   4   83.00      61.00      2003.      19.0   74  3	"datsun 710"
28.0   4   90.00      75.00      2125.      14.5   74  1	"dodge colt"
24.0   4   90.00      75.00      2108.      15.5   74  2	"fiat 128"
26.0   4   116.0      75.00      2246.      14.0   74  2	"fiat 124 tc"
24.0   4   120.0      97.00      2489.      15.0   74  3	"honda civic"
26.0   4   108.0      93.00      2391.      15.5   74  3	"subaru"
31.0   4   79.00      67.00      2000.      16.0   74  2	"fiat x1.9"
19.0   6   225.0      95.00      3264.      16.0   75  1	"plymouth valiant custom"
18.0   6   250.0      105.0      3459.      16.0   75  1	"chevrolet nova"
15.0   6   250.0      72.00      3432.      21.0   75  1	"mercury monarch"
15.0   6   250.0      72.00      3158.      19.5   75  1	"ford maverick"
16.0   8   400.0      170.0      4668.      11.5   75  1	"pontiac catalina"
15.0   8   350.0      145.0      4440.      14.0   75  1	"chevrolet bel air"
16.0   8   318.0      150.0      4498.      14.5   75  1	"plymouth grand fury"
14.0   8   351.0      148.0      4657.      13.5   75  1	"ford ltd"
17.0   6   231.0      110.0      3907.      21.0   75  1	"buick century"
16.0   6   250.0      105.0      3897.      18.5   75  1	"chevroelt chevelle malibu"
15.0   6   258.0      110.0      3730.      19.0   75  1	"amc matador"
18.0   6   225.0      95.00      3785.      19.0   75  1	"plymouth fury"
21.0   6   231.0      110.0      3039.      15.0   75  1	"buick skyhawk"
20.0   8   262.0      110.0      3221.      13.5   75  1	"chevrolet monza 2+2"
13.0   8   302.0      129.0      3169.      12.0   75  1	"ford mustang ii"
29.0   4   97.00      75.00      2171.      16.0   75  3	"toyota corolla"
23.0   4   140.0      83.00      2639.      17.0   75  1	"ford pinto"
20.0   6   232.0      100.0      2914.      16.0   75  1	"amc gremlin"
23.0   4   140.0      78.00      2592.      18.5   75  1	"pontiac astro"
24.0   4   134.0      96.00      2702.      13.5   75  3	"toyota corona"
25.0   4   90.00      71.00      2223.      16.5   75  2	"volkswagen dasher"
24.0   4   119.0      97.00      2545.      17.0   75  3	"datsun 710"
18.0   6   171.0      97.00      2984.      14.5   75  1	"ford pinto"
29.0   4   90.00      70.00      1937.      14.0   75  2	"volkswagen rabbit"
19.0   6   232.0      90.00      3211.      17.0   75  1	"amc pacer"
23.0   4   115.0      95.00      2694.      15.0   75  2	"audi 100ls"
23.0   4   120.0      88.00      2957.      17.0   75  2	"peugeot 504"
22.0   4   121.0      98.00      2945.      14.5   75  2	"volvo 244dl"
25.0   4   121.0      115.0      2671.      13.5   75  2	"saab 99le"
33.0   4   91.00      53.00      1795.      17.5   75  3	"honda civic cvcc"
28.0   4   107.0      86.00      2464.      15.5   76  2	"fiat 131"
25.0   4   116.0      81.00      2220.      16.9   76  2	"opel 1900"
25.0   4   140.0      92.00      2572.      14.9   76  1	"capri ii"
26.0   4   98.00      79.00      2255.      17.7   76  1	"dodge colt"
27.0   4   101.0      83.00      2202.      15.3   76  2	"renault 12tl"
17.5   8   305.0      140.0      4215.      13.0   76  1	"chevrolet chevelle malibu classic"
16.0   8   318.0      150.0      4190.      13.0   76  1	"dodge coronet brougham"
15.5   8   304.0      120.0      3962.      13.9   76  1	"amc matador"
14.5   8   351.0      152.0      4215.      12.8   76  1	"ford gran torino"
22.0   6   225.0      100.0      3233.      15.4   76  1	"plymouth valiant"
22.0   6   250.0      105.0      3353.      14.5   76  1	"chevrolet nova"
24.0   6   200.0      81.00      3012.      17.6   76  1	"ford maverick"
22.5   6   232.0      90.00      3085.      17.6   76  1	"amc hornet"
29.0   4   85.00      52.00      2035.      22.2   76  1	"chevrolet chevette"
24.5   4   98.00      60.00      2164.      22.1   76  1	"chevrolet woody"
29.0   4   90.00      70.00      1937.      14.2   76  2	"vw rabbit"
33.0   4   91.00      53.00      1795.      17.4   76  3	"honda civic"
20.0   6   225.0      100.0      3651.      17.7   76  1	"dodge aspen se"
18.0   6   250.0      78.00      3574.      21.0   76  1	"ford granada ghia"
18.5   6   250.0      110.0      3645.      16.2   76  1	"pontiac ventura sj"
17.5   6   258.0      95.00      3193.      17.8   76  1	"amc pacer d/l"
29.5   4   97.00      71.00      1825.      12.2   76  2	"volkswagen rabbit"
32.0   4   85.00      70.00      1990.      17.0   76  3	"datsun b-210"
28.0   4   97.00      75.00      2155.      16.4   76  3	"toyota corolla"
26.5   4   140.0      72.00      2565.      13.6   76  1	"ford pinto"
20.0   4   130.0      102.0      3150.      15.7   76  2	"volvo 245"
13.0   8   318.0      150.0      3940.      13.2   76  1	"plymouth volare premier v8"
19.0   4   120.0      88.00      3270.      21.9   76  2	"peugeot 504"
19.0   6   156.0      108.0      2930.      15.5   76  3	"toyota mark ii"
16.5   6   168.0      120.0      3820.      16.7   76  2	"mercedes-benz 280s"
16.5   8   350.0      180.0      4380.      12.1   76  1	"cadillac seville"
13.0   8   350.0      145.0      4055.      12.0   76  1	"chevy c10"
13.0   8   302.0      130.0      3870.      15.0   76  1	"ford f108"
13.0   8   318.0      150.0      3755.      14.0   76  1	"dodge d100"
31.5   4   98.00      68.00      2045.      18.5   77  3	"honda accord cvcc"
30.0   4   111.0      80.00      2155.      14.8   77  1	"buick opel isuzu deluxe"
36.0   4   79.00      58.00      1825.      18.6   77  2	"renault 5 gtl"
25.5   4   122.0      96.00      2300.      15.5   77  1	"plymouth arrow gs"
33.5   4   85.00      70.00      1945.      16.8   77  3	"datsun f-10 hatchback"
17.5   8   305.0      145.0      3880.      12.5   77  1	"chevrolet caprice classic"
17.0   8   260.0      110.0      4060.      19.0   77  1	"oldsmobile cutlass supreme"
15.5   8   318.0      145.0      4140.      13.7   77  1	"dodge monaco brougham"
15.0   8   302.0      130.0      4295.      14.9   77  1	"mercury cougar brougham"
17.5   6   250.0      110.0      3520.      16.4   77  1	"chevrolet concours"
20.5   6   231.0      105.0      3425.      16.9   77  1	"buick skylark"
19.0   6   225.0      100.0      3630.      17.7   77  1	"plymouth volare custom"
18.5   6   250.0      98.00      3525.      19.0   77  1	"ford granada"
16.0   8   400.0      180.0      4220.      11.1   77  1	"pontiac grand prix lj"
15.5   8   350.0      170.0      4165.      11.4   77  1	"chevrolet monte carlo landau"
15.5   8   400.0      190.0      4325.      12.2   77  1	"chrysler cordoba"
16.0   8   351.0      149.0      4335.      14.5   77  1	"ford thunderbird"
29.0   4   97.00      78.00      1940.      14.5   77  2	"volkswagen rabbit custom"
24.5   4   151.0      88.00      2740.      16.0   77  1	"pontiac sunbird coupe"
26.0   4   97.00      75.00      2265.      18.2   77  3	"toyota corolla liftback"
25.5   4   140.0      89.00      2755.      15.8   77  1	"ford mustang ii 2+2"
30.5   4   98.00      63.00      2051.      17.0   77  1	"chevrolet chevette"
33.5   4   98.00      83.00      2075.      15.9   77  1	"dodge colt m/m"
30.0   4   97.00      67.00      1985.      16.4   77  3	"subaru dl"
30.5   4   97.00      78.00      2190.      14.1   77  2	"volkswagen dasher"
22.0   6   146.0      97.00      2815.      14.5   77  3	"datsun 810"
21.5   4   121.0      110.0      2600.      12.8   77  2	"bmw 320i"
21.5   3   80.00      110.0      2720.      13.5   77  3	"mazda rx-4"
43.1   4   90.00      48.00      1985.      21.5   78  2	"volkswagen rabbit custom diesel"
36.1   4   98.00      66.00      1800.      14.4   78  1	"ford fiesta"
32.8   4   78.00      52.00      1985.      19.4   78  3	"mazda glc deluxe"
39.4   4   85.00      70.00      2070.      18.6   78  3	"datsun b210 gx"
36.1   4   91.00      60.00      1800.      16.4   78  3	"honda civic cvcc"
19.9   8   260.0      110.0      3365.      15.5   78  1	"oldsmobile cutlass salon brougham"
19.4   8   318.0      140.0      3735.      13.2   78  1	"dodge diplomat"
20.2   8   302.0      139.0      3570.      12.8   78  1	"mercury monarch ghia"
19.2   6   231.0      105.0      3535.      19.2   78  1	"pontiac phoenix lj"
20.5   6   200.0      95.00      3155.      18.2   78  1	"chevrolet malibu"
20.2   6   200.0      85.00      2965.      15.8   78  1	"ford fairmont (auto)"
25.1   4   140.0      88.00      2720.      15.4   78  1	"ford fairmont (man)"
20.5   6   225.0      100.0      3430.      17.2   78  1	"plymouth volare"
19.4   6   232.0      90.00      3210.      17.2   78  1	"amc concord"
20.6   6   231.0      105.0      3380.      15.8   78  1	"buick century special"
20.8   6   200.0      85.00      3070.      16.7   78  1	"mercury zephyr"
18.6   6   225.0      110.0      3620.      18.7   78  1	"dodge aspen"
18.1   6   258.0      120.0      3410.      15.1   78  1	"amc concord d/l"
19.2   8   305.0      145.0      3425.      13.2   78  1	"chevrolet monte carlo landau"

In [165]:
#Reading the data in DF and examined the data head and shape for any issues
import pandas as pd

#Data instances was off due to the header
#Data attributes or columns were not reading correctly at first with only one column showing up in the data shape
#Tried to read with pd.read.table and pd.read_csv and separated by tables but could only come up with two columns
#Finally realized that there is very inconsistent whitespace in the data and used the delim white space to correctly read the data into the correct 9 attributes

auto_mpg_data = pd.read_csv(auto_mpg_data_url,delim_whitespace = True, header=None)
print(auto_mpg_data.head())
auto_mpg_data.shape

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

(398, 9)

In [166]:
#Renamed the columns with the correct attribute titles

auto_mpg_data.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration','model_year', 'origin','car_name']
auto_mpg_data.head(15)

     mpg  cylinders  displacement horsepower  weight  acceleration  model_year  origin                   car_name
0   18.0          8         307.0      130.0  3504.0          12.0          70       1  chevrolet chevelle malibu
1   15.0          8         350.0      165.0  3693.0          11.5          70       1          buick skylark 320
2   18.0          8         318.0      150.0  3436.0          11.0          70       1         plymouth satellite
3   16.0          8         304.0      150.0  3433.0          12.0          70       1              amc rebel sst
4   17.0          8         302.0      140.0  3449.0          10.5          70       1                ford torino
5   15.0          8         429.0      198.0  4341.0          10.0          70       1           ford galaxie 500
6   14.0          8         454.0      220.0  4354.0           9.0          70       1           chevrolet impala
7   14.0          8         440.0      215.0  4312.0           8.5          70       1          plymouth fury iii
8   14.0          8         455.0      225.0  4425.0          10.0          70       1           pontiac catalina
9   15.0          8         390.0      190.0  3850.0           8.5          70       1         amc ambassador dpl
10  15.0          8         383.0      170.0  3563.0          10.0          70       1        dodge challenger se
11  14.0          8         340.0      160.0  3609.0           8.0          70       1         plymouth 'cuda 340
12  15.0          8         400.0      150.0  3761.0           9.5          70       1      chevrolet monte carlo
13  14.0          8         455.0      225.0  3086.0          10.0          70       1    buick estate wagon (sw)
14  24.0          4         113.0      95.00  2372.0          15.0          70       3      toyota corona mark ii

In [167]:
#Displayed the data count to check for any issues and missing values and noticed the "?" which correspond to the data documentation that noted 6 missing values for horsepower

auto_mpg_data.count

<bound method DataFrame.count of       mpg  cylinders  displacement horsepower  weight  acceleration  model_year  origin                              car_name
0    18.0          8         307.0      130.0  3504.0          12.0          70       1             chevrolet chevelle malibu
1    15.0          8         350.0      165.0  3693.0          11.5          70       1                     buick skylark 320
2    18.0          8         318.0      150.0  3436.0          11.0          70       1                    plymouth satellite
3    16.0          8         304.0      150.0  3433.0          12.0          70       1                         amc rebel sst
4    17.0          8         302.0      140.0  3449.0          10.5          70       1                           ford torino
5    15.0          8         429.0      198.0  4341.0          10.0          70       1                      ford galaxie 500
6    14.0          8         454.0      220.0  4354.0           9.0          70       1                      chevrolet impala
7    14.0          8         440.0      215.0  4312.0           8.5          70       1                     plymouth fury iii
8    14.0          8         455.0      225.0  4425.0          10.0          70       1                      pontiac catalina
9    15.0          8         390.0      190.0  3850.0           8.5          70       1                    amc ambassador dpl
10   15.0          8         383.0      170.0  3563.0          10.0          70       1                   dodge challenger se
11   14.0          8         340.0      160.0  3609.0           8.0          70       1                    plymouth 'cuda 340
12   15.0          8         400.0      150.0  3761.0           9.5          70       1                 chevrolet monte carlo
13   14.0          8         455.0      225.0  3086.0          10.0          70       1               buick estate wagon (sw)
14   24.0          4         113.0      95.00  2372.0          15.0          70       3                 toyota corona mark ii
15   22.0          6         198.0      95.00  2833.0          15.5          70       1                       plymouth duster
16   18.0          6         199.0      97.00  2774.0          15.5          70       1                            amc hornet
17   21.0          6         200.0      85.00  2587.0          16.0          70       1                         ford maverick
18   27.0          4          97.0      88.00  2130.0          14.5          70       3                          datsun pl510
19   26.0          4          97.0      46.00  1835.0          20.5          70       2          volkswagen 1131 deluxe sedan
20   25.0          4         110.0      87.00  2672.0          17.5          70       2                           peugeot 504
21   24.0          4         107.0      90.00  2430.0          14.5          70       2                           audi 100 ls
22   25.0          4         104.0      95.00  2375.0          17.5          70       2                              saab 99e
23   26.0          4         121.0      113.0  2234.0          12.5          70       2                              bmw 2002
24   21.0          6         199.0      90.00  2648.0          15.0          70       1                           amc gremlin
25   10.0          8         360.0      215.0  4615.0          14.0          70       1                             ford f250
26   10.0          8         307.0      200.0  4376.0          15.0          70       1                             chevy c20
27   11.0          8         318.0      210.0  4382.0          13.5          70       1                            dodge d200
28    9.0          8         304.0      193.0  4732.0          18.5          70       1                              hi 1200d
29   27.0          4          97.0      88.00  2130.0          14.5          71       3                          datsun pl510
30   28.0          4         140.0      90.00  2264.0          15.5          71       1                   chevrolet vega 2300
31   25.0          4         113.0      95.00  2228.0          14.0          71       3                         toyota corona
32   25.0          4          98.0          ?  2046.0          19.0          71       1                            ford pinto
33   19.0          6         232.0      100.0  2634.0          13.0          71       1                           amc gremlin
34   16.0          6         225.0      105.0  3439.0          15.5          71       1             plymouth satellite custom
35   17.0          6         250.0      100.0  3329.0          15.5          71       1             chevrolet chevelle malibu
36   19.0          6         250.0      88.00  3302.0          15.5          71       1                       ford torino 500
37   18.0          6         232.0      100.0  3288.0          15.5          71       1                           amc matador
38   14.0          8         350.0      165.0  4209.0          12.0          71       1                      chevrolet impala
39   14.0          8         400.0      175.0  4464.0          11.5          71       1             pontiac catalina brougham
40   14.0          8         351.0      153.0  4154.0          13.5          71       1                      ford galaxie 500
41   14.0          8         318.0      150.0  4096.0          13.0          71       1                     plymouth fury iii
42   12.0          8         383.0      180.0  4955.0          11.5          71       1                     dodge monaco (sw)
43   13.0          8         400.0      170.0  4746.0          12.0          71       1              ford country squire (sw)
44   13.0          8         400.0      175.0  5140.0          12.0          71       1                   pontiac safari (sw)
45   18.0          6         258.0      110.0  2962.0          13.5          71       1            amc hornet sportabout (sw)
46   22.0          4         140.0      72.00  2408.0          19.0          71       1                   chevrolet vega (sw)
47   19.0          6         250.0      100.0  3282.0          15.0          71       1                      pontiac firebird
48   18.0          6         250.0      88.00  3139.0          14.5          71       1                          ford mustang
49   23.0          4         122.0      86.00  2220.0          14.0          71       1                    mercury capri 2000
50   28.0          4         116.0      90.00  2123.0          14.0          71       2                             opel 1900
51   30.0          4          79.0      70.00  2074.0          19.5          71       2                           peugeot 304
52   30.0          4          88.0      76.00  2065.0          14.5          71       2                             fiat 124b
53   31.0          4          71.0      65.00  1773.0          19.0          71       3                   toyota corolla 1200
54   35.0          4          72.0      69.00  1613.0          18.0          71       3                           datsun 1200
55   27.0          4          97.0      60.00  1834.0          19.0          71       2                  volkswagen model 111
56   26.0          4          91.0      70.00  1955.0          20.5          71       1                      plymouth cricket
57   24.0          4         113.0      95.00  2278.0          15.5          72       3                 toyota corona hardtop
58   25.0          4          97.5      80.00  2126.0          17.0          72       1                    dodge colt hardtop
59   23.0          4          97.0      54.00  2254.0          23.5          72       2                     volkswagen type 3
60   20.0          4         140.0      90.00  2408.0          19.5          72       1                        chevrolet vega
61   21.0          4         122.0      86.00  2226.0          16.5          72       1                   ford pinto runabout
62   13.0          8         350.0      165.0  4274.0          12.0          72       1                      chevrolet impala
63   14.0          8         400.0      175.0  4385.0          12.0          72       1                      pontiac catalina
64   15.0          8         318.0      150.0  4135.0          13.5          72       1                     plymouth fury iii
65   14.0          8         351.0      153.0  4129.0          13.0          72       1                      ford galaxie 500
66   17.0          8         304.0      150.0  3672.0          11.5          72       1                    amc ambassador sst
67   11.0          8         429.0      208.0  4633.0          11.0          72       1                       mercury marquis
68   13.0          8         350.0      155.0  4502.0          13.5          72       1                  buick lesabre custom
69   12.0          8         350.0      160.0  4456.0          13.5          72       1            oldsmobile delta 88 royale
70   13.0          8         400.0      190.0  4422.0          12.5          72       1                chrysler newport royal
71   19.0          3          70.0      97.00  2330.0          13.5          72       3                       mazda rx2 coupe
72   15.0          8         304.0      150.0  3892.0          12.5          72       1                      amc matador (sw)
73   13.0          8         307.0      130.0  4098.0          14.0          72       1      chevrolet chevelle concours (sw)
74   13.0          8         302.0      140.0  4294.0          16.0          72       1                 ford gran torino (sw)
75   14.0          8         318.0      150.0  4077.0          14.0          72       1        plymouth satellite custom (sw)
76   18.0          4         121.0      112.0  2933.0          14.5          72       2                       volvo 145e (sw)
77   22.0          4         121.0      76.00  2511.0          18.0          72       2                   volkswagen 411 (sw)
78   21.0          4         120.0      87.00  2979.0          19.5          72       2                      peugeot 504 (sw)
79   26.0          4          96.0      69.00  2189.0          18.0          72       2                       renault 12 (sw)
80   22.0          4         122.0      86.00  2395.0          16.0          72       1                       ford pinto (sw)
81   28.0          4          97.0      92.00  2288.0          17.0          72       3                       datsun 510 (sw)
82   23.0          4         120.0      97.00  2506.0          14.5          72       3           toyouta corona mark ii (sw)
83   28.0          4          98.0      80.00  2164.0          15.0          72       1                       dodge colt (sw)
84   27.0          4          97.0      88.00  2100.0          16.5          72       3              toyota corolla 1600 (sw)
85   13.0          8         350.0      175.0  4100.0          13.0          73       1                     buick century 350
86   14.0          8         304.0      150.0  3672.0          11.5          73       1                           amc matador
87   13.0          8         350.0      145.0  3988.0          13.0          73       1                      chevrolet malibu
88   14.0          8         302.0      137.0  4042.0          14.5          73       1                      ford gran torino
89   15.0          8         318.0      150.0  3777.0          12.5          73       1                  dodge coronet custom
90   12.0          8         429.0      198.0  4952.0          11.5          73       1              mercury marquis brougham
91   13.0          8         400.0      150.0  4464.0          12.0          73       1             chevrolet caprice classic
92   13.0          8         351.0      158.0  4363.0          13.0          73       1                              ford ltd
93   14.0          8         318.0      150.0  4237.0          14.5          73       1              plymouth fury gran sedan
94   13.0          8         440.0      215.0  4735.0          11.0          73       1          chrysler new yorker brougham
95   12.0          8         455.0      225.0  4951.0          11.0          73       1              buick electra 225 custom
96   13.0          8         360.0      175.0  3821.0          11.0          73       1               amc ambassador brougham
97   18.0          6         225.0      105.0  3121.0          16.5          73       1                      plymouth valiant
98   16.0          6         250.0      100.0  3278.0          18.0          73       1                 chevrolet nova custom
99   18.0          6         232.0      100.0  2945.0          16.0          73       1                            amc hornet
100  18.0          6         250.0      88.00  3021.0          16.5          73       1                         ford maverick
101  23.0          6         198.0      95.00  2904.0          16.0          73       1                       plymouth duster
102  26.0          4          97.0      46.00  1950.0          21.0          73       2               volkswagen super beetle
103  11.0          8         400.0      150.0  4997.0          14.0          73       1                      chevrolet impala
104  12.0          8         400.0      167.0  4906.0          12.5          73       1                          ford country
105  13.0          8         360.0      170.0  4654.0          13.0          73       1                plymouth custom suburb
106  12.0          8         350.0      180.0  4499.0          12.5          73       1              oldsmobile vista cruiser
107  18.0          6         232.0      100.0  2789.0          15.0          73       1                           amc gremlin
108  20.0          4          97.0      88.00  2279.0          19.0          73       3                         toyota carina
109  21.0          4         140.0      72.00  2401.0          19.5          73       1                        chevrolet vega
110  22.0          4         108.0      94.00  2379.0          16.5          73       3                            datsun 610
111  18.0          3          70.0      90.00  2124.0          13.5          73       3                             maxda rx3
112  19.0          4         122.0      85.00  2310.0          18.5          73       1                            ford pinto
113  21.0          6         155.0      107.0  2472.0          14.0          73       1                      mercury capri v6
114  26.0          4          98.0      90.00  2265.0          15.5          73       2                  fiat 124 sport coupe
115  15.0          8         350.0      145.0  4082.0          13.0          73       1               chevrolet monte carlo s
116  16.0          8         400.0      230.0  4278.0           9.5          73       1                    pontiac grand prix
117  29.0          4          68.0      49.00  1867.0          19.5          73       2                              fiat 128
118  24.0          4         116.0      75.00  2158.0          15.5          73       2                            opel manta
119  20.0          4         114.0      91.00  2582.0          14.0          73       2                            audi 100ls
120  19.0          4         121.0      112.0  2868.0          15.5          73       2                           volvo 144ea
121  15.0          8         318.0      150.0  3399.0          11.0          73       1                     dodge dart custom
122  24.0          4         121.0      110.0  2660.0          14.0          73       2                             saab 99le
123  20.0          6         156.0      122.0  2807.0          13.5          73       3                        toyota mark ii
124  11.0          8         350.0      180.0  3664.0          11.0          73       1                      oldsmobile omega
125  20.0          6         198.0      95.00  3102.0          16.5          74       1                       plymouth duster
126  21.0          6         200.0          ?  2875.0          17.0          74       1                         ford maverick
127  19.0          6         232.0      100.0  2901.0          16.0          74       1                            amc hornet
128  15.0          6         250.0      100.0  3336.0          17.0          74       1                        chevrolet nova
129  31.0          4          79.0      67.00  1950.0          19.0          74       3                           datsun b210
130  26.0          4         122.0      80.00  2451.0          16.5          74       1                            ford pinto
131  32.0          4          71.0      65.00  1836.0          21.0          74       3                   toyota corolla 1200
132  25.0          4         140.0      75.00  2542.0          17.0          74       1                        chevrolet vega
133  16.0          6         250.0      100.0  3781.0          17.0          74       1     chevrolet chevelle malibu classic
134  16.0          6         258.0      110.0  3632.0          18.0          74       1                           amc matador
135  18.0          6         225.0      105.0  3613.0          16.5          74       1            plymouth satellite sebring
136  16.0          8         302.0      140.0  4141.0          14.0          74       1                      ford gran torino
137  13.0          8         350.0      150.0  4699.0          14.5          74       1              buick century luxus (sw)
138  14.0          8         318.0      150.0  4457.0          13.5          74       1             dodge coronet custom (sw)
139  14.0          8         302.0      140.0  4638.0          16.0          74       1                 ford gran torino (sw)
140  14.0          8         304.0      150.0  4257.0          15.5          74       1                      amc matador (sw)
141  29.0          4          98.0      83.00  2219.0          16.5          74       2                              audi fox
142  26.0          4          79.0      67.00  1963.0          15.5          74       2                     volkswagen dasher
143  26.0          4          97.0      78.00  2300.0          14.5          74       2                            opel manta
144  31.0          4          76.0      52.00  1649.0          16.5          74       3                         toyota corona
145  32.0          4          83.0      61.00  2003.0          19.0          74       3                            datsun 710
146  28.0          4          90.0      75.00  2125.0          14.5          74       1                            dodge colt
147  24.0          4          90.0      75.00  2108.0          15.5          74       2                              fiat 128
148  26.0          4         116.0      75.00  2246.0          14.0          74       2                           fiat 124 tc
149  24.0          4         120.0      97.00  2489.0          15.0          74       3                           honda civic
150  26.0          4         108.0      93.00  2391.0          15.5          74       3                                subaru
151  31.0          4          79.0      67.00  2000.0          16.0          74       2                             fiat x1.9
152  19.0          6         225.0      95.00  3264.0          16.0          75       1               plymouth valiant custom
153  18.0          6         250.0      105.0  3459.0          16.0          75       1                        chevrolet nova
154  15.0          6         250.0      72.00  3432.0          21.0          75       1                       mercury monarch
155  15.0          6         250.0      72.00  3158.0          19.5          75       1                         ford maverick
156  16.0          8         400.0      170.0  4668.0          11.5          75       1                      pontiac catalina

In [168]:
#Checked for any other NaN values

auto_mpg_data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [0]:
#Began data cleaning process by replacing the "?" with NaN values
import numpy as np

auto_mpg_data.replace('?', np.nan, inplace=True)

In [170]:
#Confirmed that horsepower now has the 6 NaN values
auto_mpg_data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [171]:
#Checked the horsepower data type and calculated the median with the intention to fill the NaN values with the median
#There is some variance in the horsepower depending on the automobile but decided it was reasonable to replace the missing data with the median HP of the total sample for smoothing purposes
#Backward or forward filling and interpolate would be more random since the autos in the file were not listed in any order or pattern by the HP value
#There weren't many missing values but it could be useful information and did not think it was worth dropping the column of data

print('median_hp =', auto_mpg_data.horsepower.median())
auto_mpg_data.horsepower.describe()

median_hp = 93.5

count       392
unique       93
top       150.0
freq         22
Name: horsepower, dtype: object

In [172]:
#After a lengthy process to examine why horsepower could not compute a mean or show summary statistics from df.describe, realized the column data type was not numeric
#Checked a different attribute to see the difference

auto_mpg_data.mpg.describe()

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [173]:
auto_mpg_data.horsepower.describe()

count       392
unique       93
top       150.0
freq         22
Name: horsepower, dtype: object

In [175]:
#Looked for several ways to check for the issue and used the applymap and isreal code to test whether the whole column or specific values in HP were not numeric
#Confirmed that the entire column with original data had been a different data type

auto_mpg_data.applymap(np.isreal)

      mpg  cylinders  displacement  horsepower  weight  acceleration  model_year  origin  car_name
0    True       True          True       False    True          True        True    True     False
1    True       True          True       False    True          True        True    True     False
2    True       True          True       False    True          True        True    True     False
3    True       True          True       False    True          True        True    True     False
4    True       True          True       False    True          True        True    True     False
5    True       True          True       False    True          True        True    True     False
6    True       True          True       False    True          True        True    True     False
7    True       True          True       False    True          True        True    True     False
8    True       True          True       False    True          True        True    True     False
9    True       True          True       False    True          True        True    True     False
10   True       True          True       False    True          True        True    True     False
11   True       True          True       False    True          True        True    True     False
12   True       True          True       False    True          True        True    True     False
13   True       True          True       False    True          True        True    True     False
14   True       True          True       False    True          True        True    True     False
15   True       True          True       False    True          True        True    True     False
16   True       True          True       False    True          True        True    True     False
17   True       True          True       False    True          True        True    True     False
18   True       True          True       False    True          True        True    True     False
19   True       True          True       False    True          True        True    True     False
20   True       True          True       False    True          True        True    True     False
21   True       True          True       False    True          True        True    True     False
22   True       True          True       False    True          True        True    True     False
23   True       True          True       False    True          True        True    True     False
24   True       True          True       False    True          True        True    True     False
25   True       True          True       False    True          True        True    True     False
26   True       True          True       False    True          True        True    True     False
27   True       True          True       False    True          True        True    True     False
28   True       True          True       False    True          True        True    True     False
29   True       True          True       False    True          True        True    True     False
30   True       True          True       False    True          True        True    True     False
31   True       True          True       False    True          True        True    True     False
32   True       True          True        True    True          True        True    True     False
33   True       True          True       False    True          True        True    True     False
34   True       True          True       False    True          True        True    True     False
35   True       True          True       False    True          True        True    True     False
36   True       True          True       False    True          True        True    True     False
37   True       True          True       False    True          True        True    True     False
38   True       True          True       False    True          True        True    True     False
39   True       True          True       False    True          True        True    True     False
40   True       True          True       False    True          True        True    True     False
41   True       True          True       False    True          True        True    True     False
42   True       True          True       False    True          True        True    True     False
43   True       True          True       False    True          True        True    True     False
44   True       True          True       False    True          True        True    True     False
45   True       True          True       False    True          True        True    True     False
46   True       True          True       False    True          True        True    True     False
47   True       True          True       False    True          True        True    True     False
48   True       True          True       False    True          True        True    True     False
49   True       True          True       False    True          True        True    True     False
50   True       True          True       False    True          True        True    True     False
51   True       True          True       False    True          True        True    True     False
52   True       True          True       False    True          True        True    True     False
53   True       True          True       False    True          True        True    True     False
54   True       True          True       False    True          True        True    True     False
55   True       True          True       False    True          True        True    True     False
56   True       True          True       False    True          True        True    True     False
57   True       True          True       False    True          True        True    True     False
58   True       True          True       False    True          True        True    True     False
59   True       True          True       False    True          True        True    True     False
60   True       True          True       False    True          True        True    True     False
61   True       True          True       False    True          True        True    True     False
62   True       True          True       False    True          True        True    True     False
63   True       True          True       False    True          True        True    True     False
64   True       True          True       False    True          True        True    True     False
65   True       True          True       False    True          True        True    True     False
66   True       True          True       False    True          True        True    True     False
67   True       True          True       False    True          True        True    True     False
68   True       True          True       False    True          True        True    True     False
69   True       True          True       False    True          True        True    True     False
70   True       True          True       False    True          True        True    True     False
71   True       True          True       False    True          True        True    True     False
72   True       True          True       False    True          True        True    True     False
73   True       True          True       False    True          True        True    True     False
74   True       True          True       False    True          True        True    True     False
75   True       True          True       False    True          True        True    True     False
76   True       True          True       False    True          True        True    True     False
77   True       True          True       False    True          True        True    True     False
78   True       True          True       False    True          True        True    True     False
79   True       True          True       False    True          True        True    True     False
80   True       True          True       False    True          True        True    True     False
81   True       True          True       False    True          True        True    True     False
82   True       True          True       False    True          True        True    True     False
83   True       True          True       False    True          True        True    True     False
84   True       True          True       False    True          True        True    True     False
85   True       True          True       False    True          True        True    True     False
86   True       True          True       False    True          True        True    True     False
87   True       True          True       False    True          True        True    True     False
88   True       True          True       False    True          True        True    True     False
89   True       True          True       False    True          True        True    True     False
90   True       True          True       False    True          True        True    True     False
91   True       True          True       False    True          True        True    True     False
92   True       True          True       False    True          True        True    True     False
93   True       True          True       False    True          True        True    True     False
94   True       True          True       False    True          True        True    True     False
95   True       True          True       False    True          True        True    True     False
96   True       True          True       False    True          True        True    True     False
97   True       True          True       False    True          True        True    True     False
98   True       True          True       False    True          True        True    True     False
99   True       True          True       False    True          True        True    True     False
100  True       True          True       False    True          True        True    True     False
101  True       True          True       False    True          True        True    True     False
102  True       True          True       False    True          True        True    True     False
103  True       True          True       False    True          True        True    True     False
104  True       True          True       False    True          True        True    True     False
105  True       True          True       False    True          True        True    True     False
106  True       True          True       False    True          True        True    True     False
107  True       True          True       False    True          True        True    True     False
108  True       True          True       False    True          True        True    True     False
109  True       True          True       False    True          True        True    True     False
110  True       True          True       False    True          True        True    True     False
111  True       True          True       False    True          True        True    True     False
112  True       True          True       False    True          True        True    True     False
113  True       True          True       False    True          True        True    True     False
114  True       True          True       False    True          True        True    True     False
115  True       True          True       False    True          True        True    True     False
116  True       True          True       False    True          True        True    True     False
117  True       True          True       False    True          True        True    True     False
118  True       True          True       False    True          True        True    True     False
119  True       True          True       False    True          True        True    True     False
120  True       True          True       False    True          True        True    True     False
121  True       True          True       False    True          True        True    True     False
122  True       True          True       False    True          True        True    True     False
123  True       True          True       False    True          True        True    True     False
124  True       True          True       False    True          True        True    True     False
125  True       True          True       False    True          True        True    True     False
126  True       True          True        True    True          True        True    True     False
127  True       True          True       False    True          True        True    True     False
128  True       True          True       False    True          True        True    True     False
129  True       True          True       False    True          True        True    True     False
130  True       True          True       False    True          True        True    True     False
131  True       True          True       False    True          True        True    True     False
132  True       True          True       False    True          True        True    True     False
133  True       True          True       False    True          True        True    True     False
134  True       True          True       False    True          True        True    True     False
135  True       True          True       False    True          True        True    True     False
136  True       True          True       False    True          True        True    True     False
137  True       True          True       False    True          True        True    True     False
138  True       True          True       False    True          True        True    True     False
139  True       True          True       False    True          True        True    True     False
140  True       True          True       False    True          True        True    True     False
141  True       True          True       False    True          True        True    True     False
142  True       True          True       False    True          True        True    True     False
143  True       True          True       False    True          True        True    True     False
144  True       True          True       False    True          True        True    True     False
145  True       True          True       False    True          True        True    True     False
146  True       True          True       False    True          True        True    True     False
147  True       True          True       False    True          True        True    True     False
148  True       True          True       False    True          True        True    True     False
149  True       True          True       False    True          True        True    True     False
150  True       True          True       False    True          True        True    True     False
151  True       True          True       False    True          True        True    True     False
152  True       True          True       False    True          True        True    True     False
153  True       True          True       False    True          True        True    True     False
154  True       True          True       False    True          True        True    True     False
155  True       True          True       False    True          True        True    True     False
156  True       True          True       False    True          True        True    True     False
157  True       True          True       False    True          True        True    True     False
158  True       True          True       False    True          True        True    True     False
159  True       True          True       False    True          True        True    True     False
160  True       True          True       False    True          True        True    True     False
161  True       True          True       False    True          True        True    True     False
162  True       True          True       False    True          True        True    True     False
163  True       True          True       False    True          True        True    True     False
164  True       True          True       False    True          True        True    True     False
165  True       True          True       False    True          True        True    True     False
166  True       True          True       False    True          True        True    True     False
167  True       True          True       False    True          True        True    True     False
168  True       True          True       False    True          True        True    True     False
169  True       True          True       False    True          True        True    True     False
170  True       True          True       False    True          True        True    True     False
171  True       True          True       False    True          True        True    True     False
172  True       True          True       False    True          True        True    True     False
173  True       True          True       False    True          True        True    True     False
174  True       True          True       False    True          True        True    True     False
175  True       True          True       False    True          True        True    True     False
176  True       True          True       False    True          True        True    True     False
177  True       True          True       False    True          True        True    True     False
178  True       True          True       False    True          True        True    True     False
179  True       True          True       False    True          True        True    True     False
180  True       True          True       False    True          True        True    True     False
181  True       True          True       False    True          True        True    True     False
182  True       True          True       False    True          True        True    True     False
183  True       True          True       False    True          True        True    True     False
184  True       True          True       False    True          True        True    True     False
185  True       True          True       False    True          True        True    True     False
186  True       True          True       False    True          True        True    True     False
187  True       True          True       False    True          True        True    True     False
188  True       True          True       False    True          True        True    True     False
189  True       True          True       False    True          True        True    True     False
190  True       True          True       False    True          True        True    True     False
191  True       True          True       False    True          True        True    True     False
192  True       True          True       False    True          True        True    True     False
193  True       True          True       False    True          True        True    True     False
194  True       True          True       False    True          True        True    True     False
195  True       True          True       False    True          True        True    True     False
196  True       True          True       False    True          True        True    True     False
197  True       True          True       False    True          True        True    True     False
198  True       True          True       False    True          True        True    True     False
199  True       True          True       False    True          True        True    True     False
200  True       True          True       False    True          True        True    True     False

In [0]:
#Part of the troubleshooting process was to convert the column into numeric and see if that made a difference
horsepower_edit = pd.to_numeric(auto_mpg_data.horsepower)

In [137]:
#Confirmed that indeed the data was not uniform and numeric

print(horsepower_edit)

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
5      198.0
6      220.0
7      215.0
8      225.0
9      190.0
10     170.0
11     160.0
12     150.0
13     225.0
14      95.0
15      95.0
16      97.0
17      85.0
18      88.0
19      46.0
20      87.0
21      90.0
22      95.0
23     113.0
24      90.0
25     215.0
26     200.0
27     210.0
28     193.0
29      88.0
30      90.0
31      95.0
32      93.5
33     100.0
34     105.0
35     100.0
36      88.0
37     100.0
38     165.0
39     175.0
40     153.0
41     150.0
42     180.0
43     170.0
44     175.0
45     110.0
46      72.0
47     100.0
48      88.0
49      86.0
50      90.0
51      70.0
52      76.0
53      65.0
54      69.0
55      60.0
56      70.0
57      95.0
58      80.0
59      54.0
60      90.0
61      86.0
62     165.0
63     175.0
64     150.0
65     153.0
66     150.0
67     208.0
68     155.0
69     160.0
70     190.0
71      97.0
72     150.0
73     130.0
74     140.0
75     150.0
76     112.0
77      76.0
78      87.0
79      69.0
80      86.0
81      92.0
82      97.0
83      80.0
84      88.0
85     175.0
86     150.0
87     145.0
88     137.0
89     150.0
90     198.0
91     150.0
92     158.0
93     150.0
94     215.0
95     225.0
96     175.0
97     105.0
98     100.0
99     100.0
100     88.0
101     95.0
102     46.0
103    150.0
104    167.0
105    170.0
106    180.0
107    100.0
108     88.0
109     72.0
110     94.0
111     90.0
112     85.0
113    107.0
114     90.0
115    145.0
116    230.0
117     49.0
118     75.0
119     91.0
120    112.0
121    150.0
122    110.0
123    122.0
124    180.0
125     95.0
126     93.5
127    100.0
128    100.0
129     67.0
130     80.0
131     65.0
132     75.0
133    100.0
134    110.0
135    105.0
136    140.0
137    150.0
138    150.0
139    140.0
140    150.0
141     83.0
142     67.0
143     78.0
144     52.0
145     61.0
146     75.0
147     75.0
148     75.0
149     97.0
150     93.0
151     67.0
152     95.0
153    105.0
154     72.0
155     72.0
156    170.0
157    145.0
158    150.0
159    148.0
160    110.0
161    105.0
162    110.0
163     95.0
164    110.0
165    110.0
166    129.0
167     75.0
168     83.0
169    100.0
170     78.0
171     96.0
172     71.0
173     97.0
174     97.0
175     70.0
176     90.0
177     95.0
178     88.0
179     98.0
180    115.0
181     53.0
182     86.0
183     81.0
184     92.0
185     79.0
186     83.0
187    140.0
188    150.0
189    120.0
190    152.0
191    100.0
192    105.0
193     81.0
194     90.0
195     52.0
196     60.0
197     70.0
198     53.0
199    100.0
200     78.0
201    110.0
202     95.0
203     71.0
204     70.0
205     75.0
206     72.0
207    102.0
208    150.0
209     88.0
210    108.0
211    120.0
212    180.0
213    145.0
214    130.0
215    150.0
216     68.0
217     80.0
218     58.0
219     96.0
220     70.0
221    145.0
222    110.0
223    145.0
224    130.0
225    110.0
226    105.0
227    100.0
228     98.0
229    180.0
230    170.0
231    190.0
232    149.0
233     78.0
234     88.0
235     75.0
236     89.0
237     63.0
238     83.0
239     67.0
240     78.0
241     97.0
242    110.0
243    110.0
244     48.0
245     66.0
246     52.0
247     70.0
248     60.0
249    110.0
250    140.0
251    139.0
252    105.0
253     95.0
254     85.0
255     88.0
256    100.0
257     90.0
258    105.0
259     85.0
260    110.0
261    120.0
262    145.0
263    165.0
264    139.0
265    140.0
266     68.0
267     95.0
268     97.0
269     75.0
270     95.0
271    105.0
272     85.0
273     97.0
274    103.0
275    125.0
276    115.0
277    133.0
278     71.0
279     68.0
280    115.0
281     85.0
282     88.0
283     90.0
284    110.0
285    130.0
286    129.0
287    138.0
288    135.0
289    155.0
290    142.0
291    125.0
292    150.0
293     71.0
294     65.0
295     80.0
296     80.0
297     77.0
298    125.0
299     71.0
300     90.0
301     70.0
302     70.0
303     65.0
304     69.0
305     90.0
306    115.0
307    115.0
308     90.0
309     76.0
310     60.0
311     70.0
312     65.0
313     90.0
314     88.0
315     90.0
316     90.0
317     78.0
318     90.0
319     75.0
320     92.0
321     75.0
322     65.0
323    105.0
324     65.0
325     48.0
326     48.0
327     67.0
328     67.0
329     67.0
330     93.5
331     67.0
332     62.0
333    132.0
334    100.0
335     88.0
336     93.5
337     72.0
338     84.0
339     84.0
340     92.0
341    110.0
342     84.0
343     58.0
344     64.0
345     60.0
346     67.0
347     65.0
348     62.0
349     68.0
350     63.0
351     65.0
352     65.0
353     74.0
354     93.5
355     75.0
356     75.0
357    100.0
358     74.0
359     80.0
360     76.0
361    116.0
362    120.0
363    110.0
364    105.0
365     88.0
366     85.0
367     88.0
368     88.0
369     88.0
370     85.0
371     84.0
372     90.0
373     92.0
374     93.5
375     74.0
376     68.0
377     68.0
378     63.0
379     70.0
380     88.0
381     75.0
382     70.0
383     67.0
384     67.0
385     67.0
386    110.0
387     85.0
388     92.0
389    112.0
390     96.0
391     84.0
392     90.0
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, dtype: float64

In [138]:
#df.describe is now able to display and compute the summary statistics for the column

horsepower_edit.describe()

count    398.000000
mean     104.304020
std       38.222625
min       46.000000
25%       76.000000
50%       93.500000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

In [150]:
import math
import statistics
auto_mpg_data.describe()

              mpg   cylinders  displacement       weight  acceleration  model_year      origin
count  398.000000  398.000000    398.000000   398.000000    398.000000  398.000000  398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090   76.010050    1.572864
std      7.815984    1.701004    104.269838   846.841774      2.757689    3.697627    0.802055
min      9.000000    3.000000     68.000000  1613.000000      8.000000   70.000000    1.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000   73.000000    1.000000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000   76.000000    1.000000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000   79.000000    2.000000
max     46.600000    8.000000    455.000000  5140.000000     24.800000   82.000000    3.000000

In [0]:
#Filled the NaN values with the median HP

auto_mpg_data.horsepower = auto_mpg_data.horsepower.fillna(median_hp)

In [127]:
auto_mpg_data.horsepower.describe()

count       398
unique       94
top       150.0
freq         22
Name: horsepower, dtype: object

In [128]:
auto_mpg_data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [130]:
# Noticed the difference in decimals and decided to check if there is a conflict

auto_mpg_data.horsepower

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
5      198.0
6      220.0
7      215.0
8      225.0
9      190.0
10     170.0
11     160.0
12     150.0
13     225.0
14     95.00
15     95.00
16     97.00
17     85.00
18     88.00
19     46.00
20     87.00
21     90.00
22     95.00
23     113.0
24     90.00
25     215.0
26     200.0
27     210.0
28     193.0
29     88.00
30     90.00
31     95.00
32      93.5
33     100.0
34     105.0
35     100.0
36     88.00
37     100.0
38     165.0
39     175.0
40     153.0
41     150.0
42     180.0
43     170.0
44     175.0
45     110.0
46     72.00
47     100.0
48     88.00
49     86.00
50     90.00
51     70.00
52     76.00
53     65.00
54     69.00
55     60.00
56     70.00
57     95.00
58     80.00
59     54.00
60     90.00
61     86.00
62     165.0
63     175.0
64     150.0
65     153.0
66     150.0
67     208.0
68     155.0
69     160.0
70     190.0
71     97.00
72     150.0
73     130.0
74     140.0
75     150.0
76     112.0
77     76.00
78     87.00
79     69.00
80     86.00
81     92.00
82     97.00
83     80.00
84     88.00
85     175.0
86     150.0
87     145.0
88     137.0
89     150.0
90     198.0
91     150.0
92     158.0
93     150.0
94     215.0
95     225.0
96     175.0
97     105.0
98     100.0
99     100.0
100    88.00
101    95.00
102    46.00
103    150.0
104    167.0
105    170.0
106    180.0
107    100.0
108    88.00
109    72.00
110    94.00
111    90.00
112    85.00
113    107.0
114    90.00
115    145.0
116    230.0
117    49.00
118    75.00
119    91.00
120    112.0
121    150.0
122    110.0
123    122.0
124    180.0
125    95.00
126     93.5
127    100.0
128    100.0
129    67.00
130    80.00
131    65.00
132    75.00
133    100.0
134    110.0
135    105.0
136    140.0
137    150.0
138    150.0
139    140.0
140    150.0
141    83.00
142    67.00
143    78.00
144    52.00
145    61.00
146    75.00
147    75.00
148    75.00
149    97.00
150    93.00
151    67.00
152    95.00
153    105.0
154    72.00
155    72.00
156    170.0
157    145.0
158    150.0
159    148.0
160    110.0
161    105.0
162    110.0
163    95.00
164    110.0
165    110.0
166    129.0
167    75.00
168    83.00
169    100.0
170    78.00
171    96.00
172    71.00
173    97.00
174    97.00
175    70.00
176    90.00
177    95.00
178    88.00
179    98.00
180    115.0
181    53.00
182    86.00
183    81.00
184    92.00
185    79.00
186    83.00
187    140.0
188    150.0
189    120.0
190    152.0
191    100.0
192    105.0
193    81.00
194    90.00
195    52.00
196    60.00
197    70.00
198    53.00
199    100.0
200    78.00
201    110.0
202    95.00
203    71.00
204    70.00
205    75.00
206    72.00
207    102.0
208    150.0
209    88.00
210    108.0
211    120.0
212    180.0
213    145.0
214    130.0
215    150.0
216    68.00
217    80.00
218    58.00
219    96.00
220    70.00
221    145.0
222    110.0
223    145.0
224    130.0
225    110.0
226    105.0
227    100.0
228    98.00
229    180.0
230    170.0
231    190.0
232    149.0
233    78.00
234    88.00
235    75.00
236    89.00
237    63.00
238    83.00
239    67.00
240    78.00
241    97.00
242    110.0
243    110.0
244    48.00
245    66.00
246    52.00
247    70.00
248    60.00
249    110.0
250    140.0
251    139.0
252    105.0
253    95.00
254    85.00
255    88.00
256    100.0
257    90.00
258    105.0
259    85.00
260    110.0
261    120.0
262    145.0
263    165.0
264    139.0
265    140.0
266    68.00
267    95.00
268    97.00
269    75.00
270    95.00
271    105.0
272    85.00
273    97.00
274    103.0
275    125.0
276    115.0
277    133.0
278    71.00
279    68.00
280    115.0
281    85.00
282    88.00
283    90.00
284    110.0
285    130.0
286    129.0
287    138.0
288    135.0
289    155.0
290    142.0
291    125.0
292    150.0
293    71.00
294    65.00
295    80.00
296    80.00
297    77.00
298    125.0
299    71.00
300    90.00
301    70.00
302    70.00
303    65.00
304    69.00
305    90.00
306    115.0
307    115.0
308    90.00
309    76.00
310    60.00
311    70.00
312    65.00
313    90.00
314    88.00
315    90.00
316    90.00
317    78.00
318    90.00
319    75.00
320    92.00
321    75.00
322    65.00
323    105.0
324    65.00
325    48.00
326    48.00
327    67.00
328    67.00
329    67.00
330     93.5
331    67.00
332    62.00
333    132.0
334    100.0
335    88.00
336     93.5
337    72.00
338    84.00
339    84.00
340    92.00
341    110.0
342    84.00
343    58.00
344    64.00
345    60.00
346    67.00
347    65.00
348    62.00
349    68.00
350    63.00
351    65.00
352    65.00
353    74.00
354     93.5
355    75.00
356    75.00
357    100.0
358    74.00
359    80.00
360    76.00
361    116.0
362    120.0
363    110.0
364    105.0
365    88.00
366    85.00
367    88.00
368    88.00
369    88.00
370    85.00
371    84.00
372    90.00
373    92.00
374     93.5
375    74.00
376    68.00
377    68.00
378    63.00
379    70.00
380    88.00
381    75.00
382    70.00
383    67.00
384    67.00
385    67.00
386    110.0
387    85.00
388    92.00
389    112.0
390    96.00
391    84.00
392    90.00
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower, dtype: object

In [135]:
#Checked a different attribute to compare the difference

auto_mpg_data.acceleration

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
5      10.0
6       9.0
7       8.5
8      10.0
9       8.5
10     10.0
11      8.0
12      9.5
13     10.0
14     15.0
15     15.5
16     15.5
17     16.0
18     14.5
19     20.5
20     17.5
21     14.5
22     17.5
23     12.5
24     15.0
25     14.0
26     15.0
27     13.5
28     18.5
29     14.5
30     15.5
31     14.0
32     19.0
33     13.0
34     15.5
35     15.5
36     15.5
37     15.5
38     12.0
39     11.5
40     13.5
41     13.0
42     11.5
43     12.0
44     12.0
45     13.5
46     19.0
47     15.0
48     14.5
49     14.0
50     14.0
51     19.5
52     14.5
53     19.0
54     18.0
55     19.0
56     20.5
57     15.5
58     17.0
59     23.5
60     19.5
61     16.5
62     12.0
63     12.0
64     13.5
65     13.0
66     11.5
67     11.0
68     13.5
69     13.5
70     12.5
71     13.5
72     12.5
73     14.0
74     16.0
75     14.0
76     14.5
77     18.0
78     19.5
79     18.0
80     16.0
81     17.0
82     14.5
83     15.0
84     16.5
85     13.0
86     11.5
87     13.0
88     14.5
89     12.5
90     11.5
91     12.0
92     13.0
93     14.5
94     11.0
95     11.0
96     11.0
97     16.5
98     18.0
99     16.0
100    16.5
101    16.0
102    21.0
103    14.0
104    12.5
105    13.0
106    12.5
107    15.0
108    19.0
109    19.5
110    16.5
111    13.5
112    18.5
113    14.0
114    15.5
115    13.0
116     9.5
117    19.5
118    15.5
119    14.0
120    15.5
121    11.0
122    14.0
123    13.5
124    11.0
125    16.5
126    17.0
127    16.0
128    17.0
129    19.0
130    16.5
131    21.0
132    17.0
133    17.0
134    18.0
135    16.5
136    14.0
137    14.5
138    13.5
139    16.0
140    15.5
141    16.5
142    15.5
143    14.5
144    16.5
145    19.0
146    14.5
147    15.5
148    14.0
149    15.0
150    15.5
151    16.0
152    16.0
153    16.0
154    21.0
155    19.5
156    11.5
157    14.0
158    14.5
159    13.5
160    21.0
161    18.5
162    19.0
163    19.0
164    15.0
165    13.5
166    12.0
167    16.0
168    17.0
169    16.0
170    18.5
171    13.5
172    16.5
173    17.0
174    14.5
175    14.0
176    17.0
177    15.0
178    17.0
179    14.5
180    13.5
181    17.5
182    15.5
183    16.9
184    14.9
185    17.7
186    15.3
187    13.0
188    13.0
189    13.9
190    12.8
191    15.4
192    14.5
193    17.6
194    17.6
195    22.2
196    22.1
197    14.2
198    17.4
199    17.7
200    21.0
201    16.2
202    17.8
203    12.2
204    17.0
205    16.4
206    13.6
207    15.7
208    13.2
209    21.9
210    15.5
211    16.7
212    12.1
213    12.0
214    15.0
215    14.0
216    18.5
217    14.8
218    18.6
219    15.5
220    16.8
221    12.5
222    19.0
223    13.7
224    14.9
225    16.4
226    16.9
227    17.7
228    19.0
229    11.1
230    11.4
231    12.2
232    14.5
233    14.5
234    16.0
235    18.2
236    15.8
237    17.0
238    15.9
239    16.4
240    14.1
241    14.5
242    12.8
243    13.5
244    21.5
245    14.4
246    19.4
247    18.6
248    16.4
249    15.5
250    13.2
251    12.8
252    19.2
253    18.2
254    15.8
255    15.4
256    17.2
257    17.2
258    15.8
259    16.7
260    18.7
261    15.1
262    13.2
263    13.4
264    11.2
265    13.7
266    16.5
267    14.2
268    14.7
269    14.5
270    14.8
271    16.7
272    17.6
273    14.9
274    15.9
275    13.6
276    15.7
277    15.8
278    14.9
279    16.6
280    15.4
281    18.2
282    17.3
283    18.2
284    16.6
285    15.4
286    13.4
287    13.2
288    15.2
289    14.9
290    14.3
291    15.0
292    13.0
293    14.0
294    15.2
295    14.4
296    15.0
297    20.1
298    17.4
299    24.8
300    22.2
301    13.2
302    14.9
303    19.2
304    14.7
305    16.0
306    11.3
307    12.9
308    13.2
309    14.7
310    18.8
311    15.5
312    16.4
313    16.5
314    18.1
315    20.1
316    18.7
317    15.8
318    15.5
319    17.5
320    15.0
321    15.2
322    17.9
323    14.4
324    19.2
325    21.7
326    23.7
327    19.9
328    21.8
329    13.8
330    17.3
331    18.0
332    15.3
333    11.4
334    12.5
335    15.1
336    14.3
337    17.0
338    15.7
339    16.4
340    14.4
341    12.6
342    12.9
343    16.9
344    16.4
345    16.1
346    17.8
347    19.4
348    17.3
349    16.0
350    14.9
351    16.2
352    20.7
353    14.2
354    15.8
355    14.4
356    16.8
357    14.8
358    18.3
359    20.4
360    19.6
361    12.6
362    13.8
363    15.8
364    19.0
365    17.1
366    16.6
367    19.6
368    18.6
369    18.0
370    16.2
371    16.0
372    18.0
373    16.4
374    20.5
375    15.3
376    18.2
377    17.6
378    14.7
379    17.3
380    14.5
381    14.5
382    16.9
383    15.0
384    15.7
385    16.2
386    16.4
387    17.0
388    14.5
389    14.7
390    13.9
391    13.0
392    17.3
393    15.6
394    24.6
395    11.6
396    18.6
397    19.4
Name: acceleration, dtype: float64

In [79]:
#Another check for missing values ti confirm the data is clean and ready to go

auto_mpg_data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. I suggset image, text, or (public) API - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.