<a href="https://colab.research.google.com/github/Higgins2718/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/LS_DS3_112_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Loading Data

Data comes in many shapes and sizes - we'll start by loading tabular data, usually in csv format.

Data set sources:

- https://archive.ics.uci.edu/ml/datasets.html
- https://github.com/awesomedata/awesome-public-datasets
- https://registry.opendata.aws/ (beyond scope for now, but good to be aware of)

Let's start with an example - [data about flags](https://archive.ics.uci.edu/ml/datasets/Flags).

## Lecture example - flag data

In [0]:
# Step 1 - find the actual file to download

# From navigating the page, clicking "Data Folder"
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

Afghanistan,5,1,648,16,10,2,0,3,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,0,1,0,0,black,green
Albania,3,1,29,3,6,6,0,0,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,0,1,0,red,red
Algeria,4,1,2388,20,8,2,2,0,3,1,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,green,white
American-Samoa,6,3,0,0,1,1,0,0,5,1,0,1,1,1,0,1,blue,0,0,0,0,0,0,1,1,1,0,blue,red
Andorra,3,1,0,0,6,0,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Angola,4,2,1247,7,10,5,0,2,3,1,0,0,1,0,1,0,red,0,0,0,0,1,0,0,1,0,0,red,black
Anguilla,1,4,0,0,1,1,0,1,3,0,0,1,0,1,0,1,white,0,0,0,0,0,0,0,0,1,0,white,blue
Antigua-Barbuda,1,4,0,0,1,1,0,1,5,1,0,1,1,1,1,0,red,0,0,0,0,1,0,1,0,0,0,black,red
Argentina,2,3,2777,28,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Argentine,2,3,2777,28,2,0,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Australia,6,2,7690,15,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,6,0,0,0,0,0,white,blue
Austria,3,1,84,8,4,0,0,3,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Bahamas,1,4,19,0,1,1,0,3,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
Bahrain,5,1,1,0,8,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,red
Bangladesh,5,1,143,90,6,2,0,0,2,1,1,0,0,0,0,0,green,1,0,0,0,0,0,0,0,0,0,green,green
Barbados,1,4,0,0,1,1,3,0,3,0,0,1,1,0,1,0,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Belgium,3,1,31,10,6,0,3,0,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,0,0,0,black,red
Belize,1,4,23,0,1,1,0,2,8,1,1,1,1,1,1,1,blue,1,0,0,0,0,0,0,1,1,1,red,red
Benin,4,1,113,3,3,5,0,0,2,1,1,0,0,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,green
Bermuda,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,red,1,1,1,1,0,0,0,1,1,0,white,red
Bhutan,5,1,47,1,10,3,0,0,4,1,0,0,0,1,1,1,orange,4,0,0,0,0,0,0,0,1,0,orange,red
Bolivia,2,3,1099,6,2,0,0,3,3,1,1,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Botswana,4,2,600,1,10,5,0,5,3,0,0,1,0,1,1,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Brazil,2,3,8512,119,6,0,0,0,4,0,1,1,1,1,0,0,green,1,0,0,0,22,0,0,0,0,1,green,green
British-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,1,white,blue
Brunei,5,1,6,0,10,2,0,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,1,1,1,1,white,gold
Bulgaria,3,1,111,9,5,6,0,3,5,1,1,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,white,red
Burkina,4,4,274,7,3,5,0,2,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Burma,5,1,678,35,10,3,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,14,0,0,1,1,0,blue,red
Burundi,4,2,28,4,10,5,0,0,3,1,1,0,0,1,0,0,red,1,0,1,0,3,0,0,0,0,0,white,white
Cameroon,4,1,474,8,3,1,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,1,0,0,0,0,0,green,gold
Canada,1,4,9976,24,1,1,2,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,1,0,red,red
Cape-Verde-Islands,4,4,4,0,6,0,1,2,5,1,1,0,1,0,1,1,gold,0,0,0,0,1,0,0,0,1,0,red,green
Cayman-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,4,0,0,1,1,1,white,blue
Central-African-Republic,4,1,623,2,10,5,1,0,5,1,1,1,1,1,0,0,gold,0,0,0,0,1,0,0,0,0,0,blue,gold
Chad,4,1,1284,4,3,5,3,0,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,blue,red
Chile,2,3,757,11,2,0,0,2,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
China,5,1,9561,1008,7,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,5,0,0,0,0,0,red,red
Colombia,2,4,1139,28,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Comorro-Islands,4,2,2,0,3,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,4,1,0,0,0,0,green,green
Congo,4,2,342,2,10,5,0,0,3,1,1,0,1,0,0,0,red,0,0,0,0,1,0,0,1,1,0,red,red
Cook-Islands,6,3,0,0,1,1,0,0,4,1,0,1,0,1,0,0,blue,1,1,1,1,15,0,0,0,0,0,white,blue
Costa-Rica,1,4,51,2,2,0,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Cuba,1,4,115,10,2,6,0,5,3,1,0,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,blue,blue
Cyprus,3,1,9,1,6,1,0,0,3,0,1,0,1,1,0,0,white,0,0,0,0,0,0,0,1,1,0,white,white
Czechoslovakia,3,1,128,15,5,6,0,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,1,0,0,0,white,red
Denmark,3,1,43,5,6,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Djibouti,4,1,22,0,3,2,0,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,1,0,1,0,0,0,white,green
Dominica,1,4,0,0,1,1,0,0,6,1,1,1,1,1,1,0,green,1,0,0,0,10,0,0,0,1,0,green,green
Dominican-Republic,1,4,49,6,2,0,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Ecuador,2,3,284,8,2,0,0,3,3,1,0,1,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,gold,red
Egypt,4,1,1001,47,8,2,0,3,4,1,0,0,1,1,1,0,black,0,0,0,0,0,0,0,0,1,1,red,black
El-Salvador,1,4,21,5,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Equatorial-Guinea,4,1,28,0,10,5,0,3,4,1,1,1,0,1,0,0,green,0,0,0,0,0,0,1,0,0,0,green,red
Ethiopia,4,1,1222,31,10,1,0,3,3,1,1,0,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Faeroes,3,4,1,0,6,1,0,0,3,1,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
Falklands-Malvinas,2,3,12,0,1,1,0,0,6,1,1,1,1,1,0,0,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Fiji,6,2,18,1,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Finland,3,1,337,5,9,1,0,0,2,0,0,1,0,1,0,0,white,0,1,0,0,0,0,0,0,0,0,white,white
France,3,1,547,54,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Guiana,2,4,91,0,3,0,3,0,3,1,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,blue,red
French-Polynesia,6,3,4,0,3,0,0,3,5,1,0,1,1,1,1,0,red,1,0,0,0,1,0,0,1,0,0,red,red
Gabon,4,2,268,1,10,5,0,3,3,0,1,1,1,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Gambia,4,4,10,1,1,5,0,5,4,1,1,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Germany-DDR,3,1,108,17,4,6,0,3,3,1,0,0,1,0,1,0,gold,0,0,0,0,0,0,0,1,0,0,black,gold
Germany-FRG,3,1,249,61,4,1,0,3,3,1,0,0,1,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,gold
Ghana,4,4,239,14,1,5,0,3,4,1,1,0,1,0,1,0,red,0,0,0,0,1,0,0,0,0,0,red,green
Gibraltar,3,4,0,0,1,1,0,1,3,1,0,0,1,1,0,0,white,0,0,0,0,0,0,0,1,0,0,white,red
Greece,3,1,132,10,6,1,0,9,2,0,0,1,0,1,0,0,blue,0,1,0,1,0,0,0,0,0,0,blue,blue
Greenland,1,4,2176,0,6,1,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,0,0,0,0,0,0,white,red
Grenada,1,4,0,0,1,1,0,0,3,1,1,0,1,0,0,0,gold,1,0,0,0,7,0,1,0,1,0,red,red
Guam,6,1,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,0,0,0,0,0,0,1,1,1,red,red
Guatemala,1,4,109,8,2,0,3,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Guinea,4,4,246,6,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,red,green
Guinea-Bissau,4,4,36,1,6,5,1,2,4,1,1,0,1,0,1,0,gold,0,0,0,0,1,0,0,0,0,0,red,green
Guyana,2,4,215,1,1,4,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,0,0,1,0,0,0,black,green
Haiti,1,4,28,6,3,0,2,0,2,1,0,0,0,0,1,0,black,0,0,0,0,0,0,0,0,0,0,black,red
Honduras,1,4,112,4,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,5,0,0,0,0,0,blue,blue
Hong-Kong,5,1,1,5,7,3,0,0,6,1,1,1,1,1,0,1,blue,1,1,1,1,0,0,0,1,1,1,white,blue
Hungary,3,1,93,11,9,6,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Iceland,3,4,103,0,6,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
India,5,1,3268,684,6,4,0,3,4,0,1,1,0,1,0,1,orange,1,0,0,0,0,0,0,1,0,0,orange,green
Indonesia,6,2,1904,157,10,2,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Iran,5,1,1648,39,6,2,0,3,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,1,green,red
Iraq,5,1,435,14,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,3,0,0,0,0,0,red,black
Ireland,3,4,70,3,1,0,3,0,3,0,1,0,0,1,0,1,white,0,0,0,0,0,0,0,0,0,0,green,orange
Israel,5,1,21,4,10,7,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,1,0,0,0,0,0,blue,blue
Italy,3,1,301,57,6,0,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,green,red
Ivory-Coast,4,4,323,7,3,5,3,0,3,1,1,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,red,green
Jamaica,1,4,11,2,1,1,0,0,3,0,1,0,1,0,1,0,green,0,0,1,0,0,0,1,0,0,0,gold,gold
Japan,5,1,372,118,9,7,0,0,2,1,0,0,0,1,0,0,white,1,0,0,0,1,0,0,0,0,0,white,white
Jordan,5,1,98,2,8,2,0,3,4,1,1,0,0,1,1,0,black,0,0,0,0,1,0,1,0,0,0,black,green
Kampuchea,5,1,181,6,10,3,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,red,red
Kenya,4,1,583,17,10,5,0,5,4,1,1,0,0,1,1,0,red,1,0,0,0,0,0,0,1,0,0,black,green
Kiribati,6,1,0,0,1,1,0,0,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,1,1,0,red,blue
Kuwait,5,1,18,2,8,2,0,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,green,red
Laos,5,1,236,3,10,6,0,3,3,1,0,1,0,1,0,0,red,1,0,0,0,0,0,0,0,0,0,red,red
Lebanon,5,1,10,3,8,2,0,2,4,1,1,0,0,1,0,1,red,0,0,0,0,0,0,0,0,1,0,red,red
Lesotho,4,2,30,1,10,5,2,0,4,1,1,1,0,1,0,0,blue,0,0,0,0,0,0,0,1,0,0,green,blue
Liberia,4,4,111,1,10,5,0,11,3,1,0,1,0,1,0,0,red,0,0,0,1,1,0,0,0,0,0,blue,red
Libya,4,1,1760,3,8,2,0,0,1,0,1,0,0,0,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Liechtenstein,3,1,0,0,4,0,0,2,3,1,0,1,1,0,0,0,red,0,0,0,0,0,0,0,1,0,0,blue,red
Luxembourg,3,1,3,0,4,0,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Malagasy,4,2,587,9,10,1,1,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,white,green
Malawi,4,2,118,6,10,5,0,3,3,1,1,0,0,0,1,0,red,0,0,0,0,1,0,0,0,0,0,black,green
Malaysia,5,1,333,13,10,2,0,14,4,1,0,1,1,1,0,0,red,0,0,0,1,1,1,0,0,0,0,blue,white
Maldive-Islands,5,1,0,0,10,2,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,1,0,0,0,0,red,red
Mali,4,4,1240,7,3,2,3,0,3,1,1,0,1,0,0,0,gold,0,0,0,0,0,0,0,0,0,0,green,red
Malta,3,1,0,0,10,0,2,0,3,1,0,0,0,1,1,0,red,0,1,0,0,0,0,0,1,0,0,white,red
Marianas,6,1,0,0,10,1,0,0,3,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,1,0,0,blue,blue
Mauritania,4,4,1031,2,8,2,0,0,2,0,1,0,1,0,0,0,green,0,0,0,0,1,1,0,0,0,0,green,green
Mauritius,4,2,2,1,1,4,0,4,4,1,1,1,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Mexico,1,4,1973,77,2,0,3,0,4,1,1,0,0,1,0,1,green,0,0,0,0,0,0,0,0,1,0,green,red
Micronesia,6,1,1,0,10,1,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,4,0,0,0,0,0,blue,blue
Monaco,3,1,0,0,3,0,0,2,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,white
Mongolia,5,1,1566,2,10,6,3,0,3,1,0,1,1,0,0,0,red,2,0,0,0,1,1,1,1,0,0,red,red
Montserrat,1,4,0,0,1,1,0,0,7,1,1,1,1,1,1,0,blue,0,2,1,1,0,0,0,1,1,0,white,blue
Morocco,4,4,447,20,8,2,0,0,2,1,1,0,0,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Mozambique,4,2,783,12,10,5,0,5,5,1,1,0,1,1,1,0,gold,0,0,0,0,1,0,1,1,0,0,green,gold
Nauru,6,2,0,0,10,1,0,3,3,0,0,1,1,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
Nepal,5,1,140,16,10,4,0,0,3,0,0,1,0,1,0,1,brown,0,0,0,0,2,1,0,0,0,0,blue,blue
Netherlands,3,1,41,14,6,1,0,3,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,blue
Netherlands-Antilles,1,4,0,0,6,1,0,1,3,1,0,1,0,1,0,0,white,0,0,0,0,6,0,0,0,0,0,white,white
New-Zealand,6,2,268,2,1,1,0,0,3,1,0,1,0,1,0,0,blue,0,1,1,1,4,0,0,0,0,0,white,blue
Nicaragua,1,4,128,3,2,0,0,3,2,0,0,1,0,1,0,0,blue,0,0,0,0,0,0,0,0,0,0,blue,blue
Niger,4,1,1267,5,3,2,0,3,3,0,1,0,0,1,0,1,orange,1,0,0,0,0,0,0,0,0,0,orange,green
Nigeria,4,1,925,56,10,2,3,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,green
Niue,6,3,0,0,1,1,0,0,4,1,0,1,1,1,0,0,gold,1,1,1,1,5,0,0,0,0,0,white,gold
North-Korea,5,1,121,18,10,6,0,5,3,1,0,1,0,1,0,0,blue,1,0,0,0,1,0,0,0,0,0,blue,blue
North-Yemen,5,1,195,9,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,1,0,0,0,0,0,red,black
Norway,3,1,324,4,6,1,0,0,3,1,0,1,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Oman,5,1,212,1,8,2,0,2,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,1,0,0,red,green
Pakistan,5,1,804,84,6,2,1,0,2,0,1,0,0,1,0,0,green,0,0,0,0,1,1,0,0,0,0,white,green
Panama,2,4,76,2,2,0,0,0,3,1,0,1,0,1,0,0,red,0,0,0,4,2,0,0,0,0,0,white,white
Papua-New-Guinea,6,2,463,3,1,5,0,0,4,1,0,0,1,1,1,0,black,0,0,0,0,5,0,1,0,1,0,red,black
Parguay,2,3,407,3,2,0,0,3,6,1,1,1,1,1,1,0,red,1,0,0,0,1,0,0,1,1,1,red,blue
Peru,2,3,1285,14,2,0,3,0,2,1,0,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Philippines,6,1,300,48,10,0,0,0,4,1,0,1,1,1,0,0,blue,0,0,0,0,4,0,1,0,0,0,blue,red
Poland,3,1,313,36,5,6,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,red
Portugal,3,4,92,10,6,0,0,0,5,1,1,1,1,1,0,0,red,1,0,0,0,0,0,0,1,0,0,green,red
Puerto-Rico,1,4,9,3,2,0,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,1,0,1,0,0,0,red,red
Qatar,5,1,11,0,8,2,0,0,2,0,0,0,0,1,0,1,brown,0,0,0,0,0,0,0,0,0,0,white,brown
Romania,3,1,237,22,6,6,3,0,7,1,1,1,1,1,0,1,red,0,0,0,0,2,0,0,1,1,1,blue,red
Rwanda,4,2,26,5,10,5,3,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,0,0,0,1,red,green
San-Marino,3,1,0,0,6,0,0,2,2,0,0,1,0,1,0,0,white,0,0,0,0,0,0,0,0,0,0,white,blue
Sao-Tome,4,1,0,0,6,0,0,3,4,1,1,0,1,0,1,0,green,0,0,0,0,2,0,1,0,0,0,green,green
Saudi-Arabia,5,1,2150,9,8,2,0,0,2,0,1,0,0,1,0,0,green,0,0,0,0,0,0,0,1,0,1,green,green
Senegal,4,4,196,6,3,2,3,0,3,1,1,0,1,0,0,0,green,0,0,0,0,1,0,0,0,0,0,green,red
Seychelles,4,2,0,0,1,1,0,0,3,1,1,0,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,green
Sierra-Leone,4,4,72,3,1,5,0,3,3,0,1,1,0,1,0,0,green,0,0,0,0,0,0,0,0,0,0,green,blue
Singapore,5,1,1,3,7,3,0,2,2,1,0,0,0,1,0,0,white,0,0,0,0,5,1,0,0,0,0,red,white
Soloman-Islands,6,2,30,0,1,1,0,0,4,0,1,1,1,1,0,0,green,0,0,0,0,5,0,1,0,0,0,blue,green
Somalia,4,1,637,5,10,2,0,0,2,0,0,1,0,1,0,0,blue,0,0,0,0,1,0,0,0,0,0,blue,blue
South-Africa,4,2,1221,29,6,1,0,3,5,1,1,1,0,1,0,1,orange,0,1,1,0,0,0,0,0,0,0,orange,blue
South-Korea,5,1,99,39,10,7,0,0,4,1,0,1,0,1,1,0,white,1,0,0,0,0,0,0,1,0,0,white,white
South-Yemen,5,1,288,2,8,2,0,3,4,1,0,1,0,1,1,0,red,0,0,0,0,1,0,1,0,0,0,red,black
Spain,3,4,505,38,2,0,0,3,2,1,0,0,1,0,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Sri-Lanka,5,1,66,15,10,3,2,0,4,0,1,0,1,0,0,1,gold,0,0,0,0,0,0,0,1,1,0,gold,gold
St-Helena,4,3,0,0,1,1,0,0,7,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,0,0,white,blue
St-Kitts-Nevis,1,4,0,0,1,1,0,0,5,1,1,0,1,1,1,0,green,0,0,0,0,2,0,1,0,0,0,green,red
St-Lucia,1,4,0,0,1,1,0,0,4,0,0,1,1,1,1,0,blue,0,0,0,0,0,0,1,0,0,0,blue,blue
St-Vincent,1,4,0,0,1,1,5,0,4,0,1,1,1,1,0,0,green,0,0,0,0,0,0,0,1,1,1,blue,green
Sudan,4,1,2506,20,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,red,black
Surinam,2,4,63,0,6,1,0,5,4,1,1,0,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,green,green
Swaziland,4,2,17,1,10,1,0,5,7,1,0,1,1,1,1,1,blue,0,0,0,0,0,0,0,1,0,0,blue,blue
Sweden,3,1,450,8,6,1,0,0,2,0,0,1,1,0,0,0,blue,0,1,0,0,0,0,0,0,0,0,blue,blue
Switzerland,3,1,41,6,4,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,0,0,0,0,0,0,0,red,red
Syria,5,1,185,10,8,2,0,3,4,1,1,0,0,1,1,0,red,0,0,0,0,2,0,0,0,0,0,red,black
Taiwan,5,1,36,18,7,3,0,0,3,1,0,1,0,1,0,0,red,1,0,0,1,1,0,0,0,0,0,blue,red
Tanzania,4,2,945,18,10,5,0,0,4,0,1,1,1,0,1,0,green,0,0,0,0,0,0,1,0,0,0,green,blue
Thailand,5,1,514,49,10,3,0,5,3,1,0,1,0,1,0,0,red,0,0,0,0,0,0,0,0,0,0,red,red
Togo,4,1,57,2,3,7,0,5,4,1,1,0,1,1,0,0,green,0,0,0,1,1,0,0,0,0,0,red,green
Tonga,6,2,1,0,10,1,0,0,2,1,0,0,0,1,0,0,red,0,1,0,1,0,0,0,0,0,0,white,red
Trinidad-Tobago,2,4,5,1,1,1,0,0,3,1,0,0,0,1,1,0,red,0,0,0,0,0,0,1,0,0,0,white,white
Tunisia,4,1,164,7,8,2,0,0,2,1,0,0,0,1,0,0,red,1,0,0,0,1,1,0,0,0,0,red,red
Turkey,5,1,781,45,9,2,0,0,2,1,0,0,0,1,0,0,red,0,0,0,0,1,1,0,0,0,0,red,red
Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,1,blue,0,1,1,1,0,0,0,1,1,0,white,blue
Tuvalu,6,2,0,0,1,1,0,0,5,1,0,1,1,1,0,0,blue,0,1,1,1,9,0,0,0,0,0,white,blue
UAE,5,1,84,1,8,2,1,3,4,1,1,0,0,1,1,0,green,0,0,0,0,0,0,0,0,0,0,red,black
Uganda,4,1,236,13,10,5,0,6,5,1,0,0,1,1,1,0,gold,1,0,0,0,0,0,0,0,1,0,black,red
UK,3,4,245,56,1,1,0,0,3,1,0,1,0,1,0,0,red,0,1,1,0,0,0,0,0,0,0,white,red
Uruguay,2,3,178,3,2,0,0,9,3,0,0,1,1,1,0,0,white,0,0,0,1,1,0,0,0,0,0,white,white
US-Virgin-Isles,1,4,0,0,1,1,0,0,6,1,1,1,1,1,0,0,white,0,0,0,0,0,0,0,1,1,1,white,white
USA,1,4,9363,231,1,1,0,13,3,1,0,1,0,1,0,0,white,0,0,0,1,50,0,0,0,0,0,blue,red
USSR,5,1,22402,274,5,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,1,0,0,red,red
Vanuatu,6,2,15,0,6,1,0,0,4,1,1,0,1,0,1,0,red,0,0,0,0,0,0,1,0,1,0,black,green
Vatican-City,3,1,0,0,6,0,2,0,4,1,0,0,1,1,1,0,gold,0,0,0,0,0,0,0,1,0,0,gold,white
Venezuela,2,4,912,15,2,0,0,3,7,1,1,1,1,1,1,1,red,0,0,0,0,7,0,0,1,1,0,gold,red
Vietnam,5,1,333,60,10,6,0,0,2,1,0,0,1,0,0,0,red,0,0,0,0,1,0,0,0,0,0,red,red
Western-Samoa,6,3,3,0,1,1,0,0,3,1,0,1,0,1,0,0,red,0,0,0,1,5,0,0,0,0,0,blue,red
Yugoslavia,3,1,256,22,6,6,0,3,4,1,0,1,1,1,0,0,red,0,0,0,0,1,0,0,0,0,0,blue,red
Zaire,4,2,905,28,10,5,0,0,4,1,1,0,1,0,0,1,green,1,0,0,0,0,0,0,1,1,0,green,green
Zambia,4,2,753,6,10,5,3,0,4,1,1,0,0,0,1,1,green,0,0,0,0,0,0,0,0,1,0,green,brown
Zimbabwe,4,2,391,8,10,5,0,7,5,1,1,0,1,1,1,0,green,0,0,0,0,1,0,1,1,1,0,green,green

In [0]:
# Step 2 - load the data

# How to deal with a csv? üêº
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

flag_data = pd.read_csv(flag_data_url, header=None)

In [0]:
# Step 3 - verify we've got *something*
flag_data.shape

(194, 30)

In [0]:
flag_data = flag_data.rename({0:"first", 1:"second"}, axis="columns")
flag_data.head()

,first,second,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [0]:
# Step 4 - Looks a bit odd - verify that it is what we want
flag_data.count()

first     194
second    194
2         194
3         194
4         194
5         194
6         194
7         194
8         194
9         194
10        194
11        194
12        194
13        194
14        194
15        194
16        194
17        194
18        194
19        194
20        194
21        194
22        194
23        194
24        194
25        194
26        194
27        194
28        194
29        194
dtype: int64

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15240  100 15240    0     0  52371      0 --:--:-- --:--:-- --:--:-- 52191
    194     194   15240

In [0]:
# So we have 193 observations with funny names, file has 194 rows
# Looks like the file has no header row, but read_csv assumes it does
help(pd.read_csv)

In [0]:
# Alright, we can pass header=None to fix this
flag_data = pd.read_csv(flag_data_url, header=None)
flag_data.head()

In [0]:
flag_data.count()

In [0]:
flag_data.isna().sum()

first     0
second    0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
dtype: int64

### Yes, but what does it *mean*?

This data is fairly nice - it was "donated" and is already "clean" (no missing values). But there are no variable names - so we have to look at the codebook (also from the site).

```
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
```

Exercise - read the help for `read_csv` and figure out how to load the data with the above variable names. One pitfall to note - with `header=None` pandas generated variable names starting from 0, but the above list starts from 1...

In [0]:
from google.colab import files
uploaded = files.upload()

Saving imports-85.data to imports-85.data

1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

In [0]:
df = pd.read_csv('imports-85.data', header=None, names=['symboling','norm_loss','make','fuel','aspiration','doors',
                              'bod_style','drv_wheels','eng_loc','wheel_base','length','width',
                              'height','curb_weight','engine','cylinders','engine_size',
                              'fuel_system','bore','stroke','compression','hp','peak_rpm','city_mpg','hgwy_mpg','price'], 
                 na_values=["?"])
df.head()

,symboling,norm_loss,make,fuel,aspiration,doors,bod_style,drv_wheels,eng_loc,wheel_base,length,width,height,curb_weight,engine,cylinders,engine_size,fuel_system,bore,stroke,compression,hp,peak_rpm,city_mpg,hgwy_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [0]:
import numpy as np

df_cleaned = df.replace('?', np.NaN)
df_cleaned.head()

,symboling,norm_loss,make,fuel,aspiration,doors,bod_style,drv_wheels,eng_loc,wheel_base,length,width,height,curb_weight,engine,cylinders,engine_size,fuel_system,bore,stroke,compression,hp,peak_rpm,city_mpg,hgwy_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [0]:
# Look at which colunmns have NA values
df.head()

,symboling,norm_loss,make,fuel,aspiration,doors,bod_style,drv_wheels,eng_loc,wheel_base,length,width,height,curb_weight,engine,cylinders,engine_size,fuel_system,bore,stroke,compression,hp,peak_rpm,city_mpg,hgwy_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [0]:
df.isnull().sum()

symboling       0
norm_loss      41
make            0
fuel            0
aspiration      0
doors           2
bod_style       0
drv_wheels      0
eng_loc         0
wheel_base      0
length          0
width           0
height          0
curb_weight     0
engine          0
cylinders       0
engine_size     0
fuel_system     0
bore            4
stroke          4
compression     0
hp              2
peak_rpm        2
city_mpg        0
hgwy_mpg        0
price           4
dtype: int64

In [0]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [0]:
# We want to fill numeric columns with the mean
# and forward-fill the categorical columns
df.dtypes
# .fillna(method='ffill')

symboling        int64
norm_loss      float64
make            object
fuel            object
aspiration      object
doors           object
bod_style       object
drv_wheels      object
eng_loc         object
wheel_base     float64
length         float64
width          float64
height         float64
curb_weight      int64
engine          object
cylinders       object
engine_size      int64
fuel_system     object
bore           float64
stroke         float64
compression    float64
hp             float64
peak_rpm       float64
city_mpg         int64
hgwy_mpg         int64
price          float64
dtype: object

In [0]:
# df = df[(df['wheel_base'] >= 89)]

df = df[~(df.isnull().any(axis=1))]
print(df.shape)
df.head()

(159, 26)

,symboling,norm_loss,make,fuel,aspiration,doors,bod_style,drv_wheels,eng_loc,wheel_base,length,width,height,curb_weight,engine,cylinders,engine_size,fuel_system,bore,stroke,compression,hp,peak_rpm,city_mpg,hgwy_mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,ohc,five,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,ohc,five,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,four,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

In [0]:
from pandas.api.types import is_numeric_dtype

for header in df:
  if is_numeric_dtype(df[header]):
    print("numeric", header)
  else:
    print("non-numeric", header)

numeric symboling
numeric norm_loss
non-numeric make
non-numeric fuel
non-numeric aspiration
non-numeric doors
non-numeric bod_style
non-numeric drv_wheels
non-numeric eng_loc
numeric wheel_base
numeric length
numeric width
numeric height
numeric curb_weight
non-numeric engine
non-numeric cylinders
numeric engine_size
non-numeric fuel_system
numeric bore
numeric stroke
numeric compression
numeric hp
numeric peak_rpm
numeric city_mpg
numeric hgwy_mpg
numeric price

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 3 to 204
Data columns (total 26 columns):
symboling      159 non-null int64
norm_loss      159 non-null float64
make           159 non-null object
fuel           159 non-null object
aspiration     159 non-null object
doors          159 non-null object
bod_style      159 non-null object
drv_wheels     159 non-null object
eng_loc        159 non-null object
wheel_base     159 non-null float64
length         159 non-null float64
width          159 non-null float64
height         159 non-null float64
curb_weight    159 non-null int64
engine         159 non-null object
cylinders      159 non-null object
engine_size    159 non-null int64
fuel_system    159 non-null object
bore           159 non-null float64
stroke         159 non-null float64
compression    159 non-null float64
hp             159 non-null float64
peak_rpm       159 non-null float64
city_mpg       159 non-null int64
hgwy_mpg       159 non-null int64
price          159 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 33.5+ KB

## Your assignment - pick a dataset and do something like the above

This is purposely open-ended - you can pick any data set you wish. It is highly advised you pick a dataset from UCI or a similar "clean" source.

If you get that done and want to try more challenging or exotic things, go for it! Use documentation as illustrated above, and follow the 20-minute rule (that is - ask for help if you're stuck).

If you have loaded a few traditional datasets, see the following section for suggested stretch goals.

In [9]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

# URL for dataset, horse-colic
colic_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data'


# Download dataset
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data

2 1 530101 38.50 66 28 3 3 ? 2 5 4 4 ? ? ? 3 5 45.00 8.40 ? ? 2 2 11300 00000 00000 2
1 1 534817 39.2 88 20 ? ? 4 1 3 4 2 ? ? ? 4 2 50 85 2 2 3 2 02208 00000 00000 2
2 1 530334 38.30 40 24 1 1 3 1 3 3 1 ? ? ? 1 1 33.00 6.70 ? ? 1 2 00000 00000 00000 1
1 9 5290409 39.10 164 84 4 1 6 2 2 4 4 1 2 5.00 3 ? 48.00 7.20 3 5.30 2 1 02208 00000 00000 1
2 1 530255 37.30 104 35 ? ? 6 2 ? ? ? ? ? ? ? ? 74.00 7.40 ? ? 2 2 04300 00000 00000 2
2 1 528355 ? ? ? 2 1 3 1 2 3 2 2 1 ? 3 3 ? ? ? ? 1 2 00000 00000 00000 2
1 1 526802 37.90 48 16 1 1 1 1 3 3 3 1 1 ? 3 5 37.00 7.00 ? ? 1 1 03124 00000 00000 2
1 1 529607 ? 60 ? 3 ? ? 1 ? 4 2 2 1 ? 3 4 44.00 8.30 ? ? 2 1 02208 00000 00000 2
2 1 530051 ? 80 36 3 4 3 1 4 4 4 2 1 ? 3 5 38.00 6.20 ? ? 3 1 03205 00000 00000 2
2 9 5299629 38.30 90 ? 1 ? 1 1 5 3 1 2 1 ? 3 ? 40.00 6.20 1 2.20 1 2 00000 00000 00000 1
1 1 528548 38.10 66 12 3 3 5 1 3 3 1 2 1 3.00 2 5 44.00 6.00 2 3.60 1 1 02124 00000 00000 1
2 1 527927 39.10 72 52 2 ? 2 1 2 1 2 1 1 ? 4 4 50.00 7.80 ? ? 1 1 02111 00000 00000 2
1 1 528031 37.20 42 12 2 1 1 1 3 3 3 3 1 ? 4 5 ? 7.00 ? ? 1 2 04124 00000 00000 2
2 9 5291329 38.00 92 28 1 1 2 1 1 3 2 3 ? 7.20 1 1 37.00 6.10 1 ? 2 2 00000 00000 00000 1
1 1 534917 38.2 76 28 3 1 1 1 3 4 1 2 2 ? 4 4 46 81 1 2 1 1 02112 00000 00000 2
1 1 530233 37.60 96 48 3 1 4 1 5 3 3 2 3 4.50 4 ? 45.00 6.80 ? ? 2 1 03207 00000 00000 2
1 9 5301219 ? 128 36 3 3 4 2 4 4 3 3 ? ? 4 5 53.00 7.80 3 4.70 2 2 01400 00000 00000 1
2 1 526639 37.50 48 24 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 1 2 00000 00000 00000 2
1 1 5290481 37.60 64 21 1 1 2 1 2 3 1 1 1 ? 2 5 40.00 7.00 1 ? 1 1 04205 00000 00000 1
2 1 532110 39.4 110 35 4 3 6 ? ? 3 3 ? ? ? ? ? 55 8.7 ? ? 1 2 00000 00000 00000 2
1 1 530157 39.90 72 60 1 1 5 2 5 4 4 3 1 ? 4 4 46.00 6.10 2 ? 1 1 02111 00000 00000 2
2 1 529340 38.40 48 16 1 ? 1 1 1 3 1 2 3 5.50 4 3 49.00 6.80 ? ? 1 2 00000 00000 00000 2
1 1 521681 38.60 42 34 2 1 4 ? 2 3 1 ? ? ? 1 ? 48.00 7.20 ? ? 1 1 03111 00000 00000 2
1 9 534998 38.3 130 60 ? 3 ? 1 2 4 ? ? ? ? ? ? 50 70 ? ? 1 1 03111 00000 00000 2
1 1 533692 38.1 60 12 3 3 3 1 ? 4 3 3 2 2 ? ? 51 65 ? ? 1 1 03111 00000 00000 2
2 1 529518 37.80 60 42 ? ? ? 1 ? ? ? ? ? ? ? ? ? ? ? ? 1 2 00000 00000 00000 2
1 1 530526 38.30 72 30 4 3 3 2 3 3 3 2 1 ? 3 5 43.00 7.00 2 3.90 1 1 03111 00000 00000 1
1 1 528653 37.80 48 12 3 1 1 1 ? 3 2 1 1 ? 1 3 37.00 5.50 2 1.30 1 2 04122 00000 00000 1
1 1 5279442 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 2 2 04300 00000 00000 2
2 1 535415 37.7 48 ? 2 1 1 1 1 1 1 1 1 ? ? ? 45 76 ? ? 1 2 00000 00000 00000 2
2 1 529475 37.70 96 30 3 3 4 2 5 4 4 3 2 4.00 4 5 66.00 7.50 ? ? 2 1 04205 00000 00000 2
2 1 530242 37.20 108 12 3 3 4 2 2 4 2 ? 3 6.00 3 3 52.00 8.20 3 7.40 3 1 02207 00000 00000 1
1 1 529427 37.20 60 ? 2 1 1 1 3 3 3 2 1 ? 4 5 43.00 6.60 ? ? 1 1 02209 00000 00000 2
1 1 529663 38.20 64 28 1 1 1 1 3 1 ? ? ? ? 4 4 49.00 8.60 2 6.60 1 1 02208 00000 00000 1
1 1 529796 ? 100 30 3 3 4 2 5 4 4 3 3 ? 4 4 52.00 6.60 ? ? 1 1 01124 00000 00000 2
2 1 528812 ? 104 24 4 3 3 2 4 4 3 ? 3 ? ? 2 73.00 8.40 ? ? 3 1 07111 00000 00000 2
2 1 529493 38.30 112 16 ? 3 5 2 ? ? 1 1 2 ? ? 5 51.00 6.00 2 1.00 3 2 05205 00000 00000 1
1 1 533847 37.8 72 ? ? 3 ? 1 5 3 1 ? 1 ? 1 1 56 80 1 2 1 1 03111 00000 00000 2
2 1 528996 38.60 52 ? 1 1 1 1 3 3 2 1 1 ? 1 3 32.00 6.60 1 5.00 1 2 00000 00000 00000 1
1 9 5277409 39.20 146 96 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 2 1 02113 00000 00000 2
1 1 529498 ? 88 ? 3 3 6 2 5 3 3 1 3 ? 4 5 63.00 6.50 3 ? 2 1 04205 00000 00000 2
2 9 5288249 39.00 150 72 ? ? ? ? ? ? ? ? ? ? ? ? 47.00 8.50 ? 0.10 1 1 09400 00000 00000 1
2 1 530301 38.00 60 12 3 1 3 1 3 3 1 1 1 ? 2 2 47.00 7.00 ? ? 1 2 03111 00000 00000 2
1 1 534069 ? 120 ? 3 4 4 1 4 4 4 1 1 ? ? 5 52 67 2 2 3 1 03205 00000 00000 2
1 1 535407 35.4 140 24 3 3 4 2 4 4 ? 2 1 ? ? 5 57 69 3 2 3 1 03205 00000 00000 2
2 1 529827 ? 120 ? 4 3 4 2 5 4 4 1 1 ? 4 5 60.00 6.50 3 ? 2 1 03205 00000 00000 2
1 1 529888 37.90 60 15 3 ? 4 2 5 4 4 2 2 ? 4 5 65.00 7.50 ? ? 1 1 02305 00000 00000 1
2 1 529821 37.50 48 16 1 1 1 1 1 1 1 1 1 ? 1 ? 37.00 6.50 ? ? 1 2 00000 00000 00000 2
1 1 528890 38.90 80 44 3 3 3 2 2 3 3 2 2 7.00 3 1 54.00 6.50 3 ? 2 1 07111 00000 00000 2
2 1 529642 37.20 84 48 3 3 5 2 4 1 2 1 2 ? 2 1 73.00 5.50 2 4.10 2 2 04300 00000 00000 1
2 1 529766 38.60 46 ? 1 1 2 1 1 3 2 1 1 ? ? 2 49.00 9.10 1 1.60 1 2 03111 00000 00000 1
1 1 527706 37.40 84 36 1 ? 3 2 3 3 2 ? ? ? 4 5 ? ? 3 ? 2 1 07209 00000 00000 1
2 1 529483 ? ? ? 1 1 3 1 1 3 1 ? ? ? 2 2 43.00 7.70 ? ? 1 2 03111 00000 00000 2
2 1 530544 38.60 40 20 ? ? ? 1 ? ? ? ? ? ? ? ? 41.00 6.40 ? ? 1 2 03111 00000 00000 1
2 1 529461 40.30 114 36 3 3 1 2 2 3 3 2 1 7.00 1 5 57.00 8.10 3 4.50 3 1 07400 00000 00000 1
1 9 5282839 38.60 160 20 3 ? 5 1 3 3 4 3 ? ? 4 ? 38.00 ? 2 ? 2 1 07111 00000 00000 1
1 1 528872 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 24.00 6.70 ? ? 1 1 03112 00000 00000 2
1 1 529640 ? 64 36 2 ? 2 1 5 3 3 2 2 ? ? ? 42.00 7.70 ? ? 2 1 03209 00000 00000 2
1 1 528298 ? ? 20 4 3 3 ? 5 4 3 2 ? ? 4 4 53.00 5.90 3 ? 2 1 03205 00000 00000 1
2 1 528904 ? 96 ? 3 3 3 2 5 4 4 1 2 ? 4 5 60.00 ? ? ? 2 1 04205 00000 00000 2
2 1 530438 37.80 48 32 1 1 3 1 2 1 ? 1 1 ? 4 5 37.00 6.70 ? ? 1 2 02124 00000 00000 2
2 1 527957 38.50 60 ? 2 2 1 1 1 2 2 2 1 ? 1 1 44.00 7.70 ? ? 1 2 00000 00000 00000 2
1 1 528630 37.80 88 22 2 1 2 1 3 ? ? 2 ? ? 4 ? 64.00 8.00 1 6.00 2 1 03205 00000 00000 1
2 1 534293 38.2 130 16 4 3 4 2 2 4 4 1 1 ? ? ? 65 82 2 2 3 2 02209 01400 00000 2
1 1 529667 39.00 64 36 3 1 4 2 3 3 2 1 2 7.00 4 5 44.00 7.50 3 5.00 1 1 02113 00000 00000 1
1 1 534885 ? 60 36 3 1 3 1 3 3 2 1 1 ? 3 4 26 72 2 1 1 1 02208 00000 00000 2
2 1 534784 37.9 72 ? 1 1 5 2 3 3 1 1 3 2 3 4 58 74 1 2 1 1 02322 00000 00000 2
2 1 528931 38.40 54 24 1 1 1 1 1 3 1 2 1 ? 3 2 49.00 7.20 1 ? 1 2 03111 00000 00000 1
2 1 529777 ? 52 16 1 ? 3 1 ? ? ? 2 3 5.50 ? ? 55.00 7.20 ? ? 1 2 02124 00000 00000 2
2 1 530276 38.00 48 12 1 1 1 1 1 3 ? 1 1 ? 3 2 42.00 6.30 2 4.10 1 2 03111 00000 00000 1
2 1 528214 37.00 60 20 3 ? ? 1 3 ? 3 2 2 4.50 4 4 43.00 7.60 ? ? 3 1 02209 00000 00000 1
1 1 529424 37.80 48 28 1 1 1 1 1 2 1 2 ? ? 1 1 46.00 5.90 2 7.00 1 2 00000 00000 00000 1
1 1 5299253 37.70 56 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 2 1 02113 00000 00000 2
1 1 528469 38.10 52 24 1 1 5 1 4 3 1 2 3 7.00 1 ? 54.00 7.50 2 2.60 2 1 02112 00000 00000 1
1 9 5292929 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 37.00 4.90 ? ? 2 1 11124 00000 00000 2
1 9 534092 39.7 100 ? 3 3 5 2 2 3 ? ? ? ? ? ? 48 57 2 2 3 1 01400 00000 00000 2
1 1 534615 37.6 38 20 3 3 1 1 3 3 2 ? ? ? 3 ? 37 68 ? ? 1 1 03205 00000 00000 2
2 1 534753 38.7 52 20 2 ? 1 1 1 1 1 1 1 ? 1 1 33 77 ? ? 1 2 00000 00000 00000 2
1 1 530693 ? ? ? 3 3 3 3 5 3 3 3 2 ? 4 5 46.00 5.90 ? ? 2 1 03025 00000 00000 2
1 1 527463 37.50 96 18 1 3 6 2 3 4 2 2 3 5.00 ? 4 69.00 8.90 3 ? 1 1 02208 00000 00000 1
1 1 527518 36.40 98 35 3 3 4 1 4 3 2 ? ? ? 4 4 47.00 6.40 3 3.60 2 1 02205 00000 00000 1
1 1 534756 37.3 40 ? ? 3 1 1 2 3 2 3 1 ? 3 5 36 ? 3 2 1 1 03111 00000 00000 2
1 9 5290759 38.10 100 80 3 1 2 1 3 4 1 ? ? ? 1 ? 36.00 5.70 ? ? 1 1 03111 00000 00000 2
1 1 5279822 38.00 ? 24 3 3 6 2 5 ? 4 1 1 ? ? ? 68.00 7.80 ? ? 2 1 03205 00000 00000 2
1 1 529849 37.80 60 80 1 3 2 2 2 3 3 ? 2 5.50 4 ? 40.00 4.50 2 ? 1 1 05206 00000 00000 1
2 1 529304 38.00 54 30 2 3 3 3 3 1 2 2 2 ? ? 4 45.00 6.20 ? ? 1 2 00400 00000 00000 2
1 1 529388 ? 88 40 3 3 4 2 5 4 3 3 ? ? 4 5 50.00 7.70 3 1.40 2 1 04205 00000 00000 1
2 1 528006 ? 40 16 ? ? ? 1 ? ? ? ? ? ? ? ? 50.00 7.00 2 3.90 3 1 02208 00000 00000 1
2 1 529703 39.00 64 40 1 1 5 1 3 3 2 2 1 ? 3 3 42.00 7.50 2 2.30 1 2 05000 00000 00000 1
2 1 535381 38.3 42 10 1 1 1 1 1 1 1 ? ? ? ? ? 38 61 ? ? 1 2 00000 00000 00000 2
2 1 534197 38.0 52 16 ? ? ? ? 2 ? ? ? 3 1 1 1 53 86 ? ? 1 1 02322 00000 00000 2
2 1 529461 40.30 114 36 3 3 1 2 2 3 3 2 1 7.00 1 5 57.00 8.10 3 4.50 2 1 03205 00000 00000 1
2 1 530251 38.80 50 20 3 1 1 1 1 1 1 2 1 ? 3 1 42.00 6.20 ? ? 1 2 00000 00000 00000 2
2 1 530310 ? ? ? 3 3 1 1 5 3 3 1 1 ? 4 5 38.00 6.50 ? ? 2 1 03205 00000 00000 2
2 1 528729 37.50 48 30 4 1 3 1 ? 2 1 1 1 ? 1 1 48.00 8.60 ? ? 1 2 00000 00000 00000 2
1 1 535158 37.3 48 20 ? 1 2 1 3 3 3 2 1 ? 3 5 41 69 ? ? 1 1 03205 00000 00000 2
2 1 530319 ? 84 36 ? ? 3 1 ? 3 1 2 1 ? 3 2 44.00 8.50 ? ? 1 1 03111 00000 00000 2
1 1 534145 38.1 88 32 3 3 4 1 2 3 3 ? 3 1 4 5 55 60 ? ? 3 2 03205 00000 00000 2
2 1 534135 37.7 44 40 2 1 3 1 1 3 2 1 1 ? 1 5 41 60 ? ? 1 2 00000 00000 00000 2
2 1 530002 39.60 108 51 3 3 6 2 2 4 3 1 2 ? 3 5 59.00 8.00 2 2.60 1 2 04300 00000 00000 1
1 1 535364 38.2 40 16 3 3 1 1 1 3 ? ? ? ? 1 1 34 66 ? ? 1 2 00000 00000 00000 2
1 1 534899 ? 60 20 4 3 4 2 5 4 ? ? 1 ? 4 5 ? ? ? ? 3 1 03205 00000 00000 2
2 1 534938 38.3 40 16 3 ? 1 1 2 ? ? ? ? ? ? ? 37 57 ? ? 1 2 00000 00000 00000 2
1 9 5292489 38.00 140 68 1 1 1 1 3 3 2 ? ? ? 2 1 39.00 5.30 ? ? 1 1 07111 00000 00000 2
1 1 527563 37.80 52 24 1 3 3 1 4 4 1 2 3 5.70 2 5 48.00 6.60 1 3.70 2 1 05400 00000 00000 2
1 1 530381 ? 70 36 1 ? 3 2 2 3 2 2 ? ? 4 5 36.00 7.30 ? ? 1 1 31110 00000 00000 2
1 1 528668 38.30 52 96 ? 3 3 1 ? ? ? 1 1 ? 1 ? 43.00 6.10 ? ? 1 1 03209 00000 00000 1
2 1 529764 37.30 50 32 1 1 3 1 1 3 2 ? ? ? 1 ? 44.00 7.00 ? ? 1 2 00000 00000 00000 2
1 1 533696 38.7 60 32 4 3 2 2 4 4 4 ? ? ? 4 5 53 64 3 2 3 1 03205 00000 00000 2
1 9 5297379 38.40 84 40 3 3 2 1 3 3 3 1 1 ? ? ? 36.00 6.60 2 2.80 2 1 02205 00000 00000 1
1 1 527544 ? 70 16 3 4 5 2 2 3 2 2 1 ? 4 5 60.00 7.50 ? ? 2 1 02112 00000 00000 2
1 1 533736 38.3 40 16 3 ? ? 1 1 3 2 ? ? ? ? ? 38 58 1 2 1 1 03111 07111 00000 2
1 1 534963 ? 40 ? 2 1 1 1 1 3 1 1 1 ? ? 5 39 56 ? ? 1 1 03111 00000 00000 2
1 1 527933 36.80 60 28 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 10.00 2 1 03205 00000 00000 1
1 1 532349 38.4 44 24 3 ? 4 ? 5 4 3 2 1 ? 4 5 50 77 ? ? 1 1 03205 00000 00000 2
2 1 533723 ? ? 40 3 1 1 1 3 3 2 ? ? ? ? ? 45 70 ? ? 1 2 00000 00000 00000 2
1 1 535208 38.0 44 12 1 1 1 1 3 3 3 2 1 ? 4 5 42 65 ? ? 1 1 03205 03111 00000 2
2 1 5290482 39.50 ? ? 3 3 4 2 3 4 3 ? 3 5.50 4 5 ? 6.70 1 ? 3 1 04205 00000 00000 2
1 1 533983 36.5 78 30 1 ? 1 1 5 3 1 ? 1 ? ? ? 34 75 2 1 1 1 03112 06112 00000 2
2 1 535166 38.1 56 20 2 1 2 1 1 3 1 1 1 ? ? ? 46 70 ? ? 1 2 00000 00000 00000 2
1 1 528682 39.40 54 66 1 1 2 1 2 3 2 1 1 ? 3 4 39.00 6.00 2 ? 1 1 02206 00000 00000 1
1 1 534556 38.3 80 40 ? ? 6 2 4 3 1 ? 2 ? 1 4 67 10.2 2 1 3 1 02208 00000 00000 2
2 1 534579 38.7 40 28 2 1 1 1 3 1 1 ? ? ? 1 ? 39 62 1 1 1 2 00000 00000 00000 2
1 1 530360 38.20 64 24 1 1 3 1 4 4 3 2 1 ? 4 4 45.00 7.50 1 2.00 2 1 03205 00000 00000 1
2 1 529840 37.60 48 20 3 1 4 1 1 1 3 2 1 ? 1 1 37.00 5.50 ? ? 3 1 02205 00000 00000 2
1 1 528461 38.00 42 68 4 1 1 1 3 3 2 2 2 ? 4 4 41.00 7.60 ? ? 1 1 02205 00000 00000 2
1 1 530384 38.70 ? ? 3 1 3 1 5 4 2 ? ? ? ? ? 33.00 6.50 2 ? 1 1 31110 00000 00000 2
1 1 5262541 37.40 50 32 3 3 ? 1 4 4 1 2 1 ? 1 ? 45.00 7.90 2 1.00 1 1 02208 00000 00000 1
1 1 535330 37.4 84 20 ? ? 3 1 2 3 3 ? ? ? ? ? 31 61 ? 1 3 2 02208 00000 00000 2
1 1 527698 38.40 49 ? ? ? 1 1 ? ? 1 2 1 ? ? ? 44.00 7.60 ? ? 1 1 02206 00000 00000 2
1 1 528964 37.80 30 12 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 2 1 02113 00000 00000 2
2 1 530670 37.60 88 36 3 1 1 1 3 3 2 1 3 1.50 ? ? 44.00 6.00 ? ? 2 1 01400 00000 00000 2
? 1 534572 38.0 48 20 3 1 3 1 4 3 1 2 1 ? 3 5 43 73 2 1 ? 1 03111 00000 00000 2
2 1 530294 37.90 40 24 1 1 1 1 2 3 1 ? ? ? ? 3 40.00 5.70 ? ? 1 1 00400 00000 00000 2
1 1 527524 ? 100 ? 3 ? 4 2 5 4 ? 2 ? ? 2 ? 59.00 6.30 ? ? 2 1 04205 00000 00000 2
1 9 5287179 38.10 136 48 3 3 3 1 5 1 3 2 2 4.40 2 ? 33.00 4.90 2 2.90 2 1 02205 00000 00000 1
1 1 530693 ? ? ? 3 3 3 2 5 3 3 3 2 ? 4 5 46.00 5.90 ? ? 2 1 03025 00000 00000 2
1 1 534324 38 48 ? 1 1 1 1 1 2 4 2 2 ? 4 5 ? ? ? ? 1 1 03111 00000 00000 2
2 1 532349 38 56 ? 1 2 3 1 1 1 1 1 1 ? 1 1 42 71 ? ? 1 2 00000 00000 00000 2
2 1 534491 38 60 32 1 1 ? 1 3 3 ? 1 1 ? ? ? 50 7.0 1 1 1 2 00000 00000 00000 2
1 1 529960 38.10 44 9 3 1 1 1 2 2 1 1 1 ? 4 5 31.00 7.30 ? ? 1 2 05124 00000 00000 2
2 1 522979 36.00 42 30 ? ? 5 1 ? ? ? ? ? ? ? ? 64.00 6.80 ? ? 2 2 01400 00000 00000 2
1 1 530402 ? 120 ? 4 3 6 2 5 4 4 ? ? ? 4 5 57.00 4.50 3 3.90 2 1 03205 00000 00000 1
1 1 529424 37.80 48 28 1 1 1 2 1 2 1 2 ? ? 1 1 46.00 5.90 2 7.00 1 2 00000 00000 00000 1
1 1 534519 37.1 84 40 3 3 6 1 2 4 4 3 2 2 4 5 75 81 ? ? 3 2 01400 00000 00000 2
2 1 535246 ? 80 32 3 3 2 1 2 3 3 2 1 ? 3 ? 50 80 ? ? 1 1 00000 00000 00000 2
1 1 534115 38.2 48 ? 1 3 3 1 3 4 4 1 3 2 4 5 42 71 ? ? 1 1 03111 00000 00000 2
2 1 530001 38.00 44 12 2 1 3 1 3 4 3 1 2 6.50 1 4 33.00 6.50 ? ? 2 1 02209 00000 00000 2
1 1 529272 38.30 132 ? ? 3 6 2 2 4 2 2 3 6.20 4 4 57.00 8.00 ? 5.20 1 1 02112 00000 00000 1
2 1 535314 38.7 48 24 ? ? ? ? 1 1 ? 1 1 ? 1 ? 34 63 ? ? 1 2 00000 00000 00000 2
2 1 533793 38.9 44 14 3 1 1 1 2 3 2 ? ? ? ? 2 33 64 ? ? 1 2 00000 00000 00000 2
1 1 529399 39.30 ? ? 4 3 6 2 4 4 2 1 3 4.00 4 4 75.00 ? 3 4.30 2 1 02207 00000 00000 1
1 1 533836 ? 100 ? 3 3 4 2 ? 4 4 2 1 2 ? ? 68 64 3 2 1 1 02209 00000 00000 2
2 1 528804 38.60 48 20 3 1 1 1 1 3 2 2 1 ? 3 2 50.00 7.30 1 ? 1 2 03111 00000 00000 1
2 1 535163 38.8 48 40 1 1 3 1 3 3 4 2 ? ? ? 5 41 65 ? ? 1 1 04124 00000 000000 2
2 1 528247 38.00 48 20 3 3 4 1 1 4 2 2 ? 5.00 ? 2 49.00 8.30 1 ? 1 2 00400 00000 00000 1
2 1 528996 38.60 52 20 1 1 1 1 3 3 2 1 1 ? 1 3 36.00 6.60 1 5.00 1 2 00000 00000 00000 1
1 1 533928 37.8 60 24 1 ? 3 2 ? 4 4 2 3 2 ? 5 52 75 ? ? 3 1 02205 00000 00000 2
2 1 528248 38.00 42 40 3 1 1 1 3 3 1 ? ? ? ? ? ? ? ? ? 1 2 03111 00000 00000 2
2 1 528134 ? ? 12 1 1 2 1 2 1 2 3 1 ? 1 3 44.00 7.50 2 ? 1 2 00000 00000 00000 1
1 1 527916 ? ? ? ? ? ? ? 4 ? ? 1 1 ? ? 5 35 58 2 1 1 1 04205 00000 00000 2
1 1 530431 38.30 42 24 ? ? ? 1 ? ? ? ? ? ? ? ? 40.00 8.50 ? ? 2 1 07113 00000 00000 2
2 1 535176 39.5 60 10 3 ? ? 2 3 3 2 2 1 ? 3 ? 38 56 1 ? 1 2 00000 00000 00000 2
1 1 533942 38 66 20 1 3 3 1 5 3 1 1 1 ? 3 ? 46 46 3 2 3 1 06209 00000 00000 2
1 1 528523 38.70 76 ? 1 1 5 2 3 3 2 2 2 ? 4 4 50.00 8.00 ? ? 1 1 02208 00000 00000 1
1 1 534925 39.4 120 48 ? ? 5 1 ? 3 3 1 ? ? 4 ? 56 64 1 2 3 2 01400 00000 00000 2
1 1 527916 38.30 40 18 1 1 1 1 3 1 1 ? ? ? 2 1 43.00 5.90 1 ? 1 2 00000 00000 00000 1
2 1 528299 ? 44 24 1 1 1 1 3 3 1 2 1 ? ? 1 ? 6.30 ? ? 1 2 03111 00000 00000 2
1 1 530254 38.40 104 40 1 1 3 1 2 4 2 2 3 6.50 ? 4 55.00 8.50 ? ? 1 1 02124 00000 00000 2
1 1 535085 ? 65 24 ? ? ? 2 5 ? 4 3 1 ? ? 5 ? ? ? ? 3 1 03205 00000 00000 2
2 1 532985 37.5 44 20 1 1 3 1 ? 1 1 ? ? ? 1 ? 35 7.2 ? ? 1 2 00000 00000 00000 2
2 1 527677 39.00 86 16 3 3 5 ? 3 3 3 ? 2 ? ? ? 68.00 5.80 3 6.00 2 1 05400 00000 00000 1
1 1 535292 38.5 129 48 3 3 3 1 2 4 3 1 3 2 ? ? 57 66 3 2 1 1 02206 00000 00000 2
1 1 529729 ? 104 ? 3 3 5 2 2 4 3 ? 3 ? 4 4 69.00 8.60 2 3.40 2 1 02207 00000 00000 1
2 1 518476 ? ? ? 3 4 6 ? 4 ? 4 ? ? ? ? ? ? ? ? ? 2 1 03400 00000 00000 1
1 1 527929 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 1 1 02208 00000 00000 2
1 1 535130 38.2 60 30 1 1 3 1 3 3 1 2 1 ? 3 2 48 66 ? ? 1 1 06112 00000 00000 2
1 1 523190 ? 68 14 ? ? 4 1 4 ? ? ? 1 4.30 ? ? ? ? 2 2.80 2 1 04205 00000 00000 1
1 1 533968 ? 60 30 3 3 4 2 5 4 4 1 1 ? 4 ? 45 70 3 2 1 1 06111 03111 00000 2
2 1 528151 38.50 100 ? 3 3 5 2 4 3 4 2 1 ? 4 5 ? ? ? ? 3 2 01111 00000 00000 1
1 1 530239 38.40 84 30 3 1 5 2 4 3 3 2 3 6.50 4 4 47.00 7.50 3 ? 2 1 02300 00000 00000 2
2 1 528305 37.80 48 14 ? ? 1 1 3 ? 2 1 3 5.30 1 ? 35.00 7.50 ? ? 1 2 03111 00000 00000 1
1 1 5279822 38.00 ? 24 3 3 6 2 5 ? 4 1 1 ? ? ? 68.00 7.80 ? ? 2 1 02205 00000 00000 2
2 1 534857 37.8 56 16 1 1 2 1 2 1 1 2 1 ? 1 ? 44 68 1 1 1 2 00000 00000 00000 2
2 1 534053 38.2 68 32 2 2 2 1 1 1 1 3 1 ? 1 1 43 65 ? ? 1 2 00000 00000 00000 2
1 1 534833 38.5 120 60 4 3 6 2 ? 3 ? ? ? ? ? ? 54 ? ? ? 1 1 05400 00000 00000 2
1 1 5278331 39.30 64 90 2 3 1 1 ? 3 1 1 2 ? ? ? 39.00 6.70 ? ? 1 1 21110 00000 00000 2
1 1 527365 38.40 80 30 4 3 1 1 3 3 3 3 3 ? 4 5 32.00 6.10 3 4.30 1 1 07209 00000 00000 1
1 1 533887 38.5 60 ? 1 1 ? 1 ? 1 1 ? ? ? ? ? 33 53 1 ? 1 1 04111 00000 00000 2
1 1 5299603 38.30 60 16 3 1 1 1 2 1 1 2 2 3.00 1 4 30.00 6.00 1 3.00 1 1 31110 00000 00000 2
1 1 528742 37.10 40 8 ? 1 4 1 3 3 1 1 1 ? 3 3 23.00 6.70 3 ? 1 1 03133 00000 00000 1
2 9 5287279 ? 100 44 2 1 1 1 4 1 1 ? ? ? 1 ? 37.00 4.70 ? ? 1 2 07111 00000 00000 2
1 1 534788 38.2 48 18 1 1 1 1 3 3 3 1 2 ? 4 ? 48 74 1 2 1 1 05111 00000 00000 2
1 1 529373 ? 60 48 3 3 4 2 4 3 4 ? ? ? ? ? 58.00 7.60 ? ? 2 1 03205 00000 00000 2
2 1 534163 37.9 88 24 1 1 2 1 2 2 1 ? ? ? 4 1 37 56 ? ? 1 2 00000 00000 00000 2
2 1 533697 38.0 44 12 3 1 1 ? ? 1 2 ? ? ? 1 ? 42 64 ? ? 1 2 00000 00000 00000 2
2 1 529628 38.50 60 20 1 1 5 2 2 2 1 2 1 ? 2 3 63.00 7.50 2 2.30 3 2 00300 00000 00000 1
2 1 521399 38.50 96 36 3 3 ? 2 2 4 2 1 2 ? 4 5 70.00 8.50 ? ? 2 1 01400 00000 00000 1
2 1 533885 38.3 60 20 1 1 1 2 1 3 1 ? ? ? 3 ? 34 66 ? ? 1 2 00000 00000 00000 2
2 1 534157 38.5 60 40 3 1 2 1 2 1 2 ? ? ? 3 2 49 59 ? ? 1 2 00000 00000 00000 2
1 1 528047 37.30 48 12 1 ? 3 1 3 1 3 2 1 ? 3 3 40.00 6.60 2 ? 1 1 03205 00000 00000 1
1 1 528641 38.50 86 ? 1 1 3 1 4 4 3 2 1 ? 3 5 45.00 7.40 1 3.40 2 1 03209 00000 00000 1
1 1 534073 37.5 48 40 ? ? ? ? ? ? ? 1 1 ? ? 5 41 55 3 2 3 1 02208 00000 00000 2
2 1 529685 37.20 36 9 1 1 1 1 2 3 1 2 1 ? 4 1 35.00 5.70 ? ? 1 2 31110 00000 00000 2
1 1 529528 39.20 ? 23 3 1 3 1 4 4 2 2 ? ? ? ? 36.00 6.60 1 3.00 1 1 03115 00000 00000 1
2 1 528151 38.50 100 ? 3 3 5 2 4 3 4 2 1 ? 4 5 ? ? ? ? 3 2 04124 00000 00000 2
1 1 535137 38.5 96 30 2 3 4 2 4 4 3 2 1 ? 3 5 50 65 ? ? 1 1 06111 03112 00000 2
1 1 530297 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 45.00 8.70 ? ? 2 1 02208 00000 00000 2
1 1 535338 37.8 88 80 3 3 5 2 ? 3 3 2 3 ? 4 5 64 89 ? ? 3 1 03205 00000 00000 2
2 1 534478 37.5 44 10 3 1 1 1 3 1 2 2 ? ? 3 3 43 51 1 1 1 2 00000 00000 00000 2
1 1 530401 37.90 68 20 ? 1 2 1 2 4 2 ? ? ? 1 5 45.00 4.00 3 2.80 2 1 05400 00000 00000 1
1 1 529893 38.00 86 24 4 3 4 1 2 4 4 1 1 ? 4 5 45.00 5.50 1 10.10 2 1 03111 00000 00000 1
1 9 5294369 38.90 120 30 1 3 2 2 3 3 3 3 1 3.00 ? ? 47.00 6.30 1 ? 1 2 02124 00000 00000 2
1 1 528183 37.60 45 12 3 1 3 1 ? 2 2 2 1 ? 1 4 39.00 7.00 2 1.50 1 1 02112 00000 00000 1
2 1 529183 38.60 56 32 2 1 1 1 1 1 1 2 ? ? 2 ? 40.00 7.00 2 2.10 1 2 00000 00000 00000 1
1 1 529135 37.80 40 12 1 1 1 1 1 2 1 2 1 ? 1 2 38.00 7.00 ? ? 1 1 03111 00000 00000 2
2 1 528977 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 1 2 00000 00000 00000 2
1 1 5279441 38.00 76 18 ? ? ? 2 ? ? ? ? ? ? ? ? 71.00 11.00 ? ? 1 1 02209 00000 00000 1
1 1 535240 38.1 40 36 1 2 2 1 2 2 ? ? ? ? ? ? ? ? ? ? 3 1 03112 00000 00000 2
1 1 529736 ? 52 28 3 3 4 1 3 4 3 2 1 ? 4 4 37.00 8.10 ? ? 1 1 02111 00000 00000 2
1 1 535029 39.2 88 58 4 4 ? 2 5 4 ? ? ? ? ? ? ? ? 2 2 3 2 03205 00000 00000 2
1 1 535031 38.5 92 40 4 3 ? 1 2 4 3 ? ? ? 4 ? 46 67 2 2 1 1 02208 00000 00000 2
1 1 528800 ? 112 13 4 4 4 1 2 3 1 2 1 4.50 4 4 60.00 6.30 3 ? 1 1 02205 00000 00000 1
1 1 528178 37.70 66 12 1 1 3 1 3 3 2 2 ? ? 4 4 31.50 6.20 2 1.60 1 1 02208 00000 00000 1
1 1 535392 38.8 50 14 1 1 1 1 3 1 1 1 1 ? 3 5 38 58 ? ? 1 1 03111 00000 00000 2
2 1 528931 38.40 54 24 1 1 1 1 1 3 1 2 1 ? 3 2 49.00 7.20 1 8.00 1 2 03111 00000 00000 1
1 1 528503 39.20 120 20 4 3 5 2 2 3 3 1 3 ? ? 4 60.00 8.80 3 ? 2 1 02205 00000 00000 2
1 9 5289419 ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? 45.00 6.50 2 ? 1 1 09000 00000 00000 1
1 1 535196 37.3 90 40 3 ? 6 2 5 4 3 2 2 ? 1 5 65 50 3 2 3 1 03205 00000 00000 2
1 9 534597 38.5 120 70 ? ? ? ? ? 1 ? 2 ? ? 1 ? 35 54 1 1 1 1 04205 03111 02209 2
1 1 534280 38.5 104 40 3 3 ? 1 4 3 4 ? ? ? ? ? ? ? ? ? 1 1 02124 00000 00000 2
2 1 530028 39.50 92 28 3 3 6 1 5 4 1 ? 3 ? 4 ? 72.00 6.40 ? 3.60 2 2 03300 00000 00000 2
1 1 5262543 38.50 30 18 ? ? ? ? ? ? ? ? ? ? ? ? 40.00 7.70 ? ? 1 1 02113 00000 00000 2
1 1 530526 38.30 72 30 4 3 3 2 3 3 3 2 1 ? 3 5 43.00 7.00 2 3.90 1 1 03113 00000 00000 1
2 1 528729 37.50 48 30 4 1 3 1 ? 2 1 1 1 ? 1 1 48.00 8.60 ? ? 1 2 00400 00000 00000 2
1 1 528469 38.10 52 24 1 1 5 1 4 3 1 2 3 7.00 1 ? 54.00 7.50 2 2.60 2 1 02206 00000 00000 1
2 1 528179 38.20 42 26 1 1 1 1 3 1 2 ? ? ? 1 ? 36.00 6.90 ? ? 1 2 03111 00000 00000 2
2 1 533750 37.9 54 42 2 1 5 1 3 1 1 ? 1 ? ? 2 47 54 3 1 1 2 00000 00000 00000 2

In [0]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

colic_data = pd.read_csv(colic_data_url, header=None)

In [12]:
colic_data.head()

                                                   0
0  2 1 530101 38.50 66 28 3 3 ? 2 5 4 4 ? ? ? 3 5...
1  1 1 534817 39.2 88 20 ? ? 4 1 3 4 2 ? ? ? 4 2 ...
2  2 1 530334 38.30 40 24 1 1 3 1 3 3 1 ? ? ? 1 1...
3  1 9 5290409 39.10 164 84 4 1 6 2 2 4 4 1 2 5.0...
4  2 1 530255 37.30 104 35 ? ? 6 2 ? ? ? ? ? ? ? ...

In [22]:
# Exploring dataset some more, looking at shape
colic_data.shape

(300, 1)

In [27]:
from google.colab import files
uploaded = files.upload()

Saving horse-colic.data to horse-colic.data

In [35]:
df = pd.read_csv('horse-colic.data', header=None, names=['surgery?','Age',
                                                         'Hospital Number',
                                                         'rectal temperature',
                                                         'pulse',
                                                         'respiratory rate',
                                                   'temperature of extremities',
                                                         'peripheral pulse',
                                                         'mucous membranes',
                                                        'capillary refill time',
                                                         'pain',
                                                         'peristalsis',
                                                         'abdominal distension',
                                                         'nasogastric tube',
                                                         'nasogastric reflux',
                                                        'nasogastric reflux PH',
                                                   'rectal examination - feces',
                                                         'abdomen',
                                                         'packed cell volume',
                                                         'total protein',
                                                  'abdominocentesis appearance',
                                                  'abdomcentesis total protein',
                                                         'outcome',
                                                         'surgical lesion?',
                                                         'type of lesion ',
                                                         'type of lesion 2',
                                                         'type of lesion 3', 
                                                         'cp_data'], sep=" ",
                                                          na_values=["?"])
# Below line of code was used for debugging purposes; I had some difficulty with the CSV format.
#df = pd.read_csv('horse-colic.data', sep=" ")
df.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion,type of lesion 2,type of lesion 3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,5.0,4.0,4.0,NaN,NaN,NaN,3.0,5.0,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,3.0,4.0,2.0,NaN,NaN,NaN,4.0,2.0,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,3.0,1.0,NaN,NaN,NaN,1.0,1.0,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,4.0,4.0,1.0,2.0,5.0,3.0,NaN,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [36]:
# Lots of null values for nasogastric tube/reflux/reflux PH, rectal examination, abdomen, abdominocentesis appearance, and abdomcentesis total protein
df.isnull().sum()

surgery?                         1
Age                              0
Hospital Number                  0
rectal temperature              60
pulse                           24
respiratory rate                58
temperature of extremities      56
peripheral pulse                69
mucous membranes                47
capillary refill time           32
pain                            55
peristalsis                     44
abdominal distension            56
nasogastric tube               104
nasogastric reflux             106
nasogastric reflux PH          247
rectal examination - feces     102
abdomen                        118
packed cell volume              29
total protein                   33
abdominocentesis appearance    165
abdomcentesis total protein    198
outcome                          1
surgical lesion?                 0
type of lesion                   0
type of lesion 2                 0
type of lesion 3                 0
cp_data                          0
dtype: int64

As I commented in the above code cell, certain columns are missing copious amounts of data. It would be impractical to do anything other than remove all NaNs.

In [37]:
df = df[~(df.isnull().any(axis=1))]
print(df.shape)
df.head()

(6, 28)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion,type of lesion 2,type of lesion 3,cp_data
10,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,3.0,3.0,1.0,2.0,1.0,3.0,2.0,5.0,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1
54,2.0,1,529461,40.3,114.0,36.0,3.0,3.0,1.0,2.0,2.0,3.0,3.0,2.0,1.0,7.0,1.0,5.0,57.0,8.1,3.0,4.5,3.0,1,7400,0,0,1
64,1.0,1,529667,39.0,64.0,36.0,3.0,1.0,4.0,2.0,3.0,3.0,2.0,1.0,2.0,7.0,4.0,5.0,44.0,7.5,3.0,5.0,1.0,1,2113,0,0,1
91,2.0,1,529461,40.3,114.0,36.0,3.0,3.0,1.0,2.0,2.0,3.0,3.0,2.0,1.0,7.0,1.0,5.0,57.0,8.1,3.0,4.5,2.0,1,3205,0,0,1
104,1.0,1,527563,37.8,52.0,24.0,1.0,3.0,3.0,1.0,4.0,4.0,1.0,2.0,3.0,5.7,2.0,5.0,48.0,6.6,1.0,3.7,2.0,1,5400,0,0,2

In [0]:
# Testing to make sure all NaNs have been removed

In [38]:
df.isnull().any().sum()

0

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.