<a href="https://colab.research.google.com/github/twiesenb/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/LS_DS_111_A_First_Look_at_Data_Wiesenberg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [42]:
import pandas as pd
#reading dataset
drinks = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')
print(drinks.shape)
drinks.head()

(193, 5)

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0  ...              0                           0.0
1      Albania             89  ...             54                           4.9
2      Algeria             25  ...             14                           0.7
3      Andorra            245  ...            312                          12.4
4       Angola            217  ...             45                           5.9

[5 rows x 5 columns]

In [48]:
drinks.columns
drinks.sort_values('beer_servings', ascending = False).head(10)

            country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
117         Namibia            376  ...              1                           6.8
45   Czech Republic            361  ...            134                          11.8
62            Gabon            347  ...             59                           8.9
65          Germany            346  ...            175                          11.3
98        Lithuania            343  ...             56                          12.9
135          Poland            343  ...             56                          10.9
188       Venezuela            333  ...              3                           7.7
81          Ireland            313  ...            165                          11.4
129           Palau            306  ...             23                           6.9
140         Romania            297  ...            167                          10.4

[10 rows x 5 columns]

In [0]:
#creating new column
drinks['drinks_alcohol'] = drinks['total_litres_of_pure_alcohol'] > 0

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.

In [14]:
joe = { 'name': 'Joe', 'is_female': False, 'age': 19 }
alice = { 'name': 'Alice', 'is_female': True, 'age': 20 }
sarah = { 'name': 'Sarah', 'is_female': True, 'age': 20 }
students = [joe, alice, sarah]
for s in students:
  print(s.values())

dict_values(['Joe', False, 19])
dict_values(['Alice', True, 20])
dict_values(['Sarah', True, 20])

In [27]:
GM = {'name': 'Grow Mart', 'founding year' : 1973, 'revenue' : 2.65e5, 'expenses' : 1.83e5}
PD = {'name': 'Plant Depot', 'founding year' : 1973,'revenue' : 3.02e5, 'expenses' : 2.4e5 }
TRU = {'name': 'Trees R Us', 'founding year': 1985, 'revenue': 1.23e5, 'expenses': 1.3e5 }
stores = [GM, PD, TRU]
for s in stores:
  print(s['expenses'] > s['revenue'])
  s.update( {'is_profitable' : (s['expenses'] > s['revenue'])} ) #use update to add new key/value pair to dictionary
print(stores)

False
False
True
[{'name': 'Grow Mart', 'founding year': 1973, 'revenue': 265000.0, 'expenses': 183000.0, 'is_profitable': False}, {'name': 'Plant Depot', 'founding year': 1973, 'revenue': 302000.0, 'expenses': 240000.0, 'is_profitable': False}, {'name': 'Trees R Us', 'founding year': 1985, 'revenue': 123000.0, 'expenses': 130000.0, 'is_profitable': True}]

^ Following along with Training Kit

In [33]:
import random
words = [
'supplant',
'undulate',
'xenon',
'asymptote', # ‚Üê rotates here!
'babushka',
'kart',
'other']
def rotate_point(s = words):
  sorted_words = sorted(s)
  first_word = sorted_words[0]
  print(first_word)
  index_number = words.index(first_word)
  print('The index in the unsorted list of the first word of the sorted list is', index_number)
rotate_point(words)
words_shuffled = random.shuffle(words)
print(words_shuffled)
rotate_point(s = words_shuffled)

asymptote
The index in the unsorted list of the first word of the sorted list is 3
None

TypeError: ignored