<a href="https://colab.research.google.com/github/npgeorge/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Nicholas_George_Copy_of_LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/NFL-Plays.csv') #raw url after clicking through github to get there

df.head() #spits out the first 5 rows

         Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  2014-12-28  2014122806      9    3  ... -0.023057  0.025291 -0.048348    2014
1  2014-11-06  2014110600     15    3  ... -0.010918       NaN       NaN    2014
2  2013-09-15  2013091501     22    4  ... -0.011696       NaN       NaN    2013
3  2017-01-01  2017010108     19    3  ...  0.014549 -0.036296  0.050845    2016
4  2017-10-15  2017101504     29    4  ...  0.095023       NaN       NaN    2017

[5 rows x 102 columns]

In [0]:
df.dtypes #shows the data types

Date                            object
GameID                           int64
Drive                            int64
qtr                              int64
down                           float64
time                            object
TimeUnder                        int64
TimeSecs                       float64
PlayTimeDiff                   float64
SideofField                     object
yrdln                          float64
yrdline100                     float64
ydstogo                          int64
ydsnet                           int64
GoalToGo                       float64
FirstDown                      float64
posteam                         object
DefensiveTeam                   object
desc                            object
PlayAttempted                    int64
Yards.Gained                     int64
sp                               int64
Touchdown                        int64
ExPointResult                   object
TwoPointConv                    object
DefTwoPoint                    float64
Safety                           int64
Onsidekick                       int64
PuntResult                      object
PlayType                        object
                                ...
AwayTeam                        object
Timeout_Indicator                int64
Timeout_Team                    object
posteam_timeouts_pre             int64
HomeTimeouts_Remaining_Pre       int64
AwayTimeouts_Remaining_Pre       int64
HomeTimeouts_Remaining_Post      int64
AwayTimeouts_Remaining_Post      int64
No_Score_Prob                  float64
Opp_Field_Goal_Prob            float64
Opp_Safety_Prob                float64
Opp_Touchdown_Prob             float64
Field_Goal_Prob                float64
Safety_Prob                    float64
Touchdown_Prob                 float64
ExPoint_Prob                   float64
TwoPoint_Prob                  float64
ExpPts                         float64
EPA                            float64
airEPA                         float64
yacEPA                         float64
Home_WP_pre                    float64
Away_WP_pre                    float64
Home_WP_post                   float64
Away_WP_post                   float64
Win_Prob                       float64
WPA                            float64
airWPA                         float64
yacWPA                         float64
Season                           int64
Length: 102, dtype: object

In [0]:
df.describe() #possibly useful summary statistics

             GameID         Drive  ...       yacWPA        Season
count  1.000000e+04  10000.000000  ...  3939.000000  10000.000000
mean   2.013197e+09     12.385100  ...    -0.011673   2013.057700
std    2.573354e+06      7.257194  ...     0.071974      2.579309
min    2.009091e+09      1.000000  ...    -0.963237   2009.000000
25%    2.011102e+09      6.000000  ...    -0.019827   2011.000000
50%    2.013112e+09     12.000000  ...     0.000000   2013.000000
75%    2.015121e+09     18.000000  ...     0.010842   2015.000000
max    2.017123e+09     35.000000  ...     0.647244   2017.000000

[8 rows x 65 columns]

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd #redundant but just in case I reload the page and only want to run this code block

from google.colab import files
uploaded = files.upload()

Saving winequality-red.csv to winequality-red.csv

In [0]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['winequality-red.csv'])) #code from recommended web page on importing csv's from the desktop
# Dataset is now stored in a Pandas Dataframe

In [0]:
df2.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [0]:
#loading url

flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

In [0]:
#saving the file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# !ls shows a list of what files have been saved
!ls

--2019-09-05 01:19:44--  https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15240 (15K) [application/x-httpd-php]
Saving to: â€˜flag.data.1â€™

flag.data.1         100%[===================>]  14.88K  --.-KB/s    in 0.03s

2019-09-05 01:19:44 (506 KB/s) - â€˜flag.data.1â€™ saved [15240/15240]

flag.data  flag.data.1	sample_data

In [0]:
#loading data in
import pandas as pd
flag_data = pd.read_csv(flag_data_url, header=None) #fixed the header issue with "header=None"

In [0]:
flag_data.head() #basic verification looking at first 5 rows by default

               0   1   2     3   4   5   6   ...  23  24  25  26  27     28     29
0     Afghanistan   5   1   648  16  10   2  ...   0   0   1   0   0  black  green
1         Albania   3   1    29   3   6   6  ...   0   0   0   1   0    red    red
2         Algeria   4   1  2388  20   8   2  ...   1   0   0   0   0  green  white
3  American-Samoa   6   3     0   0   1   1  ...   0   1   1   1   0   blue    red
4         Andorra   3   1     0   0   6   0  ...   0   0   0   0   0   blue    red

[5 rows x 30 columns]

In [0]:
flag_data.count()

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc #need to tell it row 0 is not the header from the example

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15240  100 15240    0     0  92363      0 --:--:-- --:--:-- --:--:-- 92363
    194     194   15240

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.