<a href="https://colab.research.google.com/github/mikvikpik/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Created by Andrew Mikol and Zachery Moy

import pandas as pd

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/mikvikpik/Tuesday-June-Fourth/master/survey.csv',
                names = ['name', 'prog_level', 'math_level', 'finish_level', 'classroom'],
                skiprows=1)
df.head()

                     name  prog_level  ...  finish_level                   classroom
0  Evangelista Torricelli         6.0  ...          10.0  just listen and take notes
1              Pythagoras         1.0  ...           9.0  just listen and take notes
2                 Alhazen         3.0  ...          10.0  just listen and take notes
3            Randy Pausch         8.0  ...           9.0  just listen and take notes
4                 Alhazen         NaN  ...           NaN                         NaN

[5 rows x 5 columns]

In [44]:
# At first glance we have a small amount of data with 30 observations and 5 attributes.
# 3 of the 5 attributes are numeric in value
# Name is indeterminate
# In a classroom is a binary variable
# There is one observation that is Null across the board and has no valuable information
df.shape

(30, 5)

In [45]:
df.head(30)

                      name  ...                   classroom
0   Evangelista Torricelli  ...  just listen and take notes
1               Pythagoras  ...  just listen and take notes
2                  Alhazen  ...  just listen and take notes
3             Randy Pausch  ...  just listen and take notes
4                  Alhazen  ...                         NaN
5          Wilder Penfield  ...  just listen and take notes
6         Claudius Ptolemy  ...  just listen and take notes
7              Jean Piaget  ...  just listen and take notes
8         Claudius Ptolemy  ...  just listen and take notes
9           Clyde Tombaugh  ...      ask a lot of questions
10        Joseph Priestley  ...      ask a lot of questions
11  Evangelista Torricelli  ...      ask a lot of questions
12          Beatrix Potter  ...  just listen and take notes
13         Wilder Penfield  ...      ask a lot of questions
14           Louis Agassiz  ...  just listen and take notes
15            Luis Alvarez  ...      ask a lot of questions
16        Svante Arrhenius  ...  just listen and take notes
17           Louis Agassiz  ...  just listen and take notes
18         John Philoponus  ...  just listen and take notes
19          Charles Townes  ...  just listen and take notes
20         John Philoponus  ...  just listen and take notes
21         Wilder Penfield  ...      ask a lot of questions
22       Niccolo Tartaglia  ...      ask a lot of questions
23      Abu Nasr Al-Farabi  ...  just listen and take notes
24          Clyde Tombaugh  ...  just listen and take notes
25       Niccolo Tartaglia  ...      ask a lot of questions
26          Charles Townes  ...      ask a lot of questions
27             Alan Turing  ...  just listen and take notes
28        Joseph Priestley  ...  just listen and take notes
29              Archimedes  ...  just listen and take notes

[30 rows x 5 columns]

In [46]:
df.describe()
# Most people feel less confident in their programming by mean
# Most people feel fairly confident in their math level by mean
# Most people want to be extremely confident by the end of LS

       prog_level  math_level  finish_level
count   29.000000   29.000000     29.000000
mean     3.689655    5.724138      9.689655
std      2.253623    2.068411      0.806379
min      1.000000    2.000000      6.000000
25%      2.000000    4.000000     10.000000
50%      3.000000    6.000000     10.000000
75%      5.000000    7.000000     10.000000
max     10.000000   10.000000     10.000000

In [0]:
df['prog_level']= df['prog_level'].fillna(value=3)

In [0]:
df['math_level'] = df['math_level'].fillna(value=6)

In [49]:
df.head(30)

                      name  ...                   classroom
0   Evangelista Torricelli  ...  just listen and take notes
1               Pythagoras  ...  just listen and take notes
2                  Alhazen  ...  just listen and take notes
3             Randy Pausch  ...  just listen and take notes
4                  Alhazen  ...                         NaN
5          Wilder Penfield  ...  just listen and take notes
6         Claudius Ptolemy  ...  just listen and take notes
7              Jean Piaget  ...  just listen and take notes
8         Claudius Ptolemy  ...  just listen and take notes
9           Clyde Tombaugh  ...      ask a lot of questions
10        Joseph Priestley  ...      ask a lot of questions
11  Evangelista Torricelli  ...      ask a lot of questions
12          Beatrix Potter  ...  just listen and take notes
13         Wilder Penfield  ...      ask a lot of questions
14           Louis Agassiz  ...  just listen and take notes
15            Luis Alvarez  ...      ask a lot of questions
16        Svante Arrhenius  ...  just listen and take notes
17           Louis Agassiz  ...  just listen and take notes
18         John Philoponus  ...  just listen and take notes
19          Charles Townes  ...  just listen and take notes
20         John Philoponus  ...  just listen and take notes
21         Wilder Penfield  ...      ask a lot of questions
22       Niccolo Tartaglia  ...      ask a lot of questions
23      Abu Nasr Al-Farabi  ...  just listen and take notes
24          Clyde Tombaugh  ...  just listen and take notes
25       Niccolo Tartaglia  ...      ask a lot of questions
26          Charles Townes  ...      ask a lot of questions
27             Alan Turing  ...  just listen and take notes
28        Joseph Priestley  ...  just listen and take notes
29              Archimedes  ...  just listen and take notes

[30 rows x 5 columns]

In [0]:
df['prog_level'] = df['prog_level'].astype(int)
df['math_level'] = df['math_level'].astype(int)

In [52]:
df.plot.scatter(df.prog_level, df.math_level)

KeyError: ignored