<a href="https://colab.research.google.com/github/wel51x/DS-Sprint-01-Dealing-With-Data/blob/master/Winston_Lee_Assignment_LS_DS_122.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-15 20:46:19--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.177.93
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.177.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  25.9MB/s    in 8.3s

2019-01-15 20:46:28 (23.6 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [0]:
aisles.shape

(134, 2)

In [0]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
display(example)

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [0]:
departments.shape

(21, 2)

In [0]:
departments.sample(n=5)

    department_id    department
11             12  meat seafood
13             14     breakfast
4               5       alcohol
6               7     beverages
19             20          deli

In [0]:
display(example)

departments doesn't have any columns we need

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [0]:
order_products__prior.shape

(32434489, 4)

In [0]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

This dataframe has order_id, product_id, add_to_cart_order

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [0]:
order_products__train.shape

(1384617, 4)

In [0]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

This dataframe has the exact same columns as the prior one

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [0]:
orders.shape

(3421083, 7)

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

This has user_id, order_id, order_number, order_dow, order_hour_of_day

### products

In [0]:
products = pd.read_csv('products.csv')

In [0]:
products.shape

(49688, 4)

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

products has product_id, product_name

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [0]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert (len(order_products.columns) == 
        len(order_products__prior.columns) == 
        len(order_products__train.columns))

## Get a subset of orders — the first two orders for user id 1

From the `orders` dataframe, with these columns:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = (orders.user_id==1) & (orders.order_number <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')

In [0]:
subset.shape, merged.shape

((2, 5), (11, 7))

In [0]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [0]:
display(example)

1. Add `product_name`

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']])

In [0]:
final.sort_values(by='order_number')

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
8,1,2398795,2,3,7,2,10258,Pistachios
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [0]:
display(example)

2. Rename columns so they have spaces instead of underscores

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [158]:
items = [
        "Banana",
        "Bag of Organic Bananas",
        "Organic Strawberries",
        "Organic Baby Spinach",
        "Organic Hass Avocado",
        "Organic Avocado",
        "Large Lemon",
        "Strawberries",
        "Limes",
        "Organic Whole Milk"
        ]
items

['Banana',
 'Bag of Organic Bananas',
 'Organic Strawberries',
 'Organic Baby Spinach',
 'Organic Hass Avocado',
 'Organic Avocado',
 'Large Lemon',
 'Strawberries',
 'Limes',
 'Organic Whole Milk']

In [159]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [0]:
#high_sellers = pd.DataFrame()
#for item in items:
#  high_sellers += products[(products['product_name'] == item)]
#high_sellers = pd.DataFrame(high_sellers)
#print(high_sellers)
#type(high_sellers)

In [160]:
high_sellers = products[products.product_name.isin(items)]
print(type(high_sellers))
high_sellers

<class 'pandas.core.frame.DataFrame'>

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4
26208       26209                   Limes        24              4
27844       27845      Organic Whole Milk        84             16
47208       47209    Organic Hass Avocado        24              4
47625       47626             Large Lemon        24              4
47765       47766         Organic Avocado        24              4

In [161]:
high_sellers_product_id_list = list(high_sellers['product_id'])
print(type(high_sellers_product_id_list))
high_sellers_product_id_list

<class 'list'>

[13176, 16797, 21137, 21903, 24852, 26209, 27845, 47209, 47626, 47766]

In [162]:
order_products.shape

(33819106, 4)

In [0]:
high_seller_order_products = order_products[order_products.product_id.isin(high_sellers_product_id_list)]

In [164]:
print(type(high_seller_order_products))
print(high_seller_order_products.shape)
high_seller_order_products.head()

<class 'pandas.core.frame.DataFrame'>
(2418314, 4)

    order_id  product_id  add_to_cart_order  reordered
12         3       21903                  4          1
30         5       13176                  1          1
51         5       47209                 22          0
77        10       24852                  1          1
80        10       47766                  4          1

In [166]:
# ignore
high_seller_order_products_counts = high_seller_order_products.groupby('product_id').count().order_id
print(type(high_seller_order_products_counts))
high_seller_order_products_counts

<class 'pandas.core.series.Series'>

product_id
13176    394930
16797    149445
21137    275577
21903    251705
24852    491291
26209    146660
27845    142813
47209    220877
47626    160792
47766    184224
Name: order_id, dtype: int64

In [165]:
high_seller_order_products_counts.reset_index()
high_seller_order_products_counts

product_id
13176    394930
16797    149445
21137    275577
21903    251705
24852    491291
26209    146660
27845    142813
47209    220877
47626    160792
47766    184224
Name: order_id, dtype: int64

In [167]:
high_seller_order_products_counts_df = pd.DataFrame(high_seller_order_products_counts)
#high_seller_order_products_counts_df = pd.DataFrame(high_seller_order_products.groupby('product_id').count().order_id.sort_values(ascending=False))
#high_seller_order_products_counts_df.index = range(len(high_seller_order_products_counts_df.index))
print(type(high_seller_order_products_counts_df))
high_seller_order_products_counts_df

<class 'pandas.core.frame.DataFrame'>

            order_id
product_id
13176         394930
16797         149445
21137         275577
21903         251705
24852         491291
26209         146660
27845         142813
47209         220877
47626         160792
47766         184224

In [168]:
high_seller_order_products_counts_df = pd.Series.to_frame(high_seller_order_products_counts)

high_seller_order_products_counts_df

            order_id
product_id
13176         394930
16797         149445
21137         275577
21903         251705
24852         491291
26209         146660
27845         142813
47209         220877
47626         160792
47766         184224

In [169]:
#high_seller_order_products_counts_df.merge(high_sellers, on = 'product_id')
high_sellers.join(high_seller_order_products_counts_df)

       product_id            product_name  aisle_id  department_id  order_id
13175       13176  Bag of Organic Bananas        24              4       NaN
16796       16797            Strawberries        24              4       NaN
21136       21137    Organic Strawberries        24              4       NaN
21902       21903    Organic Baby Spinach       123              4       NaN
24851       24852                  Banana        24              4       NaN
26208       26209                   Limes        24              4       NaN
27844       27845      Organic Whole Milk        84             16       NaN
47208       47209    Organic Hass Avocado        24              4       NaN
47625       47626             Large Lemon        24              4       NaN
47765       47766         Organic Avocado        24              4       NaN

In [170]:
#high_sellers.merge(high_seller_order_products_counts_df, on='product_id')
#pd.concat((high_sellers,high_seller_order_products_counts), axis=1)
high_sellers.set_index('product_id', inplace=True)
high_sellers

                      product_name  aisle_id  department_id
product_id
13176       Bag of Organic Bananas        24              4
16797                 Strawberries        24              4
21137         Organic Strawberries        24              4
21903         Organic Baby Spinach       123              4
24852                       Banana        24              4
26209                        Limes        24              4
27845           Organic Whole Milk        84             16
47209         Organic Hass Avocado        24              4
47626                  Large Lemon        24              4
47766              Organic Avocado        24              4

In [171]:
high_seller_order_products_counts_df

            order_id
product_id
13176         394930
16797         149445
21137         275577
21903         251705
24852         491291
26209         146660
27845         142813
47209         220877
47626         160792
47766         184224

In [173]:
final_table = high_seller_order_products_counts_df.join(high_sellers)
final_table.sort_values('order_id', ascending = False, inplace=True)
#final_table.rename=('order_id': 'count_of_times_ordered', axis='columns')
final_table.rename(columns={'order_id':'order_frequency'}, inplace=True)
final_table.drop(['aisle_id', 'department_id'], axis=1, inplace=True)
final_table

            order_frequency            product_name
product_id
24852                491291                  Banana
13176                394930  Bag of Organic Bananas
21137                275577    Organic Strawberries
21903                251705    Organic Baby Spinach
47209                220877    Organic Hass Avocado
47766                184224         Organic Avocado
47626                160792             Large Lemon
16797                149445            Strawberries
26209                146660                   Limes
27845                142813      Organic Whole Milk

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.