# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

import pandas as pd
import numpy as np

In [13]:
# CSV Data set import

from google.colab import files
uploaded = files.upload()

Saving world-happiness-report-2019.csv to world-happiness-report-2019.csv

In [19]:
df = pd.read_csv("world-happiness-report-2019.csv")
df.head()

  Country (region)  Ladder  ...  Log of GDP\nper capita  Healthy life\nexpectancy
0          Finland       1  ...                    22.0                      27.0
1          Denmark       2  ...                    14.0                      23.0
2           Norway       3  ...                     7.0                      12.0
3          Iceland       4  ...                    15.0                      13.0
4      Netherlands       5  ...                    12.0                      18.0

[5 rows x 11 columns]

In [20]:
## df.shape to find out how many columns and rows there
df.shape

(156, 11)

In [21]:
## See if there is NaN value
df.isnull()

     Country (region)  Ladder  ...  Log of GDP\nper capita  Healthy life\nexpectancy
0               False   False  ...                   False                     False
1               False   False  ...                   False                     False
2               False   False  ...                   False                     False
3               False   False  ...                   False                     False
4               False   False  ...                   False                     False
5               False   False  ...                   False                     False
6               False   False  ...                   False                     False
7               False   False  ...                   False                     False
8               False   False  ...                   False                     False
9               False   False  ...                   False                     False
10              False   False  ...                   False                     False
11              False   False  ...                   False                     False
12              False   False  ...                   False                     False
13              False   False  ...                   False                     False
14              False   False  ...                   False                     False
15              False   False  ...                   False                     False
16              False   False  ...                   False                     False
17              False   False  ...                   False                     False
18              False   False  ...                   False                     False
19              False   False  ...                   False                     False
20              False   False  ...                   False                     False
21              False   False  ...                   False                     False
22              False   False  ...                   False                     False
23              False   False  ...                   False                     False
24              False   False  ...                    True                      True
25              False   False  ...                   False                     False
26              False   False  ...                   False                     False
27              False   False  ...                   False                     False
28              False   False  ...                   False                     False
29              False   False  ...                   False                     False
..                ...     ...  ...                     ...                       ...
126             False   False  ...                   False                     False
127             False   False  ...                   False                     False
128             False   False  ...                   False                     False
129             False   False  ...                   False                     False
130             False   False  ...                   False                     False
131             False   False  ...                   False                     False
132             False   False  ...                   False                     False
133             False   False  ...                   False                     False
134             False   False  ...                   False                      True
135             False   False  ...                   False                     False
136             False   False  ...                   False                     False
137             False   False  ...                   False                     False
138             False   False  ...                   False                     False
139             False   False  ...                   False                     False
140             False   False  ...                   False                     False
141             False   False  ...                   False                     False
142             False   False  ...                   False                     False
143             False   False  ...                   False                     False
144             False   False  ...                   False                     False
145             False   False  ...                   False                     False
146             False   False  ...                   False                     False
147             False   False  ...                   False                     False
148             False   False  ...                    True                     False
149             False   False  ...                   False                     False
150             False   False  ...                   False                     False
151             False   False  ...                   False                     False
152             False   False  ...                   False                     False
153             False   False  ...                   False                     False
154             False   False  ...                   False                     False
155             False   False  ...                   False                     False

[156 rows x 11 columns]

In [26]:
# sort out by Freedom

df.sort_values(by='Freedom')

             Country (region)  ...  Healthy life\nexpectancy
40                 Uzbekistan  ...                      83.0
108                  Cambodia  ...                     102.0
2                      Norway  ...                      12.0
20       United Arab Emirates  ...                      60.0
0                     Finland  ...                      27.0
1                     Denmark  ...                      23.0
3                     Iceland  ...                      13.0
7                 New Zealand  ...                      14.0
8                      Canada  ...                       8.0
6                      Sweden  ...                      17.0
5                 Switzerland  ...                       4.0
21                      Malta  ...                      19.0
43                   Slovenia  ...                      29.0
111                   Somalia  ...                     144.0
68                Philippines  ...                      99.0
11                 Costa Rica  ...                      28.0
10                  Australia  ...                      10.0
51                   Thailand  ...                      58.0
4                 Netherlands  ...                      18.0
33                  Singapore  ...                       1.0
151                    Rwanda  ...                     103.0
104                      Laos  ...                     112.0
93                    Vietnam  ...                      49.0
36                    Bahrain  ...                      42.0
26                  Guatemala  ...                      85.0
9                     Austria  ...                      15.0
124                Bangladesh  ...                      90.0
13                 Luxembourg  ...                      16.0
130                   Myanmar  ...                     110.0
32                    Uruguay  ...                      35.0
..                        ...  ...                       ...
114              Burkina Faso  ...                     136.0
70                    Moldova  ...                      86.0
136                     Egypt  ...                     101.0
125                      Iraq  ...                     107.0
80                    Belarus  ...                      76.0
35                      Italy  ...                       7.0
154  Central African Republic  ...                     150.0
109   Palestinian Territories  ...                       NaN
144                   Burundi  ...                     135.0
90                    Lebanon  ...                      66.0
77    Bosnia and Herzegovina   ...                      50.0
61                    Hungary  ...                      56.0
72                 Montenegro  ...                      44.0
78                     Turkey  ...                      69.0
132                   Ukraine  ...                      87.0
131                      Chad  ...                     148.0
123                   Tunisia  ...                      67.0
53                South Korea  ...                       9.0
107                 Venezuela  ...                      71.0
142                Madagascar  ...                     111.0
150                     Yemen  ...                     124.0
141                   Comoros  ...                     117.0
87                    Algeria  ...                      78.0
81                     Greece  ...                      21.0
121                Mauritania  ...                     120.0
146                     Haiti  ...                     125.0
148                     Syria  ...                     128.0
155               South Sudan  ...                     143.0
153               Afghanistan  ...                     139.0
28                      Qatar  ...                      43.0

[156 rows x 11 columns]

In [0]:
## import metaplotlib

import matplotlib.pyplot as plt

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

1. Explained in code section
2. Plot the graph as X vs Y form
3. This big data set can be very easily managed with python library and makes much more organized and compare to it
4. I probably go look into

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.