<a href="https://colab.research.google.com/github/FuriouStyles/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
import pandas as pd

In [10]:
nfl_plays_data_url = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/NFL-Plays.csv"
df = pd.read_csv(nfl_plays_data_url)
df.head(30)

          Date      GameID  Drive  ...        airWPA        yacWPA Season
0   2014-12-28  2014122806      9  ...  2.529095e-02 -4.834764e-02   2014
1   2014-11-06  2014110600     15  ...           NaN           NaN   2014
2   2013-09-15  2013091501     22  ...           NaN           NaN   2013
3   2017-01-01  2017010108     19  ... -3.629645e-02  5.084525e-02   2016
4   2017-10-15  2017101504     29  ...           NaN           NaN   2017
5   2015-12-24  2015122400      5  ... -2.417694e-02  3.428892e-05   2015
6   2014-09-21  2014092110      7  ...           NaN           NaN   2014
7   2016-09-25  2016092511     12  ...           NaN           NaN   2016
8   2009-11-08  2009110808     11  ...           NaN           NaN   2009
9   2014-12-07  2014120705     22  ...  7.892924e-02 -9.749092e-03   2014
10  2014-12-14  2014121408     16  ...           NaN           NaN   2014
11  2016-12-18  2016121800     23  ... -6.217230e-03 -2.115891e-02   2016
12  2011-09-11  2011091103      7  ...           NaN           NaN   2011
13  2012-11-05  2012110500      6  ...           NaN           NaN   2012
14  2009-11-15  2009111501     12  ... -9.020644e-03  1.133553e-02   2009
15  2014-09-21  2014092101      1  ...           NaN           NaN   2014
16  2009-10-25  2009102502     17  ...           NaN           NaN   2009
17  2010-09-26  2010092614      4  ...           NaN           NaN   2010
18  2014-10-19  2014101900     10  ...           NaN           NaN   2014
19  2013-12-05  2013120500     13  ...           NaN           NaN   2013
20  2015-11-29  2015112905     15  ...           NaN           NaN   2015
21  2012-11-11  2012111108     11  ...           NaN           NaN   2012
22  2009-09-27  2009092708     16  ...  1.756241e-02 -2.870660e-02   2009
23  2014-11-23  2014112306     21  ... -1.086669e-02  1.005113e-02   2014
24  2009-10-18  2009101810     16  ... -1.205629e-07  5.110491e-08   2009
25  2012-11-18  2012111808     20  ...           NaN           NaN   2012
26  2016-11-21  2016112100     14  ...  3.642559e-02  4.687628e-03   2016
27  2011-10-09  2011100906      5  ...  1.769343e-02 -3.433607e-02   2011
28  2011-11-13  2011111303     13  ...           NaN           NaN   2011
29  2009-09-13  2009091309     15  ...           NaN           NaN   2009

[30 rows x 102 columns]

In [9]:
#Check to see if missing values are encoded as NaN. It appears that they are!
df.isna().sum()

Date                               0
GameID                             0
Drive                              0
qtr                                0
down                            1495
time                               4
TimeUnder                          0
TimeSecs                           4
PlayTimeDiff                       7
SideofField                       10
yrdln                             16
yrdline100                        16
ydstogo                            0
ydsnet                             0
GoalToGo                          16
FirstDown                        693
posteam                          624
DefensiveTeam                    624
desc                               0
PlayAttempted                      0
Yards.Gained                       0
sp                                 0
Touchdown                          0
ExPointResult                   9749
TwoPointConv                    9990
DefTwoPoint                    10000
Safety                             0
Onsidekick                         0
PuntResult                      9470
PlayType                           0
                               ...
AwayTeam                           0
Timeout_Indicator                  0
Timeout_Team                       0
posteam_timeouts_pre               0
HomeTimeouts_Remaining_Pre         0
AwayTimeouts_Remaining_Pre         0
HomeTimeouts_Remaining_Post        0
AwayTimeouts_Remaining_Post        0
No_Score_Prob                      3
Opp_Field_Goal_Prob                3
Opp_Safety_Prob                    3
Opp_Touchdown_Prob                 3
Field_Goal_Prob                    3
Safety_Prob                        3
Touchdown_Prob                     3
ExPoint_Prob                       0
TwoPoint_Prob                      0
ExpPts                             3
EPA                                8
airEPA                          6050
yacEPA                          6055
Home_WP_pre                      621
Away_WP_pre                      621
Home_WP_post                     666
Away_WP_post                     666
Win_Prob                         622
WPA                              132
airWPA                          6054
yacWPA                          6061
Season                             0
Length: 102, dtype: int64

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [27]:
#Upload the poker hand data set from UCI using the import files function from Colab
#here's the URL for your reference to check it works https://archive.ics.uci.edu/ml/machine-learning-databases/poker/
from google.colab import files
uploaded = files.upload()

In [28]:
col_names = ['Suit of Card 1', 'Rank of Card 1', 'Suit of Card 2', 'Rank of Card 2', 'Suit of Card 3', 'Rank of Card 3', 'Suit of Card 4', 'Rank of Card 4', 'Suit of Card 5', 'Rank of Card 5', 'Poker Hand']
df2 = pd.read_csv("poker-hand-training-true.data", names=col_names, index_col=False)
df2.head(15)

    Suit of Card 1  Rank of Card 1  ...  Rank of Card 5  Poker Hand
0                1              10  ...               1           9
1                2              11  ...               1           9
2                3              12  ...               1           9
3                4              10  ...              12           9
4                4               1  ...              10           9
5                1               2  ...               6           8
6                1               9  ...              13           8
7                2               1  ...               5           8
8                3               5  ...               8           8
9                4               1  ...               5           8
10               1               1  ...               3           1
11               2               6  ...               9           0
12               1              10  ...               8           0
13               2              13  ...              11           0
14               3               8  ...               2           1

[15 rows x 11 columns]

In [29]:
df2.isna().sum()

Suit of Card 1    0
Rank of Card 1    0
Suit of Card 2    0
Rank of Card 2    0
Suit of Card 3    0
Rank of Card 3    0
Suit of Card 4    0
Rank of Card 4    0
Suit of Card 5    0
Rank of Card 5    0
Poker Hand        0
dtype: int64

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [30]:
#Using the red wine quality dataset
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

--2019-09-07 15:53:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84199 (82K) [application/x-httpd-php]
Saving to: winequality-red.csv

winequality-red.csv 100%[===================>]  82.23K  --.-KB/s    in 0.06s

2019-09-07 15:53:35 (1.32 MB/s) - winequality-red.csv saved [84199/84199]

In [39]:
#Just to flex I will include the white wine data as well, and make sure that I note which is which by adding another column
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv

--2019-09-07 16:08:49--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 264426 (258K) [application/x-httpd-php]
Saving to: winequality-white.csv

winequality-white.c 100%[===================>] 258.23K  --.-KB/s    in 0.1s

2019-09-07 16:08:50 (2.15 MB/s) - winequality-white.csv saved [264426/264426]

In [40]:
#Save the red wine into one dataframe
df3a = pd.read_csv('winequality-red.csv', delimiter=';')
df3a['type'] = "red"
df3a.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  type
0            7.4              0.70         0.00  ...      9.4        5   red
1            7.8              0.88         0.00  ...      9.8        5   red
2            7.8              0.76         0.04  ...      9.8        5   red
3           11.2              0.28         0.56  ...      9.8        6   red
4            7.4              0.70         0.00  ...      9.4        5   red

[5 rows x 13 columns]

In [41]:
#Check for NaN/Null values
df3a.info()
df3a.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
type                    1599 non-null object
dtypes: float64(11), int64(1), object(1)
memory usage: 162.5+ KB

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

In [43]:
#Saves the white wines in another dataframe
df3b = pd.read_csv("winequality-white.csv", delimiter=';')
df3b["type"] = "white"
df3b.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality   type
0            7.0              0.27         0.36  ...      8.8        6  white
1            6.3              0.30         0.34  ...      9.5        6  white
2            8.1              0.28         0.40  ...     10.1        6  white
3            7.2              0.23         0.32  ...      9.9        6  white
4            7.2              0.23         0.32  ...      9.9        6  white

[5 rows x 13 columns]

In [44]:
#Check for Nan/Null values
df3b.info()
df3b.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
type                    4898 non-null object
dtypes: float64(11), int64(1), object(1)
memory usage: 497.5+ KB

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

In [48]:
#Merge the dataframes into a single one and 
frames = [df3a, df3b]
df4 = pd.concat(frames)

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality   type
4893            6.2              0.21         0.29  ...     11.2        6  white
4894            6.6              0.32         0.36  ...      9.6        5  white
4895            6.5              0.24         0.19  ...      9.4        6  white
4896            5.5              0.29         0.30  ...     12.8        7  white
4897            6.0              0.21         0.38  ...     11.8        6  white

[5 rows x 13 columns]

In [52]:
df4.shape

(6497, 13)

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.