<a href="https://colab.research.google.com/github/sanjaykmenon/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/Sanjay_Krishna_Unit_1_Sprint_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-08 22:32:00--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.108.69
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.108.69|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  94.7MB/s    in 2.1s

2019-09-08 22:32:02 (94.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd #import pandas 

df_orders  = pd.read_csv('order_products__prior.csv') #create dataframe of orders
df_orders.head(10) #view dataframe

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [0]:
df_products  = pd.read_csv('products.csv') #create dataframe of products
df_products.head() #view dataframe

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
c_df = pd.merge(df_products, df_orders, on='product_id') #merge both dataframes using product_id
c_df.head() #view combined dataframe

   product_id                product_name  ...  add_to_cart_order  reordered
0           1  Chocolate Sandwich Cookies  ...                  7          0
1           1  Chocolate Sandwich Cookies  ...                  3          1
2           1  Chocolate Sandwich Cookies  ...                  4          1
3           1  Chocolate Sandwich Cookies  ...                  2          0
4           1  Chocolate Sandwich Cookies  ...                 30          0

[5 rows x 7 columns]

In [0]:
freq = ['Banana','Bag of Organic Bananas','Organic Strawberries','Organic Baby Spinach','Organic Hass Avocado','Organic Avocado','Large Lemon','Strawberries','Limes','Organic Whole Milk']
#freq is list of most frequent products
filter = c_df.product_name.isin(freq) #condition of filter to be used for creating a new dataframe with only frequently ordered products
filtered_df = c_df[filter] #apply condition to combined dataframe

In [0]:
groupby_productname = filtered_df['reordered'].groupby(filtered_df['product_name']) #create groupby object of reordered items grouped by product name

In [0]:
groupby_productname.sum() #total number of times reordered of most frequently ordered items. I'm not sure if this is right. Need confirmation.

product_name
Bag of Organic Bananas    315913
Banana                    398609
Large Lemon               106255
Limes                      95768
Organic Avocado           134044
Organic Baby Spinach      186884
Organic Hass Avocado      170131
Organic Strawberries      205845
Organic Whole Milk        114510
Strawberries               99802
Name: reordered, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
[[np.nan,2],[16,11],[3,1]],index=['John Smith','Jane Doe','Mary Johnson'], columns=['treatmenta','treatmentb'])

table2=table1.T

In [0]:
table1

              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

In [0]:
table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
indexC = table2.columns.to_list()
table2 = table2.reset_index()
table2 = table2.rename(columns={'index':'trt'})
table2

          trt  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [0]:
table2.trt = table2.trt.str.replace('treatment','')

In [0]:
table2.head()

  trt  John Smith  Jane Doe  Mary Johnson
0   a         NaN      16.0           3.0
1   b         2.0      11.0           1.0

In [0]:
tidyT2 = table2.melt(id_vars='trt',value_vars=indexC)
tidyT2.head()

  trt      variable  value
0   a    John Smith    NaN
1   b    John Smith    2.0
2   a      Jane Doe   16.0
3   b      Jane Doe   11.0
4   a  Mary Johnson    3.0

In [0]:
import seaborn as sns
flights = sns.load_dataset('flights')

In [0]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [0]:
flights.pivot_table(index='year',columns='month')

      passengers                       ...
month    January February March April  ... September October November December
year                                   ...
1949         112      118   132   129  ...       136     119      104      118
1950         115      126   141   135  ...       158     133      114      140
1951         145      150   178   163  ...       184     162      146      166
1952         171      180   193   181  ...       209     191      172      194
1953         196      196   236   235  ...       237     211      180      201
1954         204      188   235   227  ...       259     229      203      229
1955         242      233   267   269  ...       312     274      237      278
1956         284      277   317   313  ...       355     306      271      306
1957         315      301   356   348  ...       404     347      305      336
1958         340      318   362   348  ...       404     359      310      337
1959         360      342   406   396  ...       463     407      362      405
1960         417      391   419   461  ...       508     461      390      432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

orders2 = pd.read_csv('orders.csv')
orders2.head()

new_df = pd.merge(df_orders, orders2, on='order_id')
new_df.head(100) #view combined dataframe

    order_id  product_id  ...  order_hour_of_day  days_since_prior_order
0          2       33120  ...                  9                     8.0
1          2       28985  ...                  9                     8.0
2          2        9327  ...                  9                     8.0
3          2       45918  ...                  9                     8.0
4          2       30035  ...                  9                     8.0
5          2       17794  ...                  9                     8.0
6          2       40141  ...                  9                     8.0
7          2        1819  ...                  9                     8.0
8          2       43668  ...                  9                     8.0
9          3       33754  ...                 17                    12.0
10         3       24838  ...                 17                    12.0
11         3       17704  ...                 17                    12.0
12         3       21903  ...                 17                    12.0
13         3       17668  ...                 17                    12.0
14         3       46667  ...                 17                    12.0
15         3       17461  ...                 17                    12.0
16         3       32665  ...                 17                    12.0
17         4       46842  ...                  9                     7.0
18         4       26434  ...                  9                     7.0
19         4       39758  ...                  9                     7.0
20         4       27761  ...                  9                     7.0
21         4       10054  ...                  9                     7.0
22         4       21351  ...                  9                     7.0
23         4       22598  ...                  9                     7.0
24         4       34862  ...                  9                     7.0
25         4       40285  ...                  9                     7.0
26         4       17616  ...                  9                     7.0
27         4       25146  ...                  9                     7.0
28         4       32645  ...                  9                     7.0
29         4       41276  ...                  9                     7.0
..       ...         ...  ...                ...                     ...
70         9       23288  ...                 19                     5.0
71         9       44533  ...                 19                     5.0
72         9       18362  ...                 19                     5.0
73         9       27366  ...                 19                     5.0
74         9         432  ...                 19                     5.0
75         9        3990  ...                 19                     5.0
76         9       14183  ...                 19                     5.0
77        10       24852  ...                  8                     8.0
78        10        4796  ...                  8                     8.0
79        10       31717  ...                  8                     8.0
80        10       47766  ...                  8                     8.0
81        10        4605  ...                  8                     8.0
82        10        1529  ...                  8                     8.0
83        10       21137  ...                  8                     8.0
84        10       22122  ...                  8                     8.0
85        10       34134  ...                  8                     8.0
86        10       27156  ...                  8                     8.0
87        10       14992  ...                  8                     8.0
88        10       49235  ...                  8                     8.0
89        10       26842  ...                  8                     8.0
90        10        3464  ...                  8                     8.0
91        10       25720  ...                  8                     8.0
92        11       30162  ...                 19                    23.0
93        11       27085  ...                 19                    23.0
94        11        5994  ...                 19                    23.0
95        11        1313  ...                 19                    23.0
96        11       31506  ...                 19                    23.0
97        12       30597  ...                  8                    10.0
98        12       15221  ...                  8                    10.0
99        12       43772  ...                  8                    10.0

[100 rows x 10 columns]

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####